@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // -
    @include spacing.init($t);

    // -

    &__items {
      @include spacing.apply-flow('space-5');

      > div {
        padding-bottom: spacing.calc-size('space-5');
        border-bottom: utils.get('divider.width', $cc) solid
          utils.get(utils.get('divider.color', $cc), $t);
      }
    }

    // for themes etc
    @content;
  }
}
