// this page can be safely copy/pasted for each component!

@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'component';
@use 'themes';
@use 'rbgstyles/tools/components' as cutils;

// theme shouldn't change hence @use with () but init() mixin lets us set components multiple times
$theme: () !default;

@use 'config' as config with (
  $theme: $theme
);

@if meta.type-of($theme) != 'map' {
  @error 'Components must be loaded with $theme.';
}

// component config comes from the theme
$component-config: config.$component-config-default !default;

// -----------------------------
// INIT
// -----------------------------
// mixin to merge any settings from themes
// can be extended to support other paramaters if we needed to process them before hand
@mixin init($init-config: null) {
  @if $init-config {
    $component-config: map.deep-merge($component-config, $init-config) !global;
  }
}

// -----------------------------
// APPLY
// -----------------------------

// where themagic happens
@mixin apply {
  $load-styles: cutils.apply-component-themes(
    config.$component-selector,
    config.$supported-themes,
    $component-config,
    $theme
  );

  @if $load-styles == default {
    @include component.styles(config.$component-selector, $component-config, $theme);
  } @else {
    @include themes.load($load-styles, config.$component-selector, $component-config, $theme);
  }
}
