@use './reset' as button-reset;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tools/utilities' as utils;
@use 'sass:selector';

@mixin apply($selector, $button, $theme) {
  // reset the button in case its input etc
  @include button-reset.apply($theme);

  // .
  @include links.init($theme);
  @include spacing.init($theme);

  // -----------
  // background
  // -----------

  > span,
  > input {
    padding: 0 0.2rem;
  }

  &:focus,
  &:focus-within {
    > span,
    > input {
      background-color: utils.get(utils.get('background.focus.background-color', $button), $theme);
    }
  }

  @at-root input.#{$selector}.#{$selector}--cta {
    padding: 0 0.2rem;

    &:focus,
    &:focus-within {
      background-color: utils.get(utils.get('background.focus.background-color', $button), $theme);
    }
  }

  // -----------
  // border
  // -----------

  // -----------
  // text
  // -----------

  text-decoration: none;

  /* stylelint-disable-next-line */
  > span,
  > input {
    padding: 0 0.2rem;

    @include links.apply-state(utils.get('text', $button), default, false);
  }

  &:visited {
    > span,
    > input {
      @include links.apply-state(utils.get('text', $button), visited, false);
    }
  }

  &:hover {
    > span,
    > input {
      @include links.apply-state(utils.get('text', $button), hover, false);
    }
  }

  &:active {
    > span,
    > input {
      @include links.apply-state(utils.get('text', $button), active, false);
    }
  }

  /* stylelint-disable-next-line */
  &:focus,
  &:focus-within {
    /* stylelint-disable-next-line */
    > span,
    > input {
      @include links.apply-state(utils.get('text', $button), focus, false);
    }
  }

  @at-root input.#{$selector}.#{$selector}--cta {
    padding: 0 0.2rem;

    @include links.apply-state(utils.get('text', $button), default, false);

    &:visited {
      @include links.apply-state(utils.get('text', $button), visited, false);
    }

    &:hover {
      @include links.apply-state(utils.get('text', $button), hover, false);
    }

    &:active {
      @include links.apply-state(utils.get('text', $button), active, false);
    }

    &:focus,
    &:focus-within {
      @include links.apply-state(utils.get('text', $button), focus, false);
    }
  }

  // -----------
  // spacing
  // -----------
  @include spacing.apply-space(utils.get('spacing.x', $button), 'px');
  @include spacing.apply-space(utils.get('spacing.y', $button), 'py');

  // -----------
  // icons
  // -----------
  $positions: before after;

  @each $position in $positions {
    &.#{$selector}--icon::#{$position} {
      // icon padding
      padding: 0.2rem;
      color: utils.get(utils.get('icons.default.color', $button), $theme);
      background-color: utils.get(utils.get('icons.default.background-color', $button), $theme);
      height: 1.3rem;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    &.#{$selector}--icon:hover::#{$position} {
      color: utils.get(utils.get('icons.hover.color', $button), $theme);
      background-color: utils.get(utils.get('icons.hover.background-color', $button), $theme);
    }

    &.#{$selector}--icon:active::#{$position} {
      color: utils.get(utils.get('icons.active.color', $button), $theme);
      background-color: utils.get(utils.get('icons.active.background-color', $button), $theme);
    }

    &.#{$selector}--icon:focus::#{$position},
    &.#{$selector}--icon:focus-within::#{$position} {
      color: utils.get(utils.get('icons.focus.color', $button), $theme);
      background-color: utils.get(utils.get('icons.focus.background-color', $button), $theme);
    }
  }

  // -----------
  // states
  // -----------
  /* stylelint-disable-next-line */
  &:hover {
    cursor: pointer;
  }
}
