@use './reset' as button-reset;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tools/utilities' as utils;
@use 'sass:selector';

@mixin apply($selector, $button, $theme) {
  // reset the button in case its input etc
  @include button-reset.apply($theme);

  // .
  @include links.init($theme);
  @include spacing.init($theme);

  text-align: center;
  justify-content: center;

  // -----------
  // background
  // -----------
  @include links.apply-inline(utils.get('background', $button));

  // -----------
  // border
  // -----------
  border: 2px solid utils.get(utils.get('border.default.color', $button), $theme);
  outline: 1px solid transparent;

  &:active {
    border-color: utils.get(utils.get('border.active.color', $button), $theme);
  }

  &:focus,
  &:focus-within {
    border: 2px solid utils.get(utils.get('border.focus.color', $button), $theme);
    outline: 1px solid utils.get(utils.get('border.focus.color', $button), $theme);
  }

  // -----------
  // text
  // -----------
  @include links.apply-inline(utils.get('text', $button));

  // -----------
  // spacing
  // -----------
  @include spacing.apply-space(utils.get('spacing.x', $button), 'px');
  @include spacing.apply-space(utils.get('spacing.y', $button), 'py');

  // -----------
  // icons
  // -----------
  $positions: before after;

  @each $position in $positions {
    &.#{$selector}--icon::#{$position} {
      // icon padding
      padding: 0.2rem;
      color: utils.get(utils.get('icons.default.color', $button), $theme);
      background-color: utils.get(utils.get('icons.default.background-color', $button), $theme);
    }

    &.#{$selector}--icon:hover::#{$position} {
      color: utils.get(utils.get('icons.hover.color', $button), $theme);
      background-color: utils.get(utils.get('icons.hover.background-color', $button), $theme);
    }

    &.#{$selector}--icon:active::#{$position} {
      color: utils.get(utils.get('icons.active.color', $button), $theme);
      background-color: utils.get(utils.get('icons.active.background-color', $button), $theme);
    }

    &.#{$selector}--icon:focus::#{$position},
    &.#{$selector}--icon:focus-within::#{$position} {
      color: utils.get(utils.get('icons.focus.color', $button), $theme);
      background-color: utils.get(utils.get('icons.focus.background-color', $button), $theme);
    }
  }

  // -----------
  // states
  // -----------
  &:hover {
    cursor: pointer;
  }
}
