@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/body' as body;

@mixin apply($theme) {
  @include spacing.init($theme);
  @include body.init($theme);

  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  color: inherit;
  line-height: inherit;
  gap: spacing.calc-size('space-1');
  outline: none;

  /* stylelint-disable-next-line */
  font: inherit;

  @include body.apply-line-height;
}
