@use './reset' as button-reset;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tools/utilities' as utils;
@use 'sass:selector';

@mixin apply($selector, $button, $theme) {
  // reset the button in case its input etc
  @include button-reset.apply($theme);

  // .
  @include links.init($theme);
  @include spacing.init($theme);

  // -----------
  // background
  // -----------

  // -----------
  // border
  // -----------

  // -----------
  // text
  // -----------
  @at-root input.#{$selector}.#{$selector}--text {
    @include links.apply-state(utils.get('text', $button), default, false);

    &:visited {
      @include links.apply-state(utils.get('text', $button), visited, false);
    }

    &:hover {
      @include links.apply-state(utils.get('text', $button), hover, false);
    }

    &:active {
      @include links.apply-state(utils.get('text', $button), active, false);
    }

    &:focus,
    &:focus-within {
      @include links.apply-state(utils.get('text', $button), focus, false);
    }
  }

  > span,
  > input {
    // @include links.apply-inline(utils.get('text', $button));
    @include links.apply-state(utils.get('text', $button), default, false);
  }

  &:visited {
    > span,
    > input {
      @include links.apply-state(utils.get('text', $button), visited, false);
    }
  }

  &:hover {
    > span,
    > input {
      @include links.apply-state(utils.get('text', $button), hover, false);
    }
  }

  &:active {
    > span,
    > input {
      @include links.apply-state(utils.get('text', $button), active, false);
    }
  }

  &:focus,
  &:focus-within {
    > span,
    > input {
      @include links.apply-state(utils.get('text', $button), focus, false);
    }
  }

  // -----------
  // spacing
  // -----------
  @include spacing.apply-space(utils.get('spacing.x', $button), 'px');
  @include spacing.apply-space(utils.get('spacing.y', $button), 'py');

  // -----------
  // icons
  // -----------
  $positions: before after;

  @each $position in $positions {
    &.#{$selector}--icon::#{$position} {
      // icon padding
      padding: 0.2rem;
    }
  }

  // -----------
  // states
  // -----------

  /* stylelint-disable-next-line */
  &:hover {
    cursor: pointer;
  }
}
