@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/icons' as icons;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/elements' as elements;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/links' as links;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include fonts.init($t);

    // -
    @include icons.init($t);
    @include elements.init($t);
    @include body.init($t);
    @include links.init($t);
    @include spacing.init($t);

    // -
    @include body.apply;
    @include links.apply;
    @include elements.apply-strong;
    @include elements.apply-em;
    @include elements.apply-blockquote(utils.get('elements.blockquote', $t), false);
    @include fonts.apply-font('DEFAULT', 'semibold');
    
    p {
      @include fonts.apply-font('DEFAULT', 'semibold');
    }

    &::before {
      @include font-sizes.apply-size('800');

      color: utils.get('colors.primary.DEFAULT', $t);
      padding-bottom: spacing.calc-size('space-2');
      display: inline-block;
    }

    > * {
      margin: 0;
      padding: 0;
    }

    // for themes etc
    @content;
  }
}
