@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/links' as links;

@mixin styles($selector, $cc, $t) {
  // can also group together with local mixins if needed too depends on the complexity of the component
  // $background-color: utils.get('background.color', $cc);
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include body.init($t);
    @include links.init($t);

    &__text-pre,
    &__text-post {
      @include body.apply;
      @include links.apply;
    }

    // for themes etc
    @content;
  }
}
