{#
/**
 * @file
 * information-page
 *
 * See information-page.wingsuit.yaml for documentation.
 */
#}


{% extends "@templates/page-gcd/page-gcd.twig" %}


{% set breadcrumbs = [{text: 'Home', url: '/'}, {text: 'Support for carers in Greenwich'}] %}


{% block content %}
	{{ pattern('page_title', {'title': 'Support for carers in Greenwich'}) }}
	{{ pattern_preview('nav_page', {'title': 'On this page'}) }}
	{{ pattern('divider') }}
	{{ pattern_preview('service_card_group', {'heading': 'Support groups'}) }}
	{{ pattern_preview('service_card_group', {'heading': 'Advice drop-ins'}) }}
	{{ pattern_preview('service_card_group', {'heading': 'Activities'}) }}
{% endblock %}
