{#
/**
 * @file
 * form-radios
 *
 * See form-radios.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-form-radios' %}

{#
  Classes
#}

{% set classes = [
  selector,
  horizontal ? selector ~ '--horizontal',
] %}


{#
  Template
#}
<div{{ attributes.addClass(classes) }}>{{ children }}</div>
