@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // .
    @include spacing.init($t);

    // .
    @include spacing.apply-flow('space-3', 'y');

    // we accept rich text and plain strings, so this removes browsers styling and adds our own
    div > * {
      margin: 0;
    }

    div {
      @include spacing.apply-flow('space-3', 'y');
    }

    // set the background color from component config

    // for themes etc
    @content;
  }
}
