@use 'rbgstyles/themes/greenwich-community-directory' as gcd-theme-config;
@use 'rbgstyles/themes/royal-borough-greenwich-website' as website-theme-config;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/grid' as grid;
@use 'rbgstyles/tools/utilities' as utils;

$selector: rbg-layout-example;

.#{$selector} {
  &__col {
    background-color: #e1e1e1;
    display: block;
    width: 100%;
    height: 500px;
    margin: 1rem 0;
  }

  [data-theme='website'] & {
    @include grid.init(website-theme-config.$theme);
    @include grid.apply-layout-grid;

    &__two-col {
      > div {
        grid-column-start: span 3;
      }
    }
  }

  [data-theme='gcd'] & {
    @include grid.init(gcd-theme-config.$theme);
    @include grid.apply-layout-grid;

    &__two-col {
      > div {
        grid-column-start: span 3;
      }
    }
  }
}
