// -----------------------------
// Tokens: Grid
// This contains the grid mixins for the main page, and components.
// -----------------------------

// helpers
@use 'sass:map';
@use '../../tools/utilities' as utils;

// module related
@forward 'accessibility';
@use 'accessibility' as accessibility;
@use 'mixins/visually-hidden' as visually-hidden-mixins;
@use 'mixins/link-focus-styles' as link-focus-styles-mixins;
@use 'mixins/element-focus-styles' as element-focus-styles-mixins;

// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: (
  'accessibility': accessibility.$accessibility,
) !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

@mixin apply-visually-hidden {
  @include visually-hidden-mixins.apply;
}

@mixin apply-link-focus-styles($theme: $-tool-config) {
  @include link-focus-styles-mixins.apply($theme);
}

@mixin apply-element-focus-styles($theme: $-tool-config) {
  @include element-focus-styles-mixins.apply($theme);
}
