@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/links' as links;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // we use init here so that any other mixins in this tool have access to the same $theme object later on
    @include body.init($t);
    @include headings.init($t);
    @include links.init($t);
    @include breakpoints.init($t);
    @include headings.apply;
    @include body.apply;
    @include links.apply;

    // put
    &::before {
      background-color: utils.get('background.background-color', $cc);
      content: '';
      position: absolute;
      opacity: 0.9;
    }

    // center it on the page and make it 90% width
    width: 90%;
    margin: 0 auto;

    // set the background color and image
    $background-image: utils.get('background.image', $cc);

    background-image: url('#{$background-image}');
    background-color: utils.get('background.background-color', $cc);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    &__header,
    &__cta,
    &__no-component-styles {
      z-index: 1;
    }

    &__cta {
      @include headings.apply-heading('h1');

      width: 200px;
      padding: 1rem;
      background-color: utils.get('cta.background.default', $cc);
      color: utils.get('cta.color.default', $cc);
      border: 1px solid transparent;
      border-radius: 5px;

      &:hover {
        content: 'hover';
        cursor: pointer;
        color: utils.get('cta.color.hover', $cc);
        background-color: utils.get('cta.background.hover', $cc);
      }
    }

    // best practice to put modifiers at the bottom
    // this is set as a css class on the markup
    &--sm {
      width: 50%;
    }

    &--no-bg {
      background: none;
      display: block;
    }

    // you want to make a module as configurable as possible at the top level
    @if utils.get('reversed', $cc) {
      flex-direction: column-reverse;
    }

    border-bottom: 6px solid red;

    @include breakpoints.screen-gt('phone') {
      border-bottom: 6px solid orange;
    }

    @include breakpoints.screen-gt('tablet') {
      border-bottom: 6px solid yellow;
    }

    @include breakpoints.screen-gt('desktop') {
      border-bottom: 6px solid green;
    }

    @include breakpoints.screen-gt('desktop-wide') {
      border-bottom: 6px solid blue;
    }

    // for themes etc
    @content;
  }
}
