@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: example-component;

// defaults for the component go here - can be overwritten by themes
$component-config-default: (
  'reversed': false,
  'background': (
    'image': '~atoms/logo/images/rbg-logo--white.svg',
    'background-color': map.get($theme, 'primary'),
  ),
  'cta': (
    'border-color': transparent,
    'background': (
      'default': map.get($theme, 'primary'),
      'hover': color.scale(map.get($theme, 'primary'), $lightness: 50%),
    ),
    'color': (
      'default': map.get($theme, 'secondary'),
      'hover': color.scale(map.get($theme, 'primary'), $lightness: -50%),
    ),
  ),
);
