{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{% set full_width = false %}
{{ pattern('form_input', { attributes: attributes, full_width: full_width }) }}{{ children }}
