<div class="rbg-grid-example rbg-grid-example__two-col">
  <div class="rbg-grid-example__col"></div>
  <div class="rbg-grid-example__col"></div>
  <div class="rbg-grid-example__col"></div>
  <div class="rbg-grid-example__col"></div>
  <div class="rbg-grid-example__col"></div>
  <div class="rbg-grid-example__col"></div>
</div>

 