<div class="rbg-grid-example">
  <div class="rbg-grid-example__col"></div>
  <div class="rbg-grid-example__col"></div>
  <div class="rbg-grid-example__col"></div>
  <div class="rbg-grid-example__col"></div>
  <div class="rbg-grid-example__col"></div>
  <div class="rbg-grid-example__col"></div>
</div>

 