{#
/**
 * @file
 * form-input
 *
 * See form-input.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}
{% set icon_attributes = icon_attributes|default(create_attribute()) %}
{% set icon_type = icon_type|default(null) %}
{% set icon_color = icon_color|default(null) %}


{% if attributes.hasAttribute('type') and variant is empty %}
  {% set variant = attributes.type|default('text') %}
{% endif %}
{# set type with variant #}
{% if attributes.hasAttribute('type') is empty %}
  {% set attributes = attributes.setAttribute('type', variant|default('text')) %}
{% endif %}

{# used as backups mostly  #}
{% if attributes.hasAttribute('id') is empty %}
  {% set attributes = attributes.setAttribute('id', input_id|default('form-field-id')) %}
{% endif %}

{% if attributes.hasAttribute('name') is empty %}
  {% set attributes = attributes.setAttribute('name', input_name|default('')) %}
{% endif %}

{% if attributes.hasAttribute('value') is empty and input_value is not empty %}
  {% set attributes = attributes.setAttribute('value', input_value) %}
{% endif %}


{#
  Classes
#}
{% set selector = 'rbg-form-input' %}
{% set classes = [
  selector,
  selector ~ '--' ~ variant,
  full_width ? selector ~ '--full',
] | sort %}

{% set icon_classes = [
  icon_type is not empty ? selector ~ '--icon',
  icon_type is not empty ? selector ~ '--icon' ~ '--' ~ icon_type,
  icon_color is not empty ? selector ~ '--icon-color' ~ pattern_configuration('token_settings', '', 'colors')[icon_color]
] | sort %}

{#
  Template
#}

{#

- We need a container to add the icon to but <input /> is not a valid element for this
- Ideally we would always wrap in a span for consistency
- BUT given that we're integrating with drupal adding in additional layers can cause complexity
- In this instance the times we include an icon we tend to have more fine grained control, so we can therefore
  justify using a <span> only when icons are used

#}


{% if variant == 'reset' or variant == 'button' or variant == 'submit' %}
 {{ pattern('button', {attributes: attributes, text: input_value, full_width: full_width, button_tag: 'input', icon_type: icon_type}, 'filled') }}


{% else %}

  {% if icon_type is not empty %}
    <span {{ icon_attributes.addClass(icon_classes | sort | join(' ') | trim)  }}>
  {% endif %} 

    <input {{ attributes.addClass(classes | sort | join(' ') | trim)  }} />

  {% if icon_type is not empty %}
    </span>
  {% endif %}

 
{% endif %}

