<div class="rbg-tokens-icons">
<p>@TODO</p>
<p>this mixin will loop through ./../icons.scss</p>
<p>for each icon it will generate &--icon-{before|after}--iconname</p>
<p>$nested will also be an option so we can do &lt;div class=&quot;rbg rbg--icon-before--chevron&quot;&gt;&lt;/div&gt; and &lt;div class=&quot;rbg&quot;&gt;rbg--icon-before--chevron&lt;/div&gt;</p>
<p>this page will show all the icons</p>
</div>