@use 'rbgstyles/themes/greenwich-community-directory' as gcd-theme-config;
@use 'rbgstyles/themes/royal-borough-greenwich-website' as website-theme-config;
@use 'rbgstyles/tokens/icons' as icons;
@use 'rbgstyles/tools/utilities' as utils;

$selector: rbg-tokens-icons;

.#{$selector} {
  [data-theme='website'] & {
    @include icons.init(website-theme-config.$theme);
    @include icons.apply;

    &__custom-icon {
      display: flex;
      flex-direction: row;

      @include icons.apply-icon('rbg-chevron-thick-right');
    }
  }

  [data-theme='gcd'] & {
    @include icons.init(gcd-theme-config.$theme);
    @include icons.apply;

    &__custom-icon {
      @include icons.apply-icon('rbg-chevron-thick-right');
    }
  }
}
