@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use '../../../tools/utilities' as utils;
@use '../font-sizes' as font-sizes;
@use '../../fonts' as fonts;
@use '../../breakpoints' as breakpoints;
@use '../../body' as body;

// @todo put in some validation here for the data format
// expects headings in the same format as found in _config.scss

// This mixin sets the font sizes and options we would set for typography on a component
@mixin apply($responsive, $nested, $theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Font-sizes default called without theme options, using defaults from config';

    $font-sizes: font-sizes.$font-sizes;
    $body: body.$body;
    $breakpoints: breakpoints.$breakpoints;
  }

  $font-sizes: map.get($theme, font-sizes);
  $breakpoints: map.get($theme, breakpoints);
  $our-base-font-size: utils.get('body.base.our-base-font-size', $theme);

  @if $responsive == true {
    @if map.get($font-sizes, default) {
      @warn 'Notice: This theme doesn\'t natively support responsive typography, applying static styles only';

      // default styles
      @include apply-font-sizes(
        map.get($font-sizes, default),
        $our-base-font-size,
        $nested,
        $theme
      );
    } @else {
      @each $breakpoint, $styles in $font-sizes {
        @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
          @include apply-font-sizes($styles, $our-base-font-size, $nested, $theme);
        }
      }
    }
  } @else {
    @if map.get($font-sizes, default) {
      // default styles
      @include apply-font-sizes(
        map.get($font-sizes, default),
        $our-base-font-size,
        $nested,
        $theme
      );
    } @else {
      // @warn 'Notice: This using first styles as mobile first static values for font sizes';

      $first: breakpoints.utils-find-first-breakpoint($breakpoints);

      @include apply-font-sizes(map.get($font-sizes, $first), $our-base-font-size, $nested, $theme);
    }
  }
}

@mixin apply-font-sizes($font-sizes, $our-base-font-size, $nested, $theme) {
  @each $selector, $values in $font-sizes {
    @include selector(
      '.font-size--#{$selector}',
      $nested
    ) {
      $font-size: map.get($values, font-size);

      font-size: calc($font-size / $our-base-font-size) + rem;
    }
  }
}

@mixin selector(
  $selector,
  $nested
) {
  @if $nested {
    &#{$selector} {
      @content;
    }
  } @else {
    #{$selector} {
      @content;
    }
  }
}
