@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use '../../../tools/utilities' as utils;
@use '../font-sizes' as font-sizes;
@use '../../body' as body;
@use '../../fonts' as fonts;
@use '../../breakpoints' as breakpoints;

// @todo put in some validation here for the data format
// expects headings in the same format as found in _config.scss

// This mixin sets the font sizes and options we would set for typography on a component
// Unlike other mixins it has the option to use reponsive styles or not use them.
@mixin apply($token, $responsive, $theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Font-size default called without theme options, using defaults from config';

    $font-sizes: font-sizes.$font-sizes;
    $body: body.$body;
    $breakpoints: breakpoints.$breakpoints;
  }

  $font-sizes: map.get($theme, font-sizes);
  $body: map.get($theme, body);
  $our-base-font-size: utils.get('base.our-base-font-size', $body);
  $breakpoints: map.get($theme, breakpoints);

  @if $responsive == true {
    @if map.get($font-sizes, default) {
      @warn 'Notice: This theme doesn\'t natively support responsive typography, applying static styles only';

      // default styles
      @include apply-font-size(map.get($font-sizes, default), $token, $our-base-font-size, $theme);
    } @else {
      @each $breakpoint, $styles in $font-sizes {
        @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
          @include apply-font-size($styles, $token, $our-base-font-size, $theme);
        }
      }
    }
  } @else {
    @if map.get($font-sizes, default) {
      // default styles
      @include apply-font-size(map.get($font-sizes, default), $token, $our-base-font-size, $theme);
    } @else {
      // @warn 'Notice: This using first styles as mobile first static values for font sizes';

      $first: breakpoints.utils-find-first-breakpoint($breakpoints);

      @include apply-font-size(map.get($font-sizes, $first), $token, $our-base-font-size, $theme);
    }
  }
}

// outputs the font sizes and all classes that apply to it
@mixin apply-font-size($font-sizes, $token, $our-base-font-size, $theme) {
  $font-size: utils.get('#{$token}.font-size', $font-sizes);

  @if $font-size {
    font-size: calc($font-size / $our-base-font-size) + rem;
  }
}
