@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/accessibility' as accessibility;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'sass:meta';

// both the horizontal and header menus are the same with some embellishments in settings
// the header menu has some additional javascript code too and icons
@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include body.init($t);
    @include breakpoints.init($t);
    @include fonts.init($t);
    @include font-sizes.init($t);

    // continuing with the reseting
    ul,
    ol {
      margin: 0;
      padding: 0;
      list-style-position: inside;
      list-style-type: none;

      // make everything horizontal
      display: flex;
      flex-flow: row wrap;
      column-gap: spacing.calc-size(utils.get('items.x-spacing', $cc));
      row-gap: spacing.calc-size(utils.get('items.y-spacing', $cc));
    }

    @include links.init($t);

    // -----------------------------
    // VARIANTS
    // -----------------------------

    // so we're actually not setting any link styles by default on purpose here,
    // this follows the principles of component first because a lot of times we might
    // want a horizontal menu but find it tricky to overwrite a style for whatever
    // reason so if we have the default option be blank and then add in variants
    // (or later we can build a menu option for all link colours if we would like)
    // we can make it easier on our future selves

    @each $variant, $styles in utils.get('variants', $cc) {
      &--#{$variant} {
        $item-colors: utils.get('items', $styles);

        @include font-sizes.apply-size(
          utils.get('font-sizes.size', $styles),
          utils.get('font-sizes.responsive', $styles)
        );

        ul,
        ol {
          a,
          span {
            @include links.apply-inline($item-colors);
          }
        }
      }
    }

    // -----------------------------
    // FIELDS
    // -----------------------------

    // menu_title is set
    &--has-title {
      display: flex;
      flex-direction: column;
      column-gap: spacing.calc-size(utils.get('menu-title.x-spacing', $cc));
      row-gap: spacing.calc-size(utils.get('menu-title.y-spacing', $cc));

      // @include fonts.apply-font('DEFAULT', 'semibold');
    }

    @include breakpoints.screen-gt('desktop') {
      &--has-title {
        flex-direction: row;
      }
    }

    // -----------------------------
    // SETTINGS
    // -----------------------------

    // link_underline

    // == true
    &--link-underline {
      $link-underline: (
        'default': (
          'text-decoration': underline,
        ),
        'visited': (
          'text-decoration': underline,
        ),
        'hover': (
          'text-decoration': underline,
        ),
        'active': (
          'text-decoration': underline,
        ),
        'focus': (
          'text-decoration': underline,
        ),
      );

      ul,
      ol {
        a,
        span {
          @include links.apply-inline($link-underline);
        }
      }
    }

    // == false
    &--link-no-underline {
      $link-no-underline: (
        'default': (
          'text-decoration': none,
        ),
        'visited': (
          'text-decoration': none,
        ),
        'hover': (
          'text-decoration': none,
        ),
        'active': (
          'text-decoration': none,
        ),
        'focus': (
          'text-decoration': none,
        ),
      );

      ul,
      ol {
        a,
        span {
          @include links.apply-inline($link-no-underline);
        }
      }
    }

    // link_font_variant
    @include fonts.apply('DEFAULT', false, '#{$selector}__items');

    // title_font_variant
    @include fonts.apply('DEFAULT', false, '#{$selector}__title');

    // stack_from
    // flip the default from above so everything is stacked first then we go horizontal from there upwards
    $breakpoints: utils.get('breakpoints', $t);

    @each $breakpoint, $size in $breakpoints {
      &--stack--#{$breakpoint} {
        ul,
        ol {
          flex-direction: column;

          @include breakpoints.screen-gt($breakpoint) {
            flex-direction: row;
          }
        }
      }
    }

    // for themes etc
    @content;
  }
}
