@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: rbg-menu-horizontal;

// defaults for the component go here - can be overwritten by themes
// @TODO take link styles out of here and make them into tokens
$component-config-default: (
  'items': (
    'x-spacing': 'space-5',
    'y-spacing': 'space-3',
  ),
  'menu-title': (
    'x-spacing': 'space-8',
    'y-spacing': 'space-5',
  ),
  'variants': (
    'body': (
      'font-sizes': (
        'size': 'DEFAULT',
        'responsive': true,
      ),
      'items': map.get($theme, 'links'),
    ),
    'default': (
      'font-sizes': (
        'size': 'DEFAULT',
        'responsive': true,
      ),
      'items': (
        'default': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'background-color': 'transparent',
          'font-variant': 'regular',
        ),
        'visited': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'background-color': 'transparent',
          'font-variant': 'regular',
        ),
        'hover': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'text-decoration-thickness': 3px,
          'background-color': 'transparent',
          'font-variant': 'regular',
        ),
        'active': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'text-decoration-thickness': 3px,
          'background-color': 'white',
          'font-variant': 'regular',
        ),
        'focus': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'text-decoration-thickness': 3px,
          'background-color': 'focus.DEFAULT',
          'font-variant': 'regular',
        ),
      ),
    ),
    'black': (
      'font-sizes': (
        'size': 'DEFAULT',
        'responsive': true,
      ),
      'items': (
        'default': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'background-color': 'transparent',
          'font-variant': 'medium',
        ),
        'visited': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'background-color': 'transparent',
          'font-variant': 'medium',
        ),
        'hover': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'text-decoration-thickness': 3px,
          'background-color': 'transparent',
          'font-variant': 'medium',
        ),
        'active': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'text-decoration-thickness': 3px,
          'background-color': 'white',
          'font-variant': 'medium',
        ),
        'focus': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'text-decoration-thickness': 3px,
          'background-color': 'focus.DEFAULT',
          'font-variant': 'medium',
        ),
      ),
    ),
    'footer': (
      'font-sizes': (
        'size': 'DEFAULT',
        'responsive': false,
      ),
      'items': (
        'default': (
          'color': 'white',
          'text-decoration': none,
          'background-color': transparent,
          'font-variant': 'semibold',
        ),
        'visited': (
          'color': 'white',
          'text-decoration': none,
          'background-color': transparent,
          'font-variant': 'semibold',
        ),
        'hover': (
          'color': 'white',
          'text-decoration': underline,
          'background-color': transparent,
          'font-variant': 'semibold',
        ),
        'active': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'text-decoration-thickness': 3px,
          'background-color': 'white',
          'font-variant': 'semibold',
        ),
        'focus': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'text-decoration-thickness': 3px,
          'background-color': 'focus.DEFAULT',
          'font-variant': 'semibold',
        ),
      ),
    ),
  ),
);
