@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include fonts.init($t);
    @include font-sizes.init($t);

    // set the background color from component config
    color: utils.get('color', $cc);

    @include font-sizes.apply-size('500', false);
    @include fonts.apply-font('DEFAULT', 'semibold');

    white-space: nowrap;
    text-decoration: none;

    span {
      // @include fonts.apply-font('DEFAULT', 'semibold');

      display: block;
    }

    // for themes etc
    @content;
  }
}
