@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/accessibility' as accessibility;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/icons' as icons;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/headings' as headings;
@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use 'sass:selector';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include accessibility.init($t);
    @include fonts.init($t);
    @include icons.init($t);
    @include font-sizes.init($t);
    @include links.init($t);
    @include spacing.init($t);
    @include breakpoints.init($t);
    @include headings.init($t);

    &__button--back { 
      border: 0;
      padding: 0;
      margin: 0 0 spacing.calc-size('space-5') 0;
      background: none;
      cursor: pointer;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
      
      @include icons.apply-icon('rbg-chevron-left', before, true);
  
      gap: spacing.calc-size(utils.get('mobile.item.icon-spacing', $cc));
  
        &::after {
          color: utils.get('colors.primaryred.DEFAULT', $t);
        }
  
        span {
          @include links.apply-inline(utils.get('mobile.links', $cc));
          @include font-sizes.apply-size(
            utils.get('mobile.font.size.size', $cc),
            utils.get('mobile.font.size.responsive', $cc)
          );
        }
    }

    h4 {
      @include headings.apply-heading('h4');
    }
  

    @include breakpoints.screen-gt('desktop') {
      &__button--back {
        display: none;
      }
     
      h4 {
        display: none;
      }
    }

    // for themes etc
    @content;
  }
}
