@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/grid' as grid;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/colors' as colors;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;

// @use 'organisms/page-feedback/styles/config' as organisms-page-feedback-config;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  // can also group together with local mixins if needed too depends on the complexity of the component

  // @TODO in footer don't add spacing - needs a review
  // .rbg-page-feedback + .#{$selector} {
  //   -webkit-margin-before: 0 !important;
  //   margin-block-start: 0 !important;
  // }

  .#{$selector} {
    @include reset.init($t);
    @include grid.init($t);
    @include spacing.init($t);
    @include colors.init($t);
    @include fonts.init($t);
    @include font-sizes.init($t);
    @include breakpoints.init($t);
    @include reset.apply;

    &__primary-content {
      background-color: utils.get('primary.background-color', $cc);

      @include spacing.apply-space('space-8', 'py');
      @include spacing.apply-space('space-5', 'px');

      .#{$selector}__container {
        @include grid.apply-layout-grid;

        > div {
          grid-column-start: span 3;
        }
      }
    }

    &__secondary-content {
      background-color: utils.get('secondary.background-color', $cc);

      @include font-sizes.apply-size('300', false);
      @include spacing.apply-space('space-5', 'py');
      @include spacing.apply-space('space-5', 'px');

      .#{$selector}__container {
        max-width: utils.get('layout.max-area-width', $t);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 auto;

        @include breakpoints.screen-gt('tablet') {
          flex-direction: row;
        }
      }
    }

    &__block {
      &--left {
        justify-self: left;
      }

      &--right {
        justify-self: right;
      }

      &--center {
        justify-self: center;
      }
    }

    &__alt-content {
      color: utils.get('colors.white', $t);
      align-self: flex-start;

      @include spacing.apply-space('space-11', 'py');

      @include breakpoints.screen-gt('tablet') {
        @include spacing.apply-space('space-0', 'py');
      }

      @include fonts.apply-font('DEFAULT');

      &--left {
        text-align: left;
      }

      &--right {
        text-align: right;
      }

      &--center {
        text-align: center;
      }
    }

    // for themes etc
    @content;
  }
}
