@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/grid' as grid;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // -
    @include headings.init($t);
    @include breakpoints.init($t);
    @include spacing.init($t);
    @include links.init($t);
    @include font-sizes.init($t);

    // -
    @include spacing.apply-flow('space-5', 'y');

    &__title {
      @include headings.apply-heading('h2', false);

      padding-bottom: spacing.calc-size('space-5');
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__item {
      @include links.apply(utils.get('links', $cc));
      @include font-sizes.apply-size('600', true);
    }

    &--list {
      ul {
        display: flex;
        flex-direction: column;
        gap: spacing.calc-size('space-5');
      }
    }

    &--columns {
      ul li {
        border-bottom: utils.get('divider.width', $cc) solid
          utils.get(utils.get('divider.color', $cc), $t);
        margin-bottom: spacing.calc-size('space-5');
      }

      .#{$selector}__items {
        @include grid.apply-layout-alt-grid;

        row-gap: spacing.calc-size('space-5');

        > * {
          grid-column: 1/-1;
          height: 100%;
        }
      }

      @include breakpoints.screen-gt('phone') {
        .#{$selector}__items > * {
          grid-column: span 3;
        }
      }

      @include breakpoints.screen-gt('tablet') {
        .#{$selector}__items > * {
          grid-column: span 2;
        }
      }

      @include breakpoints.screen-gt('desktop') {
        .#{$selector}__items > * {
          grid-column: span 2;
        }
      }
    }

    // for themes etc
    @content;
  }
}
