@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: rbg-service-links;

// defaults for the component go here - can be overwritten by themes
$component-config-default: (
  'divider': (
    'width': 1px,
    'color': 'colors.neutral.400',
  ),
  'links': (
    'default': (
      'color': 'midnightblue.DEFAULT',
      'text-decoration': underline,
      'background-color': 'transparent',
      'font-variant': 'medium',
    ),
    'visited': (
      'color': 'midnightblue.DEFAULT',
      'text-decoration': underline,
      'background-color': 'transparent',
      'font-variant': 'medium',
    ),
    'hover': (
      'color': 'midnightblue.DEFAULT',
      'text-decoration': underline,
      'text-decoration-thickness': 3px,
      'background-color': 'skyblue.DEFAULT',
      'font-variant': 'medium',
    ),
    'active': (
      'color': 'midnightblue.DEFAULT',
      'text-decoration': underline,
      'text-decoration-thickness': 3px,
      'background-color': 'skyblue.DEFAULT',
      'font-variant': 'medium',
    ),
    'focus': (
      'color': 'neutral.500',
      'text-decoration': underline,
      'text-decoration-thickness': 3px,
      'background-color': 'focus.DEFAULT',
      'font-variant': 'medium',
    ),
  ),
);
