{#
/**
 * @file
 * promotional-banner
 *
 * See promotional-banner.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set display_title = display_title|default(false) %}

{#
  Classes
#}
{% set selector = 'rbg-alert-banner' %}

{#
  Template
#}
{% set selector = 'rbg-alert-banner' %}
{% set has_link = link|render is not empty %}
{# twing workaround here, it doesn't allow |split('--')[1] in design system #}
{% set type_of_alert =  type_of_alert|split('--') %}
{% set type_of_alert =  type_of_alert[1]|clean_class %}

{% set classes = [
    selector,
    type_of_alert ? selector ~ '--' ~ type_of_alert, 
    'js-localgov-alert-banner',
    is_front ? selector ~ '--homepage', 
    has_link ? selector ~ '--has-link' : selector ~ '--no-link', 
  ]
%}

{# The following are the original classes added by the original module that we have chosen to remove for the following reasons #}
{# 
  removed as we don't need any css from the original component
  also not used in the javascript 
#}
{# 'localgov-alert-banner', #}

{# 
  as above but we're also customising this to our own needs so I have removed 
#}
{# type_of_alert ? 'localgov-alert-banner--' ~ type_of_alert, #}

{# 
  the original code doesn't make use of this - seems to be more of a feature for future styling
  have kept this in but with our own selector
#}
{# is_front ? 'localgov-alert-banner--homepage', #}

{#
  see is_front
#}
{# has_link ? 'localgov-alert-banner--has-link' : 'localgov-alert-banner--no-link' #}

<article {{ attributes.addClass(classes) }}>
  <div class="{{selector}}__wrapper">

    <div class="{{selector}}__content">
      {% if display_title %}
        <h2 class="{{selector}}__title">
          {{ title }}
        </h2>
      {% endif %}

      <div class="{{selector}}__body">
        {{ content }}
      </div>

      {% if has_link %}
        <div class="{{selector}}__content-link">{{ link }}</div>
      {% endif %}
    </div> {# End Content #}

    {% if not remove_hide_link %}
      <div class="{{selector}}__actions">
        <div class="{{selector}}__dismiss">
          {{pattern('button', {
            button_tag: 'button',
            attributes: create_attribute().addClass(selector ~ '__close').addClass('js-localgov-alert-banner__close').setAttribute('aria-label', 'Hide alert'|t ~ ': ' ~ title|render|striptags|trim), 
            text: 'Hide'|t  
            }, 'outlined-secondary' ) }}
          {# <button class="{{selector}}__close js-localgov-alert-banner__close" aria-label="{{ 'Hide alert'|t ~ ': ' ~ title|render|striptags|trim }}">{{ 'Hide'|t }}</button> #}
        </div>
      </div>
    {% endif %}

  </div>
</article>
