{#
/**
 * @file
 * form-container
 *
 * See form-container.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-form-container' %}

{#
  Classes
#}

{% set classes = [
  selector
] %}
{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  {{ children }}
</div>
