{#
/**
 * @file
 * page-gcd
 *
 * See page-gcd.wingsuit.yaml for documentation.
 */
#}
{% import '@templates/_template-macros.twig' as tm %}

{# Extends the 'default page template'  - its virtually identical at this point #}
{% extends "@templates/page/page.twig" %}

{% set theme = 'gcd' %}

{# some new content for the benefit of this page in storybook #}
{% block content %}
{{ pattern('page_title', {title: 'GCD template page'}) }}
{{ pattern('rich_text', {
    text: '<p>This page is essentially the starting point for every page in the gcd, it is extended from page template. We\'re just updaing the header and footer blocks here to be more \'gcd\'</p>'
  }) }}
  {{ pattern('rich_text', { text: '<p>This second page block is here to show the spacing between items inside of the \'content\' area</p>'}) }}
  {{ pattern('rich_text', { text: '<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor.</p>'}) }}
{% endblock %}
