// generated using https://uicolors.app/create

$-primaryred: #dc3338;
$-primarypurple: #531e9b;
$-royalblue: #004483;
$-skyblue: #d9e9f8;
$-midnightblue: #042341;
$-neutral100: #fff;
$-neutral200: #faf9f9;
$-neutral300: #ebe8e8;
$-neutral400: #797272;
$-neutral500: #575252;
$-neutral600: #383636;
$-neutral700: #080707;
$-focus: #ffd53f;
$-error: #ff6d3f;
$-success: #20b51d;
$primaryred: (
  'DEFAULT': $-primaryred,
  '50': #fdf3f3,
  '100': #fae1e2,
  '200': #f4bec0,
  '300': #ee9b9e,
  '400': #e8797c,
  '500': #e2565a,
  '600': $-primaryred,
  '700': #b71f24,
  '800': #88171b,
  '900': #580f11,
  '950': #400b0c,
);
$primarypurple: (
  'DEFAULT': $-primarypurple,
  '50': #c8abef,
  '100': #bc9aeb,
  '200': #a677e5,
  '300': #8f55de,
  '400': #7933d8,
  '500': #6525bd,
  '600': $-primarypurple,
  '700': #3a156c,
  '800': #210c3d,
  '900': #07030e,
  '950': #000,
);
$royalblue: (
  'DEFAULT': $-royalblue,
  '50': #64b5ff,
  '100': #50abff,
  '200': #2797ff,
  '300': #0084fd,
  '400': #006ed5,
  '500': #0059ac,
  '600': $-royalblue,
  '700': #00274b,
  '800': #000a13,
  '900': #000,
  '950': #000,
);
$midnightblue: (
  'DEFAULT': $-midnightblue,
  '50': #3394f2,
  '100': #208af1,
  '200': #0d76db,
  '300': #0b61b4,
  '400': #094c8e,
  '500': #063867,
  '600': $-midnightblue,
  '700': #031b33,
  '800': #021324,
  '900': #010c16,
  '950': #01080f,
);
$skyblue: (
  'DEFAULT': $-skyblue,
  '50': #fff,
  '100': #fff,
  '200': #fbfdfe,
  '300': #f3f8fd,
  '400': #eaf3fb,
  '500': #e2eefa,
  '600': $-skyblue,
  '700': #aaceef,
  '800': #7ab2e7,
  '900': #4b97de,
  '950': #3389d9,
);
$neutral: (
  '100': $-neutral100,
  '200': $-neutral200,
  '300': $-neutral300,
  '400': $-neutral400,
  '500': $-neutral500,
  '600': $-neutral600,
  '700': $-neutral700,
);
$focus: (
  'DEFAULT': $-focus,
  '50': #fff,
  '100': #fff,
  '200': #fff9e2,
  '300': #fff0b9,
  '400': #ffe791,
  '500': #ffde68,
  '600': $-focus,
  '700': #ffc907,
  '800': #cea100,
  '900': #967500,
  '950': #7a5f00,
);
$error: (
  'DEFAULT': $-error,
  '50': #fff,
  '100': #fff,
  '200': #ffe9e2,
  '300': #ffcab9,
  '400': #ffab91,
  '500': #ff8c68,
  '600': $-error,
  '700': #ff4207,
  '800': #ce3100,
  '900': #962400,
  '950': #7a1d00,
);
$success: (
  'DEFAULT': $-success,
  '50': #bff5be,
  '100': #aef2ac,
  '200': #8bec89,
  '300': #68e666,
  '400': #46e143,
  '500': #26d823,
  '600': $-success,
  '700': #178515,
  '800': #0f540e,
  '900': #062406,
  '950': #020c02,
);
$-all-colors: (
  'primary': $primaryred,
  'secondary': $primarypurple,
  'inherit': inherit,
  'transparent': transparent,
  'white': #fff,
  'black': #000,
  'primaryred': $primaryred,
  'primarypurple': $primarypurple,
  'royalblue': $royalblue,
  'midnightblue': $midnightblue,
  'skyblue': $skyblue,
  'neutral': $neutral,
  'focus': $focus,
  'error': $error,
  'success': $success,
);
$colors: $-all-colors;
