// -----------------------------
// Tokens: Colors
// This contains the mixins for colors as well as all the default colors used on the projects.
// -----------------------------

@forward 'colors';

// helpers
@use 'sass:map';
@use '../../tools/utilities' as utils;

// module related
@forward 'colors';
@forward 'mixins/colors' as mixin-colors-*;
@forward 'utils' as utils-*;
@use 'colors';
@use 'mixins/colors' as colors-mixins;
@use 'utils' as color-utils;

// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: (
  'colors': colors.$colors,
) !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

@mixin apply($property: 'color', $nested: false, $theme: $-tool-config) {
  @include colors-mixins.apply($property, $nested, $theme);
}

@function get-color-classes-list($property: 'color', $theme: $-tool-config) {
  @return color-utils.color-classes-list($property, $theme);
}
