{#
/**
 * @file
 * Theme to display an error page for missing the Component Libraries module.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{# @TODO where does this file extend from what conditions / urls do you need in order to view and test it #}


{{ alert('error', {header: 'An error occured'|t, content: 'It looks like you forgot to install the <a href=":url">Component Libraries</a> module. Please install it and come back! Have a great day!'|t({ ':url': 'https://www.drupal.org/project/components' }, 'error') }}
