@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/grid' as grid;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // .
    @include spacing.init($t);
    @include grid.init($t);
    @include breakpoints.init($t);

    // .
    $breakpoints: utils.get('breakpoints', $t);
    $main-spacing: utils.get('content.spacing', $cc);
    $hero-background-color: utils.get('hero.background-color', $cc);
    $content-background-color: utils.get('content.background-color', $cc);
    $content-spacing: utils.get('content.spacing', $cc);
    $content-border-color: utils.get('content.border.color', $cc);
    $content-border-size: utils.get('content.border.size', $cc);
    $content-location: utils.get('content.location', $cc);
    $content-size: utils.get('content.size', $cc);

    position: relative;

    &__wrapper {
      @include grid.apply-layout-grid;

      position: relative;

      > div {
        max-width: 100%;
        box-sizing: border-box;
        grid-column: 1/-1;
      }
    }

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: utils.get($hero-background-color, $t);

    // display: flex;
    // flex-direction: row;

    @each $breakpoint, $space in $main-spacing {
      @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
        @include spacing.apply-space($space, 'pxy');
      }
    }

    &__content {
      background-color: utils.get($content-background-color, $t);
      width: 100%;

      @each $breakpoint, $space in $content-spacing {
        @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
          @include spacing.apply-space($space, 'pxy');
        }
      }
    }

    &__image {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      > *:not(.contextual),
      picture,
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    // settings

    // border

    &--content-border {
      .#{$selector}__content {
        border-bottom: $content-border-size solid utils.get($content-border-color, $t);
      }
    }

    // content_size  & content_location
    &--content-size--full {
      &.#{$selector}--content-location--left {
        .#{$selector}__content {
          grid-column: span -1;
        }
      }
      &.#{$selector}--content-location--center {
        .#{$selector}__content {
          grid-column: span -1;
        }
      }
      &.#{$selector}--content-location--right {
        .#{$selector}__content {
          grid-column: span -1;
        }
      }
    }

    &--content-size--half {
      &.#{$selector}--content-location--left {
        .#{$selector}__content {
          grid-column: span 3;
        }
      }
      &.#{$selector}--content-location--center {
        .#{$selector}__content {
          // @TODO
          grid-column: span 3;
        }
      }
      &.#{$selector}--content-location--right {
        .#{$selector}__content {
          grid-column: span 3 / 7;
        }
      }
    }

    &--content-size--third {
      &.#{$selector}--content-location--left {
        .#{$selector}__content {
          grid-column: span 2;
        }
      }
      &.#{$selector}--content-location--center {
        .#{$selector}__content {
          grid-column: span 2 / 5;
        }
      }
      &.#{$selector}--content-location--right {
        .#{$selector}__content {
          grid-column: span 2 / 7;
        }
      }
    }

    &--content-size--four {
      &.#{$selector}--content-location--left {
        .#{$selector}__content {
          grid-column: span 4;
        }
      }
      &.#{$selector}--content-location--center {
        .#{$selector}__content {
          // @TODO
          grid-column: span 4;
        }
      }
      &.#{$selector}--content-location--right .#{$selector}__content {
        grid-column: span 3;

        @include breakpoints.screen-gt('phone') {
          grid-column: span 3;
        }

        @include breakpoints.screen-gt('tablet') {
          grid-column: span 4 / 7;
        }
      }
    }

    // for themes etc
    @content;
  }
}
