@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: rbg-live-well-banner;

// defaults for the component go here - can be overwritten by themes
$component-config-default: (
  'spacing': (
    'phone': 'space-3',
    'tablet': 'space-3',
    'desktop': 'space-5',
    'desktop-wide': 'space-5',
  ),
  'hero': (
    'background-color': 'colors.neutral.300',
  ),
  'content': (
    'size': (
      'full': (
        'width': 100%,
      ),
      'half': (
        'width': 50%,
      ),
      'third': (
        'width': 33.3%,
      ),
    ),
    'location': (
      'left': (
        'justify-content': start,
      ),
      'center': (
        'justify-content': center,
      ),
      'right': (
        'justify-content': end,
      ),
    ),
    'background-color': 'colors.white',
    'border': (
      'size': 6px,
      'color': 'colors.primary.DEFAULT',
    ),
    'spacing': (
      'phone': 'space-3',
      'tablet': 'space-3',
      'desktop': 'space-5',
      'desktop-wide': 'space-5',
    ),
  ),
);
