{#
/**
 * @file
 * search-field
 *
 * See search-field.wingsuit.yaml for documentation.
 */
#}


{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set form_item_attributes = form_item_attributes|default(create_attribute()) %}
{% set form_submit_action = form_submit_action|default('/search') %}


{#
  Classes
#}
{% set selector = 'rbg-search-field' %}
{% set classes = [
  selector,
] %}

{#
  Template
#}
<form {{ attributes.addClass(classes | sort | join(' ') | trim) }} action="{{form_submit_action}}">
    {{pattern('form_element', { 
      attributes: create_attribute().addClass(selector ~ '__search-input'),
      label: pattern('form_element_label', {attributes: create_attribute().setAttribute('for', 'search_fulltext'), text: 'Search'}), 
      label_display: 'invisible',
      children: pattern('form_input', {attributes: create_attribute().setAttribute('id', 'search_fulltext'), icon_type: 'rbg-search', icon_color: 'neutral700'}, 'text')
     })}}
    {{pattern('form_container', {children: pattern('form_input', { attributes: create_attribute().setAttribute('value', 'Search') }, 'submit') })}}
</form>