@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // .
    @include spacing.init($t);
    @include breakpoints.init($t);

    // .
    $breakpoints: utils.get('breakpoints', $t);
    $layout-spacing: utils.get('spacing', $cc);

    @each $breakpoint, $space in $layout-spacing {
      @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
        @include spacing.apply-flow($space, 'y');
      }
    }

    // for themes etc
    @content;
  }
}
