{#
/**
 * @file
 * location-group
 *
 * See location-group.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-location-group' %}

{#
  Classes
#}

{% set classes = [
  selector
] %}



{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>

{% for item in items %}
	{{pattern('location', {content: item.content, attributes: item.attributes})}}
{% endfor %} 

</div>

