{#
/**
 * @file
 * navigation
 *
 * See navigation.wingsuit.yaml for documentation.
 */
#}


{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-navigation' %}

{#
  Classes
#}

{% set classes = [
  selector,
  direction ? selector ~ '--' ~ direction
] %}


{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  <a href="{{url}}" class="{{selector}}__item">
    <span class="{{selector}}__text">
      {% if title %}<span class="{{selector}}__title">{{title}}</span>{% endif %}
      {% if description %}<span class="{{selector}}__description">{{description}}</span>{% endif %}
    </span>
  </a>
</div>
