{#
/**
 * @file
 * address
 *
 * See address.wingsuit.yaml for documentation.
 */
#}


{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set tag = 'div' %}
{#
  Classes
#}
{% set selector = 'rbg-address' %}
{% set classes = [
  selector,
  url is not empty ? selector ~ '--link'
] %}


{#
  Template
#}

{% if url is not empty %}
  {% set tag = 'a' %}
  {% set attributes = attributes.setAttribute('href', url) %}
{% endif %}

<{{tag}} {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
{{content}}
</{{tag}}>