{#
/**
 * @file
 * action-links
 *
 * See action-links.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}


{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-action-links' %}

{#
  Classes
#}

{% set classes = [
  selector
] %}

{#
  Template
#}

{% if items %}
  <div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>

  <ul class="{{selector}}__items">
    {% for item in items %}
      <li class="{{selector}}__item">
        <a href="{{item.url}}" class="{{selector}}__link">
          <span>{{item.title}}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

  </div>
{% endif %}
