.example-tailwind {
  @apply tw-text-white tw-bg-primarypurple-600 tw-border-primarypurple-300;

  &:hover {
    /* stylelint-disable-next-line scss/function-no-unknown */
    background-color: theme('colors.primarypurple.600');
  }
}
