{#
/**
 * @file
 * example-tailwind
 *
 * See example-tailwind.wingsuit.yaml for documentation.
 */
#}




{#
  Defaults
#}

{% set tw_attributes = tw_attributes|default(create_attribute()) %}
{% set attributes = attributes|default(create_attribute()) %}
{% set setting_1 = setting_1|default('value_1') %}

{#
  Classes
#}

{% set selector = 'example-tailwind' %}
{% set classes = [
	selector,
  'tw-bg-color',
  setting_1 == 'value_1' ? 'tw-text-primaryred',
] %}

{% set field_1_classes = [
   setting_1 == 'value_1' ? 'tw-text-midnightblue',
] %}

{#
  Template
#}

<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
	<div>New Wingsuit component</div>
	<div{{region_attributes.field_1|default(create_attribute()).addClass(field_1_classes|sort)}}>
		Field variable:
		<code>{{ field_1 }}</code>
	</div>
	<div>Setting variable:
		<code>{{ setting_1 }}</code>
	</div>
</div>

