@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/links' as links;
@use 'sass:meta';
@use 'sass:math';
@use 'sass:map';
@use './mixins/logo' as logo-mixins;
@use 'molecules/menu-horizontal/styles/config' as molecule-menu-horizontal-config;
@use 'molecules/menu-horizontal-header/styles/config' as molecule-menu-horizontal-header-config;

// '__aside__menu' is an extra menu added by us to toggle the drawer on mobile
@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include spacing.init($t);
    @include breakpoints.init($t);

    // top border
    border-top: 6px solid utils.get('border-top-color', $cc);

    // **** MOBILE FIRST ****

    // create the frame
    &__container {
      @include -frame-mobile($cc);
    }

    // helper to place everyone __logos goes in the logo box etc
    @include -content-assigned;

    // when we first load the code (mobile first) what does everything look like and where does it need to be
    @include -content-mobile($cc, $t);

    // what happens when we open the drawer on mobile
    &--drawer-open {
      border-bottom: 0 solid utils.get('drawer-area.border-bottom-color', $cc);

      .#{$selector}__main {
        display: block;
      }
      .#{$selector}__aside__content {
        display: block;
      }
      .#{$selector}__drawer-content {
        @include spacing.apply-space('space-3', 'pxy');

        display: block;
      }
    }

    // **** DESKTOP & UP NEXT ****

    @include breakpoints.screen-gt('desktop') {
      // rearrange the grid a bit
      &__container {
        @include -frame-desktop($selector, $cc);

        max-width: utils.get('layout.max-area-width', $t);
        margin: 0 auto;
      }

      // tweak things
      @include -content-desktop($selector);

      // what happens when we open the drawer on desktop
      &--drawer-open {
        border-bottom-width: 1px;

        .#{$selector}__drawer-content {
          @include spacing.apply-space('space-0', 'px');
        }
      }
    }

    // copied from _gcd.scss
    // @TODO refactor this into the above

    $logo-selectors: (
      'title': '> *:nth-child(2)',
      'gcd-logo': '> *:nth-child(2)',
      'logo': '> *:nth-child(1)',
    );

    // **** MOBILE FIRST ****

    // when we first load the code (mobile first) what does everything look like and where does it need to be
    @include -gcd-content-mobile($logo-selectors, $t);
    @include -gcd-menu-horizontal-mobile($cc, $t);

    // what happens when we open the drawer on mobile
    /* stylelint-disable-next-line no-duplicate-selectors */
    &--drawer-open {
      .#{$selector}__container {
        @include -gcd-frame-mobile-drawer-open;
      }

      /* stylelint-disable-next-line no-duplicate-selectors */
      .#{$selector}__main {
        display: none;
      }

      .#{$selector}__logos {
        display: none;
      }

      /* stylelint-disable-next-line no-duplicate-selectors */
      .#{$selector}__drawer-content {
        @include spacing.apply-space('space-3', 'py');
        @include spacing.apply-space('space-3', 'px');
      }
    }

    // **** DESKTOP & UP NEXT ****

    @include breakpoints.screen-gt('desktop') {
      // rearrange the grid a bit
      &__container {
        @include -gcd-frame-desktop;
      }

      // tweak things
      @include -gcd-content-desktop($logo-selectors, $cc, $t);
      @include -gcd-menu-horizontal-header-desktop($cc, $t);
      @include -gcd-menu-horizontal-desktop($cc, $t);

      // what happens when we open the drawer on desktop
      &--drawer-open {
        .#{$selector}__container {
          @include -gcd-frame-desktop;
        }

        .#{$selector}__logos {
          display: block;
        }

        .#{$selector}__main {
          display: block;
        }

        .#{$selector}__drawer-content {
          @include spacing.apply-space('space-3', 'py');
          @include spacing.apply-space('space-0', 'px');
        }
      }
    }

    // for themes etc
    @content;
  }
}

// Create the frame in which all of the content areas will sit
@mixin -frame-mobile($cc) {
  $min-logo-width: utils.get('logos-area.width', $cc);

  display: grid;

  // grid-gap: spacing.calc-size(utils.get('logos-area.padding', $cc));
  align-items: start;
  grid-template-areas:
    'logo aside-menu'
    'aside-content aside-content'
    'main main'
    'drawer drawer';
  grid-template-columns: minmax($min-logo-width, min-content) 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: row;
}

// when we go up to the next stage we move the grid around a little
@mixin -frame-desktop($selector, $cc) {
  $min-logo-width: utils.get('logos-area.width', $cc);

  grid-template-areas:
    'logo main aside-content'
    'drawer drawer drawer'
    '. . aside-menu';
  grid-template-columns: minmax($min-logo-width, min-content) auto auto;
}

// The default state is mobile, so where do we place everything when we load the page in this state
@mixin -content-mobile($cc, $t) {
  @include spacing.init($t);

  &__logos {
    // background styles
    display: block;

    // the red block
    @include logo-mixins.logo-background($cc);
    @include spacing.apply-space(utils.get('logos-area.padding', $cc), 'pxy');

    // hide everything other than the first logo by default
    div + * {
      display: none;
    }

    a + * {
      display: none;
    }
  }

  &__main {
    display: none;
  }

  &__aside__menu {
    justify-self: flex-end;
  }

  &__aside__content {
    @include spacing.apply-space('space-5', 'py');

    display: none;
  }

  // &__drawer-content {
  //   display: none;
  // }
}

@mixin -content-desktop($selector) {
  &__main {
    display: block;
  }

  &__aside__menu {
    place-self: auto;
    .#{$selector}--multiple-menu & {
      display: none;
    }
  }

  &__aside__content {
    @include spacing.apply-space('space-0', 'py');

    display: block;
  }

  // &__drawer-content {
  //   .#{$selector}--multiple-menu & {
  //     display: block;
  //   }
  // }
}

// assign everyone to their grid square and setup the mobile states
@mixin -content-assigned {
  &__logos {
    grid-area: logo;
  }

  &__main {
    grid-area: main;
  }

  &__aside__menu {
    grid-area: aside-menu;
  }

  &__aside__content {
    grid-area: aside-content;
  }

  &__drawer-content {
    grid-area: drawer;
  }
}

//  MIXINS copied from _gcd.scss

@mixin -gcd-frame-mobile-drawer-open {
  grid-template-areas:
    'aside-menu aside-menu aside-menu'
    'drawer drawer drawer'
    'aside-content aside-content aside-content';
}

@mixin -gcd-frame-desktop {
  grid-template-areas:
    'logo main aside-menu'
    'drawer drawer drawer'
    'aside-content aside-content aside-content';
}

@mixin -gcd-content-mobile($logo-selectors, $t) {
  @include font-sizes.init($t);
  @include spacing.init($t);

  // hide the title on gcd mobile version
  &__main {
    display: none;
  }

  // we amend the logo on gcd to remove the background and show the second logo
  &__logos {
    // remove red background
    background-color: transparent;
    background-image: none;
    text-decoration: none;

    // hide all the logos
    > div,
    a {
      display: none;
    }

    // mobile first so display gcd logo first
    #{map.get($logo-selectors, 'gcd-logo')} {
      display: block;

      @include logo-mixins.gcd-logo-show;

      text-decoration: none;
    }
  }
}

@mixin -gcd-content-desktop($logo-selectors, $cc, $t) {
  @include spacing.init($t);
  @include links.init($t);

  &__main {
    display: block;

    @include spacing.apply-space('space-3', 'px');

    padding-top: spacing.calc-size('space-5');
    align-self: baseline;

    $plain-link: (
      'default': (
        'color': 'primaryred.DEFAULT',
        'text-decoration': none,
        'background-color': 'transparent',
        'font-variant': 'semibold',
      ),
      'visited': (
        'color': 'primaryred.DEFAULT',
        'text-decoration': none,
        'background-color': 'transparent',
        'font-variant': 'semibold',
      ),
      'hover': (
        'color': 'primaryred.DEFAULT',
        'text-decoration': none,
        'background-color': 'transparent',
        'font-variant': 'semibold',
      ),
      'active': (
        'color': 'primaryred.DEFAULT',
        'text-decoration': none,
        'background-color': 'transparent',
        'font-variant': 'semibold',
      ),
      'focus': (
        'color': 'neutral.700',
        'text-decoration': underline,
        'text-decoration-thickness': 3px,
        'background-color': 'focus.DEFAULT',
        'font-variant': 'medium',
      ),
    );

    a,
    .rbg-heading {
      text-decoration: none;

      @include links.apply-state($plain-link, hover active visited focus, true);
    }
  }

  &__aside__menu {
    padding-top: spacing.calc-size('space-5');
    align-self: baseline;
    justify-self: end;
  }

  &__logos {
    // put red background back
    @include logo-mixins.gcd-logo-background($cc);

    #{map.get($logo-selectors, 'gcd-logo')} {
      display: none;
    }
    #{map.get($logo-selectors, 'logo')} {
      @include logo-mixins.logo-show;
    }
  }
}

// we're making an exception for this since its not worth creating an entire new
// component for some fiddly one off responsive styles when all of the funcitonality is working already
// since we have an 'unstyled' version of the component available to us we'll make use of that

$mobile-links: (
  'default': (
    'color': 'neutral.500',
    'text-decoration': none,
    'font-variant': 'regular',
  ),
  'visited': (
    'color': 'neutral.500',
    'text-decoration': underline,
    'font-variant': 'regular',
  ),
  'hover': (
    'color': 'neutral.500',
    'text-decoration': underline,
    'text-decoration-thickness': 1px,
    'font-variant': 'regular',
  ),
  'active': (
    'color': 'neutral.500',
    'text-decoration': underline,
    'text-decoration-thickness': 3px,
    'font-variant': 'regular',
  ),
  'focus': (
    'color': 'neutral.500',
    'text-decoration': underline,
    'text-decoration-thickness': 3px,
    'background-color': 'focus.DEFAULT',
    'font-variant': 'regular',
  ),
);
$desktop-links: (
  'default': (
    'color': 'neutral.500',
    'text-decoration': underline,
    'font-variant': 'regular',
  ),
  'visited': (
    'color': 'neutral.500',
    'text-decoration': underline,
    'text-decoration-thickness': 3px,
    'font-variant': 'regular',
  ),
  'hover': (
    'color': 'neutral.500',
    'text-decoration': underline,
    'text-decoration-thickness': 3px,
    'font-variant': 'regular',
  ),
  'active': (
    'color': 'neutral.500',
    'text-decoration': underline,
    'text-decoration-thickness': 3px,
    'font-variant': 'regular',
  ),
  'focus': (
    'color': 'neutral.500',
    'text-decoration': underline,
    'text-decoration-thickness': 3px,
    'background-color': 'focus.DEFAULT',
    'font-variant': 'regular',
  ),
);

@mixin -gcd-menu-horizontal-mobile($cc, $t) {
  @include links.init($t);
  @include font-sizes.init($t);
  @include spacing.init($t);

  .#{molecule-menu-horizontal-config.$component-selector} {
    @include font-sizes.apply-size('800', false);
  }

  .#{molecule-menu-horizontal-config.$component-selector}__title {
    @include spacing.apply-space('space-2', 'py');

    border-bottom: 1px solid utils.get('colors.neutral.300', $t);
  }

  .#{molecule-menu-horizontal-config.$component-selector}__items {
    a,
    span {
      @include links.apply-inline($mobile-links);
    }
  }
}

@mixin -gcd-menu-horizontal-desktop($cc, $t) {
  @include links.init($t);
  @include font-sizes.init($t);
  @include spacing.init($t);

  .#{molecule-menu-horizontal-config.$component-selector} {
    @include font-sizes.apply-size('DEFAULT', true);
  }

  .#{molecule-menu-horizontal-config.$component-selector}__title {
    @include spacing.apply-space('space-0', 'py');

    border-bottom: 0;
  }

  .#{molecule-menu-horizontal-config.$component-selector}__items {
    a,
    span {
      @include links.apply-inline($desktop-links);
    }
  }
}

@mixin -gcd-menu-horizontal-header-desktop($cc, $t) {
  .#{molecule-menu-horizontal-header-config.$component-selector}__item {
    padding-bottom: 0;
  }
}
