@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/grid' as grid;
@use 'sass:meta';
@use 'sass:map';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // .
    @include spacing.init($t);
    @include grid.init($t);
    @include breakpoints.init($t);

    // .
    $breakpoints: utils.get('breakpoints', $t);

    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__wrapper {
      @include grid.apply-layout-grid;

      position: relative;

      > div {
        max-width: 100%;
        box-sizing: border-box;
        grid-column: 1/-1;
        width: 100%;
      }
    }

    &__image {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      > *:not(.contextual),
      picture,
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    // -----------------------------
    // VARIANTS
    // -----------------------------

    @each $variant, $values in map.get($cc, 'variants') {
      &--#{$variant} {
        background-color: utils.get(utils.get('background-color', $values), $t);

        $main-spacing-x: utils.get('spacing-x', $values);
        $main-spacing-y: utils.get('spacing-y', $values);

        @each $breakpoint, $space-x in $main-spacing-x {
          @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
            @include spacing.apply-space($space-x, 'px');
          }
        }

        @each $breakpoint, $space-y in $main-spacing-y {
          @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
            @include spacing.apply-space($space-y, 'py');
          }
        }

        .#{$selector}__content {
          background-color: utils.get(utils.get('content.background-color', $values), $t);

          $content-spacing-x: utils.get('content.spacing-x', $values);
          $content-spacing-y: utils.get('content.spacing-y', $values);

          @each $breakpoint, $space-x in $content-spacing-x {
            @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
              @include spacing.apply-space($space-x, 'px');
            }
          }

          @each $breakpoint, $space-y in $content-spacing-y {
            @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
              @include spacing.apply-space($space-y, 'py');
            }
          }
        }
      }
    }

    // for themes etc
    @content;
  }
}
