@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: rbg-search-box-banner;

// defaults for the component go here - can be overwritten by themes
$component-config-default: (
  'variants': (
    'landing': (
      'background-color': 'colors.neutral.300',
      'spacing-x': (
        'phone': 'space-3',
        'tablet': 'space-3',
        'desktop': 'space-5',
        'desktop-wide': 'space-5',
      ),
      'spacing-y': (
        'phone': 'space-5',
        'tablet': 'space-5',
        'desktop': 'space-8',
        'desktop-wide': 'space-8',
      ),
      'content': (
        'background-color': 'colors.white',
        'spacing-x': (
          'phone': 'space-3',
          'tablet': 'space-3',
          'desktop': 'space-5',
          'desktop-wide': 'space-5',
        ),
        'spacing-y': (
          'phone': 'space-5',
          'tablet': 'space-5',
          'desktop': 'space-8',
          'desktop-wide': 'space-8',
        ),
      ),
    ),
    'listing': (
      'background-color': 'colors.white',
      'spacing-x': (
        'phone': 'space-0',
        'tablet': 'space-0',
        'desktop': 'space-0',
        'desktop-wide': 'space-0',
      ),
      'spacing-y': (
        'phone': 'space-0',
        'tablet': 'space-0',
        'desktop': 'space-0',
        'desktop-wide': 'space-0',
      ),
      'content': (
        'background-color': 'colors.white',
        'spacing-x': (
          'phone': 'space-3',
          'tablet': 'space-3',
          'desktop': 'space-0',
          'desktop-wide': 'space-0',
        ),
        'spacing-y': (
          'phone': 'space-5',
          'tablet': 'space-5',
          'desktop': 'space-8',
          'desktop-wide': 'space-8',
        ),
      ),
    ),
  ),
);
