@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/colors' as colors;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include colors.init($t);
    @include colors.apply('background-color');

    background-color: utils.get('colors.focus.600', $t);

    // Hide element
    width: 1px;
    height: 1px;
    position: absolute;
    left: -1px;
    overflow: hidden;
    padding: 0;

    a {
      @include body.init($t);
      @include body.apply;

      text-decoration: none;
      text-decoration-thickness: 4px;
      border-bottom: 3px solid black;

      // Hide element
      width: 1px;
      height: 1px;
      position: absolute;
      left: -1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
    }

    // for themes etc
    @content;
  }
  .#{$selector}:focus-within {
    // Show element
    width: 100%;
    height: auto;
    position: inherit;
    left: 0;
    overflow: auto;
    padding: 18px;

    a {
      // Show element
      width: 100%;
      height: auto;
      position: inherit;
      left: 0;
      overflow: auto;
      clip: auto;
      outline: none; // Override browser defaults
    }
  }
}
