{#
/**
 * @file
 * filter-gcd
 *
 * See filter-gcd.wingsuit.yaml for documentation.
 */
#}

{# Extends the 'default landing template'  - its virtually identical at this point #}
{% extends "@templates/filter/filter.twig" %}

{% set theme = 'gcd' %}

{# some content for the purposes of this template being rendered in storybook, this is going to be overwritten #}

{% block content %}
	{{ pattern('page_title', {title: 'Filter page'}) }}
	{{ pattern('rich_text', { text: '<p>This template is virtually the same as the default version, though typically filters are in accordions rather than blocks on their own</p>'}) }}
	{{ pattern('rich_text', { text: '<p>This second page block is here to show the spacing between items inside of the \'content\' area</p>'}) }}
	{{ pattern('rich_text', { text: '<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor.</p>'}) }}
{% endblock %}
