{#
/**
 * @file
 * events-page
 *
 * See events-page.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% extends "@templates/page/page.twig" %}

{% set breadcrumbs = [{text: 'Home', url: '/'}, {text: 'Woolwich Singers community choir'}] %}

{% block content %}


{{pattern('page_title', {title: 'Woolwich Singers community choir'})}}


 {{ pattern_preview('event_details') }} 
 {{ pattern('navigation', {title: 'Back to all events', url: '#', direction: 'previous' }) }} 

{% endblock %}
