{#
/**
 * @file
 * news-page
 *
 * See news-page.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}


{% extends "@templates/landing/landing.twig" %}


{% set breadcrumbs = [{text: 'Home', url: '/'}, {text: 'News'}] %}

{% block content %}


{{pattern('page_title', {title: 'Latest news'})}}

{{ pattern_preview('media_card_group', {}, 'preview_newspage') }}

{{pattern_preview('pagination', {}, 'first_page')}}

{% endblock %}