@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include spacing.init($t);
    @include spacing.apply-flow('space-11');

    padding-bottom: spacing.calc-size('space-8');

    // **** DESKTOP & UP ****

    @include breakpoints.screen-gt('desktop') {
      padding-bottom: spacing.calc-size('space-11');
    }

    &--divider {
      $component-divider-color: utils.get('divider.color', $cc);
      $divider-color: utils.get($component-divider-color, $t);

      border-bottom: 1px solid $divider-color;
    }

    // for themes etc
    @content;
  }
}
