@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/colors' as colors;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include spacing.init($t);
    @include colors.init($t);
    @include breakpoints.init($t);

    $background-color: utils.get('background.color', $cc);
    $border-color: utils.get('border.color', $cc);
    $border-size: utils.get('border.size', $cc);

    // set the background color from component config

    background-color: utils.get($background-color, $t);

    &__content {
      height: 100%;

      a {
        @include spacing.apply-space('space-3', 'pxy');
        @include spacing.apply-flow('space-3', 'y');

        display: block;
        height: 100%;
        line-height: 1.5em;
        background-color: utils.get($background-color, $t);
        min-height: 90px;

        @include breakpoints.screen-gt('phone') {
          min-height: 150px;
        }
      }
    }

    &__labels {
      @include spacing.apply-flow('space-3', 'x');
    }

    // Settings

    // border

    &--border {
      outline: 4px solid transparent;
      border: 4px solid transparent;
      border-bottom: $border-size solid utils.get($border-color, $t);

      &:hover {
        border-left: 4px solid utils.get('colors.skyblue.600', $t);
        border-right: 4px solid utils.get('colors.skyblue.600', $t);
        border-top: 4px solid utils.get('colors.skyblue.600', $t);
        background-color: utils.get('colors.skyblue.600', $t);
      }

      &:focus-within {
        outline: 3px solid black;
        border: 4px solid utils.get('colors.focus.DEFAULT', $t);
        background-color: utils.get('colors.focus.DEFAULT', $t);
      }
    }

    // for themes etc
    @content;
  }
}
