{#
/**
 * @file
 * information-page
 *
 * See information-page.wingsuit.yaml for documentation.
 */
#}


{% extends "@templates/page-gcd/page-gcd.twig" %}

{% set breadcrumbs = [{text: 'Home', url: '/'}, {text: 'Request an account'}] %}

{% block content %}
{{pattern('page_title', {title: 'Request an account'})}}

{{ pattern('rich_text', {
        text: '
          <p>To add your listings to the directory, you will need an account.<p>
          <p>To request an account please email <a href="#">community-directory@royalgreenwich.gov.uk</a></p>
          <p>We review requests to ensure the organisations we list meet our criteria and provide genuine support to residents in the Royal Borough of Greenwich.</p>
          <p><a href="#">Sign in</a>, if you already have an account.</p>
          <h2>What we\'ll publish</h2>
          <p>To be published, service listings must:<p>
          <ol>
            <li>Meet a specific health and social care need our residents have</li>
            <li>Be provided within or offered to residents in the borough</li>
            <li>Prioritise local and lesser known organisations, charities and health partners</li>
            <li>Focus on the service offered to the resident, not the organisation offering it</li>
          </ol>
          <p><a href="#">View our service listing criteria</a></p>
      ' }) }}
{% endblock %}
