{% if attributes.hasAttribute('type') is empty %}
	{% set attributes = attributes.setAttribute('type', 'button') %}
{% endif %}

{% if attributes.hasAttribute('value') is empty %}
	{% set attributes = attributes.setAttribute('value', text|default('Search')) %}
{% endif %}


{% if icon_type is not empty %}
	<span {{ create_attribute().addClass(classes | sort | join(' ') | trim) }}>
		<{{tag}} {{ attributes.addClass(selector ~ '__input') }}/>
	</span>
{% else %}
	<{{tag}} {{ attributes.addClass(classes | sort | join(' ') | trim) }}/>
{% endif %}
