{#
/**
 * @file
 * button
 *
 * See button.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set variant = variant|default('filled') %}
{% set attributes = attributes|default(create_attribute()) %}

{# Fields #}

{% set text = text|default('') %}

{# Settings #}

{% set button_disabled = button_disabled|default(false) %}
{% set full_width = full_width|default('') %}
{% set button_tag = button_tag|default('div') %}


{# # icons #}
{% set icon_type = icon_type|default(null) %}
{% set icon_position = icon_position|default('before') %}


{#
  Classes
#}
{% set selector = 'rbg-button' %}


{% set classes = [
  selector,
  selector ~ '--' ~ variant,
  full_width ? selector ~ '--full',
  button_disabled ? selector ~ '--button-disabled',
  icon_type ? selector ~ '--icon',
  icon_type ? selector ~ '--icon--' ~ icon_position ~ '--' ~ icon_type,
] %}


{% set tag = url is not empty ? 'a' : button_tag %}
{% if button_disabled %}
  {% set tag = 'div' %}
{% endif %}

{% if url is not empty %}
 {% set attributes = attributes.setAttribute('href', url) %}
{% endif %}

 
{#
  Template
#}

{% if button_tag == 'input' %} 
   {% include "@atoms/button/_button--input.html.twig" %}
{% else %}
  <{{tag}} {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
    <span>{{ text }}</span>
  </{{tag}}>
{% endif %}
