@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include fonts.init($t);
    @include font-sizes.init($t);
    @include reset.apply;

    &__title {
      @include fonts.apply-font('DEFAULT', 'semibold');
      @include font-sizes.apply-size('DEFAULT', true);
    }

    // in the case of a list inside nav page if theres no link then its the 'active' page
    li {
      @include fonts.apply-font('DEFAULT', 'semibold');
    }

    // for themes etc
    @content;
  }
}
