@use 'sass:map';
@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/colors' as colors;
@use 'rbgstyles/tokens/accessibility' as accessibility;

@mixin styles($selector, $cc, $t) {
  // can also group together with local mixins if needed too depends on the complexity of the component
  // $background-color: utils.get('background.color', $cc);
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include fonts.init($t);
    @include body.init($t);
    @include links.init($t);
    @include headings.init($t);
    @include body.apply;
    @include spacing.init($t);
    @include accessibility.init($t);

    display: flex;
    flex-direction: column;

    @include spacing.apply-flow('space-2');
    @include spacing.apply-space('space-3');

    .sr-only {
      @include accessibility.apply-visually-hidden;
    }

    &__header {
      // @include fonts.apply-font('DEFAULT', 'semibold');
      @include headings.apply-heading('h4');
    }

    @each $variant, $values in map.get($cc, 'variants') {
      $background-color-token: map.get($values, 'background-color');
      $text-color-token: map.get($values, 'color');
      &--#{$variant} {
        background-color: utils.get('colors.#{$background-color-token}', $t);
        color: utils.get('colors.#{$text-color-token}', $t);

        @include links.apply(utils.get('links', $values));
      }
    }

    // for themes etc
    @content;
  }
}
