@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: rbg-alert;
$default-links: (
  'default': (
    'color': 'white',
    'text-decoration': underline,
    'background-color': transparent,
  ),
  'visited': (
    'color': 'white',
    'text-decoration': underline,
    'background-color': transparent,
  ),
  'hover': (
    'color': 'white',
    'text-decoration': underline,
    'background-color': transparent,
  ),
  'active': (
    'color': 'white',
    'text-decoration': underline,
    'background-color': transparent,
  ),
  'focus': (
    'color': 'neutral.700',
    'text-decoration': underline,
    'background-color': 'focus.DEFAULT',
  ),
);

// @TODO this isn't working for some reason
$success-links: map.deep-merge(
  $default-links,
  (
    'active': (
      'background-color': 'success.700',
    ),
  )
);
$error-links: map.deep-merge(
  $default-links,
  (
    'active': (
      'background-color': 'error.700',
    ),
  )
);
$warning-links: map.deep-merge(
  $default-links,
  (
    'default': (
      'color': 'neutral.700',
    ),
    'visited': (
      'color': 'neutral.700',
    ),
    'hover': (
      'color': 'neutral.700',
    ),
    'active': (
      'color': 'neutral.100',
      'background-color': 'focus.700',
    ),
    'focus': (
      'color': 'focus.DEFAULT',
      'background-color': 'neutral.700',
    ),
  )
);

// defaults for the component go here - can be overwritten by themes

$component-config-default: (
  'variants': (
    'status': (
      'background-color': 'success.DEFAULT',
      'color': 'white',
      'links': $success-links,
    ),
    'error': (
      'background-color': 'error.DEFAULT',
      'color': 'white',
      'links': $error-links,
    ),
    'warning': (
      'background-color': 'focus.DEFAULT',
      'color': 'neutral.700',
      'links': $warning-links,
    ),
  ),
);
