@use 'sass:meta';
@use 'sass:map';
@use '../../../tools/utilities' as utils;
@use '../../grid' as grid;
@use '../../spacing' as spacing;
@use '../layout' as layout;

@mixin apply($theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Layout called without theme options, using all defaults from config';

    $layout: layout.$layout;
    $grid: grid.$grid;
    $spacing: spacing.$spacing;
  }

  @include spacing.init($theme);

  $max-area-width: utils.get('layout.max-area-width', $theme);
  $desktop-content-size: $max-area-width;
  $desktop-content-sides: 1fr;
  $mobile-content-size: auto;
  $mobile-content-sides: spacing.calc-size(utils.get('layout.spacing-x.phone', $theme));

  display: grid;
  grid-template-columns:
    [full-start] minmax($mobile-content-sides, $desktop-content-sides) [content-start] minmax(
      $mobile-content-size,
      $max-area-width
    )
    [content-end] minmax($mobile-content-sides, $desktop-content-sides)
    [full-end];
  grid-template-rows: auto;
  grid-auto-flow: row;

  // specific area assignations
  /* stylelint-disable-next-line selector-class-pattern */
  .a--content {
    grid-column: content;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .a--full {
    grid-column: full;
  }

  // content area by default tho
  > * {
    grid-column: content;
  }

  // stop things from overflowing the grid
  > img,
  > iframe,
  > picture,
  > video,
  > canvas,
  > svg {
    display: block;
    max-width: 100%;
  }
}
