@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use 'sass:selector';
@use '../../../tools/utilities' as utils;
@use '../../breakpoints' as breakpoints;
@use '../../spacing' as spacing;
@use '../../grid' as grid;
@use '../layout' as layout;

@mixin apply($theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Layout called without theme options, using all defaults from config';

    $layout: layout.$layout;
    $grid: grid.$grid;
    $breakpoints: breakpoints.$breakpoints;
    $spacing: spacing.$spacing;
  }

  @include -main-sidebar-grid($theme);

  // stop things from overflowing the grid
  > img,
  > picture,
  > video,
  > canvas,
  > svg {
    display: block;
    max-width: 100%;
  }

  // extra stuff for the main content
  .rbg-main-content {
    $max-content-width: utils.get('layout.max-content-width', $theme);
    /* stylelint-disable-next-line scss/dollar-variable-pattern */
    $content--text-col: utils.make-unitless($max-content-width);

    display: grid;
    grid-template-columns:
      [content-start content--text start] repeat($content--text-col, [col-start] minmax(auto, 1ch))
      [content--text-end] 1fr [content-end];

    // specific area assignations
    /* stylelint-disable-next-line selector-class-pattern */
    .a--content {
      grid-column: content;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .a--content--text {
      grid-column: content--text;
    }

    // content area by default tho
    > * {
      grid-column: content;
    }

    // stop things from overflowing the grid
    > img,
    > iframe,
    > picture,
    > video,
    > canvas,
    > svg {
      display: block;
      max-width: 100%;
    }
  }
}

// create the main & sidebar cols
@mixin -main-sidebar-grid($theme) {
  @include grid.init($theme);
  @include breakpoints.init($theme);
  @include spacing.init($theme);

  $mobile-content-size: auto;
  $mobile-content-sides: spacing.calc-size(utils.get('layout.spacing-x.phone', $theme));

  display: grid;
  grid-template-columns:
    $mobile-content-sides [main-start sidebar-start]
    $mobile-content-size [main-end sidebar-end] $mobile-content-sides;

  .rbg-main-content {
    grid-column: main;
  }

  .rbg-sidebar-content {
    grid-column: sidebar;
  }

  // reverse it
  &.reversed,
  .reversed & {
    .rbg-main-content {
      order: 1;
    }

    .rbg-sidebar-content {
      order: 0;
    }
  }

  @include breakpoints.screen-gt('desktop') {
    // use the layout grid to create the two cols
    @include grid.apply-layout-grid;

    grid-template-areas: 'main main main main sidebar sidebar';

    // reverse it
    &.reversed,
    .reversed & {
      grid-template-areas: 'sidebar sidebar main main main main';
    }
  }
}
