@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use '../../../tools/utilities' as utils;
@use '../../breakpoints' as breakpoints;
@use '../../grid' as grid;
@use '../../spacing' as spacing;
@use '../layout' as layout;

@mixin apply($theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Layout called without theme options, using all defaults from config';

    $layout: layout.$layout;
    $grid: grid.$grid;
    $spacing: spacing.$spacing;
    $breakpoints: breakpoints.$breakpoints;
  }

  @include spacing.init($theme);
  @include breakpoints.init($theme);

  $grid: utils.get('grid.layout', $theme);
  $breakpoints: map.get($theme, breakpoints);

  @each $breakpoint, $styles in $grid {
    @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
      column-gap: utils.get('col-gutter', $styles);
    }
  }

  $max-area-width: utils.get('layout.max-area-width', $theme);
  $max-content-width: utils.get('layout.max-content-width', $theme);
  $default-col-gap: utils.get('layout.default-col-gap', $theme);

  // mobile
  $desktop-content-size: $max-area-width;
  $desktop-content-sides: 1fr;
  $mobile-content-size: auto;
  $mobile-content-sides: spacing.calc-size(utils.get('layout.spacing-x.phone', $theme));

  display: grid;
  grid-template-columns:
    [full-start] minmax($mobile-content-sides, $desktop-content-sides)
    [content-start content--text-start popout-start] minmax($mobile-content-size, $max-area-width)
    [content-end content--text-end popout-end] minmax($mobile-content-sides, $desktop-content-sides)
    [full-end];
  grid-template-rows: auto;
  grid-auto-flow: row;
  column-gap: 0;

  // specific area assignations
  /* stylelint-disable-next-line selector-class-pattern */
  .a--content {
    grid-column: content;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .a--content--text {
    grid-column: content--text;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .a--popout {
    grid-column: popout;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .a--full {
    grid-column: full;
  }

  // content area by default tho
  > * {
    grid-column: content;
  }

  // stop things from overflowing the grid
  > img,
  > iframe,
  > picture,
  > video,
  > canvas,
  > svg {
    display: block;
    max-width: 100%;
  }

  $col-gap: $default-col-gap;
  $col-size: math.div($max-area-width - ($col-gap * 5), 6);

  @include breakpoints.screen-gt('tablet') {
    grid-template-columns:
      [full-start]
      1fr
      [cols-start content-start content--text-start popout-start]
      repeat(4, [col-start] $col-size)
      [content--text-end content-end]
      repeat(1, [col-start] $col-size)
      [popout-end]
      repeat(1, [col-start] $col-size)
      [cols-end]
      1fr
      [full-end];

    /* stylelint-disable-next-line selector-class-pattern */
    .a--content--text {
      width: $max-content-width;
    }
  }
}
