@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/layout' as layout;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include layout.init($t);
    @include spacing.init($t);
    @include breakpoints.init($t);
    @include reset.apply;

    &--1-col {
      @include layout.apply-one-col;
    }

    &--2-col {
      @include layout.apply-two-col;
    }

    &--full-col {
      @include layout.apply-full-col;
    }

    /*
     NB we define spacing between elements in here as opposed to inside of the mixins here as 
     opposed to inside the mixins so that 
     - we can more easily view the settings and also overwrite them on a per theme basis.
     - the layout module is responsible for the layout, not the spacing really
     - also, its one less file to open 
     */
    $breakpoints: utils.get('breakpoints', $t);
    $layout-spacing: utils.get('layout.content.spacing-y', $t);

    &--1-col,
    &--2-col .rbg-main-content,
    &--2-col .rbg-sidebar-content,
    &--full-col {
      @each $breakpoint, $space in $layout-spacing {
        @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
          @include spacing.apply-flow($space, 'y');
        }
      }
    }

    // apply spacing to sidebar and main content areas, only applies on mobile
    /* stylelint-disable-next-line no-duplicate-selectors */
    &--2-col {
      @include spacing.apply-flow(utils.get('phone', $layout-spacing), 'y');

      @include breakpoints.screen-gt('desktop', $breakpoints) {
        @include spacing.apply-flow('space-0', 'y');
      }
    }

    // for themes etc
    @content;
  }
}
