{#
/**
 * @file
 * cqc-widget
 *
 * See cqc-widget.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-cqc-widget' %}

{#
  Classes
#}

{% set classes = [
  selector
] %}


{#
  Template
#}
{% if cqc_id and cqc_type %}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  <script type="text/javascript" src="//www.cqc.org.uk/sites/all/modules/custom/cqc_widget/widget.js?data-id={{ cqc_id }}&data-host=www.cqc.org.uk&type={{ cqc_type }}"></script>
</div>
{% endif %}
