@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/accessibility' as accessibility;
@use 'rbgstyles/tokens/icons' as icons;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/links' as links;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include headings.init($t);
    @include spacing.init($t);
    @include fonts.init($t);
    @include accessibility.init($t);
    @include icons.init($t);
    @include breakpoints.init($t);
    @include links.init($t);
    @include font-sizes.init($t);

    $breakpoints: utils.get('breakpoints', $t);
    $layout-spacing: utils.get('spacing', $cc);

    &__control {
      @include fonts.apply-font('DEFAULT'); // because its a button
      @include font-sizes.apply-size('DEFAULT', true);

      // deals with background colors and focus for the control
      @include links.apply-inline(utils.get('control', $cc));

      border: 1px solid transparent;
      border-bottom: 1px solid utils.get(utils.get('divider.color', $cc), $t);
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: spacing.calc-size('space-3');
      background: none;
      cursor: pointer;

      // this is because apple uses color: -apple-system-blue; if we don't explictly set a color on buttons
      color: inherit;

      // Chrome adds padding-inline to buttons so needs a reset.
      padding-inline: 0;

      &:hover {
        .#{$selector}__title {
          @include links.apply-state(utils.get('title', $cc), hover, false);
        }
      }

      &:active {
        .#{$selector}__title {
          @include links.apply-state(utils.get('title', $cc), active, false);
        }
      }

      &:focus {
        outline: none;
      }

      &::after {
        margin-left: auto;
      }

      @include breakpoints.screen-gt('tablet') {
        cursor: inherit;

        &:focus,
        &:hover,
        &:active,
        &:visited {
          background-color: transparent;

          .#{$selector}__title {
            color: utils.get('colors.neutral.700', $t);
            text-decoration: none;
            background-color: transparent;
          }
        }

        .closed & {
          /* stylelint-disable-next-line max-nesting-depth */
          &::after {
            display: none;
          }
        }

        .open & {
          /* stylelint-disable-next-line max-nesting-depth */
          &::after {
            display: none;
          }
        }
      }

      .#{$selector}.closed & {
        @include icons.apply-icon('rbg-chevron-down', 'after');
      }

      .#{$selector}.open & {
        @include icons.apply-icon('rbg-chevron-up', 'after');
      }
    }

    &__title {
      @include headings.apply-heading('h4');
    }

    &__sub-title {
      @include fonts.apply-font('DEFAULT', 'regular'); // because its a button
    }

    // because we're using apply-heading
    @include headings.apply-heading-selector('#{$selector}__title', false) {
      @include spacing.apply-space('space-3', 'py');
    }

    // settings

    &--spacing {
      .#{$selector}__content {
        margin-top: spacing.calc-size(utils.get('phone', $layout-spacing));

        @include breakpoints.screen-gt('desktop') {
          margin-top: spacing.calc-size(utils.get('desktop', $layout-spacing));
        }

        @each $breakpoint, $space in $layout-spacing {
          @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
            @include spacing.apply-flow($space, 'y');
          }
        }
      }
    }

    // for themes etc
    @content;
  }
}
