@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: rbg-filter-accordion;

// defaults for the component go here - can be overwritten by themes
$component-config-default: (
  'control': (
    'default': (
      'background-color': 'transparent',
    ),
    'visited': (
      'background-color': 'transparent',
    ),
    'hover': (
      'background-color': 'skyblue.DEFAULT',
    ),
    'active': (
      'background-color': 'skyblue.DEFAULT',
    ),
    'focus': (
      'background-color': 'focus.DEFAULT',
    ),
  ),
  'title': (
    'default': (
      'color': 'neutral.700',
      'text-decoration': none,
      'background-color': 'transparent',
      'font-variant': 'semibold',
    ),
    'visited': (
      'color': 'royalblue.DEFAULT',
      'text-decoration': underline,
      'background-color': 'transparent',
      'font-variant': 'semibold',
    ),
    'hover': (
      'color': 'royalblue.DEFAULT',
      'text-decoration': underline,
      'background-color': 'transparent',
      'font-variant': 'semibold',
    ),
    'active': (
      'color': 'midnightblue.DEFAULT',
      'text-decoration': underline,
      'background-color': 'transparent',
      'font-variant': 'semibold',
    ),
    'focus': (
      'color': 'neutral.500',
      'text-decoration': underline,
      'background-color': 'transparent',
      'font-variant': 'semibold',
    ),
  ),
  'divider': (
    'color': 'colors.neutral.400',
  ),
  'spacing': (
    'phone': 'space-4',
    'tablet': 'space-4',
    'desktop': 'space-5',
    'desktop-wide': 'space-5',
  ),
);
