{#
/**
 * @file
 * service-listing-page
 *
 * See service-listing-page.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set content_attributes = content_attributes|default(create_attribute()) %}
{% set book_online = book_online|default(false) %}
{% set call_to_arrange = call_to_arrange|default(false) %}
{% set referral_needed = referral_needed|default(false) %}
{% set no_booking_required = no_booking_required|default(false) %}

{#
  Classes
#}
{% set selector = 'rbg-service-details' %}
{% set classes = [
  selector
] %}

{#
  Template
#}


{# {{ dump(content) }} #}

<article{{ attributes.addClass(classes | sort | join(' ') | trim) }}>

  <div class="{{selector}}__introduction">

    {# ----- description ----- #}
    {# wrapped because not all descriptions are html formatted #}
    <div class="{{selector}}__description">
    {{description}}
    </div>

    {# ----- organisation ----- #}
    {{organisation}}

    {# ----- url ----- #}
    {{url}}

  </div>

  <div class="{{selector}}__details">

  {# ----- date and time ----- #}

  {% if status == 'closed' %}

    <div class="{{selector}}__item">
      <h2 class="{{selector}}__item-heading closed">Currently closed</h2>
      <p class="{{selector}}__text">This service is temporarily closed</p>
    </div>


  {% else %}

    {% if regular_schedules|render %}
      <div class="{{selector}}__item">
        <h2 class="{{selector}}__item-heading">Date and time</h2>
        {{ regular_schedules }}
      </div>
    {% endif %}

  {% endif %}

  {# ----- suitabilities ----- #}

  <div class="{{selector}}__item">
    <h2 class="{{selector}}__item-heading">Suitable for</h2>
    {% if suitabilities|render %}
      {{ suitabilities }}
    {% else %}
    {# If suitabilities field is empty, we still render the sutiable ages. #}
      {{pattern('list', {items: [ages] }, 'unordered')}}
    {% endif %}
  </div>

  {# ----- cost ----- #}

  {% if free|render or cost_options|render %}
  <div class="{{selector}}__item">
    <h2 class="{{selector}}__item-heading">Cost</h2>

      {% if free|render %}
        <p class="{{selector}}__text">Free</p>
      {% elseif cost_options|render %}
        {{ cost_options }}
      {% endif %}

  </div>
  {% endif %}

  {# ----- how to book ----- #}

  {% set referral %}

  {% endset %}

    {% set referral %}
    {% if referral_needed %}
      <strong>Referral needed</strong>
    {% endif %}
    {% if referral_details is not empty %}
      <br />{{referral_details}}
    {% endif %}
  {% endset %}

  {% set how_to_book = [
    book_online ? 'Book online',
    call_to_arrange ? 'Call or email to arrange',
    referral_needed ? referral,
    no_booking_required ? 'No booking required' : '',
  ]|filter(v => v is not empty) %}

  {% if how_to_book is not empty %}
  <div class="{{selector}}__item">
    <h2 class="{{selector}}__item-heading">How to book</h2>
      {{pattern('list', {items: how_to_book }, 'unordered')}}
  </div>
  {% endif %}

  {# ----- contact details ----- #}
  {% if contacts is not empty %}
  <div class="{{selector}}__item">
    <h2 class="{{selector}}__item-heading">Contact details</h2>
    {{pattern('contact_group', {items: contacts})}}
  </div>
  {% endif %}

  {# ----- locations ----- #}
  {% if locations|render %}
  <div class="{{selector}}__item">
    <h2 class="{{selector}}__item-heading">Location</h2>
    {{locations}}
  </div>
  {% endif %}

  {# ----- links ----- #}
  {% if links|render %}
  <div class="{{selector}}__item">
    <h2 class="{{selector}}__item-heading">Links</h2>
    {{links}}
  </div>
  {% endif %}

  {# ----- CQC Widget ----- #}
  {% if cqc_id != "" and cqc_type != "" %}
  <div class="{{selector}}__item">
    <h2 class="{{selector}}__item-heading">CQC rating</h2>
    {{ pattern('cqc_widget',{'cqc_id':cqc_id, 'cqc_type':cqc_type}) }}
  </div>
  {% endif %}

  </div>

</article>
