@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/accessibility' as accessibility;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/colors' as colors;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/icons' as icons;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    div:not(.contextual) {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--aspect-9-5 {
      aspect-ratio: 9 / 5;
    }

    &--aspect-4-3 {
      aspect-ratio: 4 / 3;
    }

    &--aspect-3-4 {
      aspect-ratio: 3 / 4;
    }

    img {
      transition: all 500ms;
      object-position: center center;
      object-fit: cover;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    // for themes etc
    @content;
  }
}
