@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/grid' as grid;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/colors' as colors;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/headings' as headings;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  // can also group together with local mixins if needed too depends on the complexity of the component

  .#{$selector} {
    @include reset.init($t);
    @include grid.init($t);
    @include spacing.init($t);
    @include colors.init($t);
    @include fonts.init($t);
    @include font-sizes.init($t);
    @include breakpoints.init($t);
    @include body.init($t);
    @include reset.apply;

    // -
    @include spacing.apply-space('space-3', 'py');
    @include spacing.apply-space('space-5', 'px');

    background-color: utils.get('background-color', $cc);

    .#{$selector}__wrapper {
      @include grid.apply-layout-grid;
      @include spacing.apply-space('space-5', 'py');

      border-bottom: utils.get('divider.width', $cc) solid utils.get(utils.get('divider.color', $cc), $t);

      > * {
        grid-column: 1/4;
      }

      // With the Drupal provided form we don't control the class name.
      form {
        @include spacing.apply-flow('space-3', 'y');
      }
    }

    &__form {
      @include spacing.apply-flow('space-3', 'y');
    }

    &__title {
      @include headings.apply-heading('h4');
    }

    &__description {
      @include body.apply;
    }

    // for themes etc
    @content;
  }
}
