@use 'rbgstyles/tools/utilities' as utils;
@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: rbg-page-feedback;

// defaults for the component go here - can be overwritten by themes
$component-config-default: (
  'background-color': utils.get('colors.neutral.300', $theme),
  'divider': (
    'width': 1px,
    'color': 'colors.neutral.400',
  ),
);
