@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // .
    @include spacing.init($t);

    // .
    @include spacing.apply-flow('space-5', 'y');

    &__title {
      margin-bottom: spacing.calc-size('space-5');
    }

    &__items {
      > * {
        @include spacing.apply-space('space-5', 'py');

        &:first-child {
          padding-top: 0;
        }
      }
    }

    &--border {
      .#{$selector}__items {
        > * {
          border-bottom: 1px solid utils.get('colors.neutral.300', $t);
        }
      }
    }

    // for themes etc
    @content;
  }
}
