{% set sizes = [
    '2',
    '4',
    '8',
    '12',
    '16'
] %}

<div class="rbg-tokens-sizes">

	<div class="rbg-tokens-sizes__container">
		{% for size in sizes %}
			<div
				class="rbg-tokens-spacing__block size--width--{{size}} size--height--8">{# size--width--{{size}} #}
			</div>
		{% endfor %}
	</div>
	<br/>

	<div class="rbg-tokens-sizes__container">
		{% for size in sizes %}
			<div
				class="rbg-tokens-spacing__block size--width--8 size--height--{{size}}">{# size--height--{{size}} #}
			</div>
		{% endfor %}
	</div>


</div>
