@use 'rbgstyles/themes/greenwich-community-directory' as gcd-theme-config;
@use 'rbgstyles/themes/royal-borough-greenwich-website' as website-theme-config;
@use 'rbgstyles/tokens/sizes' as sizes;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tools/utilities' as utils;

$selector: rbg-tokens-sizes;

.#{$selector} {
  [data-theme='website'] & {
    @include body.init(website-theme-config.$theme);
    @include spacing.init(website-theme-config.$theme);
    @include sizes.init(website-theme-config.$theme);
    @include body.apply;
    @include sizes.apply(width, false);
    @include sizes.apply(height, false);

    &__container {
      border: 1px solid utils.get('colors.neutral.300', website-theme-config.$theme);
    }

    &__block {
      // display: inline-block;
      // text-align: center;
      background-color: utils.get('colors.neutral.300', website-theme-config.$theme);
      border: 1px solid utils.get('colors.neutral.400', website-theme-config.$theme);
    }

    // use this to make items flow neatly
    // .#{$selector}--custom-flow {
    //   @include spacing.apply-flow('space-5', 'x');
    // }

    // // apply padding
    // .#{$selector}__custom-padding {
    //   @include spacing.apply-space('space-11', 'pxy');
    // }

    // .#{$selector}__custom-margin {
    //   @include spacing.apply-space('space-11', 'mxy');
    // }
  }

  [data-theme='gcd'] & {
    @include body.init(gcd-theme-config.$theme);
    @include spacing.init(gcd-theme-config.$theme);
    @include sizes.init(gcd-theme-config.$theme);
    @include body.apply;
    @include sizes.apply(width, false);
    @include sizes.apply(height, false);

    &__container {
      @include spacing.apply-space('space-3', 'my');

      border: 1px solid utils.get('colors.neutral.300', gcd-theme-config.$theme);
    }

    &__block {
      background-color: utils.get('colors.neutral.300', gcd-theme-config.$theme);
      border: 1px solid utils.get('colors.neutral.400', gcd-theme-config.$theme);
    }

    // use this to make items flow neatly
    // .#{$selector}--custom-flow {
    //   @include spacing.apply-flow('space-5', 'x');
    // }

    // // apply padding
    // .#{$selector}__custom-padding {
    //   @include spacing.apply-space('space-11', 'pxy');
    // }

    // .#{$selector}__custom-margin {
    //   @include spacing.apply-space('space-11', 'mxy');
    // }
  }

  &--vertical {
    display: flex;
    flex-direction: column;
  }
}
