@use 'sass:map';
@use 'sass:list';
@use 'sass:selector';
@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/colors' as colors;
@use 'rbgstyles/tokens/links' as links;

@mixin styles($selector, $cc, $t) {
  // can also group together with local mixins if needed too depends on the complexity of the component
  // $background-color: utils.get('background.color', $cc);
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include body.init($t);
    @include headings.init($t);
    @include colors.init($t);
    @include links.init($t);
    @include body.apply;
    @include headings.apply(true);
    @include colors.apply('color', true);

    &--link {
      @include links.apply-inline(utils.get('link', $cc));
    }

    // if is-external set
    @include -external-link($selector, $cc, $t);

    // for themes etc
    @content;
  }
}

@mixin -external-link($selector, $cc, $t) {
  // need to re-init inside a mixin
  @include headings.init($t);

  $headings: headings.get-heading-classes-list();

  @each $headingselector, $styles in $headings {
    // scale the icon depending on the selected header to be fancy
    @include headings.apply-heading-selector($headingselector, true) {
      &.#{$selector}--external {
        $size: map.get($styles, 'font-size');

        &::after {
          width: $size * 1.8;
          height: $size * 1.8;
        }
      }
    }
  }

  &--external {
    &.#{$selector} {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: spacing.calc-size('space-3');
    }

    $size: 24px;

    width: 100%;

    &::after {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url('~atoms/heading/images/external-link.svg');
      border: solid 1px transparent;
      content: '';
      display: block;
      width: $size * 1.8;
      height: $size * 1.8;
    }
  }
}
