{#
/**
 * @file
 * contact-group
 *
 * See contact-group.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-contact-group' %}

{#
  Classes
#}

{% set classes = [
  selector
] %}



{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  {{items}}
</div>
