{#
/**
 * @file
 * link
 *
 * See link.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set color = color|default('primaryred') %}


{#
  Classes
#}
{% set selector = 'rbg-logo' %}
{% set classes = [
  selector,
  'rbg-logo--' ~ variant
] %}

{% set element = url ? 'a' : 'div' %}
{% if url %}
  {% set attributes = attributes.setAttribute('href', url) %}
{% endif %}

{#
  Template
#}

<{{element}} {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  <span>{{ title ? title : 'Royal Borough of Greenwich' }}</span>
</{{element}}>
