@use 'rbgstyles/tokens/accessibility' as accessibility;
@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/grid' as grid;
@use 'rbgstyles/tokens/colors' as colors;

@mixin styles($selector, $cc, $t) {
  // can also group together with local mixins if needed too depends on the complexity of the component
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include accessibility.init($t);
    @include colors.init($t);

    $width: 110px;
    $height: 54px;

    width: 100%;

    > * {
      @include accessibility.apply-visually-hidden;
    }

    &::before {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: solid 1px transparent;
      content: '';
      display: block;
      width: 100%;
      padding-top: calc(($height / $width) * 100%);
    }

    &:focus {
      &::before {
        @include accessibility.apply-link-focus-styles;

        background-image: url('~atoms/logo/images/rbg-logo--black.svg');
      }
    }

    &:focus-visible {
      outline: none;
    }

    @each $variant in utils.get('variants', $cc) {
      &--#{$variant} {
        &::before {
          background-image: url('~atoms/logo/images/rbg-logo--#{$variant}.svg');
        }
      }
    }

    // for themes etc
    @content;
  }
}
