@use 'sass:map';

// https://yoksel.github.io/url-encoder/
// https://icomoon.io/app/#/projects

$rbg-big-bullet: "\e900";
$rbg-bullet: "\e901";
$rbg-calendar: "\e902";
$rbg-check: "\e903";
$rbg-chevron-down: "\e904";
$rbg-chevron-left: "\e905";
$rbg-chevron-right: "\e906";
$rbg-chevron-thick-down: "\e907";
$rbg-chevron-thick-left: "\e908";
$rbg-chevron-thick-right: "\e909";
$rbg-chevron-thick-up: "\e90a";
$rbg-chevron-up: "\e90b";
$rbg-cross: "\e90c";
$rbg-quote: "\e90d";
$rbg-search: "\e90e";
$icons: (
  'rbg-big-bullet': (
    'value': $rbg-big-bullet,
  ),
  'rbg-bullet': (
    'value': $rbg-bullet,
  ),
  'rbg-calendar': (
    'value': $rbg-calendar,
  ),
  'rbg-check': (
    'value': $rbg-check,
  ),
  'rbg-chevron-down': (
    'value': $rbg-chevron-down,
  ),
  'rbg-chevron-left': (
    'value': $rbg-chevron-left,
  ),
  'rbg-chevron-right': (
    'value': $rbg-chevron-right,
  ),
  'rbg-chevron-thick-down': (
    'value': $rbg-chevron-thick-down,
  ),
  'rbg-chevron-thick-left': (
    'value': $rbg-chevron-thick-left,
  ),
  'rbg-chevron-thick-right': (
    'value': $rbg-chevron-thick-right,
  ),
  'rbg-chevron-thick-up': (
    'value': $rbg-chevron-thick-up,
  ),
  'rbg-chevron-up': (
    'value': $rbg-chevron-up,
  ),
  'rbg-cross': (
    'value': $rbg-cross,
  ),
  'rbg-quote': (
    'value': $rbg-quote,
  ),
  'rbg-search': (
    'value': $rbg-search,
  ),
);
