// -----------------------------
// Tokens: Spacing
// This contains the mixins for spacing
// -----------------------------

// helpers
@use 'sass:map';
@use '../../tools/utilities' as utils;

// module related
@use '../breakpoints' as breakpoints;
@forward 'icons';
@forward 'mixins/icon' as mixin-icon-*;
@forward 'mixins/icons' as mixin-icons-*;
@use 'icons';
@use 'mixins/icon' as icon-mixins;
@use 'mixins/icons' as icons-mixins;

// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: (
  'icons': icons.$icons,
) !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

@mixin apply-import($theme: $-tool-config) {
  $font-family: 'rbg-icons' !default; // @TODO this comes from theme
  $font-path: '~rbgstyles/fonts' !default;

  @at-root {
    @font-face {
      font-family: '#{$font-family}';
      src: url('#{$font-path}/#{$font-family}.eot?5w1in3');
      src: url('#{$font-path}/#{$font-family}.eot?5w1in3#iefix') format('embedded-opentype'),
        url('#{$font-path}/#{$font-family}.ttf?5w1in3') format('truetype'),
        url('#{$font-path}/#{$font-family}.woff?5w1in3') format('woff'),
        url('#{$font-path}/#{$font-family}.svg?5w1in3##{$font-family}') format('svg');
      font-weight: normal;
      font-style: normal;
      font-display: block;
    }
  }
}

@mixin apply($nested: false, $theme: $-tool-config) {
  @include icons-mixins.apply($nested, $theme: $-tool-config);
}

@mixin apply-icon(
  $token,
  $position: before,
  $properties: icon-mixins.$default-properties,
  $theme: $-tool-config
) {
  @include icon-mixins.apply($token, $position, $properties, $theme: $-tool-config);
}
