{#
/**
 * @file
 * hero
 *
 * See hero.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set content_attributes = content_attributes|default(create_attribute()) %}
{% set content_location = content_location|default('center') %}
{% set content_size = content_size|default('full') %}
{% set content_border = content_border|default(false) %}
{% set background_color = background_color|default(false) %}

{#
  Classes
#}
{% set selector = 'rbg-hero' %}
{% set classes = [
  selector,
  content_location ? selector ~ '--content-location--' ~ content_location,
  content_size ? selector ~ '--content-size--' ~ content_size,
  content_border ? selector ~ '--content-border',
  background_color is not empty ? 'background-color' ~ pattern_configuration('token_settings', '', 'colors')[background_color],
] %}
{#
  Template
#}
{% if block_content %}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  <div class="{{selector}}__image">
    {% if background_image is not empty %}
      {{ background_image }}
    {% endif %}
     {# {{ pattern('image', {image: background_image}, 'image') }} #}
  </div>
  <div class="{{selector}}__wrapper">
    <div class="{{selector}}__content">
      {{ block_content }}
    </div>
  </div>
</div>
{% endif %}
