// -----------------------------
// Tokens: Typography
// This contains the mixins for typography
// -----------------------------

// helpers
@use 'sass:map';
@use '../../tools/utilities' as utils;

// module related
@forward 'body';
@forward 'mixins/body' as mixin-body-*;
@forward 'mixins/base' as mixin-base-*;
@forward 'mixins/line-height' as mixin-line-height-*;
@use 'body' as body;
@use '../breakpoints' as breakpoints;
@use 'mixins/body' as body-mixins;
@use 'mixins/base' as base-mixins;
@use 'mixins/line-height' as line-height-mixins;

// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: (
  'body': body.$body,
  'breakpoints': breakpoints.$breakpoints,
) !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

@mixin apply($theme: $-tool-config) {
  @include body-mixins.apply($theme);
}

@mixin apply-base($theme: $-tool-config) {
  @include base-mixins.apply($theme);
}

@mixin apply-line-height($theme: $-tool-config) {
  @include line-height-mixins.apply($theme);
}
