<div class="rbg-tokens-links rbg-tokens-links--style-links">
  <a href="#">Link styles</a>
</div>

<div class="rbg-tokens-links">
  <a href="#">No Link styles</a>
</div>


<div class="rbg-tokens-links rbg-tokens-links--custom-links">
  <a href="#">Custom Link styles</a>
</div>
