<div class="rbg-tokens-links rbg-tokens-links--custom-links">
  <a href="#">Custom Link styles</a>
</div>


<div class="rbg-tokens-links">
  <a href="#" class="rbg-tokens-links__custom-inline">Custom inline Link styles</a>
</div>
