@use 'rbgstyles/themes/greenwich-community-directory' as gcd-theme-config;
@use 'rbgstyles/themes/royal-borough-greenwich-website' as website-theme-config;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tools/utilities' as utils;

$selector: rbg-tokens-links;

.#{$selector} {
  $custom-links: (
    'default': (
      'color': 'success.DEFAULT',
      'text-decoration': underline,
      'background-color': transparent,
      'font-variant': 'semibold',
    ),
    'visited': (
      'color': 'primaryred.DEFAULT',
      'text-decoration': underline,
      'background-color': transparent,
      'font-variant': 'medium',
    ),
    'hover': (
      'color': 'skyblue.DEFAULT',
      'text-decoration': underline,
      'background-color': transparent,
      'font-variant': 'medium',
    ),
    'active': (
      'color': 'error.DEFAULT',
      'text-decoration': underline,
      'background-color': 'skyblue.DEFAULT',
      'font-variant': 'medium',
    ),
    'focus': (
      'color': 'focus.DEFAULT',
      'text-decoration': underline,
      'background-color': 'focus.DEFAULT',
      'font-variant': 'medium',
    ),
  );

  [data-theme='website'] & {
    @include links.init(website-theme-config.$theme);
    @include body.init(website-theme-config.$theme);
    @include body.apply;

    &--style-links {
      @include links.apply;
    }

    &--custom-links {
      @include links.apply($custom-links);
    }

    &__inline {
      @include links.apply-inline;
    }

    &__custom-inline {
      @include links.apply-inline($custom-links);
    }
  }

  [data-theme='gcd'] & {
    @include links.init(gcd-theme-config.$theme);
    @include body.init(gcd-theme-config.$theme);
    @include body.apply;
    @include links.apply-inline;

    &--style-links {
      @include links.apply;
    }

    &--custom-links {
      @include links.apply($custom-links);
    }

    &__inline {
      @include links.apply-inline;
    }

    &__custom-inline {
      @include links.apply-inline($custom-links);
    }
  }
}
