@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/icons' as icons;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // -
    @include spacing.init($t);
    @include icons.init($t);
    @include font-sizes.init($t);
    @include links.init($t);

    border-top: utils.get('divider.width', $cc) solid utils.get(utils.get('divider.color', $cc), $t);
    border-bottom: utils.get('divider.width', $cc) solid
      utils.get(utils.get('divider.color', $cc), $t);

    @include spacing.apply-space('space-3', 'py');

    &__item {
      @include spacing.apply-space('space-3', 'py');
      @include links.apply-inline(utils.get('link-background-colors', $cc));
      @include font-sizes.apply-size('DEFAULT', true);

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: spacing.calc-size('space-3');

      .#{$selector}--previous & {
        @include icons.apply-icon('rbg-chevron-thick-left', 'before');
      }
      .#{$selector}--next & {
        @include icons.apply-icon('rbg-chevron-thick-right', 'before');
      }

      &::before {
        @include font-sizes.apply-size('600');
        @include links.apply-state(utils.get('icon-colors', $cc), default, false);

        display: inline-block;
      }

      .#{$selector}__title {
        @include links.apply-state(utils.get('title-link', $cc), default, false);
      }

      .#{$selector}__description {
        @include links.apply-state(utils.get('description-link', $cc), default, false);
      }

      &:visited {
        &::before {
          @include links.apply-state(utils.get('icon-colors', $cc), visited, false);
        }
      }

      &:hover {
        &::before {
          @include links.apply-state(utils.get('icon-colors', $cc), hover, false);
        }
      }

      &:active {
        &::before {
          @include links.apply-state(utils.get('icon-colors', $cc), active, false);
        }
      }

      &:focus {
        &::before {
          @include links.apply-state(utils.get('icon-colors', $cc), focus, false);
        }
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: spacing.calc-size('space-1');
      flex: 1;
    }

    // for themes etc
    @content;
  }
}
