{% set spacing = [
	  'space-0',
    'space-1',
    'space-2',
    'space-3',
	'space-4',
    'space-5',
    'space-8',
    'space-11',
    'space-19'
] %}

<div class="rbg-tokens-spacing">
	{% for space in spacing %}
		<div class="rbg-tokens-spacing__container">
			<div class="rbg-flow-x--{{space}}">
				{% for i in 0..10 %}
					<div class="rbg-tokens-spacing__block">x {{space}}</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>