{% set spacing = [
	  'space-0',
    'space-1',
    'space-2',
    'space-3',
		'space-4',
    'space-5',
    'space-8',
    'space-11',
    'space-19'
] %}

<div class="rbg-tokens-spacing">

	<div class="">
		<div class="rbg-tokens-spacing__block rbg-px--phone--space-5 rbg-px--tablet--space-0 rbg-px--desktop--space-11 rbg-px--desktop-wide--space-0 ">
			<p>Responsive padding<br/>
				changes as you resize the page<br/>
				uses `rbg-*--device--space-*`</p>
		</div>
	</div>
	<br/>


	<div class="">
		<div class="rbg-tokens-spacing__block rbg-mx--phone--space-5 rbg-mx--tablet--space-0 rbg-mx--desktop--space-11 rbg-mx--desktop-wide--space-0 ">
			<p>Responsive margin<br/>
				changes as you resize the page<br/>
				uses `rbg-*--device--space-*`</p>
		</div>
	</div>
	<br/>

	<div class="rbg-tokens-spacing__container">
		<div class="rbg-tokens-spacing--vertical rbg-flow-y--phone--space-5 rbg-flow-y--tablet--space-0 rbg-flow-y--desktop--space-11 rbg-flow-y--desktop-wide--space-0 ">
			{% for i in 0..4 %}
				<div class="rbg-tokens-spacing__block">responsive flow-y</div>
			{% endfor %}
		</div>
	</div>
	<br/>


	<div class="">
		<div class="rbg-flow-x--phone--space-5 rbg-flow-x--tablet--space-0 rbg-flow-x--desktop--space-11 rbg-flow-x--desktop-wide--space-0 ">
			{% for i in 0..4 %}
				<div class="rbg-tokens-spacing__block">responsive flow-x</div>
			{% endfor %}
		</div>
	</div>
	<br/>

</div>

<hr/>

<div class="rbg-layouts--1-col">
	<div class="rbg-tokens-spacing__block--full">This is an example of utility spacing classes being used inside of a 1-col layout, each item is spaced by the global layout.spacing default set in the layout component</div>

	<div class="rbg-tokens-spacing__block--full">Aenean lacinia bibendum nulla sed consectetur.</div>
	<div class="rbg-tokens-spacing__block--full">Nulla vitae elit libero, a pharetra augue.</div>
	<div class="rbg-tokens-spacing__block--full rbg-utils--space-1" style="border: 1px solid green">space-1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>

	<div class="rbg-flow-y--space-19" style="border: 1px solid red">
		<div class="rbg-tokens-spacing__block--full">space-19 This content is part of another div with a utility class applied</div>
		<div class="rbg-tokens-spacing__block--full">space-19 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
		<div class="rbg-tokens-spacing__block--full rbg-utils--space-8" style="border: 1px solid orange">space-8 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
	</div>
</div>

<hr/>

<div class="rbg-layouts--2-col">
	<div class="rbg-main-content">
		<div class="rbg-tokens-spacing__block--full">This is an example of utility spacing classes being used inside of a 2-col layout</div>
		<div class="rbg-tokens-spacing__block--full">Aenean lacinia bibendum nulla sed consectetur.</div>
		<div class="rbg-tokens-spacing__block--full">Nulla vitae elit libero, a pharetra augue.</div>
		<div class="rbg-tokens-spacing__block--full rbg-utils--space-1" style="border: 1px solid green">space-1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>

		<div class="rbg-flow-y--space-19" style="border: 1px solid red">
			<div class="rbg-tokens-spacing__block--full">space-19 This content is part of another div with a utility class applied</div>
			<div class="rbg-tokens-spacing__block--full">space-19 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
			<div class="rbg-tokens-spacing__block--full rbg-utils--space-8" style="border: 1px solid orange">space-8 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
		</div>
	</div>
	<div class="rbg-sidebar-content">
		<div class="rbg-tokens-spacing__block--full">Etiam porta sem malesuada magna mollis euismod.</div>
		<div class="rbg-tokens-spacing__block--full">Aenean lacinia bibendum nulla sed consectetur.</div>
		<div class="rbg-tokens-spacing__block--full">Nulla vitae elit libero, a pharetra augue.</div>
		<div class="rbg-tokens-spacing__block--full rbg-utils--space-1" style="border: 1px solid green">space-1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>

		<div class="rbg-flow-y--space-19" style="border: 1px solid red">
			<div class="rbg-tokens-spacing__block--full">space-19 This content is part of another div with a utility class applied</div>
			<div class="rbg-tokens-spacing__block--full">space-19 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
			<div class="rbg-tokens-spacing__block--full rbg-utils--space-8" style="border: 1px solid orange">space-8 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
		</div>
	</div>
</div>
