<div class="rbg-tokens-spacing">
<div class="rbg-tokens-spacing__container rbg-tokens-spacing--custom-flow">
	<div class="rbg-tokens-spacing__block ">Custom flow size</div>
	<div class="rbg-tokens-spacing__block ">Custom flow size</div>
	<div class="rbg-tokens-spacing__block ">Custom flow size</div>
	<div class="rbg-tokens-spacing__block ">Custom flow size</div>
</div>
</div>
