{% set spacing = [
	  'space-0',
    'space-1',
    'space-2',
    'space-3',
    'space-4',
    'space-5',
    'space-8',
    'space-11',
    'space-19'
] %}

<div class="rbg-tokens-spacing">

	<div class="rbg-tokens-spacing__container">
		{% for space in spacing %}
			<div class="rbg-tokens-spacing__block rbg-pxy--{{space}}">xy
				{{space}}</div>
		{% endfor %}
	</div>
	<br/>

	<div class="rbg-tokens-spacing__container">
		{% for space in spacing %}
			<div class="rbg-tokens-spacing__block rbg-px--{{space}}">x
				{{space}}</div>
		{% endfor %}
	</div>
	<br/>

	<div class="rbg-tokens-spacing__container">
		{% for space in spacing %}
			<div class="rbg-tokens-spacing__block rbg-py--{{space}}">y
				{{space}}</div>
		{% endfor %}
	</div>


	<div class="rbg-tokens-spacing__container">
		{% for space in spacing %}
			<div class="rbg-tokens-spacing__block rbg-pty--{{space}}">ty
				{{space}}</div>
		{% endfor %}
	</div>

</div>
