{% set spacing = [
	  'space-0',
    'space-1',
    'space-2',
    'space-3',
    'space-4',
    'space-5',
    'space-8',
    'space-11',
    'space-19'
] %}
<div class="rbg-tokens-spacing">
	{% for space in spacing %}
		<span class="rbg-tokens-spacing__container">
			<span class="rbg-tokens-spacing__block rbg-mxy--{{space}}">xy
				{{space}}</span>
		</span>
		<br/>
	{% endfor %}


	{% for space in spacing %}
		<span class=" rbg-tokens-spacing__container">
			<span class="rbg-tokens-spacing__block rbg-mx--{{space}}">x
				{{space}}</span>
		</span>
		<br/>
	{% endfor %}


	{% for space in spacing %}
		<span class="rbg-tokens-spacing__container">
			<span class="rbg-tokens-spacing__block rbg-my--{{space}}">y
				{{space}}</span>
		</span>
		<br/>
	{% endfor %}

	{% for space in spacing %}
		<span class="rbg-tokens-spacing__container">
			<span class="rbg-tokens-spacing__block rbg-mty--{{space}}">ty
				{{space}}</span>
		</span>
		<br/>
	{% endfor %}
</div>
