@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/colors' as colors;
@use 'rbgstyles/tokens/icons' as icons;
@use './mixins/radio-checkboxes' as radio-checkboxes;
@use './mixins/color' as color;
@use './mixins/file' as file;
@use './mixins/text' as text;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include spacing.init($t);
    @include colors.init($t);
    @include icons.init($t);

    // -----------------------------
    // ------- RADIO / CHECKBOX ----
    // -----------------------------

    &--checkbox,
    &--radio {
      @include radio-checkboxes.apply($t);
    }

    // -----------------------------
    // ------- COLOUR ----
    // -----------------------------

    &--color {
      @include color.apply($t);
    }

    // -----------------------------
    // ------- FILE ----
    // -----------------------------

    &--file {
      @include file.apply($t);
    }

    // -----------------------------
    // ------- TEXT ----
    // -----------------------------

    &--text,
    &--email,
    &--password,
    &--search,
    &--url {
      @include text.apply($t);
    }

    // -----------------------------
    // ------- NUMBERS ----
    // -----------------------------

    &--number,
    &--tel {
      @include text.apply($t);
    }

    // -----------------------------
    // ------- DATES ----
    // -----------------------------

    &--date,
    &--datetime-local,
    &--month,
    &--week,
    &--time {
      @include text.apply($t);
    }

    // -----------------------------
    // ------- RANGE ----
    // -----------------------------

    // &--range {
    // .
    // }

    // -----------------------------
    // ------- HIDDEN ----
    // -----------------------------

    // &--hidden {
    // .
    // }

    // -----------------------------
    // ------- IMAGE ----
    // -----------------------------

    // &--image {
    // .
    // }

    // -----------------------------
    // ------- SETTINGS ----
    // -----------------------------

    &--full {
      width: 100%;
      display: block;
    }

    // -----------------------------
    // ------- ICONS ----
    // -----------------------------

    .#{$selector}--icon & {
      padding-left: spacing.calc-size('space-8');
    }

    &--icon {
      display: grid;
      align-items: center;

      &::before,
      > * {
        grid-column: 1;
        grid-row: 1;
      }

      &::before {
        @include spacing.apply-space('space-3', 'px');

        position: relative;
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
      }
    }

    // Icon type

    $icons: utils.get('icons', $t);

    @each $icon, $values in $icons {
      &--icon--#{$icon} {
        @include icons.apply-icon($icon, 'before');
      }
    }

    // Icon color
    $color-classes: colors.get-color-classes-list('--icon-color');

    @each $colorselector, $color in $color-classes {
      &#{$colorselector} {
        &::before {
          color: $color;
        }
      }
    }

    // for themes etc
    @content;
  }
}
