@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: rbg-form-input;

// defaults for the component go here - can be overwritten by themes
$filled-button-link-styles: (
  'default': (
    'color': 'neutral.100',
    'background-color': 'primaryred.DEFAULT',
    'text-decoration': none,
    'font-variant': 'semibold',
  ),
  'visited': (
    'color': 'neutral.700',
    'background-color': 'neutral.200',
    'text-decoration': none,
    'font-variant': 'semibold',
  ),
  'hover': (
    'color': 'neutral.700',
    'background-color': 'neutral.200',
    'text-decoration': none,
    'font-variant': 'semibold',
  ),
  'active': (
    'color': 'neutral.700',
    'background-color': 'neutral.200',
    'text-decoration': none,
    'font-variant': 'semibold',
  ),
  'focus': (
    'color': 'neutral.700',
    'text-decoration': none,
    'font-variant': 'semibold',
  ),
) !default;
$component-config-default: (
  'filled-links': $filled-button-link-styles,
);
