@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/elements' as elements;
@use 'rbgstyles/tokens/icons' as icons;
@use 'rbgstyles/tokens/accessibility' as accessibility;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // -
    @include body.init($t);
    @include elements.init($t);
    @include spacing.init($t);
    @include icons.init($t);
    @include links.init($t);
    @include accessibility.init($t);

    // -
    @include body.apply;
    @include links.apply;

    // elements, eg strong, em etc
    @include elements.apply-strong;
    @include elements.apply-em;

    &__summary {
      @include links.apply-inline(utils.get('links', $cc));

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: spacing.calc-size('space-1');
      cursor: pointer;
      width: fit-content;

      &::marker,
      &::-webkit-details-marker {
        display: none;
      }
    }

    &__details:not([open]) {
      summary {
        @include icons.apply-icon('rbg-chevron-down', 'after');
      }
    }

    &__details[open] {
      summary {
        @include icons.apply-icon('rbg-chevron-up', 'after');
      }
    }

    // for themes etc
    @content;
  }
}
