<div class="rbg-tokens-font-size">
  <p>Standard body font</p>
  <p class="rbg-tokens-font-size__bespoke-size--static">Set to always be font-size-100</p>
  <p class="rbg-tokens-font-size__bespoke-size--responsive">Set to responsive font-size-100</p>
</div>