<div class="rbg-tokens-font-size">
<p class="font-size--100">100 Cras mattis consectetur purus sit amet fermentum.</p>
<p class="font-size--200">200 Cras mattis consectetur purus sit amet fermentum.</p>
<p class="font-size--300">300 Cras mattis consectetur purus sit amet fermentum.</p>
<p class="font-size--400">400 Cras mattis consectetur purus sit amet fermentum.</p>
<p class="font-size--500">500 Cras mattis consectetur purus sit amet fermentum.</p>
<p class="font-size--600">600 Cras mattis consectetur purus sit amet fermentum.</p>
<p class="font-size--700">700 Cras mattis consectetur purus sit amet fermentum.</p>
<p class="font-size--800">800 Cras mattis consectetur purus sit amet fermentum.</p>
<p class="font-size--900">900 Cras mattis consectetur purus sit amet fermentum.</p>
<p class="font-size--1000">1000 Cras mattis consectetur purus sit amet fermentum.</p>
</div>