@use 'rbgstyles/themes/greenwich-community-directory' as gcd-theme-config;
@use 'rbgstyles/themes/royal-borough-greenwich-website' as website-theme-config;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tools/utilities' as utils;

$selector: rbg-tokens-font-size;

.#{$selector} {
  [data-theme='website'] & {
    @include body.init(website-theme-config.$theme);
    @include font-sizes.init(website-theme-config.$theme);
    @include body.apply;
    @include font-sizes.apply;

    .#{$selector}__bespoke-size--static {
      @include font-sizes.apply-size('100', false);
    }
    .#{$selector}__bespoke-size--responsive {
      @include font-sizes.apply-size('100', true);
    }
  }

  [data-theme='gcd'] & {
    @include body.init(gcd-theme-config.$theme);
    @include font-sizes.init(gcd-theme-config.$theme);
    @include body.apply;
    @include font-sizes.apply;

    .#{$selector}__bespoke-size--static {
      @include font-sizes.apply-size('100', false);
    }
    .#{$selector}__bespoke-size--responsive {
      @include font-sizes.apply-size('100', true);
    }
  }
}
