{#
/**
 * @file
 * card
 *
 * See card.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}

{#
  Classes
#}

{% set classes = [
  ' ',
] %}

{#
  Template
#}

{% if field_title %}
  {{ pattern('heading', {'text': field_title, 'color': 'primaryred'}, 'h3') }}
{% endif %}
{% if field_body %}
  {{ pattern('rich_text', {'text': field_body}) }}
{% endif %}
