@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use '../../utilities' as utils;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;

// @todo put in some validation here for the data format
// expects headings in the same format as found in _config.scss

// This mixin sets the font sizes and options we would set for typography on a component
@mixin apply($custom-type-data, $theme) {
  @if meta.type-of($theme) == 'null' {
    $body: body.$body;
    $breakpoints: breakpoints.$breakpoints;

    @warn 'Typography default called without theme options, using defaults from config';
  }

  $body: map.get($theme, body);
  $breakpoints: map.get($theme, breakpoints);
  $our-base-font-size: utils.get('base.our-base-font-size', $body);

  @if map.get($custom-type-data, default) {
    // default styles
    @include apply-typography(map.get($custom-type-data, default), $our-base-font-size, $theme);
  } @else {
    @each $breakpoint, $styles in $custom-type-data {
      @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
        @include apply-typography($styles, $our-base-font-size, $theme);
      }
    }
  }
}

// outputs the font sizes and all classes that apply to it
@mixin apply-typography($custom-typography, $our-base-font-size, $theme) {
  $font-family: map.get($custom-typography, font-family);
  $font-variant: map.get($custom-typography, font-variant);
  $line-height: map.get($custom-typography, line-height);
  $font-size: map.get($custom-typography, font-size);
  $color-token: map.get($custom-typography, color);

  @if $color-token {
    $color: utils.get('colors.#{$color-token}', $theme);

    color: $color;
  }

  @if $font-size {
    font-size: calc($font-size / $our-base-font-size) + rem;
  }

  @if $line-height {
    line-height: calc($line-height / $font-size);
  }

  @if $font-family {
    @if not $font-variant {
      $font-variant: regular;
    }

    @include fonts.apply-font($font-family, $font-variant);
  }
}
