@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/colors' as colors;
@use 'rbgstyles/tokens/icons' as icons;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/headings' as headings;
@use 'sass:meta';
@use 'sass:math';
@use './mixins/logo' as logo-mixins;

// '__aside__menu' is an extra menu added by us to toggle the drawer on mobile
@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include spacing.init($t);
    @include colors.init($t);
    @include icons.init($t);
    @include links.init($t);
    @include fonts.init($t);
    @include font-sizes.init($t);
    @include headings.init($t);

    // top border
    border-top: 6px solid utils.get('border-top-color', $cc);

    // **** MOBILE FIRST ****

    // create the frame
    &__container {
      @include -frame-mobile($cc);

      .#{$selector}__main {
        @include spacing.apply-space('space-3', 'mx');

        .rbg-search-field {
          @include spacing.apply-space('space-5', 'my');

          align-items: center;
        }

        .rbg-form-input {
          width: 99%;
        }

        .rbg-form-element {
          align-items: normal;
        }
      }

      .#{$selector}__aside__content {
        display: none;
      }

      .#{$selector}__drawer-content {
        display: block;

        // @include spacing.apply-space('space-5', 'pxy');

        [aria-labelledby='search-id'] {
          display: none;
        }
      }
    }

    // helper to place everyone __logos goes in the logo box etc
    @include -content-assigned;

    // when we first load the code (mobile first) what does everything look like and where does it need to be
    @include -content-mobile($cc, $t);

    // what happens when we open the drawer on mobile
    &--drawer-open {
      border-bottom: 0 solid utils.get('drawer-area.border-bottom-color', $cc);

      .#{$selector}__main {
        display: block;
      }
      .#{$selector}__aside__content {
        display: block;
        grid-row: none;

        @include spacing.apply-space('space-3', 'mx');
      }
      .#{$selector}__drawer-content {
        @include spacing.apply-space('space-3', 'pxy');

        display: block;
      }
    }

    // **** DESKTOP & UP NEXT ****

    @include breakpoints.screen-gt('desktop') {
      // rearrange the grid a bit
      &__container {
        @include -frame-desktop($selector, $cc);

        max-width: utils.get('layout.max-area-width', $t);
        margin: 0 auto;

        .#{$selector}__aside__content {
          display: block;
        }
      }

      // tweak things
      @include -content-desktop($selector);

      // what happens when we open the drawer on desktop
      &--drawer-open {
        border-bottom-width: 1px;

        .#{$selector}__drawer-content {
          @include spacing.apply-space('space-0', 'px');
        }

        .#{$selector}__drawer-content [aria-labelledby='search-id'] {
          display: block;
        }
      }

      .#{$selector}__aside__content {
        grid-row: unset;
      }
    }

    // for themes etc
    @content;
  }
}

// Create the frame in which all of the content areas will sit
@mixin -frame-mobile($cc) {
  $min-logo-width: utils.get('logos-area.width', $cc);

  display: grid;

  // grid-gap: spacing.calc-size(utils.get('logos-area.padding', $cc));
  align-items: start;
  grid-template-areas:
    'logo aside-menu'
    'aside-content aside-content'
    'main main'
    'drawer drawer';
  grid-template-columns: minmax($min-logo-width, min-content) 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: row;
}

// when we go up to the next stage we move the grid around a little
@mixin -frame-desktop($selector, $cc) {
  $min-logo-width: utils.get('logos-area.width', $cc);

  grid-template-areas:
    'logo main aside-content'
    'drawer drawer drawer'
    '. . aside-menu';
  grid-template-columns: minmax($min-logo-width, min-content) auto auto;
}

// The default state is mobile, so where do we place everything when we load the page in this state
@mixin -content-mobile($cc, $t) {
  @include spacing.init($t);

  &__logos {
    // background styles
    display: block;

    // the red block
    @include logo-mixins.logo-background($cc);
    @include spacing.apply-space(utils.get('logos-area.padding', $cc), 'pxy');

    // hide everything other than the first logo by default
    div + * {
      display: none;
    }

    a + * {
      display: none;
    }
  }

  &__main {
    display: none;
  }

  &__aside__menu {
    justify-self: flex-end;
  }

  &__aside__content {
    padding-top: spacing.calc-size('space-0');
    padding-bottom: spacing.calc-size('space-5');
  }

  &__drawer-content {
    .rbg-list-two-column {
      a {
        color: utils.get('colors.neutral.700', $t);
      }

      li {
        color: utils.get('colors.primaryred.DEFAULT', $t);
      }
    }
  }
}

@mixin -content-desktop($selector) {
  &__main {
    display: block;

    @include spacing.apply-space('space-2', 'py');

    .rbg-search-field {
      display: none;
    }
  }

  &__aside__menu {
    place-self: auto;

    .#{$selector}--multiple-menu & {
      display: none;
    }
  }

  &__aside__content {
    @include spacing.apply-space('space-2', 'py');

    display: block;
  }

  &__drawer-content {
    .rbg-search-field {
      align-items: center;

      .rbg-form-input {
        width: 200%;
      }
    }

    .rbg-form-element {
      align-items: center;
    }
  }
}

// assign everyone to their grid square and setup the mobile states
@mixin -content-assigned {
  &__logos {
    grid-area: logo;
  }

  &__main {
    grid-area: main;
  }

  &__aside__menu {
    grid-area: aside-menu;
  }

  &__aside__content {
    grid-area: aside-content;
  }

  &__drawer-content {
    grid-area: drawer;
  }
}
