@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';
@use 'rbgstyles/tools/utilities' as utils;

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: rbg-header;

// links

// these are the thicker larger links on mobile view in the darker color
$mobile-default-links: (
  'default': (
    'color': 'neutral.700',
    'text-decoration': none,
    'background-color': 'transparent',
    'font-variant': 'medium',
  ),
  'visited': (
    'color': 'neutral.700',
    'text-decoration': underline,
    'background-color': 'transparent',
    'font-variant': 'medium',
  ),
  'hover': (
    'color': 'neutral.700',
    'text-decoration': underline,
    'text-decoration-thickness': 1px,
    'background-color': 'transparent',
    'font-variant': 'medium',
  ),
  'active': (
    'color': 'neutral.700',
    'text-decoration': underline,
    'text-decoration-thickness': 3px,
    'background-color': 'transparent',
    'font-variant': 'medium',
  ),
  'focus': (
    'color': 'neutral.700',
    'text-decoration': underline,
    'text-decoration-thickness': 3px,
    'background-color': 'focus.DEFAULT',
    'font-variant': 'medium',
  ),
);

// primary links on mobile - same as default but primary coloured
$mobile-primary-links: (
  'default': (
    'color': 'neutral.700',
    'text-decoration': none,
    'background-color': 'transparent',
    'font-variant': 'medium',
  ),
  'visited': (
    'color': 'neutral.700',
    'text-decoration': underline,
    'background-color': 'transparent',
    'font-variant': 'medium',
  ),
  'hover': (
    'color': 'neutral.700',
    'text-decoration': underline,
    'text-decoration-thickness': 1px,
    'background-color': 'transparent',
    'font-variant': 'medium',
  ),
  'active': (
    'color': 'neutral.700',
    'text-decoration': underline,
    'text-decoration-thickness': 3px,
    'background-color': 'transparent',
    'font-variant': 'medium',
  ),
  'focus': (
    'color': 'neutral.700',
    'text-decoration': underline,
    'text-decoration-thickness': 3px,
    'background-color': 'focus.DEFAULT',
    'font-variant': 'medium',
  ),
);

// these are the dark default links that are lighter and smaller in font size
$desktop-default-links: (
  'default': (
    'color': 'neutral.700',
    'background-color': 'transparent',
    'font-variant': 'regular',
  ),
  'visited': (
    'color': 'neutral.700',
    'background-color': 'transparent',
    'font-variant': 'regular',
  ),
  'hover': (
    'color': 'neutral.700',
    'background-color': 'transparent',
    'font-variant': 'regular',
  ),
  'active': (
    'color': 'neutral.700',
    'background-color': 'white',
    'font-variant': 'regular',
  ),
  'focus': (
    'color': 'neutral.700',
    'background-color': 'focus.DEFAULT',
    'font-variant': 'regular',
  ),
);

// this is the primary(red) version of the above links when primary flag is set
$desktop-primary-links: (
  'default': (
    'color': 'neutral.700',
    'text-decoration': none,
    'background-color': 'transparent',
    'font-variant': 'medium',
  ),
  'visited': (
    'color': 'neutral.700',
    'text-decoration': underline,
    'background-color': 'transparent',
    'font-variant': 'medium',
  ),
  'hover': (
    'color': 'neutral.700',
    'text-decoration': underline,
    'text-decoration-thickness': 1px,
    'background-color': 'transparent',
    'font-variant': 'medium',
  ),
  'active': (
    'color': 'neutral.700',
    'text-decoration': underline,
    'text-decoration-thickness': 3px,
    'background-color': 'white',
    'font-variant': 'medium',
  ),
  'focus': (
    'color': 'neutral.700',
    'text-decoration': underline,
    'text-decoration-thickness': 3px,
    'background-color': 'focus.DEFAULT',
    'font-variant': 'medium',
  ),
);

// defaults for the component go here - can be overwritten by themes
$component-config-default: (
  'border-top-color': map.get($theme, 'primary'),
  'grid-gap': 'space-3',
  'logos-area': (
    'width': 158px,
    'padding': 'space-3',
    'background-color': utils.get('colors.primary', $theme),
  ),
  'drawer-area': (
    'border-bottom-color': utils.get('colors.neutral.300', $theme),
  ),
  'mobile': (
    'item': (
      'x-spacing': 'space-3',
      'y-spacing': 'space-5',
      'icon-spacing': 'space-1',
    ),
    'items': (
      'y-spacing': 'space-5',
    ),
    'font': (
      'variant': 'medium',
      'color': 'colors.neutral.700',
      'size': (
        'size': '700',
        'responsive': false,
      ),
    ),
    'links': $mobile-default-links,
    'links-primary': $mobile-primary-links,
  ),
  'desktop': (
    'item': (
      'x-spacing': 'space-3',
      'y-spacing': 'space-4',
      'icon-spacing': 'space-1',
    ),
    'font': (
      'variant': 'regular',
      'size': (
        'size': '500',
        'responsive': false,
      ),
    ),
    'links': $desktop-default-links,
    'links-primary': $desktop-primary-links,
  ),
);


