{#
/**
 * @file
 * suggest-an-edit
 *
 * See suggest-an-edit.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}


{% set default_suggestion_text_pre %}
<p>Suggest an edit if you see something out of date or incorrect.</p>
<p>We check and update services regularly but services and information may change.</p>
{% endset %}

{% set attributes = attributes|default(create_attribute()) %}
{% set suggest_disabled = suggest_disabled|default(false) %}
{% set suggestion_text_pre = suggestion_text_pre|default(default_suggestion_text_pre) %}
{% set suggestion_button_text = suggestion_button_text|default('Suggest an edit') %}


{% set selector = 'rbg-suggest-an-edit' %}
{#
  Classes
#}

{% set classes = [
  selector,
  suggest_disabled ? selector ~ '--suggest-disabled'
] %}

{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>


{% if suggestion_text_pre %}
<div class="{{ selector }}__text-pre">
  {{ suggestion_text_pre }}
</div>
{% endif %}

{% if suggestion_button_url %}
  {{ pattern('button', {'text': suggestion_button_text, 'url': suggestion_button_url, 'button_disabled': suggest_disabled}, 'outlined') }}
{% endif %}

{% if suggestion_text_post %}
<div class="{{ selector }}__text-post">
  {{ suggestion_text_post }}
</div>
{% endif %}

</div>
