@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/colors' as colors;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    @include spacing.init($t);
    @include body.init($t);
    @include body.apply;

    padding: 0;
    margin: 0;
    width: 100%;
    color: utils.get('colors.neutral.700', $t);
    box-sizing: border-box;

    @include spacing.apply-space('space-3', 'px');
    @include spacing.apply-space('space-2', 'py');

    // borders

    border: 1px solid utils.get('colors.neutral.700', $t);
    box-shadow: 0 0 0 2px transparent;

    &:focus,
    &:active {
      border: 1px solid utils.get('colors.neutral.700', $t);
      box-shadow: 0 0 0 2px utils.get('colors.neutral.700', $t);
      outline: 3px solid utils.get('colors.focus.600', $t);
      outline-offset: 2px;
    }

    &--error {
      border: 2px solid utils.get('colors.primary.DEFAULT', $t);
      box-shadow: 0 0 0 1px transparent;

      &:focus,
      &:active {
        border: 2px solid utils.get('colors.primary.DEFAULT', $t);
        box-shadow: 0 0 0 1px utils.get('colors.primary.DEFAULT', $t);
        outline: 3px solid utils.get('colors.focus.600', $t);
        outline-offset: 1px;
      }
    }

    // for themes etc
    @content;
  }

  // Style ckeditor which is rendered adjacent to the textarea.
  .#{$selector} + .ck.ck-editor {
    width: 100%;

    --ck-border-radius: 0;
    --ck-color-base-border: #{utils.get('colors.neutral.700', $t)};
    --ck-color-toolbar-border: #{utils.get('colors.neutral.700', $t)};
    --ck-focus-ring: 1px solid #{utils.get('colors.neutral.700', $t)};
    --ck-inner-shadow: 0 0 0 2px #{utils.get('colors.neutral.700', $t)};
  }

  .#{$selector} + .ck.ck-editor .ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
    outline: 3px solid utils.get('colors.focus.600', $t);
    outline-offset: 2px;
  }

  .#{$selector} + .ck.ck-editor .ck.ck-editor__editable {
    @include body.init($t);
    @include body.apply;
  }
}
