{#
/**
 * @file
 * information-page
 *
 * See information-page.wingsuit.yaml for documentation.
 */
#}

{% extends "@templates/page-gcd/page-gcd.twig" %}


{% set breadcrumbs = [{text: 'Home', url: '/'}, {text: 'Services', url: '/services'}, {text: 'Care in your own home'}] %}

{% block content %}


	{{ pattern('page_title', {title: 'Care in your own home'}) }}


	{{ pattern_preview('service_details') }}
	{{ pattern_preview('rich_text') }}
	{{ pattern_preview('list', {icon_type: 'rbg-search', icon_color: 'primaryred'}) }}

	{{ pattern('suggest_an_edit', {suggestion_button_url: '/1'}) }}

{% endblock %}
