{#
/**
 * @file
 * regular-schedules
 *
 * See regular-schedules.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set is_open = is_open|default(true) %}
{% set label_length = label_length|default('6') %}

{#
  Classes
#}
{% set selector = 'rbg-regular-schedules' %}
{% set classes = [
 selector,
 selector ~ "--" ~ (is_open ? "open" : "closed")
] %}

{#
  Template
#}

{# modules/contrib/office_hours/templates/office-hours.html.twig #}
<dl{{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  {% for item in items %}

        <dt class="office-hours__item-label">
        {% if item.label %}{{ item.label }}{% endif %}
        </dt>
            
        <dd class="office-hours__item-slots">
        {% if item.slots is not empty %}{{ item.slots }}{% endif %}
        </dd>
    
  {% endfor %}
</dl>

{# @TODO for the most accessible opening times something like this https://shkspr.mobi/blog/2020/12/making-time-more-accessible/ #}
{# <time datetime="2020-11-30T09:23:48.000Z">
   <abbr aria-label="1 hour ago">1h</abbr>
</time> #}

{# GOVUK guidance on opening times https://design-system.service.gov.uk/patterns/contact-a-department-or-service-team/ #}
{# Give opening hours
Follow the GOV.UK style guide format for time ranges and date ranges.
Explain any exceptions, like bank holidays, or days of the week when your opening hours are different.
For example, ‘Monday to Friday, 9am to midday and 2pm to 4:30pm (closed on bank holidays)’ or ‘24-hour service’. #}