@use 'sass:map';
@use 'sass:list';
@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/colors' as colors;
@use 'rbgstyles/tokens/lists' as lists;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/elements' as elements;
@use 'rbgstyles/tokens/icons' as icons;

@mixin styles($selector, $cc, $t) {
  // can also group together with local mixins if needed too depends on the complexity of the component
  // $background-color: utils.get('background.color', $cc);
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // -
    @include body.init($t);
    @include headings.init($t);
    @include colors.init($t);
    @include links.init($t);
    @include spacing.init($t);
    @include fonts.init($t);
    @include lists.init($t);
    @include elements.init($t);

    // -
    @include body.apply;
    @include headings.apply;
    @include links.apply;
    @include lists.apply;

    // elements, eg strong, em etc
    // includes <blockquote>
    @include elements.apply-strong;
    @include elements.apply-em;
    @include elements.apply-blockquote;

    // spacing before each heading
    $heading-classes: headings.get-heading-classes-list();

    @include apply-rich-text-heading-spacing($heading-classes, $t);

    // -----------------------------
    // SETTINGS
    // -----------------------------

    // if the heading_color setting is set
    @include apply-rich-text-heading-colors(
      $heading-classes,
      colors.get-color-classes-list('.heading-color')
    );

    // link-styles
    @each $variant, $style in utils.get('link-styles', $cc) {
      &--link-styles--#{$variant} {
        @include links.apply($style);
      }
    }

    // Allow long links to break and wrap.
    a {
      word-break: break-word;
    }

    // for themes etc
    @content;
  }
}

/*
this mixin applies the logic for heading colours.

We use mixins to get all of the possible headers for the current theme,
then we do the same with th colors.

Then we put them together so that if rich-text is called with
<div class="rbg-rich-text heading-color--primaryred--DEFAULT">
Then every heading will use those styles

*/
@mixin apply-rich-text-heading-colors($headings, $color-classes) {
  // then we get all the colours, but as a list of classes with our
  // custom prefix, in this case heading-color

  @each $colorselector, $color in $color-classes {
    // then we apply the colours to the headings
    &#{$colorselector} {
      @each $headingsselector, $values in $headings {
        @include headings.apply-heading-selector($headingsselector, false) {
          color: $color;
        }
      }
    }
  }
}

/*
this mixin does the spacing between headings
*/
@mixin apply-rich-text-heading-spacing($headings, $t) {
  $layout-spacing: utils.get('layout.spacing-y', $t);
  $breakpoints: utils.get('breakpoints', $t);

  @each $breakpoint, $space in $layout-spacing {
    @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
      @each $headingsselector, $values in $headings {
        @include headings.apply-heading-selector($headingsselector, false) {
          margin-bottom: spacing.calc-size('space-3');

          &:not(:first-child) {
            margin-top: spacing.calc-size($space);
          }
        }
      }
    }
  }
}
