@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: rbg-rich-text;

// defaults for the component go here - can be overwritten by themes
$component-config-default: (
  'link-styles': (
    // 'body': map.get($theme, 'links'),
    'default':
      (
        'default': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'background-color': 'transparent',
          'font-variant': 'regular',
        ),
        'visited': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'background-color': 'transparent',
          'font-variant': 'regular',
        ),
        'hover': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'text-decoration-thickness': 1px,
          'background-color': 'transparent',
          'font-variant': 'regular',
        ),
        'active': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'text-decoration-thickness': 3px,
          'background-color': 'white',
          'font-variant': 'regular',
        ),
        'focus': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'text-decoration-thickness': 3px,
          'background-color': 'focus.DEFAULT',
          'font-variant': 'regular',
        ),
      ),
  ),
);
