// -----------------------------
// Tokens: Breakpoints
// This contains the mixins and variables for breakpoints.
// -----------------------------

// helpers
@use 'sass:map';
@use '../../tools/utilities' as utils;

// module related
@forward 'breakpoints';
@forward 'utils' as utils-*;
@use 'breakpoints' as config;
@use 'mixins/loop' as loop;
@use 'mixins/screen-gt' as screen-gt;
@use 'mixins/screen-lt' as screen-lt;

// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: (
  'breakpoints': config.$breakpoints,
) !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

@mixin screen-gt($breakpoint, $breakpoints: utils.get('breakpoints', $-tool-config)) {
  @include screen-gt.apply($breakpoint, $breakpoints) {
    @content;
  }
}

@mixin screen-lt($breakpoint, $breakpoints: utils.get('breakpoints', $-tool-config)) {
  @include screen-lt.apply($breakpoint, $breakpoints) {
    @content;
  }
}

@mixin loop($breakpoint, $breakpoints: utils.get('breakpoints', $-tool-config)) {
  @include loop.apply($breakpoint, $breakpoints) {
    @content;
  }
}
