{#
/**
 * @file
 * field-key-value
 *
 * See field-key-value.wingsuit.yaml for documentation.
 * Available variables (not all brought in):
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set title_attributes = title_attributes|default(create_attribute()) %}
{% set multiple = multiple|default(false) %}
{% set label_hidden = label_hidden|default(false) %}
{% set content_new_line = content_new_line|default(false) %}
{% set list_variant = list_variant|default('unordered') %}

{#
  Classes
#}

{% set selector = 'rbg-field-key-value' %} 
{% set classes = [
  selector
] %}

{% set attributes = attributes.addClass(classes | sort | join(' ') | trim) %}
{#
  Template
#}
{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}


{# 
if label hidden
	if multiple entries are allowed
	<div>
		<list-pattern>
	</div>

	if multiple entries are NOT allowed
	<div>
		value
	</div>


if label
	if multiple entries are allowed
	<div>
		<strong>label:</strong>
		<list-pattern(values)>
	</div>

	if multiple entries are NOT allowed
	<div>
		<strong>label:</strong>
		value
	</div> 

	if content_new_line is set then <strong> is wrapped in a <p>

#}

{% if label_hidden %}
	{% if multiple %}
		<div{{attributes}}>
			{{pattern('list', {items: items }, list_variant)}}
		</div>
	{% else %}
		{% for item in items %}
			{# change made here from stable9 to stop an extra <div> being added to fields with multiple paragraphs #}
          <div{{attributes}}>
            {{ item.content }}
          </div>
		{% endfor %}
	{% endif %}
{% else %}
	<div{{attributes}}>
		{% if content_new_line %}<p>{% endif %}
			<strong{{title_attributes.addClass(title_classes)}}>{{ label }}:</strong>
		{% if content_new_line %}</p>{% endif %}	
			{% if multiple %}
					{{pattern('list', {items: items}, list_variant)}}
			{% else %}
				{% for item in items %}
					{% if item.attributes|length != 0 %}<span{{item.attributes}}>{% endif %}
					{{ item.content }}
					{% if item.attributes|length != 0 %}</span>{% endif %}
				{% endfor %}
			{% endif %}
			
	</div>
{% endif %}