// -----------------------------
// Tokens: Typography
// This contains the mixins for typography
// -----------------------------

// helpers
@use 'sass:map';
@use '../utilities' as utils;

// module related
@forward 'mixins/custom' as mixin-custom-*;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/body' as body;
@use 'mixins/custom' as custom-mixins;

// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: (
  'breakpoints': breakpoints.$breakpoints,
  'body': body.$body,
) !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

@mixin apply($custom-type-data, $theme: $-tool-config) {
  @include custom-mixins.apply($custom-type-data, $theme);
}
