{#
/**
 * @file
 * map
 *
 * See map.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}


{#
  Classes
#}
{% set selector = 'rbg-map' %}
{% set classes = [
  selector
] %}

{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  {{content}}
</div>
