@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // -
    @include links.init($t);
    @include headings.init($t);
    @include fonts.init($t);
    @include spacing.init($t);
    @include font-sizes.init($t);

    // -

    &__image,
    &__published {
      // doing it this way allows us to move the article_content field outside easily without affecting things if needed
      margin-bottom: spacing.calc-size('space-5');
    }

    &__published {
      // default font
      @include fonts.apply-font('DEFAULT', 'medium');

      // default font size, responsive too
      @include font-sizes.apply-size('DEFAULT', true);

      // set color to primary for the theme
      color: utils.get('colors.neutral.600', $t);
    }

    // for themes etc
    @content;
  }
}
