{% macro header(theme) %}

	{% if theme == 'website' %}
		{{ pattern_preview('header', {}) }}
	{% elseif theme == 'gcd' %}
		{{ pattern_preview('header_gcd', {}) }}
		{{ pattern_preview('alert_banner') }}
	{% endif %}

{% endmacro %}

{% macro top(theme, breadcrumbs) %}
	{# same for both rn #}

	{% set topContent %}
	{{ pattern('breadcrumbs', { items: breadcrumbs} )  }}
	{% endset %}

	{{ pattern('layouts', {content: topContent, site_layout: 'full-col'}, 'full-col') }}
{% endmacro %}


{% macro footer(theme, breadcrumbs) %}

	{% if theme == 'website' %}
		{{ pattern_preview('page_feedback') }}
		{{ pattern_preview('footer') }}
	{% elseif theme == 'gcd' %}
		{% set footer_block_1 = pattern('rich_text', {heading_color: 'default', link_style: 'default', text: '<h3>Add or update directory listing</h3><p><a href="#">Sign into your account</a> to add or update your listings</p><p><a href="#">Request an account</a> to add your service to our directory</p>' })  %}
		{% set footer_block_2 = pattern('rich_text', {heading_color: 'default', link_style: 'default', text: '<h3>Contact us</h3> <p>Email <a mailto="community-directory@royalgreenwich.gov.uk">community-directory@royalgreenwich.gov.uk</a></p> <h4>Create your own directory</h4> <p>This directory is powered by Outpost. This can be reused by other local authorities for free. Email <a mailto="digital@royalgreenwich.gov.uk">digital@royalgreenwich.gov.uk</a> to find out more.</p>'}) %}
		{% set footer_menu = pattern('menu_horizontal', { menu_name: 'Footer menu', link_color: 'white', items: [
  {title: 'About this website', url: '#'},
  {title: 'Accessibility', url: '#'},
  {title: 'Cookies', url: '#'},
  {title: 'Terms and privacy', url: '#'},
] }, 'footer') %}
		{{ pattern('footer', { block_footer_1: footer_block_1, block_footer_2: footer_block_2, footer_menu: footer_menu, alt_content: '&copy; 2023 Royal Borough of Greenwich' }) }}
	{% endif %}

{% endmacro %}
