{#
/**
 * @file
 * rich-text
 * with the rich-text we can use to creat different types of text as you can see in storybook.
 * Ex. headlines, list and more.
 * See rich-text.wingsuit.yaml for documentation.
 */
#}
{% set attributes = attributes|default(create_attribute()) %}
{% set heading_color = heading_color|default(false) %}
{% set link_style = link_style|default(false) %}
{% set layout_area = layout_area|default(false) %}
{% set selector = 'rbg-rich-text' %}


{% set classes = [
  selector,
  heading_color ? 'heading-color' ~ pattern_configuration('rich_text', variant, 'colors')[heading_color],
  link_style ? selector ~ '--link-styles' ~ pattern_configuration('rich_text', variant, 'link_styles')[link_style],
  layout_area ? pattern_configuration('rich_text', variant, 'layout_areas')[layout_area],
] | sort | join(' ') | trim %}


{# Template #}
<div {{ attributes.addClass(classes) }}>
	{{ text }}
</div>
