{#
/**
 * @file
 * access-needs
 *
 * See access-needs.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-access-needs' %}

{#
  Classes
#}

{% set classes = [
  selector
] %}


{#
  Template
#}

{# @TODO icons #}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
<h3 class="{{selector}}__text">{{title}}</h3>
{{pattern('list', {items: items, icon_type: 'rbg-check', icon_color: 'primary'})}}
</div>
