@use 'sass:map';
@use 'sass:list';

@function apply-component-themes(
  $component-selector: rbg-unknown,
  $supported-themes: website,
  $component-config: (),
  $theme: ()
) {
  $theme-name: map.get($theme, name);

  @if map.get($theme, debug) == true {
    @debug 'Loading `#{$component-selector}` with theme: `#{$theme-name}`';
  }

  @if list.index($supported-themes, $theme-name) {
    @if $theme-name == website {
      @return default;
    } @else {
      @if list.index($supported-themes, $theme-name) and $theme-name == 'gcd' {
        // @include themes.gcd-styles($component-selector, $component-config);
        @return $theme-name;
      }

      // add more themes here when created allows for some more theme based flexibility
    }
  }
}
