@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/elements' as elements;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // -
    @include body.init($t);
    @include links.init($t);
    @include elements.init($t);
    @include fonts.init($t);

    // -
    @include body.apply;
    @include links.apply;
    @include elements.apply-strong;

    &--link {
      @include links.apply-inline;
    }

    // for themes etc
    @content;
  }
}
