{#
/**
 * @file
 * service-landing-page
 *
 * See service-landing-page.wingsuit.yaml for documentation.
 */
#}
{% extends "@templates/landing/landing.twig" %}

{% set breadcrumbs = [{text: 'Home', url: '/'}, {text: 'Housing'}] %}

{% block content %}

	{{pattern('page_title', {title: 'Housing'})}}

	{{ pattern_preview('service_links', {title: false}, 'columns') }}

{% endblock %}
