{#
/**
 * @file
 * menu-horizontal
 *
 * See menu-horizontal.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set title_attributes = title_attributes|default(create_attribute()) %}
{% set items_attributes = items_attributes|default(create_attribute()) %}
{% set item_attributes = item_attributes|default(create_attribute()) %}

{% set link_underline = link_underline ?? null %}
{% set menu_title = menu_title|default(false) %}
{% set stack_from = stack_from|default(false) %}
{% set menu_title = menu_title|default(false) %}
{% set link_font_variant = link_font_variant|default(false) %}

{#
  Classes
#}
{% set selector = selector|default('rbg-menu-horizontal') %}
{% set classes = [
  selector,
	variant ? selector ~ '--' ~ variant,
  link_underline is same as(true) ? selector ~ '--link-underline',
  link_underline is same as(false) ? selector ~ '--link-no-underline',
  menu_title ? selector ~ '--has-title',
  stack_from ? selector ~ '--stack--' ~ pattern_configuration('menu_horizontal', variant, 'breakpoints')[stack_from],
] %}


{% set title_classes = [
  selector ~ '__title',
  title_font_variant ? selector ~ '__items' ~ pattern_configuration('menu_horizontal', variant, 'font_variants')[title_font_variant],
]  %}
{% set items_classes = [
  selector ~ '__items',
  link_font_variant ? selector ~ '__items' ~ pattern_configuration('menu_horizontal', variant, 'font_variants')[link_font_variant],
] %}
{% set item_classes = [
  selector ~ '__item',
] %}
{% set link_classes = [
  selector ~ '__link',
] %}

{#
  Attributes
#}
{% set attributes = attributes.setAttribute('aria-label', menu_name).setAttribute('role', 'navigation').addClass(classes | sort | join(' ') | trim) %}
{% set title_attributes = title_attributes.addClass(title_classes | sort | join(' ') | trim) %}
{% set items_attributes = items_attributes.addClass(items_classes | sort | join(' ') | trim) %}
{% set item_attributes = item_attributes.addClass(item_classes | sort | join(' ') | trim) %}


{#
  Template
#}


<nav {{ attributes }}>
	{% if menu_title %}
		<div {{title_attributes}}>{{ menu_title }}</div>
	{% endif %}
	<ul {{ items_attributes }}>
		{% for item in items %}
        <li {{ item_attributes }}>


            {% set element = 'span' %}

            {% set link_attributes = link_attributes|default(create_attribute()) %}
            {% set link_attributes = link_attributes.addClass(link_classes | sort | join(' ') | trim) %}


            {% if item.url is defined %}
              {% set element = 'a' %}
              {# {% set link_attributes = link_attributes.setAttribute('href', item.url) %} #}
            {% endif %}

            {% if item.in_active_trail == true %}
              {% set link_attributes = link_attributes.addClass('is-active') %}
            {% endif %}

            <{{element}} {{ link_attributes }} {% if element == 'a' %}href="{{item.url}}"{% endif %}>
              {{ item.title }}
            </{{element}}>


        </li>
		{% endfor %}
	</ul>
</nav>
