{#
/**
 * @file
 * form-textarea
 *
 * See form-textarea.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-form-textarea' %}

{#
  Classes
#}

{% set classes = [
  selector,
] %}


{#
  Template
#}
<textarea{{ attributes.addClass(classes) }}>{{ value }}</textarea>
