@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/colors' as colors;
@use 'rbgstyles/tokens/links' as links;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include spacing.init($t);
    @include colors.init($t);
    @include links.init($t);
    @include reset.apply;

    // set the background color from component config

    display: block;
    width: 100%;
    max-width: calc(44px * 3 + 48px * 2);

    &__list {
      list-style: none;
      width: 100%;
      display: inline-flex;
      flex-flow: row;
      gap: spacing.calc-size('space-4');
    }

    &__icon {
      width: 44px;
      height: 44px;
      display: inline-block;

      @include links.apply(utils.get('icons', $cc));

      a {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: solid 3px transparent;

        &:active {
          border: solid 3px utils.get('colors.neutral.700', $t);
        }

        &:focus {
          outline: none;
          background: utils.get('colors.neutral.700', $t);
          border: solid 3px utils.get('colors.neutral.700', $t);
        }

      }

    }

    svg {
      height: 100%;
    }

    // for themes etc
    @content;
  }
}
