@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: rbg-social-icons-group;

// defaults for the component go here - can be overwritten by themes
$component-config-default: (
  'icons': (
    'default': (
      'color': 'neutral.700',
    ),
    'visited': (
      'color': 'neutral.700',
    ),
    'hover': (
      'color': 'primary.DEFAULT',
    ),
    'active': (
      'color': 'primary.DEFAULT',
    ),
    'focus': (
      'color': 'focus.DEFAULT',
    ),
  ),
);
