{#
/**
 * @file
 * nav-page
 *
 * See nav-page.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}


{#
  Classes
#}
{% set selector = 'rbg-nav-page' %}
{% set classes = [
  selector
] %}


{#
  Template
#}

<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  <p class="{{selector}}__title">{{ title }}</p>
  {{ pattern('list', {'icon_type': 'rbg-chevron-right', 'icon_color': 'royalblue', 'items': items }, 'unordered') }}
</div>
