{#
/**
 * @file
 * breakpoints
 *
 * See breakpoints.wingsuit.yaml for documentation.
 */
#}

{% set selector = 'tokens-breakpoints' %}
{% for theme, breakpoints in scssBreakpoints %}
	<h2>{{ theme }}</h2>
	{% for label, breakpoint in breakpoints %}
		<div class="{{ selector }} {{ selector }}--{{theme}} {{ breakpoint }}">
			<div class="{{ selector }}__block">
				<div>{{ label }}</div>
			</div>
			<div>
				<p>{{ label }}
					>
					{{ breakpoint }}</p>
			</div>
		</div>
	{% endfor %}

{% endfor %}
