@use 'sass:map';
@use 'sass:color';
@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/themes/royal-borough-greenwich-website' as theme-website;
@use 'rbgstyles/themes/greenwich-community-directory' as theme-gcd;

$selector: tokens-breakpoints;

@mixin styles($t) {
  $breakpoints: map.get($t, 'breakpoints');

  @include reset.init($t);
  @include reset.apply;

  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  gap: 1rem;

  > * {
    box-sizing: border-box;
  }

  .#{$selector}__block {
    background-color: utils.get('colors.neutral.400', $t);
    color: utils.get('colors.white', $t);
    padding: 1rem;
  }

  @each $breakpoint, $size in $breakpoints {
    &.#{$breakpoint} {
      .#{$selector}__block {
        width: $size;
      }
    }
  }
}
.#{$selector} {
  // website-main.scss
  &--website {
    @include styles(theme-website.$theme);
  }

  // website-gcd.scss
  &--gcd {
    @include styles(theme-gcd.$theme);
  }

  // @mixin row-styles {
  //   display: flex;
  //   flex-direction: row;
  //   padding: 1rem;
  // }
  // // website-main.scss
  // &--website {
  //   @include reset.init(theme-website.$theme);
  //   @include reset.apply;

  //   $website-breakpoints: map.get(theme-website.$theme, 'breakpoints');

  //   .#{$selector}__row {
  //     @include row-styles;
  //   }

  //   .#{$selector}__size {
  //     background-color: utils.get('colors.neutral.400', theme-website.$theme);
  //     color: utils.get('colors.white', theme-website.$theme);
  //   }

  //   @each $breakpoint, $size in $website-breakpoints {
  //     .#{$breakpoint} {
  //       width: $size;
  //     }
  //   }
  //   @include breakpoints.init(theme-website.$theme);
  // }

  // // website-gcd.scss
  // &--gcd {
  //   @include reset.init(theme-gcd.$theme);
  //   @include reset.apply;

  //   $gcd-breakpoints: map.get(theme-gcd.$theme, 'breakpoints');

  //   .#{$selector}__row {
  //     @include row-styles;
  //   }

  //   .#{$selector}__size {
  //     background-color: utils.get('colors.neutral.400', theme-gcd.$theme);
  //     color: utils.get('colors.white', theme-gcd.$theme);
  //   }

  //   @each $breakpoint, $size in $gcd-breakpoints {
  //     .#{$breakpoint} {
  //       width: $size;
  //     }
  //   }
  //   @include breakpoints.init(theme-gcd.$theme);
  // }
}
