@use 'sass:meta';
@use 'sass:map';
@use '../../../tools/utilities' as utils;
@use '../../breakpoints' as breakpoints;

@mixin apply($theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Grid called without theme options, using all defaults from config';

    $grid: theme.$grid;
    $breakpoints: theme.$breakpoints;
  }

  $grid: utils.get('grid.layout', $theme);
  $breakpoints: map.get($theme, breakpoints);

  @each $breakpoint, $styles in $grid {
    @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
      display: grid;
      grid-template-columns: repeat(
        #{utils.get('cols', $styles)},
        [col-start] #{utils.get('col-width', $styles)}
      );
      column-gap: utils.get('col-gutter', $styles);
      max-width: utils.get('max-width', $styles);
      margin: 0 auto;
    }

    // stop things from overflowing the grid
    > img,
    > iframe,
    > picture,
    > video,
    > canvas,
    > svg {
      display: block;
      max-width: 100%;
    }
  }
}
