// -----------------------------
// Tokens: Layout
// This contains the mixins for layout things
// -----------------------------

// helpers
@use 'sass:map';
@use '../../tools/utilities' as utils;

// module related
@forward 'buttons';
@forward 'mixins/reset' as mixin-reset-*;
@forward 'mixins/filled' as mixin-filled-*;
@forward 'mixins/outlined' as mixin-outlined-*;
@forward 'mixins/outlined-secondary' as mixin-outlined--secondary-*;
@forward 'mixins/text' as mixin-text-*;
@forward 'mixins/cta' as mixin-cta-*;
@use 'buttons';
@use 'mixins/reset' as button-reset;
@use 'mixins/filled' as button-filled;
@use 'mixins/outlined' as button-outlined;
@use 'mixins/outlined-secondary' as button-outlined-secondary;
@use 'mixins/text' as button-text;
@use 'mixins/cta' as button-cta;

// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: (
  'buttons': buttons.$buttons,
) !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

@mixin apply-reset($theme: $-tool-config) {
  @include button-reset.apply($theme);
}

@mixin apply-variant(
  $selector,
  $variant,
  $button: utils.get('buttons.variants.#{$variant}', $theme),
  $theme: $-tool-config
) {
  @if $variant == 'filled' {
    @include button-filled.apply($selector, $button, $theme);
  }

  @if $variant == 'outlined' {
    @include button-outlined.apply($selector, $button, $theme);
  }

  @if $variant == 'outlined-secondary' {
    @include button-outlined-secondary.apply($selector, $button, $theme);
  }

  @if $variant == 'text' {
    @include button-text.apply($selector, $button, $theme);
  }

  @if $variant == 'cta' {
    @include button-cta.apply($selector, $button, $theme);
  }
}
