{#
/**
 * @file
 * skip-to-content
 *
 * See skip-to-content.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-skip-to-content' %}

{#
  Classes
#}

{% set classes = [
  selector
] %}

{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  <a href='{{ link_url }}'>{{ link_text }}</a>
</div>
