@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // .
    @include spacing.init($t);
    @include breakpoints.init($t);

    // .
    $breakpoints: utils.get('breakpoints', $t);

    // . spacing
    &__content {
      $item-spacing: utils.get('item-spacing', $cc);

      @each $breakpoint, $space-token in $item-spacing {
        @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
          @include spacing.apply-flow($space-token, 'y');
        }
      }
    }

    // category spacing
    &__categories {
      $category-spacing: utils.get('category-spacing', $cc);

      @each $breakpoint, $space-token in $category-spacing {
        @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
          @include spacing.apply-flow($space-token, 'y');
        }
      }
    }

    &__button {
      &.spinning::after {
        content: '';
        width: 1rem;
        border-radius: 50%;
        aspect-ratio: 1/1;
        background: conic-gradient(rgba(0 0 0 / 0%) 10%, utils.get('colors.neutral.700', $t));

        $color-stop: #{rgba(0 0 0 / 0%)} #{calc(100% - 3px)};
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -webkit-mask: radial-gradient(
          farthest-side,
          #{$color-stop},
          utils.get('colors.neutral.700', $t) 0
        );
        animation: s3 0.6s infinite linear;
      }
    }

    @keyframes s3 {
      to {
        transform: rotate(1turn);
      }
    }

    .eu-cookie-compliance-save-preferences-button.spinning::before {
      box-shadow: 0 0 2px 0 utils.get('colors.neutral.700', $t);
      border-right: 3px solid utils.get('colors.neutral.700', $t);
    }

    // for themes etc
    @content;
  }
}
