<div class="rbg-tokens-accessibility">
<div class="rbg-tokens-accessibility--element-focus-styles">
<div tabindex="0">Tab focus on this element, it has no outline</div>
</div>

<div tabindex="0">Tab focus on this element, it has an outline</div>
</div>

