@use 'rbgstyles/themes/greenwich-community-directory' as gcd-theme-config;
@use 'rbgstyles/themes/royal-borough-greenwich-website' as website-theme-config;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/accessibility' as accessibility;
@use 'rbgstyles/tools/utilities' as utils;

$selector: rbg-tokens-accessibility;

.#{$selector} {
  [data-theme='website'] & {
    @include accessibility.init(website-theme-config.$theme);
    @include body.init(website-theme-config.$theme);
    @include body.apply;

    .#{$selector}__visually-hidden {
      @include accessibility.apply-visually-hidden;
    }

    &--link-focus-styles {
      a:focus {
        @include accessibility.apply-link-focus-styles;
      }
    }

    &--element-focus-styles {
      > *:focus {
        // @include accessibility.apply-link-focus-styles;
        @include accessibility.apply-element-focus-styles;
      }
    }
  }

  [data-theme='gcd'] & {
    @include accessibility.init(gcd-theme-config.$theme);
    @include body.init(gcd-theme-config.$theme);
    @include body.apply;

    .#{$selector}__visually-hidden {
      @include accessibility.apply-visually-hidden;
    }

    &--link-focus-styles {
      a:focus {
        @include accessibility.apply-link-focus-styles;
      }
    }

    &--element-focus-styles {
      > *:focus {
        // @include accessibility.apply-link-focus-styles;
        @include accessibility.apply-element-focus-styles;
      }
    }
  }
}
