{{pattern('field_key_value', {
  attributes: attributes,
  label_hidden: label_hidden,
  title_attributes: title_attributes,
  label: label,
  multiple: multiple,
  items: items,
  entity_type: entity_type,
  field_name: field_name,
  field_type: field_type,
  label_display: label_display,
  list_variant: 'none'
   })}}