{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{%
  set title_classes = [
  label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% for item in items %}
  {# change made here from stable9 to stop an extra <div> being added to fields with multiple paragraphs #}
  {% if attributes|length != 0 %}
    <div{{attributes}}>
    {% endif %}
    {% set is_recurring = item.content['#is_recurring'] %}
    {% set date = item.content['#date'] %}
    {% set occurrences = item.content['#occurrences'] %}
    {% if (date and not is_recurring) or (date and occurrences | length == 0) %}
      <div class="date-recur-date">{{ date|render|striptags|replace({'.00': ''}) }}</div>
    {% endif %}

    {% if interpretation -%}
      <div class="date-recur-interpretaton">{{ interpretation }}</div>
    {% endif %}

    {% if is_recurring and occurrences|length > 0 %}
      <div class="date-recur-occurrences">
        {% set next_event %}
          <p>
            {{ occurrences.0|render|striptags|replace({'.00': ''}) }}
          </p>
        {% endset %}
        {% if occurrences|length > 1 %}
          {% set details_content %}
            {% for item in occurrences %}
              {% if not loop.first %}
                <p>
                  {{ item|render|striptags|replace({'.00': ''}) }}
                </p>
              {% endif %}
            {% endfor %}
          {% endset %}
          {{ pattern('details', {text: next_event, cta_text: 'See more dates'|t, extra_text: details_content}) }}
        {% else %}
          {{ next_event }}
        {% endif %}


      </div>
    {% endif %}
    {% if attributes|length != 0 %}
    </div>
  {% endif %}

{% endfor %}
