{#
/**
 * @file
 * filter-accordion-item
 *
 * See filter-accordion-item.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set open = open|default(false) %}
{% set selector = 'rbg-filter-accordion-item' %}


{#
  Classes
#}

{% set classes = [
  selector,
  
] %}


{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}  
    data-children-count="1"   
    x-data="{ open: false }" 
    x-bind:class="{ 'open': open, 'closed': !open }" 
    x-init="open = $el.classList.contains('facet-active') ? true : false">
  <button 
    x-on:click="open = ! open" 
    class="{{selector}}__control" 
    type="button" 
    x-bind:aria-expanded="open" 
    aria-controls="filter-accordion-item-{{title|lower|url_encode|replace({'%20': "-"})}}" 
    id="filter-accordion-item-control-{{title|lower|url_encode|replace({'%20': "-"})}}">
    <span class="{{selector}}__title">{{title}}</span>
    <span class="{{selector}}__sub-title">{{sub_title}}</span>
    </button>
  <div 
    x-show="open" 
    x-collapse class="{{selector}}__content" 
    id="filter-accordion-item-{{title|lower|url_encode|replace({'%20': "-"})}}" 
    role="region" 
    aria-labelledby="filter-accordion-item-control-{{title|lower|url_encode|replace({'%20': "-"})}}">{{content}}</div>
</div>
