@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/accessibility' as accessibility;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/colors' as colors;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/icons' as icons;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // -
    @include accessibility.init($t);
    @include spacing.init($t);
    @include body.init($t);
    @include links.init($t);
    @include colors.init($t);
    @include fonts.init($t);
    @include headings.init($t);
    @include icons.init($t);
    @include breakpoints.init($t);
    @include font-sizes.init($t);

    // -

    display: grid;
    grid-template-rows: max-content;
    gap: spacing.calc-size('space-5');
    outline: none;
    text-decoration: none;
    border-bottom: utils.get('divider.width', $cc) solid utils.get(utils.get('divider.color', $cc), $t);

    @include links.apply-inline(utils.get('card-links', $cc));

    &--no-image {
      padding-top: spacing.calc-size('space-5');
    }

    &__image {
      overflow: hidden;
      max-width: 100%;
    }

    &__meta {
      @include spacing.apply-space('space-5', 'px');
      @include spacing.apply-flow('space-3', 'y');

      padding-bottom: spacing.calc-size('space-5');
      display: flex;
      flex-flow: column;
      justify-content: space-between;
    }

    &__title {
      @include headings.apply-heading('h4');
      @include links.apply-state(utils.get('title-links', $cc), default, false);
    }

    &__published {
      @include fonts.apply-font('DEFAULT', 'semibold');
      @include font-sizes.apply-size('DEFAULT', true);
      @include links.apply-state(utils.get('published-links', $cc), default, false);
    }

    &:visited {
      &__title {
        @include links.apply-state(utils.get('title-links', $cc), visited, false);
      }

      &__published {
        @include links.apply-state(utils.get('published-links', $cc), visited, false);
      }
    }

    &:hover {
      border-bottom-color: utils.get(utils.get('divider.hover', $cc), $t);

      img {
        max-width: 105%;
        height: 105%;
      }

      &__title {
        @include links.apply-state(utils.get('title-links', $cc), hover, false);
      }

      &__published {
        @include links.apply-state(utils.get('published-links', $cc), hover, false);
      }
    }

    &:active {
      &__title {
        @include links.apply-state(utils.get('title-links', $cc), active, false);
      }

      &__published {
        @include links.apply-state(utils.get('published-links', $cc), active, false);
      }
    }

    &:focus {
      &__title {
        @include links.apply-state(utils.get('title-links', $cc), focus, false);
      }

      &__published {
        @include links.apply-state(utils.get('published-links', $cc), focus, false);
      }
    }

    // layout for image and meta on desktop
    @include breakpoints.screen-gt('tablet') {
      grid-template-rows: 50%;
    }

    // for themes etc
    @content;
  }
}
