@use '../component' as component;
@use 'rbgstyles/tokens/elements' as elements;

@mixin styles($component-selector, $cc, $t) {
  @include component.styles($component-selector, $cc, $t) {
    @include elements.apply-blockquote-inset;

    blockquote {
      &::before { 
        display: none;
      }
    }
  }
}
