@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use 'sass:list';
@use '../../../tools/utilities' as utils;
@use '../colors' as colors;

/*

This mixin returns a list of colour classes with a prefix for the property

eg color-classes-list('gerry')

returns `.gerry--primaryred`

it also returns the value for the color as well in case thats required.

*/
@function color-classes-list($property, $theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Colors default called without theme options, using defaults from config';

    $colors: colors.$colors;
    $body: body.$body;
    $breakpoints: breakpoints.$breakpoints;
  }

  $color-classes: ();
  $colors: map.get($theme, colors);

  @if $colors {
    @each $color, $values in $colors {
      @if meta.type-of($values) == 'color' {
        $color-classes: list.append($color-classes, #{$property}--#{$color} $values);
      } @else if meta.type-of($values) == 'map' {
        @each $subcolor, $value in $values {
          @if meta.type-of($value) == 'color' {
            $name: '#{$color}--#{$subcolor}';
            $color-classes: list.append($color-classes, #{$property}--#{$name} $value);
          }
        }
      }
    }
  }

  @return $color-classes;
}
