{#
/**
 * @file
 * page
 *
 * See landing-gcd.wingsuit.yaml for documentation.
 */
#}

{# Extends the 'default landing template'  - its virtually identical at this point #}
{% extends "@templates/landing/landing.twig" %}

{% set theme = 'gcd' %}

{# some content for the purposes of this template being rendered in storybook, this is going to be overwritten #}

{% block content %}
        {{ pattern('rich_text', { text: '<p>This template is used for the landing page, user landing pages etc</p>' }) }}
        {{ pattern('rich_text', { text: '<p>This second page block is here to show the spacing between items inside of the \'content\' area</p>'}) }}
        {{ pattern('rich_text', { text: '<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor.</p>'}) }}
{% endblock %}

