{#
/**
 * @file
 * link
 *
 * See link.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set headingAttributes = create_attribute() %}
{% set menu_type = drawer_content|length > 1 ? 'multiple-menu' : 'single-menu' %}
{% set disable_menu = disable_menu|default(false) %}
{% set selector = 'rbg-header-gcd' %}

{#
  Classes
#}

{% set classes = [
  selector,
  selector ~ '--' ~ menu_type
] %}


{#
  Template
#}

{# @TODO consolidate javascript behaviour and maybe even menu styles for this component as well as css between component and gcd files #}
<header {{ attributes.addClass(classes | sort | join(' ') | trim) }}  x-data="headerGcdBehavior()" :class="{ '{{selector ~ '--drawer-open'}}': drawerOpen}">
  <div class="{{ selector }}__container">
    <div class="{{ selector }}__logos">
      {{ pattern('logo', {url: url}, 'white') }}
      {{ pattern('logo_gcd', {url: url}) }}
    </div>

    {# main #}
    <div class="{{selector}}__main" >
          {% if full_title is not empty %}
            {% set headingAttributes = headingAttributes.setAttribute('aria-label', full_title) %}
          {% endif %}
         {{ pattern('heading', {attributes: headingAttributes, text: title, url: url, font_size: 'h3', color: 'primary'}, 'h1') }}
    </div>

    {# mobile-menu #}
    <div class="{{ selector }}__aside__menu">
      {% if disable_menu != true %}
        {{ pattern('menu_horizontal_header', {items: [{title: 'Menu', alt_title: 'Close', target: 'menu'}], aside_menu: true}) }}
      {% endif %}
    </div>

    <div class="{{ selector }}__drawer-content">
        {% if menu_items %}
        {{ pattern('header_drawer_item', {target: 'menu', 'show_back': false, items: [
            pattern('menu_horizontal', {
                stack_from: 'desktop', 
                title_font_variant: 'medium',
                menu_title: 'Find support for',
                menu_name: 'Main site',
                items: menu_items
            }, 'default')
        ]}) }}
        {% endif %}
    </div>
  </div>
</header>