@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use '../../../tools/utilities' as utils;
@use '../spacing' as spacing;
@use '../../body' as body;
@use '../../breakpoints' as breakpoints;
@use './flow' as flow-mixins;

// @todo put in some validation here for the data format
// expects headings in the same format as found in _config.scss

// This mixin sets the font sizes and options we would set for typography on a component
@mixin apply($nested, $theme) {
  $body: map.get($theme, body);
  $breakpoints: map.get($theme, breakpoints);
  $spacing: map.get($theme, spacing);

  @if meta.type-of($theme) == 'null' {
    @warn 'Flow default called without theme options, using defaults from config';

    $spacing: spacing.$spacing;
    $body: body.$body;
    $breakpoints: breakpoints.$breakpoints;
  }

  $our-base-font-size: utils.get('base.our-base-font-size', $body);
  $axis: y x;

  @if map.get($spacing, default) {
    // default styles
    @each $a in $axis {
      @include apply-flows(map.get($spacing, default), $our-base-font-size, $nested, $a, $theme);
    }
  } @else {
    @each $breakpoint, $styles in $spacing {
      @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
        @each $a in $axis {
          @include apply-flows($styles, $our-base-font-size, $nested, $a, $theme);
        }
      }
    }
  }
}

// outputs the font sizes and all classes that apply to it
@mixin apply-flows($spacing, $our-base-font-size, $nested, $axis, $theme) {
  // 1 ---------
  // first we render the rbg-flow-*--space-1 classes
  @include -flow-loop($spacing, $our-base-font-size, $nested, $axis);

  // 2 ---------
  // first we render the rbg-flow-*--phone--space-1 classes
  // for each breakpoint in the spacing object we output a class named after it
  $breakpoints: map.get($theme, breakpoints);

  @each $breakpoint, $value in $breakpoints {
    @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
      @include -flow-loop($spacing, $our-base-font-size, $nested, $axis, '--#{$breakpoint}');
    }
  }
}

@mixin -flow-loop($spacing, $our-base-font-size, $nested, $axis, $breakpoint: '') {
  @each $selector, $values in $spacing {
    @include selector(
      'rbg-flow-#{$axis}#{$breakpoint}--#{$selector}',
      $nested
    ) {
      @include flow-mixins.apply-flow($values, $our-base-font-size, $axis);
    }
  }
}

@mixin selector(
  $selector,
  $nested
) {
  @if $nested {
    &.#{$selector} {
      @content;
    }
  } @else {
    .#{$selector} {
      @content;
    }
  }
}
