@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use '../../../tools/utilities' as utils;
@use '../spacing' as spacing;
@use '../../body' as body;
@use '../../breakpoints' as breakpoints;

// @todo put in some validation here for the data format
// expects headings in the same format as found in _config.scss

// This mixin sets the font sizes and options we would set for typography on a component
@mixin apply($variant, $axis, $theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Flow default called without theme options, using defaults from config';

    $spacing: spacing.$spacing;
    $body: body.$body;
    $breakpoints: breakpoints.$breakpoints;
  }

  $body: map.get($theme, body);
  $breakpoints: map.get($theme, breakpoints);
  $spacing: map.get($theme, spacing);
  $our-base-font-size: utils.get('base.our-base-font-size', $body);

  @if map.get($spacing, default) {
    // default styles
    @include apply-flow(utils.get('default.#{$variant}', $spacing), $our-base-font-size, $axis);
  } @else {
    @each $breakpoint, $styles in $spacing {
      @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
        @include apply-flow(map.get($styles, $variant), $our-base-font-size, $axis);
      }
    }
  }
}

// :not()'.hidden' is a dirty hack I've had to put in because drupal likes to sneak hidden things into the code BUT
// we can justify it because if anything is given the class '.hidden' we probably dont want it messing with our layout anyway 🤔
// Likewise with the '.contextual' class which Drupal adds as part of {{ title_prefix }} and {{ title_sufffix }} to provide
// a contextual set of links. Unfortunately this then adds space at the beginning of the flow for editors (does not apply to anon).

// outputs the font sizes and all classes that apply to it
@mixin apply-flow($spacing, $our-base-font-size, $axis) {
  @if $axis == 'y' {
    > *:not(.hidden, .contextual) + * {
      -webkit-margin-before: calc($spacing / $our-base-font-size) + rem;
      margin-block-start: calc($spacing / $our-base-font-size) + rem;
    }
  }

  @if $axis == 'x' {
    > *:not(.hidden, .contextual) + * {
      -webkit-margin-start: calc($spacing / $our-base-font-size) + rem;
      margin-inline-start: calc($spacing / $our-base-font-size) + rem;
    }
  }
}
