// import scss utilities used by this file
@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';

// import our own utilities
@use '../../../tools/utilities' as utils;

// import the spacing tokens
@use '../spacing' as spacing;

// import the frontend tokens
@use '../../body' as body;

// import the breakpoint tokens
@use '../../breakpoints' as breakpoints;

// import the space mixin so we can use the apply-space mixin
// using the same naming convention as in the spacing index file
@use './space' as space-mixins;

// @todo put in some validation here for the data format

// This mixin outputs a list of classes based on the spacing tokens
// it also outputs responsive versions of those classes
// $nested: boolean - if true the classes will be nested under the parent selector
// $theme: map - the theme configuration, passed from the apply() mixin in the spacing/_index.scss file, originally set by calling spacing.init($t)
@mixin apply($nested, $theme) {
  // get the theme options this file needs

  $body: map.get($theme, body);
  $breakpoints: map.get($theme, breakpoints);
  $spacing: map.get($theme, spacing);

  // This is a little warning to help us debug when we're not getting the theme options we expect, by default it will use the default tokens and not the ones for the current theme context
  @if meta.type-of($theme) == 'null' {
    @warn 'Spacing default called without theme options, using defaults from config';

    $spacing: spacing.$spacing;
    $body: body.$body;
    $breakpoints: breakpoints.$breakpoints;
  }

  // setup some variables we will need
  $our-base-font-size: utils.get('base.our-base-font-size', $body);
  $axis: px py pty pxy mx my mty mxy utils;

  // in our tokens we have a convention of using 'default' as the key for the styles

  // $spacing: (
  //   'default': (
  //     'space-1': 1px,
  //   ),
  // );

  // if there are responsive styles then the key is the breakpoint name

  // $spacing: (
  //   'phone': (
  //     'space-1': 1px,
  //   ),
  //   'tablet': (
  //     'space-1': 1px,
  //   ),
  //   'desktop': (
  //     'space-1': 1px,
  //   ),
  //   'desktop-wide': (
  //     'space-1': 1px,
  //   ),
  // );

  // this @if statement checks which state the spacing tokens are in and then outputs the classes accordingly
  // this means that we can set different values for space-n at different breakpoints depending on the theme configuration
  @if map.get($spacing, default) {
    // for every axis in the list of axis we apply the apply-spacing  mixins
    @each $a in $axis {
      @include apply-spacing(map.get($spacing, default), $our-base-font-size, $nested, $a, $theme);
    }
  } @else {
    // if we have breakpoints defined in our spacing mixin then we loop through each of them, the $breakpoint is the name of the breakpoint
    @each $breakpoint, $styles in $spacing {
      // we included the breakpoints module above, this loop mixin is a helper that allows us to loop through the breakpoints
      // breakpoints.loop will not wrap the first breakpoint, so the code is mobile first
      @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
        // then as above for every axis in the list of axis we apply the apply-spacing  mixins
        @each $a in $axis {
          @include apply-spacing($styles, $our-base-font-size, $nested, $a, $theme);
        }
      }
    }
  }
}

// outputs the font sizes and all classes that apply to it
@mixin apply-spacing($spacing, $our-base-font-size, $nested, $axis, $theme) {
  // 1 ---------
  // first we render the rbg-px--space-1 classes
  @include -spacing-loop($spacing, $our-base-font-size, $nested, $axis);

  // 2 ---------
  // then we render the rbg-px--phone--space-1 classes
  // for each breakpoint in the spacing object we output a class named after it
  $breakpoints: map.get($theme, breakpoints);

  @each $breakpoint, $value in $breakpoints {
    @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
      // we use the breakpoints.loop mixin to wrap the output in the correct @media query
      @include -spacing-loop($spacing, $our-base-font-size, $nested, $axis, '--#{$breakpoint}');
    }
  }
}

// - (or _) indicates a private mixin that is not intended to be used outside of this file
@mixin -spacing-loop($spacing, $our-base-font-size, $nested, $axis, $responsive: '') {
  // for each key in the spacing object we output a class named after it
  // ('space-1': 1px) will output .rbg-px--space-1 { ... }
  // we are calling the values() mixin to deal with the logic
  // and we are wrapping this in the selector() mixin to deal with the nested option
  @each $selector, $values in $spacing {
    @include selector(
      'rbg-#{$axis}#{$responsive}--#{$selector}',
      $nested,
      $axis
    ) {
      @include space-mixins.apply-space($values, $our-base-font-size, $axis);
    }
  }

  // Outputs a version with the important flag.
  @each $selector, $values in $spacing {
    @include selector(
      'rbg-#{$axis}#{$responsive}--#{$selector}--important',
      $nested,
      $axis
    ) {
      @include space-mixins.apply-space($values, $our-base-font-size, $axis, true);
    }
  }
}

// a littke helper mixin to deal with the nested option
@mixin selector(
  $selector,
  $nested,
  $axis
) {
  @if $nested {
    &.#{$selector} {
      @content;
    }
  } @else {
    // because of specificity rules a class selector overrides * but we need to include the parent selector in order for class specificity to work
    // body *[class*='rbg-'] > .#{$selector}
    // we include *[class*='rbg-'] >  to ensure that our utility class is applied
    // and we're using body to ensure that the specificity
    // we only apply this on utility classes
    // *[class*='rbg-'] *[class*='rbg-'] > .#{$selector}
    // this is an edge case because of the 2-col layout being doubly nested, since we only ever really use spacing.apply for utilties we are ok, and we haven't used !important which is...!important!
    @if $axis == 'utils' {
      body *[class*='rbg-'] *[class*='rbg-'] > .#{$selector},
      body *[class*='rbg-'] > .#{$selector} {
        @content;
      }
    } @else {
      .#{$selector} {
        @content;
      }
    }
  }
}
