@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use '../../../tools/utilities' as utils;
@use '../spacing' as spacing;
@use '../../body' as body;
@use '../../breakpoints' as breakpoints;

// @todo put in some validation here for the data format
// expects headings in the same format as found in _config.scss

// This mixin sets the font sizes and options we would set for typography on a component
@mixin apply($variant, $axis, $theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Flow default called without theme options, using defaults from config';

    $spacing: spacing.$spacing;
    $body: body.$body;
    $breakpoints: breakpoints.$breakpoints;
  }

  $body: map.get($theme, body);
  $breakpoints: map.get($theme, breakpoints);
  $spacing: map.get($theme, spacing);
  $our-base-font-size: utils.get('base.our-base-font-size', $body);

  @if map.get($spacing, default) {
    // default styles
    @include apply-space(utils.get('default.#{$variant}', $spacing), $our-base-font-size, $axis);
  } @else {
    @each $breakpoint, $styles in $spacing {
      @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
        @include apply-space(map.get($styles, $variant), $our-base-font-size, $axis);
      }
    }
  }
}

// outputs the font sizes and all classes that apply to it
// this is referred to by the spacing mixin too
// takes an optional $important parameter to add !important if needed
@mixin apply-space($spacing, $our-base-font-size, $axis, $important: false) {
  $important-suffix: if($important, '!important', '');

  @if $axis == 'px' {
    padding-left: calc($spacing / $our-base-font-size) + rem #{$important-suffix};
    padding-right: calc($spacing / $our-base-font-size) + rem #{$important-suffix};
  }

  @if $axis == 'py' {
    padding-top: calc($spacing / $our-base-font-size) + rem #{$important-suffix};
    padding-bottom: calc($spacing / $our-base-font-size) + rem #{$important-suffix};
  }

  @if $axis == 'pty' {
    padding-top: calc($spacing / $our-base-font-size) + rem #{$important-suffix};
  }

  @if $axis == 'pxy' {
    padding: calc($spacing / $our-base-font-size) + rem #{$important-suffix};
  }

  @if $axis == 'mx' {
    margin-left: calc($spacing / $our-base-font-size) + rem #{$important-suffix};
    margin-right: calc($spacing / $our-base-font-size) + rem #{$important-suffix};
  }

  @if $axis == 'my' {
    margin-top: calc($spacing / $our-base-font-size) + rem #{$important-suffix};
    margin-bottom: calc($spacing / $our-base-font-size) + rem #{$important-suffix};
  }

  @if $axis == 'mty' {
    margin-top: calc($spacing / $our-base-font-size) + rem #{$important-suffix};
  }

  @if $axis == 'mxy' {
    margin: calc($spacing / $our-base-font-size) + rem #{$important-suffix};
  }

  @if $axis == 'utils' {
    margin-block-start: calc($spacing / $our-base-font-size) + rem #{$important-suffix};
  }
}
