{#
/**
 * @file
 * react-example
 *
 * See react-example.wingsuit.yaml for documentation.
 */
#}


{# Defaults #}
{% set attributes = attributes|default(create_attribute()) %}

{# Classes #}

{% set selector = 'm-react-example' %}
{% set classes = [
  'tw-bg-gray-100 tw-py-14',
] | sort | join(' ') | trim %}

{# Template #}
<div {{ attributes.addClass(classes).setAttribute('id', anchor) }}>
	<div class="tw-container">
		<div react-example>
			<noscript>The react example requires JavaScript to work</noscript>
		</div>
	</div>
</div>