@use 'sass:map';
@use 'sass:meta';
@use 'sass:string';
@use 'sass:list';

// private function that splits $string by $delimeter
@function -str-explode($string, $delimiter: '') {
  $result: ();
  $running: true;

  @if string.length($delimiter) == 0 {
    @for $i from 1 through string.length($string) {
      $result: list.append($result, string.slice($string, $i, $i));
    }

    @return $result;
  }

  @while $running {
    $index: string.index($string, $delimiter);

    @if $index {
      $item: string.slice($string, 1, ($index - 1));
      $result: list.append($result, $item);
      $string: string.slice($string, ($index + string.length($delimiter)));
    } @else {
      $running: false;
    }
  }

  @return list.append($result, $string);
}

// gets the value of the data in a map at the specified path
// you can also use @use "sass:map"; map.get($mapVar, key); but this only works for single level maps.
// usage: `get('typography.default.line-height')`
@function get($key, $map) {
  @if meta.type-of($key) != 'string' {
    @error '$key should be a string, it is currently `#{meta.type-of($key)}`';
    @return ();
  }

  // @if type-of($map) != 'map' {
  //   @error '$map should be a map, it is currently `#{type-of($map)}`';
  //   @return ();
  // }

  $keys: -str-explode($key, '.');

  @each $key in $keys {
    @if not map.has-key($map, $key) {
      @debug $key, $map;
      @error 'Check your $map in get() method, its looking for the above and isn\'t finding it 🤷‍♀️';
    }

    $map: map.get($map, $key);
  }

  @return $map;
}
