@use 'sass:meta';
@use 'sass:math';

@function make-unitless($value) {
  @if meta.type-of($value) != 'number' {
    @error 'unit needs to be a number';
  }

  @return math.div($value, $value * 0 + 1);
}

@function convert-unit($value, $unit) {
  @if meta.type-of($value) != 'number' {
    @error 'value needs to be a number';
  }

  @if meta.type-of($unit) != 'number' {
    @error 'unit needs to be a number';
  }

  $unit: math.abs($unit);

  @return make-unitless($value) * ($unit - $unit + 1);
}
