@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/icons' as icons;
@use 'rbgstyles/tokens/layout' as layout;
@use 'sass:map';
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // .
    @include spacing.init($t);
    @include headings.init($t);
    @include body.init($t);
    @include links.init($t);
    @include layout.init($t);
    @include breakpoints.init($t);
    @include font-sizes.init($t);
    @include icons.init($t);
    @include spacing.init($t);

    // .
    @include body.apply;
    @include headings.apply;
    @include links.apply;
    @include layout.apply-full-col;

    background-color: utils.get('colors.neutral.200', $t);

    @include spacing.apply-space('space-2', 'py');

    @include breakpoints.screen-gt('desktop') {
      @include spacing.apply-space('space-3', 'py');
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__content {
      flex: 1;
    }

    &__body {
      > *:first-of-type {
        margin: 0;
      }

      > * {
        @include spacing.apply-flow('space-2');
      }
    }

    // ---- variants

    $variants: utils.get('variants', $cc);

    @each $variant, $values in $variants {
      &--#{$variant} {
        background-color: utils.get(utils.get('background-color', $values), $t);
        border-top: 1px solid utils.get(utils.get('border-color', $values), $t);
        border-bottom: 1px solid utils.get(utils.get('border-color', $values), $t);

        @if map.has-key($values, 'color') {
          color: utils.get(utils.get('color', $values), $t);
        }

        @if map.has-key($values, 'body-link') {
          @include links.apply(utils.get('body-link', $values));
        }

        .#{$selector}__close {
          @if map.has-key($values, 'button-link') {
            @include links.apply-inline(utils.get('button-link', $values));

            border-color: utils.get(utils.get('button-link.default.border-color', $values), $t);

            &:visited {
              border-color: utils.get(utils.get('button-link.visited.border-color', $values), $t);
            }

            &:hover {
              border-color: utils.get(utils.get('button-link.hover.border-color', $values), $t);
            }

            &:active {
              border-color: utils.get(utils.get('button-link.active.border-color', $values), $t);
            }

            &:focus {
              border-color: utils.get(utils.get('button-link.focus.border-color', $values), $t);
            }
          }
        }
      }
    }

    // for themes etc
    @content;
  }
}
