@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: rbg-alert-banner;

// defaults for the component go here - can be overwritten by themes

$default-variant: (
  'background-color': 'colors.white',
  'border-color': 'colors.neutral.300',
);
$component-config-default: (
  'default': $default-variant,
  'variants': (
    'announcement': $default-variant,
    'minor': (
      'background-color': 'colors.neutral.200',
      'border-color': 'colors.neutral.400',
    ),
    'major': (
      'background-color': 'colors.neutral.300',
      'border-color': 'colors.neutral.500',
    ),
    'notable-person': (
      'background-color': 'colors.neutral.500',
      'border-color': 'colors.black',
      'body-link': (
        'default': (
          'color': 'white',
        ),
        'visited': (
          'color': 'white',
        ),
        'hover': (
          'color': 'white',
          'background-color': 'neutral.700',
        ),
        'active': (
          'color': 'white',
          'background-color': 'neutral.700',
        ),
        'focus': (
          'color': 'neutral.700',
          'background-color': 'focus.DEFAULT',
        ),
      ),
      'button-link': (
        'default': (
          'color': 'white',
          'border-color': 'colors.white',
        ),
        'visited': (
          'border-color': 'colors.transparent',
        ),
        'hover': (
          'border-color': 'colors.transparent',
        ),
        'active': (
          'border-color': 'colors.transparent',
        ),
        'focus': (
          'border-color': 'colors.transparent',
        ),
      ),
      'color': 'colors.white',
    ),
  ),
);
