// -----------------------------
// Tokens: Layout
// This contains the mixins for layout things
// -----------------------------

@forward 'layout';

// helpers
@use 'sass:map';
@use '../../tools/utilities' as utils;

// module related
@use 'layout';

// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: (
  'layout': layout.$layout,
) !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

@mixin apply($theme: $-tool-config) {
  // @include colors-mixins.apply($property, $nested, $theme);
}
