@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/grid' as grid;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // if we have multiple of these in a row then we increase the spacing between them
    // NB important is allowed here because its controled - though not ideal :/
    // + .#{$selector} {
    //   -webkit-margin-before: spacing.calc-size('space-19') !important;
    //   margin-block-start: spacing.calc-size('space-19') !important;
    // }

    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // .
    @include spacing.init($t);

    margin-top: spacing.calc-size('space-19');

    // .
    @include spacing.apply-flow('space-5', 'y');

    &__title {
      margin-bottom: spacing.calc-size('space-5');
    }

    &__items {
      @include grid.apply-layout-alt-grid;

      row-gap: spacing.calc-size('space-5');

      > div {
        grid-column: 1/-1;
        height: 100%;
      }
    }

    // Screens wider than phone (480), 6 column grid, 2 up, spanning 3 cols.
    @include breakpoints.screen-gt('phone') {
      &__items {
        > div {
          grid-column: span 3;
        }
      }
    }

    // Screens wider than tablet (768), 6 column grid, 3 up, spanning 2 cols.
    @include breakpoints.screen-gt('tablet') {
      &__items {
        > div {
          grid-column: span 2;
        }
      }
    }

    // Screens wider than desktop (1024), 6 column grid, 3 up, spanning 2 cols.
    @include breakpoints.screen-gt('desktop') {
      &__items {
        > div {
          grid-column: span 2;
        }
      }
    }

    // set the background color from component config

    // for themes etc
    @content;
  }
}
