// -----------------------------
// Tokens: Layout
// This contains the mixins for layout things
// -----------------------------

@forward 'layout';

// helpers
@use 'sass:map';
@use '../../tools/utilities' as utils;

// module related
@forward 'layout';
@use 'layout';
@use 'mixins/layout-one-col' as layout-one-col;
@use 'mixins/layout-two-col' as layout-two-col;
@use 'mixins/layout-full-col' as layout-full-col;

// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: (
  'layout': layout.$layout,
) !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

@mixin apply-one-col($theme: $-tool-config) {
  @include layout-one-col.apply($theme);
}

@mixin apply-two-col($theme: $-tool-config) {
  @include layout-two-col.apply($theme);
}

@mixin apply-full-col($theme: $-tool-config) {
  @include layout-full-col.apply($theme);
}
