@use 'sass:map';
@use 'sass:list';
@use '../../tokens/defaults' as *;
@forward '../../tokens/defaults';

// Standardise the output of each theme
// we can use this to add validation if needed
@function output-theme-config($config: ()) {
  $result: map.deep-merge($default-config, $config);

  @if map.get($default-config, debug) == true {
    @debug '';
    @debug '';
    @debug '';
    @debug '🟢 -------- start generator --------';
    @debug '#{map.get($result, icon)}   #{map.get($result, name)}';

    // @debug $config;
    @debug $result;
    @debug '🔴 -------- end generator --------';
    @debug '';
    @debug '';
    @debug '';
  }

  @return $result;
}
