{#
/**
 * @file
 * media-card
 *
 * See media-card.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-media-card' %}

{#
  Classes
#}

{% set classes = [
  selector,
  url is not empty ? selector ~ '--link',
  image is empty ? selector ~ '--no-image'
] %}


{#
  Template
#}

{% if url is not empty %}
  {% set tag = 'a' %}
  {% set attributes = attributes.setAttribute('href', url) %}
{% endif %}

<{{tag}} {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  {% if image %}
   <div class="{{selector}}__image">
     {{pattern('image', {aspect: '9-5', cover: true, image: image}, 'image')}}
   </div>
  {% endif %}

  {% if title or published %}
  <div class="{{selector}}__meta">
  {% endif %}
    {% if title %}
    <div class="{{selector}}__title">
      {{title}}
    </div>
    {% endif %}
    {% if published %}
    <div class="{{selector}}__published">
      {{published}}
    </div>
    {% endif %}
  {% if title or published %}
    </div>
  {% endif %}
</{{tag}}>
