{#
/**
 * @file
 * link
 *
 * See link.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set menu_type = drawer_content|length > 1 ? 'multiple-menu' : 'single-menu' %}
{% set disable_menu = disable_menu|default(false) %}
{% set selector = 'rbg-header' %}

{#
  Classes
#}

{% set classes = [
  selector,
  selector ~ '--' ~ menu_type
] %}


{#
  Template
#}


<header {{ attributes.addClass(classes | sort | join(' ') | trim) }}  x-data="headerBehavior()" :class="{ '{{selector ~ '--drawer-open'}}': drawerOpen}">
  <div class="{{ selector }}__container">
    <div class="{{ selector }}__logos">
      {{ pattern('logo', {url: url}, 'white') }}
    </div>

    {# drawer #}
    <div class="{{ selector }}__drawer-content">
      {% for item in drawer_content %}
        {{item}}
      {% endfor %}
    </div>

    {# main #}
    {% if main_content|render %}
      <div class="{{selector}}__main">
         {% for item in main_content %}
           {{ item }}
         {% endfor %}
      </div>
    {% endif %}

    {# mobile-menu #}
    <div class="{{ selector }}__aside__menu">
      {% if disable_menu != true %}
        {{ pattern('menu_horizontal_header', {items: [{title: 'Menu', alt_title: 'Close', target: 'menu'}], aside_menu: true}) }}
      {% endif %}
    </div>

    {# aside #}
    {% if aside_content|render %}
      <div class="{{selector}}__aside__content" >
        {% for item in aside_content %}
            {{ item }}
         {% endfor %}
      </div>
    {% endif %}
  </div>
</header>