@use 'sass:map';
@use 'sass:list';
@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/colors' as colors;

@mixin styles($selector, $cc, $t) {
  // can also group together with local mixins if needed too depends on the complexity of the component
  // $background-color: utils.get('background.color', $cc);
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include body.init($t);
    @include links.init($t);
    @include fonts.init($t);

    // apply body styles for the line heights really
    @include body.apply;

    // @include links.apply-inline(utils.get('default.links', $cc));

    // if is-external set works best with card styles
    @include -external-link($selector, $cc, $t);

    @each $variant, $styles in utils.get('variants', $cc) {
      &--#{$variant} {
        $link-colors: utils.get('links', $styles);

        @if map.get($styles, 'font-sizes') {
          @include font-sizes.apply-size(
            utils.get('font-sizes.size', $styles),
            utils.get('font-sizes.responsive', $styles)
          );
        }

        @include links.apply-inline($link-colors);
      }
    }

    // for themes etc
    @content;
  }
}

@mixin -external-link($selector, $cc, $t) {
  &--external {
    &.#{$selector} {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: spacing.calc-size('space-2');
    }

    $all-font-sizes: utils.get('font-sizes', $t);
    $font-sizes: ();

    @if map.get($all-font-sizes, 'default') {
      $font-sizes: map.get($all-font-sizes, 'default');
    } @else {
      $first: list.nth(map.keys($all-font-sizes), 1);
      $font-sizes: map.get($all-font-sizes, '#{$first}');
    }

    $size: utils.get('400.font-size', $font-sizes);

    width: 100%;

    &::after {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url('~atoms/heading/images/external-link.svg');
      border: solid 1px transparent;
      content: '';
      display: block;
      width: $size * 1.5;
      height: $size * 1.5;
    }
  }
}
