@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: rbg-link;

// defaults for the component go here - can be overwritten by themes
$component-config-default: (
  'variants': (
    'default': (
      'font-sizes': (
        'size': 'DEFAULT',
        'responsive': true,
      ),
      'links': (
        'default': (
          'color': 'royalblue.DEFAULT',
          'text-decoration': underline,
          'background-color': transparent,
          'font-variant': 'medium',
          'font-size': '500',
        ),
        'visited': (
          'color': 'royalblue.DEFAULT',
          'text-decoration': underline,
          'background-color': transparent,
          'font-variant': 'medium',
          'font-size': '500',
        ),
        'hover': (
          'color': 'royalblue.DEFAULT',
          'text-decoration': underline,
          'background-color': 'skyblue.DEFAULT',
          'font-variant': 'medium',
          'font-size': '500',
        ),
        'active': (
          'color': 'midnightblue.DEFAULT',
          'text-decoration': underline,
          'background-color': 'skyblue.DEFAULT',
          'font-variant': 'medium',
          'font-size': '500',
        ),
        'focus': (
          'color': 'neutral.700',
          'text-decoration': underline,
          'background-color': 'focus.DEFAULT',
          'font-variant': 'medium',
          'font-size': '500',
        ),
      ),
    ),
    'card': (
      'links': (
        'default': (
          'color': 'neutral.700',
          'text-decoration': underline,
          'background-color': transparent,
          'font-variant': 'medium',
          'font-size': '400',
          'font-responsive': false,
        ),
        'visited': (
          'color': 'neutral.700',
          'text-decoration': underline,
          'background-color': transparent,
          'font-variant': 'medium',
          'font-size': '400',
          'font-responsive': false,
        ),
        'hover': (
          'color': 'neutral.700',
          'text-decoration': underline,
          'background-color': 'skyblue.DEFAULT',
          'font-variant': 'medium',
          'font-size': '400',
          'font-responsive': false,
        ),
        'active': (
          'color': 'midnightblue.DEFAULT',
          'text-decoration': underline,
          'background-color': 'skyblue.DEFAULT',
          'font-variant': 'medium',
          'font-size': '400',
          'font-responsive': false,
        ),
        'focus': (
          'color': 'neutral.700',
          'text-decoration': underline,
          'background-color': 'focus.DEFAULT',
          'font-variant': 'medium',
          'font-size': '400',
          'font-responsive': false,
        ),
      ),
    ),
    'black': (
      'font-sizes': (
        'size': 'DEFAULT',
        'responsive': true,
      ),
      'links': (
        'default': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'background-color': 'transparent',
          'font-variant': 'medium',
        ),
        'visited': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'background-color': 'transparent',
          'font-variant': 'medium',
        ),
        'hover': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'text-decoration-thickness': 3px,
          'background-color': 'transparent',
          'font-variant': 'medium',
        ),
        'active': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'text-decoration-thickness': 3px,
          'background-color': 'white',
          'font-variant': 'medium',
        ),
        'focus': (
          'color': 'neutral.500',
          'text-decoration': underline,
          'text-decoration-thickness': 3px,
          'background-color': 'focus.DEFAULT',
          'font-variant': 'medium',
        ),
      ),
    ),
  ),
);
