@use 'sass:meta';
@use 'sass:map';
@use '../../../tools/utilities' as utils;
@use '../links';
@use '../../fonts' as fonts;
@use '../../font-sizes' as font-sizes;

// @todo put in some validation here for the data format
// expects headings in the same format as found in _config.scss
@mixin apply($links, $theme) {
  @if meta.type-of($links) == 'null' {
    @warn 'Links default called without theme options, using defaults from config';

    $links: links.$links;
    $font-sizes: links.$font-sizes;
  }

  @include link-properties(map.get($links, default), $theme);

  outline: none;

  &:hover {
    @include link-properties(map.get($links, hover), $theme);
  }

  &:active {
    @include link-properties(map.get($links, active), $theme);
  }

  &:focus {
    @include link-properties(map.get($links, focus), $theme);
  }

  // we don't use focus-within as standard but can add it where needed
  @if map.get($links, focus-within) {
    &:focus-within {
      @include link-properties(map.get($links, focus-within), $theme);
    }
  }
}

@mixin link-properties($link, $theme) {
  @if type-of(map.get($link, color)) {
    $color-token: map.get($link, color);

    @if $color-token {
      $color: utils.get('colors.#{$color-token}', $theme);

      color: $color;
    }
  }

  @if type-of(map.get($link, text-decoration)) {
    text-decoration: map.get($link, text-decoration);

    // @TODO this shouldn't be here but I need to check whats best
    @if map.get($link, text-decoration) == underline {
      // text-decoration-skip-ink: none;
      text-underline-position: under;
    }
  }

  @if type-of(map.get($link, text-decoration-thickness)) {
    text-decoration-thickness: map.get($link, text-decoration-thickness);
  }

  @if type-of(map.get($link, background-color)) {
    $background-color-token: map.get($link, background-color);

    @if $background-color-token {
      $background-color: utils.get('colors.#{$background-color-token}', $theme);

      background-color: $background-color;
    }
  }

  @if type-of(map.get($link, font-variant)) {
    $font-family: 'DEFAULT';

    @if map.get($link, font-family) {
      $font-family: map.get($link, font-family);
    }

    $font-variant: map.get($link, font-variant);

    @if $font-variant != 'inherit' or $font-variant == 'null' {
      @include fonts.init($theme);
      @include fonts.apply-font($font-family, $font-variant);
    }
  }

  @if type-of(map.get($link, font-size)) {
    $font-responsive: true;

    @if type-of(map.get($link, font-responsive)) != 'null' {
      $font-responsive: map.get($link, font-responsive);
    }

    $font-size: map.get($link, font-size);

    @if $font-size {
      @include font-sizes.init($theme);
      @include font-sizes.apply-size($font-size, $font-responsive);
    }
  }
}
