@use 'sass:meta';
@use 'sass:map';
@use 'sass:list';
@use '../../../tools/utilities' as utils;
@use '../links';
@use './links' as links-mixins;
@use '../../fonts' as fonts;
@use '../../font-sizes' as font-sizes;

// lets you apply one or more states from a $links object individually
// you can either use it to get :focus {} or just the content inside {} for focus
// or you can use it to apply some styles just to :hover to overwrite one thing
@mixin apply($links, $state, $selector, $theme) {
  @if meta.type-of($links) == 'null' {
    @warn 'Links default called without theme options, using defaults from config';

    $links: links.$links;
    $font-sizes: links.$font-sizes;
  }

  @if list.index($state, 'default') {
    @include links-mixins.link-properties(map.get($links, default), $theme);
  }

  @if list.index($state, 'hover') {
    @include -selector-switch($selector, ':hover') {
      @include links-mixins.link-properties(map.get($links, hover), $theme);
    }
  }

  @if list.index($state, 'active') {
    @include -selector-switch($selector, ':active') {
      @include links-mixins.link-properties(map.get($links, active), $theme);
    }
  }

  @if list.index($state, 'visited') {
    @include -selector-switch($selector, ':visited') {
      @include links-mixins.link-properties(map.get($links, visited), $theme);
    }
  }

  @if list.index($state, 'focus') {
    @include -selector-switch($selector, ':focus') {
      @include links-mixins.link-properties(map.get($links, focus), $theme);
    }
  }
}

@mixin -selector-switch($selector-state, $selector) {
  // could add $nested option in here too but feels like overkill when we can just generate the values and do it in the component
  @if $selector-state {
    &#{$selector} {
      @content;
    }
  } @else {
    @content;
  }
}
