@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/grid' as grid;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/icons' as icons;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // -
    @include headings.init($t);
    @include breakpoints.init($t);
    @include spacing.init($t);
    @include links.init($t);
    @include icons.init($t);

    // -
    @include headings.apply;
    @include spacing.apply-flow('space-5', 'y');

    &__title {
      padding: 0;
      margin: 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        border-top: utils.get('divider.width', $cc) solid
          utils.get(utils.get('divider.color', $cc), $t);
        padding-top: spacing.calc-size('space-5');
      }
    }

    &__items {
      @include grid.apply-layout-alt-grid;

      row-gap: spacing.calc-size('space-5');

      > * {
        grid-column: 1/-1;
        height: 100%;
      }
    }

    &__link {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      text-decoration: none;
      outline: none;
      gap: spacing.calc-size('space-3');

      @include icons.apply-icon('rbg-chevron-thick-right', 'after');

      &::after {
        background-color: utils.get('colors.primaryred.DEFAULT', $t);
        color: utils.get('colors.white', $t);
        padding: spacing.calc-size('space-1');
        height: fit-content;
        width: fit-content;
        margin-left: auto;
      }

      @include links.apply(utils.get('link-colors', $cc), span);

      &:visited {
        span {
          @include links.apply-state(utils.get('link-text', $cc), visited, false);
        }
      }

      &:active {
        span {
          @include links.apply-state(utils.get('link-text', $cc), active, false);
        }
      }

      &:hover {
        span {
          @include links.apply-state(utils.get('link-text', $cc), hover, false);
        }
      }

      &:focus {
        span {
          @include links.apply-state(utils.get('link-text', $cc), focus, false);
        }

        &::after {
          background-color: utils.get('colors.focus.DEFAULT', $t);
          color: utils.get('colors.neutral.700', $t);
        }
      }

      // &:visited,
      &:active,
      &:hover {
        &::after {
          background-color: utils.get('colors.neutral.700', $t);
        }
      }

      // @include links.apply-inline(utils.get('link-colors', $cc));

      // span {
      //   @include links.apply-inline(utils.get('link-backgrounds', $cc));
      // }

      // &:visited {
      //   span {
      //     @include links.apply-state(utils.get('link-backgrounds', $cc), active, false);
      //   }
      // }

      // &:active {
      //   span {
      //     @include links.apply-state(utils.get('link-backgrounds', $cc), active, false);
      //   }
      // }

      // &:hover {
      //   span {
      //     @include links.apply-state(utils.get('link-backgrounds', $cc), hover, false);
      //   }
      // }

      // &:hover,
      // &:active,
      // &:visited {
      //   &::after {
      //     background-color: utils.get('colors.neutral.700', $t);
      //   }
      // }

      &:focus-within {
        span {
          // @include links.apply-state(utils.get('link-backgrounds', $cc), focus, false);
        }

        // &::after {
        //   background-color: utils.get('colors.focus.DEFAULT', $t);
        //   color: utils.get('colors.neutral.700', $t);
        // }
      }
    }

    // Screens wider than phone (480), 6 column grid, 2 up, spanning 3 cols.
    @include breakpoints.screen-gt('phone') {
      &__items {
        > * {
          grid-column: span 3;
        }
      }
    }

    // Screens wider than tablet (768), 6 column grid, 3 up, spanning 2 cols.
    @include breakpoints.screen-gt('tablet') {
      &__items {
        > * {
          grid-column: span 2;
        }
      }
    }

    // Screens wider than desktop (1024), 6 column grid, 3 up, spanning 2 cols.
    @include breakpoints.screen-gt('desktop') {
      &__items {
        > * {
          grid-column: span 2;
        }
      }
    }

    // for themes etc
    @content;
  }
}
