@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: rbg-action-links;

// defaults for the component go here - can be overwritten by themes
$component-config-default: (
  'divider': (
    'width': 4px,
    'color': 'colors.neutral.700',
  ),
  'link-text': (
    'default': (
      'background-color': transparent,
      'text-decoration': none,
    ),
    'visited': (
      'background-color': transparent,
      'text-decoration': none,
    ),
    'hover': (
      'background-color': 'skyblue.DEFAULT',
      'text-decoration': underline,
    ),
    'active': (
      'background-color': 'skyblue.DEFAULT',
      'text-decoration': underline,
    ),
    'focus': (
      'background-color': 'focus.DEFAULT',
      'text-decoration': underline,
    ),
  ),
  'link-colors': (
    'default': (
      'color': 'neutral.700',
      'text-decoration': none,
      'font-variant': 'semibold',
      'font-size': '600',
    ),
    'visited': (
      'color': 'neutral.700',
      'text-decoration': none,
      'font-variant': 'semibold',
      'font-size': '600',
    ),
    'hover': (
      'color': 'royalblue.DEFAULT',
      'text-decoration': none,
      'font-variant': 'semibold',
      'font-size': '600',
    ),
    'active': (
      'color': 'royalblue.DEFAULT',
      'text-decoration': none,
      'font-variant': 'semibold',
      'font-size': '600',
    ),
    'focus': (
      'color': 'neutral.700',
      'text-decoration': none,
      'font-variant': 'semibold',
      'font-size': '600',
    ),
  ),
);
