
{#
  This checkbox represents the real state of the cookie category.
  We hide it and then use radio boxes for the ui
#}


{% set attributes = attributes|default(create_attribute()) %}
{% set inputAttributes = inputAttributes|default(create_attribute()) %}
{% set key = key|default('unknown_cookies') %}
{% set option = option|default('onoff') %}
{% set state = state|default(false) %}



{% set name = 'cookie-category--' ~ key %}
{% set id = 'cookie-category-' ~ key ~ '--' ~ option|lower %}
{% set inputAttributes = inputAttributes.addClass('eu-cookie-compliance-categories--' ~ key|lower) %}
{% set inputAttributes = inputAttributes.setAttribute('name', name) %}
{% set inputAttributes = inputAttributes.setAttribute('id', id) %}
{% set inputAttributes = inputAttributes.setAttribute('value', option|lower) %}

{# nb checked state is set by javascript #}
{% if state is same as ('checked') or state is same as ('required')  %}
  {% if option is same as ('On')  %}
    {% set inputAttributes = inputAttributes.setAttribute('checked', true) %}
  {% endif %}
{% endif %}

{% if state is same as ('unchecked') %}
  {% if option is same as ('Off')  %}
    {% set inputAttributes = inputAttributes.setAttribute('checked', true) %}
  {% endif %}
{% endif %}

{% if state is same as ('required')  %}
  {% set inputAttributes = inputAttributes.setAttribute('disabled', true) %}
{% endif %}

{{pattern('form_element', { 
  attributes: attributes.addClass(selector ~ '__options'),
  horizontal: true,
  label_display: 'after',
  label: pattern('form_element_label', {
          'attributes': create_attribute().setAttribute('for', id),
          'text': option|t,
          }),
  children: pattern('form_input', {
          'attributes': inputAttributes
  }, 'radio')
})}}
