{#
  This checkbox represents the real state of the cookie category.
  We hide it and then use radio boxes for the ui
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set inputAttributes = inputAttributes|default(create_attribute()) %}
{% set state = state|default(false) %}
{% set key = key|default('unknown') %}

{% set name = name|default('cookie-category-' ~ key) %}

{# we want to hide all of this #}
{% set attributes = attributes.addClass('hidden') %}



{# determine attributes on the checkbox #}
{% set inputAttributes = inputAttributes.setAttribute('name', name) %}
{% set inputAttributes = inputAttributes.setAttribute('id', name) %}
{% set inputAttributes = inputAttributes.setAttribute('value', key) %}

{% if state is same as ('checked') or state is same as ('required')  %}
  {% set inputAttributes = inputAttributes.setAttribute('checked', true) %}
{% endif %}

{% if state is same as ('required')  %}
  {% set inputAttributes = inputAttributes.setAttribute('disabled', true) %}
{% endif %}



{{pattern('form_element', {attributes: attributes, 
  label: pattern('form_element_label', {
          'attributes': create_attribute().setAttribute('for', name),
          'text': key,
          }),
  children: pattern('form_input', {
          'attributes': inputAttributes
  }, 'checkbox')
})}}
