{#
/**
 * @file
 * cookie-compliance-category
 *
 * See cookie-compliance-category.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set group_attributes = create_attribute() %}


{#
  Classes
#}
{% set selector = 'rbg-cookie-compliance-category' %}
{% set classes = [
  selector,
  'eu-cookie-compliance-category'
] %}

{#
  Template
#}


{# if checkbox is required hide the lot #}
{% if checkbox_default_state is same as ('required')  %}
  {% set radioFieldsetAttributes = create_attribute().addClass('hidden') %}
{% endif %}

<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  <h2 class="{{selector}}__title">{{ label }}</h2>
	{% if description is not empty %}
		<div class="{{selector}}__description eu-cookie-compliance-category-description">{{ description }}</div>
	{% endif %}


  {# create radio_fieldset #}
    {% set radio_fields %}
      {% set options = ['On', 'Off'] %}
      {% for option in options %}
      {% include '@molecules/cookie-compliance-category/_cookie-radio-buttons.html.twig' with {'key': key, 'option': option, 'selector': selector, 'state': checkbox_default_state} only %}
      {% endfor %}
    {% endset %}
    {{ pattern('fieldset', {attributes: radioFieldsetAttributes, legend: {title:'Cookie compliance ' ~ key ~ ' categories'}, horizontal: true, children: radio_fields}) }}

    {% include '@molecules/cookie-compliance-category/_cookie-checkbox.html.twig' with {inputAttributes: inputAttributes, 'key': key, 'state': checkbox_default_state} only %}

</div>