{#
/**
 * @file
 * page
 *
 * See page.wingsuit.yaml for documentation.
 */
#}

{% import '@templates/_template-macros.twig' as tm %}


{% set theme = theme | default('website') %}
{# Set a variable for breadcrumbs to be overwritten easily from child templates #}
{% set breadcrumbs = breadcrumbs | default([{text: 'Home', url: '/'}, {text: 'Page title'}]) %}

{# Default header block will be header for website #}
{% set header %}
{% block header %}
	{{tm.header(theme)}}
{% endblock %}
{% endset %}

{# Breadcrumbs for the top region, not breadcrumbs variable set above #}
{% set top %}
{% block top %}
	{{ pattern('layouts', {content: tm.top(theme, breadcrumbs), site_layout: 'full-col'}, 'full-col') }}
{% endblock %}
{% endset %}


{# The footer, defaulted to website configuration #}
{% set footer %}
{% block footer %}
	{{tm.footer(theme)}}
{% endblock %}
{% endset %}


{# some content for the purposes of this template being rendered in storybook, this is going to be overwritten #}
{% set content %}
{% block content %}
	{{ pattern('page_title', {title: 'Template page'}) }}
	{{ pattern('rich_text', { text: '<p>This page is essentially the starting point for every page</p>'}) }}
	{{ pattern('rich_text', { text: '<p>This second page block is here to show the spacing between items inside of the \'content\' area</p>'}) }}
	{{ pattern('rich_text', { text: '<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor.</p>'}) }}
{% endblock %}
{% endset %}


{# Output the page content #}
{{ pattern('site_container', {
  header: header,
  top: top,
  content: content,
  bottom: bottom,
  footer: footer,
}) }}
