// -----------------------------
// Tokens: Spacing
// This contains the mixins for spacing
// -----------------------------

// helpers
// Things that are used in this particular file
@use 'sass:map';
@use '../../tools/utilities' as utils;

// configuration
// these will act as documentation for this module
@use '../breakpoints' as breakpoints;

// design tokens
// the good stuff, this is the file that contains a map of all the spacing tokens which are defined in the designs
// @forward just makes the content inside the '_spacing.scss' file available to the rest of the project if you choose to use it.
// if its not used anywhere then nothing is rendered
@forward 'spacing';

// @use this is because we are using the spacing tokens in this file `spacing.$spacing`
@use 'spacing';

// mixins
// each file contains a set of mixins that are useful for a particular thing
// As above we @forward these so that they are available to the rest of the project
@forward 'mixins/spacing' as mixin-spacing-*;
@forward 'mixins/space' as mixin-space-*;
@forward 'mixins/flows' as mixin-flows-*;
@forward 'mixins/flow' as mixin-flow-*;

// because we are using the mixins in this file we need to @use them
@use 'mixins/spacing' as spacing-mixins;
@use 'mixins/space' as space-mixins;
@use 'mixins/flows' as flows-mixins;
@use 'mixins/flow' as flow-mixins;

// utils
// these are functions that are either used within this module, but are also useful to other modules
@use 'utils' as spacing-utils;

// Configuration
// This is acting as 'budget' documentation for this module
// by setting up the private map $-tool-config-default we are able to set what the default configuration is
// we then use the init() mixin to overwrite the default configuration with the current theme-config for the context where these mixins are used
// the down side is if we don't use init() then our code will use the defaul theme values, but we have some ways to prevent this in components.
$-tool-config-default: (
  'spacing': spacing.$spacing,
  'breakpoints': breakpoints.$breakpoints,
) !default;
$-tool-config: $-tool-config-default !default;

// init
// the init method is used to overwrite the default configuration with the current theme-config for the context where these mixins are used
@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

// mixins
// because sass treats every file as a module, in order to use the mixins in the /mixins folder we would need to include that file in our code
// we want to include the same file every time, and ensure that each mixin at least has the same $theme values, even if they're still the defaults from the $-default-tool-config above
// having this file also helps us document and set defaults for our mixins

// this is setting up some defaults and then calling the apply mixin inside the spacing-mixins module
@mixin apply($nested: false, $theme: $-tool-config) {
  @include spacing-mixins.apply($nested, $theme: $-tool-config);
}

@mixin apply-space($variant, $axis: 'pxy', $theme: $-tool-config) {
  @include space-mixins.apply($variant, $axis, $theme: $-tool-config);
}

@mixin apply-flows($nested: true, $theme: $-tool-config) {
  @include flows-mixins.apply($nested, $theme: $-tool-config);
}

@mixin apply-flow($variant, $axis: 'y', $theme: $-tool-config) {
  @include flow-mixins.apply($variant, $axis, $theme: $-tool-config);
}

// Utilities
// Utilities are almost always functions, and are used to do some kind of calculation or transformation
// sometimes utilities will just be used internally to the module, but sometimes they will be useful so we export them out
@function calc-size($variant, $breakpoint: null, $theme: $-tool-config) {
  @return spacing-utils.calc-size($variant, $breakpoint, $theme);
}
