{#
/**
 * @file
 * landing-page
 *
 * See landing-page.wingsuit.yaml for documentation.
 */
#}


{% extends "@templates/landing-gcd/landing-gcd.twig" %}


{# no breadcrumbs on this page #}
{% block top %}{% endblock %}

{% block header %}
	{% if variant == 'cookies' %}
		{{ pattern_preview('cookie_banner') }}
	{% endif %}
	{{parent()}}
{% endblock %}


{% block content %}
	{{ pattern_preview('search_box_banner', {attributes: create_attribute().addClass('a--full') }, 'landing') }}
	{{ pattern_preview('category_list') }}
	{{ pattern_preview('promotional_banner', {hero_attributes: create_attribute().addClass('a--full') }) }}
	{{ pattern_preview('card_group') }}
	{{ pattern_preview('card_group') }}
{% endblock %}
