{#
  Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}
{% set icon_type = icon_type|default(false) %}
{% set icon_color = icon_color|default(false) %}
{% set background_color = background_color|default(false) %}
{% set size = size|default('size-8') %}
{% set rotate = rotate|default(false) %}

{#
  Classes
#}
{% set selector = 'rbg-svg-icon' %}
{% set classes = [
  selector,
  background_color ? 'background-color' ~ pattern_configuration('svg_icon', variant, 'colors')[background_color],
  icon_color ? 'color' ~ pattern_configuration('svg_icon', variant, 'colors')[icon_color],
  size ? pattern_configuration('svg_icon', variant, 'sizes_width')[size],
  rotate ? pattern_configuration('svg_icon', variant, 'rotation')[rotate],
] %}

{% set attributes = attributes|default(create_attribute()).addClass(classes) %}

{# Template #}

<svg {{ attributes }}>
	<use xlink:href="{{ file_url('ws-assets://images/spritemap.svg') }}#{{ icon_type }}"></use>
</svg>
