@use 'sass:map';
@use '../../../tools/utilities' as utils;
@use '../../../tools/generator' as generator;
@use 'colors' as gcd-colors;
@use 'breakpoints' as gcd-breakpoints;

// -----------------------------
// CONFIG
// -----------------------------

// here we're only overwriting parts of the default config
$theme-colors: map.deep-merge(map.get(generator.$default-config, 'colors'), gcd-colors.$colors);
$theme-config: (
  'icon': 🧑‍🤝‍🧑,
  'name': gcd,
  'colors': $theme-colors,
  'breakpoints': gcd-breakpoints.$breakpoints,
  // @TODO remove these and move to color
  'primary': utils.get('primaryred.600', $theme-colors),
  'secondary': utils.get('primarypurple.400', $theme-colors),
) !default;
$theme: generator.output-theme-config($theme-config) !default;
