{#
/**
 * @file
 * link
 *
 * See link.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}

{#
  Classes
#}
{% set selector = 'rbg-video' %}
{% set classes = [
  selector
] %}
{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  {{ content }}
</div>