{#
/**
 * @file
 * form-element-label
 *
 * See form-element-label.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}

{% if attributes.hasAttribute('for') is empty %}
  {% set attributes = attributes.setAttribute('for', input_id|default('form-field-id')) %}
{% endif %}

{#
  Classes
#}

{% set selector = 'rbg-form-element-label' %}
{% set classes = [
  selector,
] | sort %}

{#
  Template
#}
<label {{ attributes.addClass(classes) }}>{{ text }}</label>
