@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include body.init($t);
    @include fonts.init($t);
    @include reset.apply;
    @include body.apply;

    display: grid;
    grid-template-columns: max-content 1fr;

    dt {
      @include fonts.apply-font('DEFAULT', 'semibold');
    }

    // for themes etc
    @content;
  }
}
