@use 'sass:map';
@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/icons' as icons;
@use 'rbgstyles/tokens/buttons' as buttons;

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // .
    @include buttons.init($t);
    @include icons.init($t);

    @each $variant, $styles in utils.get('buttons.variants', $t) {
      &.#{$selector}--#{$variant} {
        @include buttons.apply-variant($selector, $variant, $styles, $t);
      }
    }

    // icons

    $icons: utils.get('icons', $t);
    $positions: before after;

    @each $position in $positions {
      @each $icon, $values in $icons {
        // we need to support .rbg-icon-* .${selector} for inputs
        // and .${selector}.rbg-icon for everything else
        &--icon--#{$position}--#{$icon},
        &--icon--#{$position}--#{$icon} & {
          @include icons.apply-icon($icon, $position);
        }
      }
    }

    button,
    input {
      @include buttons.apply-reset($t);
    }

    &.#{$selector}--full {
      width: 100%;
      display: flex;
    }

    // for themes etc
    @content;
  }
}
