@use 'sass:map';
@use 'rbgstyles/tools/utilities' as utils;

// mixin to get the info you need to put together styles

// @include fonts.font(kantumruy-pro, bold)
// font-family: Kantumruy pro, sans-serif;
// font-weight: 700;
// font-style: normal;

// @include fonts.font(kantumruy-pro, light-italic, weight style)
// font-family: Kantumruy pro, sans-serif;
// font-weight: 200;
// font-style: italic;
@mixin apply(
  $group,
  $variant: regular,
  $properties: family weight style,
  $font-stack: $-tool-config
) {
  $font-stack: utils.get('fonts.#{$group}.variants', $font-stack);
  $font-properties: map.get($font-stack, $variant);

  @if $font-properties {
    @each $property, $values in $font-properties {
      @if contains($properties, $property) {
        font-#{$property}: map.get($font-properties, $property);
      }
    }
  }
}
