@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use '../../../tools/utilities' as utils;
@use '../fonts' as fonts;
@use './font' as font;

// @todo put in some validation here for the data format
// expects headings in the same format as found in _config.scss

// This mixin sets the font sizes and options we would set for typography on a component
@mixin apply($font-family, $nested, $property, $properties, $theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Fonts default called without theme options, using defaults from config';

    $fonts: fonts.$fonts;
    $body: body.$body;
    $breakpoints: breakpoints.$breakpoints;
  }

  $font-stack: utils.get('fonts.#{$font-family}.variants', $theme);

  @if $font-stack != 'null' {
    @include apply-fonts($font-family, $font-stack, $properties, $nested, $property, $theme);
  }
}

@mixin apply-fonts($font-family, $font-stack, $properties, $nested, $property, $theme) {
  @each $selector, $values in $font-stack {
    @include selector(
      '.#{$property}--#{$selector}',
      $nested
    ) {
      $variant: $selector;
      $font-properties: map.get($font-stack, $variant);

      @if $font-properties {
        @each $property, $values in $font-properties {
          @if contains($properties, $property) {
            font-#{$property}: map.get($font-properties, $property);
          }
        }
      }
    }
  }
}

@mixin selector(
  $selector,
  $nested
) {
  @if $nested {
    &#{$selector} {
      @content;
    }
  } @else {
    #{$selector} {
      @content;
    }
  }
}
