@use 'sass:meta';
@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/colors' as colors;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/grid' as grid;

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // .
    @include breakpoints.init($t);
    @include body.init($t);
    @include links.init($t);
    @include spacing.init($t);

    // background color
    background-color: utils.get(utils.get('background-color', $cc), $t);

    // top border
    border-top: utils.get('border.size', $cc) solid utils.get(utils.get('border.color', $cc), $t);

    // apply heading for h2 element
    @include headings.init($t);
    @include headings.apply;

    // style the message content
    &__message {
      @include body.apply;
      @include links.apply;
    }

    // spacing between heading, message and buttons
    &__content {
      @include spacing.apply-flow(utils.get('item-spacing', $cc), 'y');

      grid-column: 1/-1;
    }

    &__actions {
      display: flex;
      flex-direction: column;

      // set breakpoint spacing values
      $breakpoints: utils.get('breakpoints', $t);
      $button-spacing: utils.get('button-spacing', $cc);

      @each $breakpoint, $space-token in $button-spacing {
        @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
          gap: spacing.calc-size($space-token);
        }
      }
    }

    @include breakpoints.screen-gt('desktop') {
      // buttons stack on desktop
      &__actions {
        flex-direction: row;
      }
    }

    // layout stuff

    &__wrapper {
      // set breakpoint spacing values
      $breakpoints: utils.get('breakpoints', $t);
      $content-spacing: utils.get('content-spacing', $cc);

      @each $breakpoint, $space-tokens in $content-spacing {
        @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
          @include spacing.apply-space(utils.get('y', $space-tokens), 'py');
          @include spacing.apply-space(utils.get('x', $space-tokens), 'px');
        }
      }

      @include grid.apply-layout-grid;

      > div {
        grid-column: 1/-1;
      }
    }

    // for themes etc
    @content;
  }
}
