@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';
@use 'rbgstyles/tools/utilities' as utils;

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: rbg-cookie-banner;

// defaults for the component go here - can be overwritten by themes
$component-config-default: (
  'background-color': 'colors.neutral.200',
  'border': (
    'color': 'primary',
    'size': 6px,
  ),
  'item-spacing': 'space-5',
  'button-spacing': (
    'phone': 'space-4',
    'tablet': 'space-4',
    'desktop': 'space-5',
    'desktop-wide': 'space-5',
  ),
  'content-spacing': (
    'phone': (
      'x': 'space-3',
      'y': 'space-5',
    ),
    'tablet': (
      'x': 'space-3',
      'y': 'space-5',
    ),
    'desktop': (
      'x': 'space-5',
      'y': 'space-8',
    ),
    'desktop-wide': (
      'x': 'space-5',
      'y': 'space-8',
    ),
  ),
);
