{#
/**
 * @file
 * card
 *
 * See card.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set external = external|default(false) %}
{% set image = image|default(false) %}
{% set border = border|default(false) %}
{#
  Classes
#}
{% set selector = 'rbg-card' %}
{% set classes = [
  selector,
  border ? selector ~ '--border'
] %}

{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
    {% if image %}
    <div class="{{selector}}__image">
      <img src="{{ file_url(image) }}" alt="{{title}}" class="tw-w-fit tw-block" />
    </div>
    {% endif %}
    <div class="{{selector}}__content">
        {{ pattern('link', {'link_text': title, 'url': link}, 'card' ) }}
        {% if labels %}
        <div class="{{selector}}__labels">
          {{ labels }}
        </div>
        {% endif %}
    </div>
</div>
