@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/icons' as icons;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include font-sizes.init($t);
    @include links.init($t);
    @include spacing.init($t);
    @include icons.init($t);
    @include fonts.init($t);
    @include breakpoints.init($t);

    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
    column-gap: spacing.calc-size(utils.get('column.x-spacing', $cc));

    // row-gap: spacing.calc-size(utils.get('menu-title.y-spacing', $cc));

    @include font-sizes.apply-size(
      utils.get('font-sizes.size', $cc),
      utils.get('font-sizes.responsive', $cc)
    );

    color: utils.get(utils.get('items.color', $cc), $t);
    text-decoration: utils.get('items.text-decoration', $cc);

    @include fonts.apply-font(
      utils.get('items.font-group', $cc),
      utils.get('items.font-variant', $cc)
    );
    @include links.apply(utils.get('links', $cc));

    > li {
      @include icons.apply-icon('rbg-bullet', before, true);

      margin-block-start: spacing.calc-size(utils.get('items.y-spacing', $cc));
      display: grid;
      grid-template-columns: min-content 100%;
    }

    @include breakpoints.screen-gt('desktop') {
      grid-template-columns: repeat(2, 1fr);
    }

    // for themes etc
    @content;
  }
}
