@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: rbg-list-two-column;

// defaults for the component go here - can be overwritten by themes
$component-config-default: (
  'column': (
    'x-spacing': 'space-5',
  ),
  'items': (
    'y-spacing': 'space-2',
    'font-group': 'DEFAULT',
    'color': 'colors.neutral.500',
    'text-decoration': none,
    'font-variant': 'regular',
  ),
  'font-sizes': (
    'size': '500',
    'responsive': false,
  ),
  'links': (
    'default': (
      'color': 'neutral.500',
      'text-decoration': underline,
      'background-color': 'transparent',
      'font-variant': 'regular',
    ),
    'visited': (
      'color': 'neutral.500',
      'text-decoration': underline,
      'background-color': 'transparent',
      'font-variant': 'regular',
    ),
    'hover': (
      'color': 'neutral.500',
      'text-decoration': underline,
      'text-decoration-thickness': 3px,
      'background-color': 'transparent',
      'font-variant': 'regular',
    ),
    'active': (
      'color': 'neutral.500',
      'text-decoration': underline,
      'text-decoration-thickness': 3px,
      'background-color': 'white',
      'font-variant': 'regular',
    ),
    'focus': (
      'color': 'neutral.500',
      'text-decoration': underline,
      'text-decoration-thickness': 3px,
      'background-color': 'focus.DEFAULT',
      'font-variant': 'regular',
    ),
  ),
);
