{#
/**
 * @file
 * link
 *
 * See link.wingsuit.yaml for documentation.
 */
#}

{% set selector = 'rbg-divider' %}
{% set classes = [selector] %}


{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}></div>
