{#
/**
 * @file
 * service-sub-landing-page
 *
 * See service-sub-landing-page.wingsuit.yaml for documentation.
 */
#}

{% extends "@templates/landing/landing.twig" %}


{% set breadcrumbs = [{text: 'Home', url: '/'}, {text: 'Housing', url: '/'}, {text: 'Find a home'}] %}

{% block content %}

	{{pattern('page_title', {title: 'Find a home'})}}
	{{ pattern_preview('service_links', {title: false}, 'list') }}
	{{ pattern('navigation', {title: 'Back to housing', url: '#', direction: 'previous' }) }}

{% endblock %}
