{#
/**
 * @file
 * live-well-banner-content
 *
 * See live-well-banner-content.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}

{#
  Classes
#}
{% set selector = 'rbg-live-well-banner-content' %}
{% set classes = [
  selector
] %}

{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  <h2>Talk to someone about local support</h2>
  <div class="{{selector}}__sub-title">
    Call the free Live Well helpline or <a href="https://livewellgreenwich.org.uk/" title="visit the Live Well website">visit their website</a>
  </div>
  <div class="{{selector}}__bottom-row">
    <div class="{{selector}}__tel">
      <a href="tel:08004704831">0800 470 4831</a>
    </div>
    <div class="{{selector}}__logo">
      <img src="{{file_url('ws-assets://images/live_well_logo.svg')}}" alt="Live Well Greenwich logo"/>
    </div>
  </div>
</div>
