{#
/**
 * @file
 * service-card
 *
 * See service-card.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}

{#
  Classes
#}

{% set selector = 'rbg-service-card' %}
{% set classes = [
  selector
] %}


{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  {{ pattern('link', {'link_text': title, 'url': url}) }}
  {{ pattern('rich_text', {'text': description}) }} 
</div>
