{#
/**
 * @file
 * service-links
 *
 * See service-links.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-service-links' %}

{#
  Classes
#}

{% set classes = [
  selector,
  selector ~ '--' ~ variant
] %}

{#
  Template
#}

{% if items %}
  <div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>


{% if title %}
  <h2 class="{{selector}}__title">
    {{title}}
  </h2>
{% endif %}

  <ul class="{{selector}}__items">
    {% for item in items %}
      <li class="{{selector}}__item">
         <a href="{{item.url}}" class="{{selector}}__link">
          <span>{{item.title}}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

  </div>
{% endif %}
