@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/accessibility' as accessibility;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include body.init($t);
    @include body.apply;
    @include accessibility.init($t);
    @include fonts.init($t);
    @include font-sizes.init($t);
    @include spacing.init($t);

    padding: 0;
    margin: 0;
    color: utils.get('colors.neutral.400', $t);

    @include breakpoints.screen-gt('tablet') {
      color: utils.get('colors.neutral.400', $t);
    }

    // for themes etc
    @content;
  }
}
