@use 'rbgstyles/tools/utilities' as utils;

// @TODO refactor and document this
@mixin apply($t) {
  &[type='radio'] {
    border-radius: 50%;
  }

  &[type='radio']::before {
    border-radius: 50%;
  }

  &[type='radio'],
  &[type='checkbox'] {
    /* Remove most all native input styles */
    appearance: none;

    /* For iOS < 15 */
    background-color: var(--form-background);

    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentcolor;
    border: 1px solid currentcolor;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    width: 30px;
    height: 30px;
  }

  &[type='radio']::before,
  &[type='checkbox']::before {
    content: '';
    width: 0.95em;
    height: 0.95em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);

    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }

  &[type='radio']:checked::before,
  &[type='checkbox']:checked::before {
    transform: scale(1);
  }

  &[type='radio']:disabled,
  &[type='checkbox']:disabled {
    cursor: not-allowed;
    color: utils.get('colors.neutral.400', $t);
    border-color: utils.get('colors.neutral.400', $t);
    box-shadow: inset 1em 1em utils.get('colors.neutral.300', $t);

    /* Windows High Contrast Mode */
    background-color: utils.get('colors.neutral.300', $t);
  }

  &[type='radio']:disabled::before,
  &[type='checkbox']:disabled::before {
    box-shadow: inset 1em 1em utils.get('colors.neutral.400', $t);

    /* Windows High Contrast Mode */
    background-color: utils.get('colors.neutral.400', $t);
  }

  /* stylelint-disable-next-line */
  &[type='radio']:focus,
  &[type='checkbox']:focus {
    outline: 2px solid utils.get('colors.focus.DEFAULT', $t);
    outline-offset: 2px;
  }
}
