@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/body' as body;

@mixin apply($t) {
  @include spacing.init($t);
  @include body.init($t);
  @include body.apply;

  padding: 0;
  margin: 0;
  width: 100%;
  color: utils.get('colors.neutral.700', $t);

  @include spacing.apply-space('space-3', 'px');
  @include spacing.apply-space('space-2', 'py');

  // borders

  border: 1px solid utils.get('colors.neutral.700', $t);
  box-shadow: 0 0 0 2px transparent;

  &:focus,
  &:active {
    border: 1px solid utils.get('colors.neutral.700', $t);
    box-shadow: 0 0 0 2px utils.get('colors.neutral.700', $t);
    outline: 3px solid utils.get('colors.focus.600', $t);
    outline-offset: 2px;
  }

  &--error {
    border: 2px solid utils.get('colors.primary.DEFAULT', $t);
    box-shadow: 0 0 0 1px transparent;

    &:focus,
    &:active {
      border: 2px solid utils.get('colors.primary.DEFAULT', $t);
      box-shadow: 0 0 0 1px utils.get('colors.primary.DEFAULT', $t);
      outline: 3px solid utils.get('colors.focus.600', $t);
      outline-offset: 1px;
    }
  }
}
