{#
/**
 * @file
 * homepage-banner
 *
 * See homepage-banner.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-homepage-banner' %}

{#
  Classes
#}

{% set classes = [
  selector
] %}


{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>

  {% if background_image is not empty %}
    <div class="{{selector}}__image">
      {{ background_image }}
    </div>
  {% endif %}

  <div class="{{selector}}__wrapper">

    <h2 class="{{selector}}__title">
      {{title}}
    </h2>

    {{ pattern('search_field') }}

  </div>
</div>
