{#
/**
 * @file
 * information-page
 *
 * See information-page.wingsuit.yaml for documentation.
 */
#}


{% extends "@templates/filter-gcd/filter-gcd.twig" %}

{% set breadcrumbs = [{text: 'Home', url: '/'}, {text: 'Services'}] %}

{% block top %}
	{{ parent() }}
	{{ pattern_preview('search_box_banner', {}, 'listing') }}
{% endblock %}

{% block content %}
	{{pattern_preview('map')}}
	{{ pattern('results_summary', {markup: 'Showing 1-12 of 352 results'}) }}
	{{pattern_preview('service_card_group', {title: false, link_text: false, border: true})}}
	{{pattern_preview('pagination', {}, 'first_page')}}
{% endblock %}

{% block sidebar %}
	{{pattern_preview('filter_accordion')}}
{% endblock %}
