{% extends "paragraph.html.twig" %}
{# add full class to wrapping paragraph element #}
{% set attributes = attributes.addClass('a--full') %}
{% block content %}

	{{ pattern('search_box_banner', {
    title: content.field_title ? content.field_title : 'Find support', 
    background_image: content.field_image ? content.field_image : '', 
    children: children }, 'landing') }}

{% endblock %}

{# 
Here we're replicating the form used on the /services page 
It should be the same as the preview used in the search-box-banner.wingsuit.yml file
@TODO we should be able to use the same form as is used on the /services page
#}


{# 
- id: form_element
  fields:
    label:
      - id: form_element_label
        fields:
          text: Search
    children:
      - id: form_input
        variant: text 
#}
{% set search_part %}
{% block search_part %}


	{% set field_id = 'edit-search--4' %}
	{% set search_label_attributes = create_attribute() %}
	{% set search_label_attributes = search_label_attributes.setAttribute('for', field_id) %}

	{% set search_field_attributes = create_attribute() %}
	{% set search_field_attributes = search_field_attributes.setAttribute('id', field_id) %}
	{% set search_field_attributes = search_field_attributes.setAttribute('name', 'search') %}
	{% set search_field_attributes = search_field_attributes.setAttribute('size', '30') %}
	{% set search_field_attributes = search_field_attributes.setAttribute('maxlength', '128') %}


	{{ pattern('form_element', {
    label: pattern('form_element_label', {attributes: search_label_attributes, text: 'Search'}),
    children: pattern('form_input', {attributes: search_field_attributes}, 'text')
  }) }}


{% endblock %}
{% endset %}

{# 
- id: form_container
  fields:
    children:
      - id: form_input
        variant: submit
        settings:
          full_width: true
        fields:
          input_value: Search 
#}
{% set submit_part %}
{% block submit_part %}

	{% set submit_button_attributes = create_attribute() %}
	{% set submit_button_attributes = submit_button_attributes.setAttribute('id', 'edit-submit-localgov-directory-channel--4') %}
	{% set submit_button_attributes = submit_button_attributes.setAttribute('value', 'Search') %}

	{{ pattern('form_container', {children: pattern('form_input', {attributes: submit_button_attributes, full_width: true}, 'submit') }) }}

{% endblock %}
{% endset %}

{% set children %}
{% block children %}
	{{search_part}}
	{{submit_part}}
{% endblock %}
{% endset %}
