{% block paragraph %}

{# @TODO items: 
{{ pattern('list', {items: [
{
  title: 'Praesent commodo cursus magna, vel scelerisque nisl consectetur et.',
  url: '#'
}
], icon_type: 'rbg-chevron-right', icon_color: 'primaryred'}, 'unordered')
}} #}
  

  {{ pattern('category_list_item', {
    'title': content.field_title,
    'items': content.field_links,
  }) }}

{% endblock paragraph %}