{% block paragraph %}


{# @TODO items should be data passed through to category-list-item #}
  {{ pattern('category_list', {
    'title': content.field_title,
    'items': content.field_category_list_items,
  }) }}

{% endblock paragraph %}