@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/lists' as lists;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/colors' as colors;
@use 'rbgstyles/tokens/elements' as elements;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include body.init($t);
    @include lists.init($t);
    @include spacing.init($t);
    @include links.init($t);
    @include headings.init($t);
    @include colors.init($t);
    @include elements.init($t);

    $component-divider-color: utils.get('divider.color', $cc);
    $divider-color: utils.get($component-divider-color, $t);

    &__introduction {
      @include body.apply;
      @include links.apply;
      @include lists.apply;
      @include elements.apply;

      padding-bottom: spacing.calc-size('space-8');
      border-bottom: 1px solid $divider-color;
      margin-bottom: spacing.calc-size('space-4');
    }

    &__description {
      margin-bottom: spacing.calc-size('space-4');
    }

    &__item-heading {
      color: utils.get('colors.neutral.700', $t);

      @include headings.apply-heading('h2') {
        margin-bottom: spacing.calc-size('space-4');
      }

      &.closed {
        color: utils.get('colors.primaryred.DEFAULT', $t);
      }
    }

    &__details {
      @include spacing.apply-flow('space-4');
    }

    &__item {
      padding-bottom: spacing.calc-size('space-8');
      border-bottom: 1px solid $divider-color;

      > *:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }

    &__text {
      @include body.apply;
      @include elements.apply-strong;
    }

    // for themes etc
    @content;
  }
}
