{#
/**
 * @file
 * link
 *
 * See link.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set url = url|default('#') %}
{% set link_text = link_text|default('click here') %}
{% set is_external = is_external|default(false) %}
{% set style = style|default('default') %}
{#
  Classes
#}

{% set selector = 'rbg-link' %}


{% set classes = [
  selector,
  is_external ? selector ~ '--is-external',
  selector ~ '--' ~ style,
] %}

{#
  Template
#}
<a {{ attributes.addClass(classes | sort | join(' ') | trim) }} {{ attributes.setAttribute('href', url) }}>
  {{link_text}}
</a>
