@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use 'sass:list';
@use '../../../tools/utilities' as utils;
@use '../elements' as elements;
@use '../../fonts' as fonts;
@use '../../spacing' as spacing;

// @todo put in some validation here for the data format
// expects headings in the same format as found in _config.scss

// This mixin sets the font sizes and options we would set for typography on a component
@mixin apply($blockquote-inset, $selector, $theme) {
  @if meta.type-of($theme) == 'null' {
    @error 'Elements default called without theme options';

    $fonts: spacing.$spacing;
  }

  @include blockquote-inset($blockquote-inset, $selector, $theme);
}

@mixin blockquote-inset($blockquote-inset, $selector, $t) {
  @include spacing.init($t);

  @include selector($selector) {
    $spacing-x: utils.get('spacing-x', $blockquote-inset);
    $spacing-y: utils.get('spacing-y', $blockquote-inset);
    $border-width: utils.get('border.width', $blockquote-inset);
    $border-color: utils.get('border.color', $blockquote-inset);
    $max-width: utils.get('max-width', $blockquote-inset);

    @include spacing.apply-space($spacing-y, 'py');
    @include spacing.apply-space($spacing-x, 'px');
    
    border-left: solid $border-width utils.get($border-color, $t);
    max-width: $max-width;
    width: 100%;
    margin: 0;
  }
}

@mixin selector($selector) {
  @if $selector {
    blockquote {
      @content;
    }
  } @else {
    @content;
  }
}
