@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use 'sass:list';
@use '../../../tools/utilities' as utils;
@use '../elements' as elements;
@use '../../fonts' as fonts;
@use '../../spacing' as spacing;
@use '../../icons' as icons;
@use '../../font-sizes' as font-sizes;

// @todo put in some validation here for the data format
// expects headings in the same format as found in _config.scss

// This mixin sets the font sizes and options we would set for typography on a component
@mixin apply($blockquote, $selector, $theme) {
  @if meta.type-of($theme) == 'null' {
    @error 'Elements default called without theme options';

    $fonts: spacing.$spacing;
  }

  @include blockquote($blockquote, $selector, $theme);
}

@mixin blockquote($blockquote, $selector, $t) {
  @include spacing.init($t);
  @include icons.init($t);
  @include font-sizes.init($t);
  @include fonts.init($t);

  @include selector($selector) {
    $spacing-x: utils.get('spacing-x', $blockquote);
    $spacing-y: utils.get('spacing-y', $blockquote);
    $background-color: utils.get('background-color', $blockquote);
    $max-width: utils.get('max-width', $blockquote);
    $icon-color: utils.get('icon.color', $blockquote);

    @include spacing.apply-space($spacing-y, 'py');
    @include spacing.apply-space($spacing-x, 'px');
    @include icons.apply-icon('rbg-quote', 'before');
    @include fonts.apply-font('DEFAULT', 'semibold');
    
    max-width: $max-width;
    width: 100%;
    margin: 0;

    &::before {
      @include font-sizes.apply-size('800');

      color: utils.get($icon-color, $t);
      padding-bottom: spacing.calc-size('space-2');
      display: inline-block;
    }

    > * {
      margin: 0;
      padding: 0;
    }
  }
}

@mixin selector($selector) {
  @if $selector {
    blockquote {
      @content;
    }
  } @else {
    @content;
  }
}
