@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use 'sass:list';
@use '../../../tools/utilities' as utils;
@use '../elements' as elements;
@use '../../fonts' as fonts;
@use '../../spacing' as spacing;

// @todo put in some validation here for the data format
// expects headings in the same format as found in _config.scss

// This mixin sets the font sizes and options we would set for typography on a component
@mixin apply($font-family, $font-variant, $theme) {
  @if meta.type-of($theme) == 'null' {
    @error 'Elements default called without theme options';

    $elements: elements.$elements;
    $fonts: fonts.$fonts;
  }

  $elements: utils.get('elements', $theme);

  @if not type-of($font-family) {
    $font-family: utils.get('em.font-family', $elements);
  }

  @if not type-of($font-variant) {
    $font-variant: utils.get('em.font-variant', $elements);
  }

  @include strong-styles($font-family, $font-variant, $theme);
}

@mixin strong-styles($font-family, $font-variant, $t) {
  @include fonts.init($t);

  strong {
    @include fonts.apply-font($font-family, $font-variant);
  }
}
