{#
/**
 * @file
 * cookie-compliance-categories
 *
 * See cookie-compliance-categories.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}

{#
  Classes
#}

{% set selector = 'rbg-cookie-compliance-categories' %}
{% set classes = [
  selector
] %}

{#
  Template
#}
{% if cookie_categories %}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  <div class="{{selector}}__content popup-content info eu-cookie-compliance-content">
      {% if cookie_categories %}
        <div id="eu-cookie-compliance-categories" class="{{selector}}__categories eu-cookie-compliance-categories">
          {% for key, category in cookie_categories %}

            {{ pattern('cookie_compliance_category', {
              'label': category.label, 
              'description': category.description, 
              'checkbox_default_state': category.checkbox_default_state,
              'key': key
              }, '__default')
            }}

          {% endfor %}
        </div>
      {% endif %}


    {% if save_button_text %}
      {{pattern('button', {
        'attributes': create_attribute().addClass('eu-cookie-compliance-save-preferences-button').setAttribute('type', 'button').addClass(selector ~ '__button'),
        button_tag: 'button',
        'text': save_button_text
        }, 'filled')}}
    {% endif %}
  </div>
</div>
{% endif %}
