{#
/**
 * @file
 * link
 *
 * See link.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}

{% set footer_block_1_attributes = footer_block_1_attributes|default(create_attribute()) %}
{% set footer_block_2_attributes = footer_block_2_attributes|default(create_attribute()) %}
{% set footer_alt_content_attributes = footer_alt_content_attributes|default(create_attribute()) %}

{% set footer_block_1_content_align = pattern_configuration('footer', variant, 'align')[footer_block_1_content_align] ?? false %}
{% set footer_block_2_content_align = pattern_configuration('footer', variant, 'align')[footer_block_2_content_align] ?? false %}

{% set footer_alt_content_align = pattern_configuration('footer', variant, 'align')[footer_alt_content_align] ?? false %}


{# <pre>
{{ dump(pattern_configuration('footer', variant, 'content_align'))}}
{{ dump(pattern_configuration('footer', variant, 'content_align')[footer_block_1_content_align])}}
{{ footer_block_1_content_align }}
</pre> #}

{#
  Classes
#}

{% set selector = 'rbg-footer' %}
{% set classes = [
  selector,
] %}

{% set footer_block_1_classes = [
  selector ~ '__block', 
  footer_block_1_content_align ? selector ~ '__block' ~ footer_block_1_content_align, 
] %}

{% set footer_block_2_classes = [
 selector ~ '__block', 
  footer_block_2_content_align ? selector ~ '__block' ~ footer_block_2_content_align, 
] %}

{% set footer_alt_content_classes = [
 selector ~ '__alt-content', 
  footer_alt_text_align ? selector ~ '__alt-content' ~ footer_alt_text_align, 
] %}

{#
  Template
#}
<footer {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
    <div class="{{ selector }}__primary-content">
      <div class="{{ selector }}__container">
        <div {{ footer_block_1_attributes.addClass(footer_block_1_classes | sort | join(' ') | trim) }}>
          {{ block_footer_1 }}
        </div>

        <div {{ footer_block_2_attributes.addClass(footer_block_2_classes | sort | join(' ') | trim) }}>
          {{ block_footer_2 }}
        </div>
      </div>
    </div>

    <div class="{{ selector }}__secondary-content">
      <div class="{{ selector }}__container">
        <div class="{{ selector }}__menu">
          {{ footer_menu }}
        </div>

        <div {{ footer_alt_content_attributes.addClass(footer_alt_content_classes | sort | join(' ') | trim) }}>
          {{ alt_content }}
        </div>
      </div>
    </div>
</footer>