{#
/**
 * @file
 * cookie-banner
 *
 * See cookie-banner.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes | default(create_attribute()) %}
{% set cookie_settings_page_url = cookie_settings_page_url | default('/cookies') %}
{% set cookie_page_button = cookie_page_button | default('Set cookie preferences') %}


{#
  Classes
#}

{% set selector = 'rbg-cookie-banner' %}
{% set classes = [selector] %}

{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }} role="contentinfo" aria-label="cookienotice">
  <div class="{{ selector ~ '__wrapper' }} popup-content">
    <div class="{{ selector ~ '__content' }}">
      <h3 class="{{ selector ~ '__title' }}">
        {{ title|default("Cookie preferences") }}
      </h3>
      <div id="popup-text" class="{{ selector ~ '__message' }}">
        {{ message }}
      </div>
      <div  id="popup-buttons" class="{{ selector ~ '__actions' }}">

        {{ pattern('button', {'text': cookie_page_button, 'url': cookie_settings_page_url}, 'outlined') }}
        {{ pattern('button', {'attributes': create_attribute().addClass(secondary_button_class), 'text': disagree_button, button_tag: 'button' }, 'filled') }}
        {{ pattern('button', {'attributes': create_attribute().addClass(primary_button_class), 'text': agree_button}, 'filled') }}
      </div>
    </div>
  </div>
</div>
