@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/accessibility' as accessibility;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/icons' as icons;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use 'sass:selector';

// both the horizontal and header menus are the same with some embellishments in settings
// the header menu has some additional javascript code too and icons
@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include accessibility.init($t);
    @include fonts.init($t);
    @include icons.init($t);
    @include font-sizes.init($t);
    @include links.init($t);
    @include spacing.init($t);
    @include breakpoints.init($t);

    // common between both mobile and desktop
    .#{$selector}__items {
      // reset list
      margin: 0;
      padding: 0;
      list-style-position: inside;
      list-style-type: none;

      // order things
      display: flex;
    }

    .#{$selector}__link {
      // reset items in case their buttons
      border: 0;
      padding: 0;
      margin: 0;
      background: none;
      cursor: pointer;

      // get link ready to display icons
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
    }

    &--responsive {
      @include -mobile-styles($selector, $cc, $t);

      // DESKTOP
      @include breakpoints.screen-gt('desktop') {
        @include -desktop-styles($selector, $cc, $t);
      }
    }

    &--not-responsive {
      @include -desktop-styles($selector, $cc, $t);
    }

    // for themes etc
    @content;
  }
}

// vertical stacking and chunkier text and red arrows
@mixin -mobile-styles($selector, $cc, $t) {
  @include fonts.init($t);
  @include icons.init($t);
  @include font-sizes.init($t);
  @include links.init($t);
  @include spacing.init($t);
  @include breakpoints.init($t);

  .#{$selector}__items {
    flex-direction: column;
    row-gap: spacing.calc-size(utils.get('mobile.items.y-spacing', $cc));
  }

  .#{$selector}__item {
    &:nth-of-type(4) {
      display: none;
    }

    &.is-toggle {
      .#{$selector}__link--chevron {
          @include icons.apply-icon('rbg-chevron-right', after, true);

          gap: spacing.calc-size(utils.get('mobile.item.icon-spacing', $cc));
      }
    }

    &.open {
      .#{$selector}__link--chevron {
          &::after {
            transform: rotate(90deg);
          }
      }
    }
  }

  &.#{$selector}--primary {
    .#{$selector}__link span {
      @include links.apply-inline(utils.get('mobile.links-primary', $cc));
    }
  }

  .#{$selector}__link {
    // link styles
    // adds chevrons to mobile menu items only
    
    @include breakpoints.screen-lt('desktop') {
      @include icons.apply-icon('rbg-chevron-right', after, true);

      gap: spacing.calc-size(utils.get('mobile.item.icon-spacing', $cc));

      &::after {
        color: utils.get('colors.primaryred.DEFAULT', $t);
      }
    }

    span {
      @include links.apply-inline(utils.get('mobile.links', $cc));
      @include font-sizes.apply-size(
        utils.get('mobile.font.size.size', $cc),
        utils.get('mobile.font.size.responsive', $cc)
      );
    }
  }

  @include fonts.apply-font('DEFAULT', utils.get('mobile.font.variant', $cc));
  @include font-sizes.apply-size(
    utils.get('mobile.font.size.size', $cc),
    utils.get('mobile.font.size.responsive', $cc)
  );

  color: utils.get(utils.get('mobile.font.color', $cc), $t);
}

// daintier thinner styling black dropdown icons
@mixin -desktop-styles($selector, $cc, $t) {
  @include fonts.init($t);
  @include font-sizes.init($t);
  @include icons.init($t);
  @include links.init($t);
  @include spacing.init($t);
  @include breakpoints.init($t);

  // fonts
  @include fonts.apply-font('DEFAULT', utils.get('desktop.font.variant', $cc));
  @include font-sizes.apply-size(
    utils.get('desktop.font.size.size', $cc),
    utils.get('desktop.font.size.responsive', $cc)
  );

  .#{$selector}__items {
    // switch to row
    flex-direction: row;
    align-items: center;
  }

  .#{$selector}__item {
    // border
    border-right: utils.get('divider.width', $cc) solid utils.get(utils.get('divider.color', $cc), $t);

    &:last-of-type {
      border-color: transparent;
    }

    @include breakpoints.screen-gt('desktop') {
      &:nth-of-type(4) {
        order: 4;
        display: block;      
      }

      &:nth-of-type(1) {
        display: block;      
      }
    }

    // padding
    @include spacing.apply-space(utils.get('desktop.item.y-spacing', $cc), 'py');
    @include spacing.apply-space(utils.get('desktop.item.x-spacing', $cc), 'px');

    // icons
    &.is-toggle {
      .#{$selector}__link--chevron {
        &.open {
          @include icons.apply-icon('rbg-chevron-up', after, true);
        }

        &.closed {
          @include icons.apply-icon('rbg-chevron-down', after, true);
        }

        gap: spacing.calc-size(utils.get('desktop.item.icon-spacing', $cc));
        
      }

      .#{$selector}__link--search {
        @include icons.apply-icon('rbg-search', after, true);
        
        gap: spacing.calc-size(utils.get('desktop.item.icon-spacing', $cc));
        
      }
    }

  }

  &.#{$selector}--primary {
    .#{$selector}__link span {
      @include links.apply-inline(utils.get('desktop.links-primary', $cc));
    }
  }

  .#{$selector}__link {
    // link styles
    @include links.apply-inline(utils.get('desktop.links', $cc));

    span {
      @include fonts.apply-font('DEFAULT', 'regular');
      @include font-sizes.apply-size(
        utils.get('desktop.font.size.size', $cc),
        utils.get('desktop.font.size.responsive', $cc)
      );
    }

    &:hover {
      span {
        @include fonts.apply-font('DEFAULT', 'regular');
      }
      
    }

    &:focus, &:active {
      span {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        
        @include fonts.apply-font('DEFAULT', 'regular');
      }
    }

    &:focus-visible {
      outline: none;
    }
    
  }
}
