{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  {{ pattern('breadcrumbs', {'items': breadcrumb}) }}
{% endif %}
