{% if header.title is empty %}
  {% set title %}
    {% trans %}Welcome to <br />Royal Greenwich{% endtrans %}
  {% endset %}
{% else %}
  {% set title = header.title %}
{% endif %}

{{ pattern('homepage_banner', {attributes: create_attribute().addClass('a--full').addClass('rbg-hero__image'), title: title, background_image: header.image }) }}

{{ pattern('action_links', { items: top_tasks }) }}
{{ pattern('service_links', { title: 'Our Services'|t, items: services_listing }, 'columns') }}

{% set promo_banner_content %}
  {{ banner.text }}
  {{pattern('button', {icon_type: 'rbg-chevron-thick-right', text: banner.link.0['#title'], url: banner.link.0['#url'].toString() }, 'filled')}}
{% endset %}

{% set hero_attributes = create_attribute().addClass('a--full') %}
{{ pattern('promotional_banner', { hero_attributes: hero_attributes, content: promo_banner_content, title: banner.title, background_image: banner.image }) }}

{%  set cta_news = pattern('button', { text: 'All news'|t, url: '/latest-news' }, 'cta') %}
{{ pattern('media_card_group', { items: news.items, title: 'Latest News'|t, cta: cta_news }) }}

{%  set cta_events = pattern('button', { text: 'All events'|t, url: '/events' }, 'cta') %}
{{ pattern('media_card_group', { items: events.items, title: "What's on"|t, cta: cta_events }) }}
