{# 
is_open: bool
label_length: char length of longest label
items: 
	- label: monday
		slots: Closed
item_separator: <br />
 #}

{{pattern('regular_schedules', {is_open: is_open, items: items, label_length: label_length})}}
