{#
/**
 * @file
 * page-feedback
 *
 * See page-feedback.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-page-feedback' %}

{#
  Classes
#}

{% set classes = [
  selector
] %}


{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
<div class="{{ selector }}__wrapper">
  {# If content if provided by Drupal use that, otherwise show the radios #}
  {% if content %}
    <div class="{{selector}}__form">
      <h2 class="{{selector}}__title">{{ label }}</h2>
      {{ content }}
    </div>
  {% else %}
    <form class="{{selector}}__form">
      <h2 class="{{selector}}__title">{{ label }}</h2>
        {% if description is not empty %}
          <div class="{{selector}}__description">{{ description }}</div>
        {% endif %}
      {% if options %}
          <div class="{{selector}}__options">{{ options }}</div>
      {% endif %}
    </form>
  {% endif %}
  </div>
</div>
