{#
/**
 * @file
 * layouts
 *
 * See layouts.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set attributes_main = attributes_main|default(create_attribute()) %}
{% set site_layout = site_layout|default('1-col') %}
{% set selector = pattern_configuration('layouts', variant, 'site_layouts')[site_layout] %}

{# depending on what is calling this pattern and the layotu requested depends on what we consider the 'main' div for the page #}
{# by default we're assuming this isn't used at the root level, but we allow for a main flag to setup 'main things' #}

{% set is_main = is_main|default(false) %}
{% set main_tag = 'div' %}

{% if is_main == 'true' %}
  {% set main_tag = 'main' %}
  {% set attributes_main = attributes_main.setAttribute('role', 'main') %}
  {% set attributes_main = attributes_main.setAttribute('id', 'rbg-main-content') %}
{% endif %}



{#
  Classes
#}

{% set classes = [
  selector
] %}

{#
  Helpers
#}

{# used for the 2 col logic #}
{% set two_col_main %}
  {% if content|render %}
      {% if site_layout == '2-col' or site_layout == '2-col-reversed' %}
        {% set attributes_main = attributes_main.addClass('rbg-main-content') %}
      {% endif %}
      <{{main_tag}}{{ attributes_main }}>
        {{ content }}
      </{{main_tag}}>
  {% endif %}
{% endset %}

{% set two_col_sidebar %}
  {% if sidebar|render %}
    <aside class="rbg-sidebar-content">
      {{ sidebar }}
    </aside>
  {% endif %}
{% endset %}

{#
  Template
#}
{% if site_layout == '2-col' or site_layout == '2-col-reversed' %}

    {# This is done because we want tabbing order to be as it appears visually for filters #}
    <div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
      {% if site_layout == '2-col' %}
        {{two_col_main}}
        {{two_col_sidebar}}
      {% elseif site_layout == '2-col-reversed' %}
        {{two_col_sidebar}}
        {{two_col_main}}
      {% endif %}
    </div>

{% else %}

  {% if content|render %}
    <{{main_tag}}{{attributes_main.addClass(classes | sort | join(' ') | trim) }}>
      {{ content }}
    </{{main_tag}}>
  {% endif %}

  {% if sidebar|render %}
    {{ sidebar }}
  {% endif %}

{% endif %}

