{#
/**
 * @file
 * event-listing
 *
 * See event-listing.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-event-listing' %}

{#
  Classes
#}

{% set classes = [
  selector
] %}


{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  <h3 class="{{selector}}__title"><a href="{{url}}" class="{{selector}}__link">{{title}}</a></h3>
  <div class="{{selector}}__date">{{date}}</div>
  <div class="{{selector}}__cost">{{cost}}</div>
  <div class="{{selector}}__location">{{location}}</div>
</div>
