@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/grid' as grid;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include spacing.init($t);
    @include grid.init($t);
    @include breakpoints.init($t);
    @include font-sizes.init($t);
    @include fonts.init($t);

    position: relative;

    @include spacing.apply-space('space-11', 'py');

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      object-fit: contain;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        background-image: linear-gradient(
          180deg,
          rgba(250 249 249 / 77%) 0%,
          rgba(250 249 249 / 77%) 77%,
          rgba(250 249 249 / 100%) 100%
        );
      }
    }

    &__wrapper {
      @include grid.apply-layout-grid;
      @include spacing.apply-flow('space-5', 'y');

      position: relative;
      z-index: 1;

      > * {
        max-width: 100%;
        box-sizing: border-box;
        grid-column: 1/4;
      }
    }

    // @TODO the design has incompatible font size tokens, using the biggest sizes available here
    &__title {
      @include font-sizes.apply-size('1000', true);
      @include fonts.apply-font('DEFAULT', 'bold');

      margin: 0;
      padding: 0;
    }

    // for themes etc
    @content;
  }
}
