@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use '../component' as component;

@mixin styles($component-selector, $cc, $t) {
  @include component.styles($component-selector, $cc, $t) {
    border-radius: 5px;

    // we don't need to set init() here again because we already did it in component.styles()

    @include breakpoints.screen-gt('tamagotchi') {
      border-bottom: 6px solid violet;
    }

    @include breakpoints.screen-gt('phone') {
      border-bottom: 6px solid red;
    }

    &__cta {
      border-color: utils.get('cta.border-color', $cc);

      &:hover {
        border-radius: 0;
      }
    }

    &__no-component-styles {
      display: none;
    }

    // using @extend duplicated __cta from parent but adds entirely new selector
    &__cta2 {
      $cta-selector: '.#{$component-selector}__cta';

      @extend #{$cta-selector};

      border-color: utils.get('cta.border-color', $cc);

      &:hover {
        @extend #{$cta-selector}, :hover;

        border-radius: 0;
      }
    }
  }
}
