@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/links' as links;
@use '../component' as component;

@mixin styles($component-selector, $cc, $t) {
  @include component.styles($component-selector, $cc, $t) {
    // styles specific to GCD go here, they're placed after the content in _component.scss
    @include font-sizes.init($t);
    @include links.init($t);

    // -----------------------------
    // VARIANTS
    // -----------------------------

    &--footer {
      $footer-links: (
        'default': (
          'font-variant': 'bold',
        ),
        'visited': (
          'font-variant': 'bold',
        ),
        'hover': (
          'font-variant': 'bold',
        ),
        'active': (
          'font-variant': 'bold',
        ),
        'focus': (
          'font-variant': 'bold',
        ),
      );

      @include font-sizes.apply-size('200', true);

      ul,
      ol {
        a,
        span {
          @include links.apply-inline($footer-links);
        }
      }
    }
  }
}
