// -----------------------------
// Tokens: Typography
// This contains the mixins for typography
// -----------------------------

// helpers
@use 'sass:map';
@use '../../tools/utilities' as utils;

// module related
@forward 'headings';
@forward 'mixins/headings' as mixin-headings-*;
@forward 'mixins/heading' as mixin-heading-*;
@forward 'mixins/heading-selector' as mixin-heading-selector-*;
@forward 'utils' as utils-*;
@use 'headings' as headings;
@use '../breakpoints' as breakpoints;
@use 'mixins/headings' as headings-mixins;
@use 'mixins/heading' as heading-mixins;
@use 'mixins/heading-selector' as heading-selector-mixins;
@use 'utils' as heading-utils;

// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: (
  'headings': headings.$headings,
  'breakpoints': breakpoints.$breakpoints,
) !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

@mixin apply($nested: false, $reset: true, $theme: $-tool-config) {
  @include headings-mixins.apply($nested, $reset, $theme);
}

@mixin apply-heading($variant, $reset: true, $theme: $-tool-config) {
  @include heading-mixins.apply($variant, $reset, $theme) {
    @content;
  }
}

@mixin apply-heading-selector($selector, $nested: false) {
  @include heading-selector-mixins.apply($selector, $nested) {
    @content;
  }
}

@function get-heading-classes-list($theme: $-tool-config) {
  @return heading-utils.heading-classes-list($theme);
}
