@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use '../../../tools/utilities' as utils;
@use '../body' as body;
@use '../../fonts' as fonts;

// @todo put in some validation here for the data format
// expects headings in the same format as found in _config.scss

// This mixin applies the styles to the body of the page,
// we use this in stylesheets that we have control over,
// if we're embedding our component into another site, we will inherit the sizes
// from the existing stylesheet for more consistency
// we work out any responsive increases per component in case the base style isn't set on the site this is
// inbcluded on, we still rretain our responsive features
@mixin apply($theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Base default called without theme options, using defaults from config';

    $body: body.$body;
  }

  $body: map.get($theme, body);
  $base-font-size: utils.get('base.base-font-size', $body);
  $our-base-font-size: utils.get('base.our-base-font-size', $body);

  @at-root {
    :root {
      font-size: calc($our-base-font-size / $base-font-size * 100%);
    }
  }
}
