@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use '../../../tools/utilities' as utils;
@use '../body' as body;
@use '../../fonts' as fonts;
@use '../../breakpoints' as breakpoints;

// @todo put in some validation here for the data format
// expects headings in the same format as found in _config.scss

// This mixin sets the font sizes and options we would set for typography on a component
@mixin apply($theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Body default called without theme options, using defaults from config';

    $body: body.$body;
    $breakpoints: breakpoints.$breakpoints;
  }

  $type: body;
  $body: map.get($theme, body);
  $breakpoints: map.get($theme, breakpoints);
  $our-base-font-size: utils.get('base.our-base-font-size', $body);
  $body-data: utils.get('#{$type}', $body);

  @if map.get($body-data, default) {
    // default styles
    @include apply-body(map.get($body-data, default), $our-base-font-size, $theme);
  } @else {
    @each $breakpoint, $styles in $body-data {
      @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
        @include apply-body($styles, $our-base-font-size, $theme);
      }
    }
  }
}

// outputs the font sizes and all classes that apply to it
@mixin apply-body($body, $our-base-font-size, $theme) {
  $font-family: map.get($body, font-family);
  $font-variant: map.get($body, font-variant);
  $line-height: map.get($body, line-height);
  $font-size: map.get($body, font-size);
  $color-token: map.get($body, color);
  $color: utils.get('colors.#{$color-token}', $theme);

  font-size: calc($font-size / $our-base-font-size) + rem;
  line-height: calc($line-height / $font-size);
  color: $color;

  @include fonts.apply-font($font-family, $font-variant);
}
