@function find-breakpoint-position($breakpoint, $breakpoints) {
  $breakpoint-position: -1;
  $cnt: 0;

  @each $bp, $value in $breakpoints {
    @if $bp == $breakpoint {
      $breakpoint-position: $cnt;
    }

    $cnt: $cnt + 1;
  }

  @return $breakpoint-position;
}
