@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/elements' as elements;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // -
    @include body.init($t);
    @include headings.apply;
    @include links.init($t);
    @include elements.init($t);
    @include spacing.init($t);

    // -
    @include spacing.apply-flow('space-3', 'y');

    // -
    &__text {
      @include body.apply;
      @include elements.apply-strong;
    }

    // for themes etc
    @content;
  }
}
