{#
/**
 * @file
 * link
 *
 * See link.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}


{#
  Classes
#}
{% set selector = 'rbg-breadcrumbs' %}
{% set classes = [
  selector
] %}


{#
  Template
#}
{% if items %}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  <ul>
    {% for item in items %}
          <li>
            {% if item.url %}
              <a class="{% if (item.in_active_trail) %}is-active{% endif %}" href="{{ item.url }}">
            {% endif %}
            {{ item.text }}
          {% if item.url %}</a>{% endif %}
          </li>
    {% endfor %}
  </ul>
</div>
{% endif %}