{#
/**
 * @file
 * category-list-item
 *
 * See category-list-item.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}

{#
  Classes
#}
{% set selector = 'rbg-category-list-item' %}
{% set classes = [
  selector
] %}

{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  <div class="{{selector}}__title">
  <h3>{{title}}</h3>
  </div>
  <div class="{{selector}}__items">
  {{ items }}  
  </div>
</div>
