{#
/**
 * @file
 * promotional-banner
 *
 * See promotional-banner.wingsuit.yaml for documentation.
 */
#}


{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}

{#
  Classes
#}
{% set selector = 'rbg-promotional-banner' %}
{% set classes = [
  selector
] %}


{#
  Template
#}

{% set block_content %}
  <div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
    <div class="{{selector}}__title">
      {{title}}
    </div>
    <div class="{{selector}}__content">
      {{content}}
    </div>
  </div>
{% endset %}

{{ pattern('hero', {
  attributes: hero_attributes,
  content_size: 'half',
  content_location: 'right',
  content_border: true,
  block_content: block_content,
  background_image: background_image} ) }}
