@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use '../../../tools/utilities' as utils;
@use '../spacing' as spacing;
@use '../../body' as body;
@use '../../breakpoints' as breakpoints;

// @todo put in some validation here for the data format
// expects headings in the same format as found in _config.scss

// This mixin sets the font sizes and options we would set for typography on a component
@function calc-size($variant, $breakpoint, $theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Flow default called without theme options, using defaults from config';

    $spacing: spacing.$spacing;
    $body: body.$body;
    $breakpoints: breakpoints.$breakpoints;
  }

  $body: map.get($theme, body);
  $breakpoints: map.get($theme, breakpoints);
  $spacing: map.get($theme, spacing);
  $our-base-font-size: utils.get('base.our-base-font-size', $body);
  $value: null;

  @if map.get($spacing, default) {
    $value: utils.get('default.#{$variant}', $spacing);
  }

  @if meta.type-of($breakpoint) != 'null' {
    $value: utils.get('#{$breakpoint}.#{$variant}', $spacing);
  }

  $calculated-size: calc($value / $our-base-font-size);
  $result: utils.convert-unit($calculated-size, 1rem);

  @if meta.type-of($result) != 'number' {
    @error 'Calc-size should return a number else calculations may not be done correctly';
  }

  @return $result;
}
