@use '../tools/utilities' as utils;
@use 'breakpoints' as breakpoints;
@use 'grid' as grid;
@use 'spacing' as spacing;
@use 'colors' as colors;
@use 'body' as body;
@use 'font-sizes' as font-sizes;
@use 'headings' as headings;
@use 'links' as links;
@use 'icons' as icons;
@use 'layout' as layout;
@use 'accessibility' as accessibility;
@use 'sizes' as sizes;
@use 'lists' as lists;
@use 'elements' as elements;
@use 'buttons' as buttons;

$default-primary: utils.get('primaryred.600', colors.$colors);
$default-secondary: utils.get('primaryred.100', colors.$colors);
$default-focus: utils.get('focus.300', colors.$colors);
$default-config: (
  'icon': 💻,
  'debug': false,
  'name': default,
  'breakpoints': breakpoints.$breakpoints,
  'grid': grid.$grid,
  'spacing': spacing.$spacing,
  'body': body.$body,
  'font-sizes': font-sizes.$font-sizes,
  'links': links.$links,
  'headings': headings.$headings,
  'icons': icons.$icons,
  'colors': colors.$colors,
  'primary': $default-primary,
  'secondary': $default-secondary,
  'focus': $default-focus,
  'background-color': utils.get('neutral.200', colors.$colors),
  'text-color': utils.get('black', colors.$colors),
  'layout': layout.$layout,
  'accessibility': accessibility.$accessibility,
  'sizes': sizes.$sizes,
  'lists': lists.$lists,
  'elements': elements.$elements,
  'buttons': buttons.$buttons,
);
