/* stylelint-disable selector-max-id, selector-max-specificity */
// Overriding CSS added by drupal that has nothing to do with the component itself

.sliding-popup-top,
.sliding-popup-bottom {
  width: 100%;
  text-align: initial;
}

#sliding-popup.sliding-popup-top {
  position: relative;
}
