@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/themes/greenwich-community-directory' as theme-gcd;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/colors' as colors;

// for demo purposes only - we're using gcd here because it has all the colours
.token-settings {
  $t: theme-gcd.$theme;

  // standard reset
  @include reset.init($t);
  @include reset.apply;

  // body styles so things look right
  @include body.init($t);
  @include body.apply;

  // gonna need headings
  @include headings.init($t);
  @include headings.apply;

  // and link styles
  @include links.init($t);
  @include links.apply;

  // also colors
  @include colors.init($t);

  // now that we have a 'base' component (which tbh is what rich_text is)

  // for each setting add an example usage:

  // ******
  // color:
  // ******
  @include colors.apply('color', true);

  // ******
  // heading_color:
  // ******
  $headings: headings.get-heading-classes-list();
  $color-classes: colors.get-color-classes-list('.heading-color');

  @each $colorselector, $color in $color-classes {
    // then we apply the colours to the headings
    &#{$colorselector} {
      @each $headingsselector, $values in $headings {
        @include headings.apply-heading-selector($headingsselector, false) {
          color: $color;
        }
      }
    }
  }

  // ******
  // background_color:
  // ******
  @include colors.apply('background-color', true);

  // ******
  // link_color:
  // ******
  $color-classes: colors.get-color-classes-list('.link-color');

  @each $colorselector, $color in $color-classes {
    &#{$colorselector} a {
      // you would never really set link colours in this way, since we have the links.apply() method which accounts for all the different link states
      color: $color;
    }
  }
}
