{#
/**
 * @file
 * token-settings
 *
 * See token-settings.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'token-settings' %}
{% set color = color|default(false) %}
{% set heading_color = heading_color|default(false) %}
{% set background_color = background_color|default(false) %}
{% set link_color = link_color|default(false) %}
{% set configuration_options_default_colors = pattern_configuration('token_settings', variant, 'default_colors')  %}


{# uncomment if you need to list out config options for documentation 
otherwise we don't really need anything in here #}
{# {{pattern('list', {items: configuration_options_colors})}} #}


{% set classes = ([
  selector,
  color ? 'color' ~ pattern_configuration('token_settings', '', 'colors')[color],
  heading_color ? 'heading-color' ~ pattern_configuration('token_settings', '', 'colors')[heading_color],
  background_color ? 'background-color' ~ pattern_configuration('token_settings', '', 'colors')[background_color],
  link_color ? 'link-color' ~ pattern_configuration('token_settings', '', 'colors')[link_color]
] | sort | join(' ') | trim )%}

<div class="{{ classes }}">
  <h2>Heading</h2>
  <div class="h3">Heading three via class name</div>
  <p>Donec ullamcorper nulla non metus auctor fringilla. <a href="#">Duis mollis, est non commodo luctus</a>, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
  <h3>Adding these in here as we need them in the assets and wingsuit only brings things in in specific circumstances!</h3>
  <img src="{{ file_url('ws-assets://images/background-one.png') }}"/>
  <img src="{{ file_url('ws-assets://images/background-two.png') }}"/>
  <img src="{{ file_url('ws-assets://images/promo-banner-bg.png') }}"/>
  <img src="{{ file_url('ws-assets://images/homepage-banner-bg.png') }}"/>
  <img src="{{ file_url('ws-assets://images/homepage-banner-blend.png') }}"/>
</div>
