{#
/**
 * @file
 * hint
 *
 * See hint.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}

{#
  Classes
#}

{% set selector = 'rbg-hint' %}
{% set classes = [
  selector,
] | sort %}

{#
  Template
#}
<p {{ attributes.addClass(classes) }}>{{ hint }}</p>
