{#
/**
 * @file
 * event-details
 *
 * See event-details.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes | default(create_attribute()) %}
{% set selector = 'rbg-event-details' %}

{#
  Classes
#}

{% set classes = [
  selector,
  image|render ? '' : selector ~ '--no-image',
] %}

{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>

  <div class="{{selector}}__items">
    {% if image | render %}
      <div class="{{selector}}__item">
        <div class="{{selector}}__image">
          {{ image }}
        </div>
      </div>
    {% endif %}

    {# @TODO are we using gcd address or creating a new one (can move the bold style into _gcd.scss) #}
    {% if location | render %}
      <div class="{{selector}}__item">
        <div class="{{selector}}__location">
          <p><strong>Location:</strong></p>
          {{ location }}
        </div>
      </div>
    {% endif %}

    {% if times | render %}
      <div class="{{selector}}__item">
        <div class="{{selector}}__times">
          <p><strong>Next event date and time:</strong></p>
          {{ times }}
        </div>
      </div>
    {% endif %}

    {% if booking | render %}
      <div class="{{selector}}__item">
        {{ booking }}
      </div>
    {% endif %}

    {% if cost | render %}
      <div class="{{selector}}__item">
        {{ cost }}
      </div>
    {% endif %}

  </div>

  {% if description | render %}
    <div class="{{selector}}__description">
      {{ description }}
    </div>
  {% endif %}

</div>
