@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/accessibility' as accessibility;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/colors' as colors;
@use 'rbgstyles/tokens/icons' as icons;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include body.init($t);
    @include body.apply;
    @include accessibility.init($t);
    @include fonts.init($t);
    @include font-sizes.init($t);
    @include spacing.init($t);
    @include colors.init($t);
    @include icons.init($t);

    padding: 0;
    margin: 0;
    border: 1px solid utils.get('colors.neutral.500', $t);
    outline: 4px solid transparent; 
    appearance: none;
    background-image: url('~forms/form-select/images/rbg-chevron-down.svg');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
    width: 100%;
    color: utils.get('colors.neutral.500', $t);

    @include font-sizes.apply-size('400');
    @include spacing.apply-space('space-2');

    &:focus,
    &:active {
      outline: 3px solid utils.get('colors.focus.600', $t);
      border: solid 3px utils.get('colors.neutral.700', $t);
    }

    &::placeholder {
      color: utils.get('colors.neutral.500', $t);
    }

    // for themes etc
    @content;
  }
}
