@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use '../../../tools/utilities' as utils;
@use '../sizes' as sizes;

// @todo put in some validation here for the data format
// expects headings in the same format as found in _config.scss

// This mixin sets the font sizes and options we would set for typography on a component
@mixin apply($property, $nested, $theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Size default called without theme options, using defaults from config';

    $sizes: sizes.$sizes;
  }

  $sizes: map.get($theme, sizes);

  @if $sizes {
    @each $size, $values in $sizes {
      @if meta.type-of($values) == 'number' {
        @include apply-sizes($property, $size, $values, $nested, $theme);
      }
    }
  }
}

@mixin apply-sizes($property, $name, $size, $nested, $theme) {
  @include selector(
    '.size--#{$property}--#{$name}',
    $nested
  ) {
    #{$property}: $size;
  }
}

@mixin selector(
  $selector,
  $nested
) {
  @if $nested {
    &#{$selector} {
      @content;
    }
  } @else {
    #{$selector} {
      @content;
    }
  }
}
