@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/accessibility' as accessibility;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include spacing.init($t);
    @include accessibility.init($t);
    @include breakpoints.init($t);

    border: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    margin-left: 0;
    padding: 0;

    // Make legend look like form labels as sometimes its used in this way.
    legend {
      @include reset.init($t);
      @include reset.apply;
      @include body.init($t);
      @include body.apply;
      @include accessibility.init($t);
      @include fonts.init($t);
      @include font-sizes.init($t);
      @include spacing.init($t);

      padding: 0;
      margin: 0;

      @include fonts.apply-font('DEFAULT', 'medium');

      @include breakpoints.screen-gt('tablet') {
        @include fonts.apply-font('DEFAULT', 'medium');
      }

      &.hidden {
        display: none;

        @include accessibility.apply-visually-hidden;
      }
    }

    @include spacing.apply-flow('space-2', 'y');

    // in the future we may want to change this as its currently set for sidebar filters but it also might be ok
    &__fieldset-wrapper {
      @include spacing.apply-flow('space-5', 'y');
    }

    // -------
    // settings
    // -------
    // horizontal - assumes form_element for each item is used

    &--horizontal {
      .#{$selector}__fieldset-wrapper {
        display: flex;
        flex-direction: column;

        @include spacing.apply-flow('space-4', 'y');

        @include breakpoints.screen-gt('phone') {
          @include spacing.apply-flow('space-8', 'x');
          @include spacing.apply-flow('space-0', 'y');

          flex-direction: row;
        }

        .rbg-form-element {
          display: flex;
          gap: spacing.calc-size('space-2');
        }
      }
    }

    // for themes etc
    @content;
  }
}
