{#
/**
 * @file
 * example-alpine-js
 *
 * See example-alpine-js.wingsuit.yaml for documentation.
 */
#}

<div  x-data="exampleAlpineJsBehavior()">
    <button @click="toggle">Toggle</button>
    <div x-show="open">Contents...</div>
</div>