{#
/**
 * @file
 * example-alpine-js
 *
 * See example-alpine-js.wingsuit.yaml for documentation.
 */
#}

<div x-data="{ open: false }">
    <button @click="open = ! open">Toggle</button>
 
    <div x-show="open" @click.outside="open = false">Contents...</div>
</div>