{#
/**
 * @file
 * example-alpine-js
 *
 * See example-alpine-js.wingsuit.yaml for documentation.
 */
#}

{% if variant %}
  {% include '@examples/example-alpine-js/_example-alpine-js--' ~ variant ~ '.twig' %}
{% endif %}
