{#
/**
 * @file
 * results-summary
 *
 * See results-summary.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-results-summary' %}

{#
  Classes
#}

{% set classes = [
  selector
] %}

{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
      {{ markup }}
</div>
