{#
/**
 * @file
 * guide-page
 *
 * See guide-page.wingsuit.yaml for documentation.
 */
#}

{% extends "@templates/page/page.twig" %}

{% set breadcrumbs = [{text: 'Home', url: '/'}, {text: 'Get help if you\'re losing your home'}] %}

{% block content %}


{# Two options here: #}

{# Preferred: #}

{{pattern('page_title', {
    title: 'Get help if you\'re losing your home', 
    items: [pattern_preview('nav_page')]
  })}}


{# alternative, not as neat but does the job (this is before we've reviewed spacing) #}
{# <div>
	{{pattern('page_title', {title: 'Get help if you\'re losing your home', hide_divider: true})}}
  {{pattern_preview('nav_page')}}
</div>
{{pattern('divider')}} #}

{{pattern('heading', {text: 'Overview'}, 'h3')}}
{{pattern('rich_text', {text: '<p>Ask for our help as soon as possible</p>
<p>We may be able to help prevent you from losing your home.</p>
<p>If you cannot keep your home, we can help you find a new home.</p>'})}}


{{pattern('page_blockquote_inset', {text: '<p>If you have already lost your home, <a href="#">Get help if you have no where to sleep tonight</a></p>'})}}

{{ pattern('navigation', {title: 'Next page', description: 'What to expect if you ask for help', url: '#', direction: 'next' }) }}
{% endblock %}
