{#
/**
 * @file
 * page-blockquote
 *
 * See page-blockquote.wingsuit.yaml for documentation.
 */
#}


{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-page-blockquote' %}

{#
  Classes
#}

{% set classes = [
  selector
] %}


{#
  Template
#}
<blockquote {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  {{text}}
</blockquote>
