{#
/**
 * @file
 * service-card-group
 *
 * See service-card-group.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set border = border|default(false) %}


{#
  Classes
#}
{% set selector = 'rbg-service-card-group' %}
{% set classes = [
  selector,
  border ? selector ~ '--border' 
] %}

{#
  Template
#}
<div id="results" {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
 
{% if title %}
<div class="{{selector}}__title">
  {{ pattern('heading', {'text': title}, 'h2') }}
</div>
{% endif %}


{% if items %}
<div class="{{selector}}__items">
  {{items}}
</div>
{% endif %}


{% if link_text and url %}
{{ pattern('button', {icon_type: 'rbg-chevron-thick-right', icon_color: 'white', text: link_text, url: url}, 'outlined') }}
{% endif %}


</div>
