{#
/**
 * @file
 * menu-horizontal-header
 *
 * See menu-horizontal-header.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set responsive = responsive|default(false) %}
{% set primary = primary|default(false) %}
{% set aside_menu = aside_menu|default(false) %}


{#
  Classes
#}
{% set selector = selector|default('rbg-menu-horizontal-header') %}
{% set classes = [
  selector,
  responsive ? selector ~ "--responsive" : selector ~ "--not-responsive",
  primary ? selector ~ "--primary"
] %}


{% set item_classes = [
  selector ~ '__item',
] %}
{% set link_classes = [
  selector ~ '__link',
] %}



{#
  Attributes
#}
{% set attributes = attributes.setAttribute('aria-label', menu_name).setAttribute('role', 'navigation').addClass(classes | sort | join(' ') | trim) %}


{#
  Template
#}


<nav {{ attributes }}>
	<ul class="{{ selector }}__items">
		{% for item in items %}

        {% set item_attributes = create_attribute().addClass(item_classes | sort | join(' ') | trim) %}
        {% set link_attributes = create_attribute().addClass(link_classes | sort | join(' ') | trim) %}

        {% set link_element = 'span' %}

        {% if item.url is defined %}
          {% set link_element = 'a' %}
          {# {% set link_attributes = link_attributes.setAttribute('href', item.url) %} #}
        {% endif %}

        {% if item.in_active_trail == true %}
          {% set link_attributes = link_attributes.addClass('is-active') %}
        {% endif %}

        {# settings for toggling #}
        {% if item.target is defined %}
          {# // item stuff #}
          {% set data = {'target': item.target, 'asideMenu': aside_menu} %}
          {% set item_attributes = item_attributes.addClass('is-toggle') %}
          {% set item_attributes = item_attributes.setAttribute('x-bind', 'bindSetActiveAccordion') %}
          {% set item_attributes = item_attributes.setAttribute('x-data', data|json_encode()) %}

          {# link stuff #}
          {% set link_element = 'button' %}
          {% set link_attributes = link_attributes.setAttribute('aria-controls', item.target) %}
          {% set link_attributes = link_attributes.setAttribute('aria-expanded', 'false') %}
          {% set link_attributes = link_attributes.setAttribute('id', item.target ~ '-id') %}
          {% set link_attributes = link_attributes.setAttribute('x-bind:class', "{ 'open': activeAccordion === '" ~ item.target ~ "', 'closed': activeAccordion !== '" ~ item.target ~ "'}") %}

          {# icon stuff #}
          {% set icon_classes = [
            item.target != 'search' ? selector ~ '__link' ~ "--chevron" : selector ~ '__link' ~ "--search",
          ] %}
          {% set icon_attributes = link_attributes.addClass(icon_classes | sort | join(' ') | trim) %}

        {% endif %}

        {% if aside_menu %}
          {% set link_attributes = link_attributes.setAttribute('x-ref', 'asideMenu') %}
        {% endif %}

        <li {{ item_attributes }}>
            <{{link_element}} {{ link_attributes }}  {{icon_attributes}} {% if element == 'a' %}href="{{item.url}}"{% endif %} tabindex="0">
              <span>{{ item.title }}</span>
            </{{link_element}}>
        </li>
		{% endfor %}
	</ul>
</nav>
