{#
/**
 * @file
 * event-listing-group
 *
 * See event-listing-group.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-event-listing-group' %}

{#
  Classes
#}

{% set classes = [
  selector
] %}



{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
{% if items %}
<div class="{{selector}}__items">
  {{items}}
</div>
{% endif %}
</div>
