{#
/**
 * @file
 * news-article-page
 *
 * See news-article-page.wingsuit.yaml for documentation.
 */
#}

{% extends "@templates/page/page.twig" %}

{% set breadcrumbs = [{text: 'Home', url: '/'},{text: 'News', url: '/news'}, {text: 'Pre-apprenticeship Construction Training scheme is open for registration'}] %}

{% block content %}


	{{pattern('page_title', {title: 'Pre-apprenticeship Construction Training scheme is open for registration'})}}
	{{pattern_preview('news_article_detail')}}

	{{ pattern('navigation', {title: 'Back to all news', url: '#', direction: 'previous' }) }}
{% endblock %}
