{#
/**
 * @file
 * icon
 *
 * See icon.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set icon_type = icon_type|default('rbg-chevron-right') %}
{% set icon_color = icon_color|default('neutral700') %}
{% set icon_position = icon_position|default('before') %}
{% set selector = "rbg-icon" %}

{#
  Classes
#}

{% set classes = [
  selector,
  'rbg-icon--' ~ icon_position ~ '--' ~ icon_type,
  icon_color ? 'color' ~ pattern_configuration('token_settings', '', 'colors')[icon_color],
] %}

{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  
</div>
