// -----------------------------
// Tokens: Typography
// This contains the mixins for typography
// -----------------------------

// helpers
@use 'sass:map';
@use '../../tools/utilities' as utils;

// module related
@forward 'font-sizes';
@forward 'mixins/font-sizes' as mixin-font-sizes-*;
@forward 'mixins/font-size' as mixin-font-size-*;
@use 'font-sizes' as font-sizes;
@use '../breakpoints' as breakpoints;
@use '../body' as body;
@use 'mixins/font-sizes' as font-sizes-mixins;
@use 'mixins/font-size' as font-size-mixins;

// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: (
  'font-sizes': font-sizes.$font-sizes,
  'breakpoints': breakpoints.$breakpoints,
  'body': body.$body,
) !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

@mixin apply($responsive: true, $nested: false, $theme: $-tool-config) {
  @include font-sizes-mixins.apply($responsive, $nested, $theme);
}

@mixin apply-size($token, $responsive: true, $theme: $-tool-config) {
  @include font-size-mixins.apply($token, $responsive, $theme);
}
