@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/grid' as grid;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // .
    @include fonts.init($t);
    @include font-sizes.init($t);
    @include spacing.init($t);
    @include breakpoints.init($t);
    @include grid.init($t);

    @include breakpoints.screen-gt('desktop') {
    }

    &__title {
      // @include fonts.apply-font('DEFAULT', 'semibold');
      // @include font-sizes.apply-size('900', true);
      // color: utils.get('colors.primaryred.DEFAULT', $t);
      margin-bottom: spacing.calc-size('space-5');
    }

    &__items {
      > * {
        @include spacing.apply-space('space-5', 'py');

        border-bottom: 1px solid utils.get('colors.neutral.300', $t);

        &:first-child {
          padding-top: 0;
        }
      }
    }

    // set the background color from component config

    // for themes etc
    @content;
  }
}
