@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include spacing.init($t);
    @include breakpoints.init($t);
    @include reset.apply;

    $breakpoints: utils.get('breakpoints', $t);
    $layout-spacing: utils.get('layout.spacing-y', $t);

    // apply default site spacing to everything at the top level, header, footer etc
    @each $breakpoint, $space in $layout-spacing {
      @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
        @include spacing.apply-flow($space, 'y');
      }
    }

    // this may end up just being a gcd thing but I'm setting it as default for now

    // then undo that for the top region so there isn't such a big gap between header and top region content (mostly breadcrumbs) and the header
    // also apply smaller spacing underneath top region

    // :not(.hidden, .contextual) needed to match the specificity of the flow
    // classes otherwise this doesn't apply.
    > .#{$selector}__top,
    > .#{$selector}__top + *:not(.hidden, .contextual) {
      margin-block-start: spacing.calc-size('space-4');

      @include breakpoints.screen-gt('desktop') {
        margin-block-start: spacing.calc-size('space-5');
      }
    }

    // we want spacing between items in the top to also be space-4 on mobile and space-5 on desktop
    > .#{$selector}__top {
      @include spacing.apply-flow('space-4', 'y');

      @include breakpoints.screen-gt('desktop') {
        @include spacing.apply-flow('space-5', 'y');
      }
    }

    // remove top margin if requested. This is used on the home page for example.
    &--no-spacing > main:not(.hidden, .contextual) {
      margin-block-start: 0;
    }

    // @TODO we need to use spacing on services page only

    @content;
  }
}
