{% set attributes = attributes|default(create_attribute()) %}

{% set classes = [
  'rbg-flow-y--space-5'
] %}

<div{{ attributes }}>
  <div class="dates">
    <div class="date">{{ widget.start }}</div>
    <div class="date">{{ widget.end }}</div>
    <div class="date">{{ widget.time_zone }}</div>
  </div>
  <div class="container rbg-mty--space-5">
    {{ widget.mode }}
    {{ widget.daily_count }}
  </div>
  {{ widget.weekdays }}
  {{ widget.ordinals }}
  <div class="ends" style="display: block;">
    <div style="">
      {{ widget.ends_mode }}
    </div>
    <div style="padding-left: 0">
      {{ widget.ends_count }}
      {{ widget.ends_date }}
    </div>
  </div>
</div>
