{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{% extends '@greenwich_base/templates/forms/defaults/input--submit.html.twig' %}
{% set full_width = 'true' %}
