// -----------------------------
// Tokens: Typography
// This contains the mixins for typography
// -----------------------------

// helpers
@use 'sass:map';
@use '../../tools/utilities' as utils;

// module related
@forward 'lists';
@forward 'mixins/lists' as mixin-lists-*;
@use 'lists' as lists;
@use 'mixins/lists' as lists-mixins;

// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: (
  'lists': lists.$lists,
) !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

@mixin apply($lists: map.get($-tool-config, lists), $theme: $-tool-config) {
  @include lists-mixins.apply($lists, $theme);
}