{#
/**
 * @file
 * pagination
 *
 * See pagination.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes | default(create_attribute()) %}
{% set selector = 'rbg-pagination' %}

{#
  Classes
#}

{% set classes = [selector] %}

{#
  Template
#}
{% if items.previous or items.next %}
  <nav role="navigation" aria-labelledby="{{ heading_id }}" {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
    <h4 id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="js-pager__items">
      {% if items.previous %}
        {# < Prev #}
        <li class="{{selector}}__previous">
          <span class="{{selector}}__direction prev">
            <a class="{{selector}}__direction--left" href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev" {{ items.previous.attributes|without('href', 'title', 'rel') }}>
              <span class="visually-hidden">{{ 'Previous page'|t }}</span>
              <span aria-hidden="true">{{ 'Prev'|t }}</span>
            </a>
          </span>
        </li>
      {% endif %}
      {% if items.pages %}
        {# Page list #}
        {% set loop_mid = ((items.pages | length) / 2) | round %}
        {% for index, page in items.pages %}
          <li {% if index == current %} class="{{selector}}__active" {% endif %}>
            {% if index == current %}
              {# Current page is not a link #}
              <span class="{{selector}}__number active" {{ items.previous.attributes|without('href', 'title', 'rel') }}>
                {{ index }}
              </span>
            {% else %}
              <a class="{{selector}}__number" href="{{ page.href }}" title="{{ 'Go to page '|t }}" rel="prev" {{ items.previous.attributes|without('href', 'title', 'rel') }}>
                <span class="visually-hidden">{{ 'Page ' ~ index }}</span>
                <span aria-hidden="true">{{ index }}</span>
              </a>
            {% endif %}
          </li>
        {% endfor %}
      {% endif %}

      {% if items.next %}
        {# Next > #}
        <li class="{{selector}}__next">
          <span class="{{selector}}__direction next">
            <a class="{{selector}}__direction--right" href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next" {{ items.next.attributes|without('href', 'title', 'rel') }}>
              <span class="visually-hidden">{{ 'Next page'|t }}</span>
              <span aria-hidden="true">{{ 'Next'|t }}</span>
            </a>
          </span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
