@use 'sass:meta';
@use 'sass:map';
@use 'sass:selector';
@use './heading-selector' as heading-selector;
@use '../headings';
@use '../../../tools/utilities' as utils;
@use '../../fonts' as fonts;
@use '../../breakpoints' as breakpoints;
@use '../../body' as body;

// @todo put in some validation here for the data format
// expects headings in the same format as found in _config.scss
@mixin apply($nested, $reset, $theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Headings called without theme options, using all defaults from config';

    $headings: theme.$headings;
    $body: theme.$body;
    $breakpoints: theme.$breakpoints;
  }

  $headings: map.get($theme, headings);
  $body: map.get($theme, body);
  $breakpoints: map.get($theme, breakpoints);
  $our-base-font-size: utils.get('base.our-base-font-size', $body);

  @if map.get($headings, default) {
    // default styles
    @include apply-headings(
      map.get($headings, default),
      $our-base-font-size,
      $nested,
      $reset,
      $theme
    );
  } @else {
    @each $breakpoint, $styles in $headings {
      @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
        @include apply-headings($styles, $our-base-font-size, $nested, $reset, $theme);
      }
    }

    // we could go into responsive stuff here but we're not using this yet
    // we'd need to use the breakpoints token mixins for that
  }
}

// outputs the h1,h2 etc
@mixin apply-headings($headings, $our-base-font-size, $nested, $reset, $theme) {
  @each $selector, $values in $headings {
    @include heading-selector.apply('#{$selector}', $nested) {
      $font-family: map.get($values, font-family);
      $font-variant: map.get($values, font-variant);
      $line-height: map.get($values, line-height);
      $font-size: map.get($values, font-size);

      font-size: calc($font-size / $our-base-font-size) + rem;
      line-height: calc($line-height / $font-size);

      @include fonts.apply-font($font-family, $font-variant);

      @if $reset {
        margin: 0;
        padding: 0;
      }
    }
  }
}
