@use 'sass:meta';
@use 'sass:map';
@use '../headings';
@use '../../../tools/utilities' as utils;
@use '../../fonts' as fonts;
@use '../../breakpoints' as breakpoints;
@use '../../body' as body;

// this mixin returns the css for a specific heading variant, including responsive styles
@mixin apply($variant, $reset, $theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Headings called without theme options, using all defaults from config';

    $headings: theme.$headings;
    $body: theme.$body;
    $breakpoints: theme.$breakpoints;
  }

  $headings: map.get($theme, headings);
  $body: map.get($theme, body);
  $breakpoints: map.get($theme, breakpoints);
  $our-base-font-size: utils.get('base.our-base-font-size', $body);

  @if map.get($headings, default) {
    // default styles
    @include apply-heading(
      utils.get('default.#{$variant}', $headings),
      $our-base-font-size,
      $theme
    ) {
      @content;
    }
  } @else {
    @each $breakpoint, $styles in $headings {
      @include breakpoints.loop('#{$breakpoint}', $breakpoints) {
        @include apply-heading(map.get($styles, $variant), $our-base-font-size, $reset, $theme) {
          @content;
        }
      }
    }
  }
}

// outputs the h1,h2 etc
@mixin apply-heading($heading, $our-base-font-size, $reset, $theme) {
  $font-family: map.get($heading, font-family);
  $font-variant: map.get($heading, font-variant);
  $line-height: map.get($heading, line-height);
  $font-size: map.get($heading, font-size);

  font-size: calc($font-size / $our-base-font-size) + rem;
  line-height: calc($line-height / $font-size);

  @include fonts.apply-font($font-family, $font-variant);

  @if $reset {
    margin: 0;
    padding: 0;
  }

  @content;
}
