/*

We support <h1> <div class="h1"> and <div class="something--h1"> 

so we need a reliable way to generate heading classes, in case we need to overwrite them

nb this shouldn't be used too much

*/

@use 'sass:meta';
@use 'sass:map';
@use 'sass:selector';

@mixin apply($selector, $nested) {
  @if $nested {
    // .component.component--h5, @at-root #{selector-append($selector, &)}
    // .component.h5,  &.#{$selector}
    // h5.component--h5, &#{#{selector-append(&, '--', $selector)}}
    @at-root #{selector.append($selector, #{#{selector.append(&, '--', $selector)}})},
      &.#{$selector},
      &#{#{selector.append(&, '--', $selector)}} {
      @content;
    }
  } @else {
    // .component .component--h1,
    // .component .h1,
    // .component h1 {
    #{$selector},
    .#{$selector},
    #{#{selector.append(&, '--', $selector)}} {
      @content;
    }
  }
}
