{#
/**
 * @file
 * label
 *
 * See label.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set type = type|default('default') %}

{#
  Classes
#}
{% set selector = 'rbg-label' %}
{% set classes = [
  selector,
  pattern_configuration('label', '', 'type')[type],
] %}

{#
  Template
#}

<span {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  {{ text }}  
</span>
