@use 'rbgstyles/tools/utilities' as utils;

@mixin slide-logo {
  // slide the logo in
  @keyframes slide-logo {
    from {
      transform: translateX(-40px);
    }
  }
}

@mixin show-logo {
  // fade in the logo
  @keyframes show-logo {
    from {
      opacity: 0;
      display: none;
    }

    to {
      opacity: 1;
    }
  }
}

@mixin background-color($cc) {
  $background-color: utils.get('logos-area.background-color.DEFAULT', $cc);
  $light-color: utils.get('logos-area.background-color.500', $cc);

  background-color: $background-color;
}

// does the shiny bg animation thing
@mixin logo-background($cc) {
  @include background-color($cc);

  background-position-x: -100%;
  background-size: 200%;
}

// whenever the main logo is shown
@mixin logo-show {
  display: block;
}

// when we show the gcd logo
@mixin gcd-logo-show {
  @include show-logo;
  @include slide-logo;

  animation: show-logo 1s, slideLogo 1s;
}

@mixin gcd-logo-background($cc) {
  @include background-color($cc);
}
