{#
/**
 * @file
 * page-title
 *
 * See page-title.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set hide_divider = hide_divider|default(false) %}



{% set selector = 'rbg-page-title' %}
{#
  Classes
#}

{% set classes = [
  selector,
  not hide_divider ? selector ~ '--divider'
] %}


{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>

  {{pattern('heading', {text: title}, 'h1')}}

  {# commenting out in favour of css for now #}
  {# {% if not hide_divider %}
    {{pattern('divider')}}
  {% endif %} #}

  {% for item in items %}
    {{ item }}
{% endfor %}

</div>
