@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/accessibility' as accessibility;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include spacing.init($t);
    @include accessibility.init($t);
    @include fonts.init($t);
    @include font-sizes.init($t);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: spacing.calc-size('space-2');

    // in the future we may want to change this as its currently set for sidebar filters but it also might be ok
    .rbg-sidebar-content & {
      @include spacing.apply-flow('space-2', 'y');
    }

    .visually-hidden {
      @include accessibility.apply-visually-hidden;
    }

    &__description {
      @include body.init($t);
      @include body.apply;
    }

    &--horizontal {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }

    &__error-message {
      @include fonts.apply-font('DEFAULT', 'normal');

      color: utils.get('colors.error.DEFAULT', $t);
    }

    // for themes etc
    @content;
  }
}
