@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/elements' as elements;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // -
    @include spacing.init($t);
    @include body.init($t);
    @include elements.init($t);

    // -

    &__items {
      @include spacing.apply-flow('space-3', 'y');

      padding-bottom: spacing.calc-size('space-3');

      .#{$selector}--no-image & {
        padding-top: spacing.calc-size('space-0');

        .#{$selector}__location {
          padding-top: spacing.calc-size('space-0');
        }
      }
    }

    &__item {
      @include body.apply;

      // elements, eg strong, em etc
      // includes inset-text version of <blockquote>
      @include elements.apply-strong;
      @include elements.apply-em;
    }

    &__location {
      padding-top: spacing.calc-size('space-5');

      p {
        margin-top: spacing.calc-size('space-0');
      }
    }

    &__description {
      @include spacing.apply-space('space-8', 'py');

      // Reset the bottom padding as the margin from the 'back to all events'
      // element messes with the spacing.
      padding-bottom: 0;
      border-top: utils.get('divider.width', $cc) solid utils.get(utils.get('divider.color', $cc), $t);

      // Remove top margin on first and bottom on last paragraph as spacing is
      // already handled by the wrapper.
      p:first-of-type {
        margin-top: 0;
      }

      p:last-of-type {
        margin-bottom: 0;
      }
    }

    &__times {
      /* stylelint-disable-next-line */
      .date-recur-occurrences__item {
        @include spacing.apply-space('space-1', 'py');
      }

      time {
        display: inline;
      }
    }

    &__image img {
      object-fit: cover;
    }

    // for themes etc
    @content;
  }
}
