@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/lists' as lists;
@use 'rbgstyles/tokens/elements' as elements;
@use 'rbgstyles/tokens/icons' as icons;
@use 'rbgstyles/tokens/colors' as colors;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  %list-icon-styles {
    li {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 0.5rem;

      &::before {
        top: 3px;
        position: relative;
      }
    }
  }

  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // -
    @include body.init($t);
    @include spacing.init($t);
    @include links.init($t);
    @include elements.init($t);
    @include icons.init($t);
    @include lists.init($t);
    @include colors.init($t);

    // -
    @include body.apply;
    @include links.apply;
    @include elements.apply-strong;
    @include elements.apply-em;

    margin: 0;
    padding: 0;
    position: relative;

    // apply body styles for the line heights really
    @include body.apply;

    // line-height: spacing.calc-size('space-2');

    // list_style
    // splitting these out so modifiers take precidence

    &ol {
      list-style-type: decimal;
    }

    &--unordered {
      list-style: none;

      @extend %list-icon-styles;

      li {
        @include icons.apply-icon('rbg-bullet', before, true);
      }
    }

    &--ordered {
      list-style-type: decimal;
      list-style-position: inside;
    }

    &--none {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    &--icon {
      @extend %list-icon-styles;
    }

    // list_direction
    &--horizontal {
      display: flex;
      flex-direction: row;
      gap: spacing.calc-size('space-3');
    }

    &--vertical {
      display: flex;
      flex-direction: column;
      gap: spacing.calc-size('space-2');
    }

    // Icon type

    $icons: utils.get('icons', $t);

    @each $icon, $values in $icons {
      &--icon--#{$icon} {
        li {
          @include icons.apply-icon($icon, 'before', true);
        }
      }
    }

    // Icon color
    $color-classes: colors.get-color-classes-list('.#{$selector}--icon-color');

    @each $colorselector, $color in $color-classes {
      &#{$colorselector} {
        li {
          &::before {
            color: $color;
          }
        }
      }
    }

    // for themes etc
    @content;
  }
}
