{#
/**
 * @file
 * information-page
 *
 * See information-page.wingsuit.yaml for documentation.
 */
#}


{% extends "@templates/page-gcd/page-gcd.twig" %}


{% set breadcrumbs = [{text: 'Home', url: '/'}, {text: 'Get dementia support'}] %}

{% block content %}


	{{ pattern('page_title', {title: 'Get dementia support'}) }}


	{{ pattern('rich_text', {text: dementia_guide}) }}
	{{ pattern('video', {content: '<iframe src="https://www.youtube.com/embed/_C9fTDBUHPE?si=TaetSj40C6i5VK9O" frameborder="0" allowtransparency="" width="960" height="540" class="media-oembed-content" loading="eager" title="Dementia talk from a carer" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>'}) }}


{% endblock %}


{% set dementia_guide %}


<p>Dementia is a symptom caused by diseases like Alzheimer’s that affect the brain. It can make it harder to remember things, think, make decisions or carry out day to day tasks. &nbsp;</p>
<p>Although most people with dementia are over 65, dementia is not a part of getting older and you can get it at a younger age. &nbsp;</p>
<p>If you have dementia or live or care for someone who does, there is support available that can help you continue to do the things you love and live independently for as long as it is safe. &nbsp;</p>
<h2>Where to start&nbsp;</h2>
<ol>
	<li>
		<strong>If you or someone you know is showing signs of dementia&nbsp;</strong><br>An early diagnosis can mean treatment that help reduce some of the symptoms and give you more time to find care and support. So it can help to know what dementia is, symptoms to look out for and how to get a diagnosis.<br><a href="https://www.nhs.uk/conditions/dementia/about/">Get dementia information from the NHS</a><br>&nbsp;</li>
	<li>
		<strong>Get support after a dementia diagnosis and hear from other people with dementia &nbsp;</strong><br>After a diagnosis, you may need some time to take everything in. It may help to speak to friends or family, talk to experts at a dementia charity or read stories from other people with dementia and those who care for them. &nbsp;<br><a href="https://www.alzheimers.org.uk/get-support/dementia-support-line">Get advice about living with dementia from the Alzheimer's Society</a><br>&nbsp;</li>
	<li>
		<strong>See if you can get support from your local council&nbsp;</strong><br>As your needs change, you may be able to get support from the council by completing an assessment. The type of support you can get will depend on your needs.&nbsp;<br><a href="https://www.royalgreenwich.gov.uk/info/200271/support_to_live_at_home/1512/adult_support_services_overview/2">Check if you could get support from the Royal Borough of Greenwich</a><br>&nbsp;</li>
	<li>
		<strong>Check if you’re entitled to any benefits&nbsp;</strong><br>You may be able to get financial support if you are over 65 or have a disability. If you care for someone with dementia, you may also be able to claim Carer’s Allowance to help you with the costs of caring. &nbsp;<br><a href="https://www.gov.uk/browse/benefits">Find benefits that you may be eligible for on GOV.UK</a>
	</li>
</ol>
<h2>Living with dementia &nbsp;</h2>
<p>A dementia diagnosis does not mean you have to stop doing the things you enjoy. &nbsp;</p>
<p>Being active and social can also help you manage your dementia and your overall health and wellbeing.</p>
<p>Find dementia friendly activities[Link]</p>
<p>Find dementia social and support groups[Link]</p>
<p>Dementia can make it harder to do some day-to-day activities like cooking, cleaning and getting out and about safely. But there is support to help you live as independently as you can. &nbsp;</p>
<p>Find help at home[Link]</p>
<p>Find housing options[Link]</p>
<h2>Finding local support &nbsp;</h2>
<p>There are lots of different community groups, activities and organisations that offer support to people affected by dementia. &nbsp;</p>
<p>Browse local dementia support on our directory[Link]</p>
<h2>Making Greenwich more dementia friendly</h2>
<p>There are local groups working to make Greenwich a better and safer place for people with dementia. &nbsp;</p>
<h3>Have your say on dementia services in Greenwich</h3>
<p>You can have your say on dementia services, share your experiences and help make Greenwich a more dementia inclusive place to live by joining the Dementia Reference Group. &nbsp;</p>
<p>Learn more about the Dementia Reference Group[Link]</p>
<h3>Make your business dementia inclusive</h3>
<p>The number of people with dementia is rising so it’s important to help everyone feel valued and included. If you run a business, there are small things you can do to make it more dementia inclusive. &nbsp;</p>
<p>Find out more about becoming a dementia friendly organisation[Link]</p>
<h3>Hear from people living with dementia and their carers</h3>
<p>Read stories from people affected by dementia from the Alzheimer’s Society’s Dementia Together magazine[Link]</p>
<h3>Dementia talk from a carer&nbsp;</h3>


{% endset %}
