@use 'sass:map';
@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/accessibility' as accessibility;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/colors' as colors;

@mixin styles($selector, $cc, $t) {
  // can also group together with local mixins if needed too depends on the complexity of the component
  // $background-color: utils.get('background.color', $cc);
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include spacing.init($t);
    @include spacing.apply-flows;

    background-color: utils.get('colors.neutral.400', $t);
    height: 1px;
    width: 100%;
    display: block;

    @include spacing.apply-space('space-3', 'my');

    // for themes etc
    @content;
  }
}
