{#
/**
 * @file
 * category-list
 *
 * See category-list.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}


{#
  Classes
#}
{% set selector = 'rbg-category-list' %}
{% set classes = [
  selector
] %}

{#
  Template
#}



<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  <div class="{{selector}}__title">
    {{ pattern('heading', {'text': title, 'color': 'primaryred'}, 'h2') }}
  </div>

  {% if items %} 
  <div class="{{selector}}__items">
    {{items}}
  </div>
  {% endif %}
</div>
