<div class="rbg-tokens-headings rbg-tokens-headings__selector">

	<h1>Actual h1</h1>
	<h1 class="h2">h1, styled to look like an h2</h1>

	<div class="h4">Div made to look like an h4</div>

	<div class="rbg-tokens-headings__custom-heading-h2">Custom heading h2 is generated manually</div>


	<h1>Aenean lacinia bibendum nulla sed consectetur.</h1>
	<h2>Aenean lacinia bibendum nulla sed consectetur.</h2>
	<h3>Aenean lacinia bibendum nulla sed consectetur.</h3>
	<h4>Aenean lacinia bibendum nulla sed consectetur.</h4>
	<h5>Aenean lacinia bibendum nulla sed consectetur.</h5>


</div>
