<div class="rbg-tokens-headings">

<h1>Aenean lacinia bibendum nulla sed consectetur.</h1>
<h2>Aenean lacinia bibendum nulla sed consectetur.</h2>
<h3>Aenean lacinia bibendum nulla sed consectetur.</h3>
<h4>Aenean lacinia bibendum nulla sed consectetur.</h4>
<h5>Aenean lacinia bibendum nulla sed consectetur.</h5>

</div>