<div class="rbg-tokens-headings">

<h1>Actual h1</h1>
<h1 class="h2">h1, styled to look like an h2</h1>

<div class="h4">Div made to look like an h4</div>

<div class="rbg-tokens-headings__custom-heading-h2">Custom heading h2</div>

</div>