@use 'rbgstyles/themes/greenwich-community-directory' as gcd-theme-config;
@use 'rbgstyles/themes/royal-borough-greenwich-website' as website-theme-config;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tools/utilities' as utils;

$selector: rbg-tokens-headings;

.#{$selector} {
  [data-theme='website'] & {
    @include headings.init(website-theme-config.$theme);
    @include headings.apply;

    &__custom-heading-h2 {
      @include headings.apply-heading('h2');
    }

    // get all available headings for this theme
    $headings: headings.get-heading-classes-list();

    &__selector {
      // loop through them
      @each $headingsselector, $values in $headings {
        // for each selector h1, h2 etc generate the correct selectors and do something with them
        @include headings.apply-heading-selector($headingsselector, false) {
          border: 1px solid;
        }
      }
    }
  }

  [data-theme='gcd'] & {
    @include headings.init(gcd-theme-config.$theme);
    @include headings.apply;

    &__custom-heading-h2 {
      @include headings.apply-heading('h2');
    }

    $headings: headings.get-heading-classes-list();

    &__selector {
      // loop through them
      @each $headingsselector, $values in $headings {
        // for each selector h1, h2 etc generate the correct selectors and do something with them
        @include headings.apply-heading-selector($headingsselector, false) {
          border: 1px solid;
        }
      }
    }
  }
}
