{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}

{% extends "page.html.twig" %}

{# {% set site_layout = site_layout|default('2-col') %} #}

{% block header %}

  {{ pattern('header', {
  title: "Community Directory",
  logos:  [pattern('logo', { url: url }, 'white'), pattern('logo_gcd', { url: url })],
  disable_menu: true,
  }, 'single_menu') }}

{% endblock %}

{% block content %}

  {{ pattern('heading', {
                  url: '',
                  text: "This site is under maintenance",
                  color: 'black',
                  font_size: 'h1'
                }, 'h1') }}

  {{ pattern('divider') }}
  {{ pattern('rich_text', {text: page.content}) }}

{% endblock %}

{#
{% block footer %}

  {{ pattern('footer', {
  title: "Community Directory",
  logos:  [pattern('logo', { url: url }, 'white'), pattern('logo_gcd', { url: url })],
  disable_menu: true,
  main_content: [ pattern('heading', {
                  url: url,
                  text: "Community Directory",
                  color: 'primary',
                  font_size: 'h3'
                }, 'h1')
              ],
  }, 'single_menu') }}

{% endblock %}
#}
