{% extends "page.html.twig" %}

{% set site_layout = site_layout|default('1-col') %}

{% block top %}
  {% set page_title %}
    {{ pattern('page_title', {title: 'Submit a draft event'}) }}
  {% endset %}
  {{ pattern('layouts', {content: page_title, site_layout: 'full-col'}, 'full-col') }}
{% endblock %}
