{% extends "page.html.twig" %}

{% set site_layout = site_layout|default('2-col-reversed') %}

{% block top %}
  {% set page_title %}
    {{ pattern('page_title', {title: 'Find events in Royal Greenwich'}) }}
  {% endset %}
  {{ pattern('layouts', {content: page_title, site_layout: 'full-col'}, 'full-col') }}
{% endblock %}

{% block sidebar %}
  {{ page.sidebar }}

  {{ pattern('filter_accordion', {
    title: 'Filter'|t,
    items: [
      drupal_block('views_exposed_filter_block:localgov_events_listing-page_all_events', {label: "", wrapper: false})
    ],
    spacing: true}) }}

{% endblock %}
