{% extends "page.html.twig" %}

{# total_rows comtains the total number of results from the current search #}

{% if total_rows > 0 %}
  {% set site_layout = site_layout|default('2-col-reversed') %}
{% else %}
  {% set site_layout = site_layout|default('1-col') %}
{% endif %}