{#
/**
 * @file
 * Custom theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.pre_content: Items for the pre-content region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.highlighted: Items for the highlighted region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 *
 * @see template_preprocess_page()
 * @see seven_preprocess_page()
 * @see html.html.twig
 */
#}
{# Site container variables #}
{% set header %}
  {% block header %}
    {{ page.header }}
  {% endblock %}
{% endset %}

{#
  Wrap the top region in a full-col layout
  This is because 99% of the time the content in top and probably bottom regions will be wrapped in the standard 960 width
  We previously did this in the site-container component but it makes sense to do this here as it's more flexible
 #}
{% set top %}
  {% block top %}
    {{ pattern('layouts', {content: page.top, site_layout: 'full-col'}, 'full-col') }}
  {% endblock %}
{% endset %}

{% set content %}
  {% block content %}
    {{ page.content }}
  {% endblock %}
{% endset %}

{% set sidebar %}
  {% block sidebar %}
    {{ page.sidebar }}
  {% endblock %}
{% endset %}

{% set bottom %}
  {% block bottom %}
    {{ page.bottom }}
  {% endblock %}
{% endset %}

{% set footer %}
  {% block footer %}
    {{ page.footer }}
  {% endblock %}
{% endset %}

{% set variant = variant|default('__default') %}
{% set site_layout = site_layout|default('1-col') %}

{{ pattern('site_container', {
  header: header,
  top: top,
  content: content,
  sidebar: sidebar,
  bottom: bottom,
  footer: footer,
  site_layout: site_layout,
  no_spacing: no_spacing|default(false)
}, variant) }}
