{#
/**
 * @file
 * link
 *
 * See link.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set list_tag = list_tag|default('ul') %}
{% set icon_type = icon_type|default(null) %}
{% set icon_color = icon_color|default(null) %}
{% set list_style = list_style|default('none') %}
{% set list_direction = list_direction|default('vertical') %}


{#
  Classes
#}

{% set selector = 'rbg-list' %}

{% set classes = [
  selector,
  selector ~ pattern_configuration('list', variant, 'list_style')[list_style],
  selector ~ pattern_configuration('list', variant, 'list_direction')[list_direction],
  icon_type ? selector ~ '--icon',
  icon_type is not empty ? selector ~ '--icon' ~ '--' ~ icon_type,
  icon_color is not empty ? selector ~ '--icon-color' ~ pattern_configuration('token_settings', '', 'colors')[icon_color]
] %}

{# {{ dump(classes | sort | join(' ') | trim)}} #}

{#
  Template
#}
 

{# @TODO wingsuit variant might not be needed #}

{# @TODO icon should be set with psudo element #}

<{{list_tag}} {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
	{% for item in items %}
			<li{% if item.attributes|length != 0 %}{{item.attributes}}{% endif %}>
        {% if icon_type or list_style == 'unordered' %} <span> {% endif %}

        {% if item.url is defined %}
          <a class="{% if (item.in_active_trail) %}is-active{% endif %}" href="{{ item.url }}">
            {{ item.title }}
          </a>
        {% elseif item.content is not empty %}
         {{ item.content }}
        {% elseif item.title is not empty %}
         {{ item.title }}
        {% else %}
          {% if item is not empty %}
          {{ item }}
          {% endif %}
        {% endif %}

        {% if icon_type or list_style == 'unordered' %} </span> {% endif %}
			</li>
		{% endfor %}
</{{list_tag}}>
 