@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/icons' as icons;
@use 'rbgstyles/tokens/accessibility' as accessibility;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include headings.init($t);
    @include spacing.init($t);
    @include accessibility.init($t);
    @include fonts.init($t);
    @include font-sizes.init($t);

    display: flex;
    flex-direction: column;
    border-bottom: 1px solid utils.get(utils.get('divider.color', $cc), $t);

    &__control {
      @include fonts.apply-font('DEFAULT'); // because its a button
      @include font-sizes.apply-size('DEFAULT', true);

      // deals with background colors and focus for the control
      @include links.apply-inline(utils.get('control', $cc));

      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: spacing.calc-size('space-3');
      background: none;
      border: 1px solid transparent;
      cursor: pointer;

      // this is because apple uses color: -apple-system-blue; if we don't explictly set a color on buttons
      color: inherit;

      &:hover {
        .#{$selector}__title {
          @include links.apply-state(utils.get('title', $cc), hover, false);
        }
      }

      &:active {
        .#{$selector}__title {
          @include links.apply-state(utils.get('title', $cc), active, false);
        }
      }

      &:focus {
        outline: none;
        border: 1px solid utils.get('accessibility.focus', $t);
        border-bottom: 3px solid utils.get(utils.get('divider.color', $cc), $t);

        .#{$selector}__title {
          @include links.apply-state(utils.get('title', $cc), focus, false);
        }
      }

      &::after {
        margin-left: auto;
      }

      .#{$selector}.closed & {
        @include icons.apply-icon('rbg-chevron-down', 'after');
      }

      .#{$selector}.open & {
        @include icons.apply-icon('rbg-chevron-up', 'after');
      }
    }

    // Button parent
    &:has(> &__control:focus) {
      border-top: 3px solid utils.get(utils.get('divider.color', $cc), $t);
    }

    &__title {
      @include headings.apply-heading('h5');
    }

    &__sub-title {
      @include fonts.apply-font('DEFAULT', 'regular'); // because its a button
    }

    &__content {
      padding-top: spacing.calc-size('space-2');
    }

    // because we're using apply-heading
    @include headings.apply-heading-selector('#{$selector}__title', false) {
      @include spacing.apply-space('space-3', 'py');
    }

    // for themes etc
    @content;
  }
}
