{#
/**
 * @file
 * details
 *
 * See details.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-details' %}

{#
  Classes
#}

{% set classes = [
  selector
] %}


{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  {{text}}
  <details class="{{selector}}__details">
    <summary class="{{selector}}__summary">
      <span class="{{selector}}__summary-text">
        {{cta_text}}
      </span>
    </summary>
    <div class="{{selector}}__extra-text">
      {{extra_text}}
    </div>
  </details>
</div>
