{#
/**
 * @file
 * Image component for images and background images.
 */
#}
{# SETTINGS #}
{% set variant = variant|default('image') %}
{% set selector = 'rbg-image' %}
{% set classes = [
  selector,
  aspect ? selector ~ '--aspect-' ~ aspect,
]|join(' ')|trim %}

{# TEMPLATES #}
{% if variant == 'image' %}
  <div class="{{ classes }}">
    {%- set image -%}
      {% if url is not empty %}
        <img {{ img_attributes }} src="{{ file_url(url) }}" alt="{{ alt }}"/>
      {% else %}
        {{- image -}}
      {%- endif -%}
    {% endset %}

    {% include '@atoms/image/_image--image.twig' with {
      image: image,
    } only %}
  </div>
{% elseif variant == 'background' %}
  {% include '@atoms/image/_image--background.twig' with {
    url: url,
    background_style: background_style
  } only %}
{% endif %}
