{#
/**
 * @file
 * information-page
 *
 * See information-page.wingsuit.yaml for documentation.
 */
#}

{% extends "@templates/page/page.twig" %}

{% set breadcrumbs = [{text: 'Home', url: '/'}, {text: 'Cookies'}] %}

{% block content %}
	{{pattern('page_title', {title: 'Cookies'})}}
	{{pattern_preview('cookie_compliance_categories')}}
{% endblock %}
