{#
/**
 * @file
 * social-icons-group
 *
 * See social-icons-group.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-social-icons-group' %}

{#
  Classes
#}

{% set classes = [
  selector
] %}

{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  <ul class="{{selector}}__list">
  {% for item in items %}
    <li class="{{selector}}__icon">
      <a href="{{ item.link.url }}" aria-label="Royal Greenwich {{ item.icon|title }} page" title="Royal Greenwich {{ item.icon|title }} page.">
        <svg>
            <use xlink:href="{{ file_url('ws-assets://images/spritemap.svg') }}#rbg-social--{{ item.icon }}"></use>
        </svg>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>

