@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include spacing.init($t);
    @include body.init($t);
    @include body.apply;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      * > ul {
        padding-top: spacing.calc-size('space-3');
        padding-left: spacing.calc-size('space-3');
      }
    }

    li {
      position: relative;
      margin-bottom: 10px;
      padding: 4.5px 0 4.5px 40px;

      input {
        position: absolute;
        left: 0;
        top: 0;
        width: 29px;
        height: 29px;
        opacity: 0;

        &:focus + label::before {
          outline: 2px solid utils.get('accessibility.focus', $t);
        }

        &:focus + label {
          text-decoration: underline;
        }

        &:checked + label::after {
          position: absolute;
          content: '';
          display: block;
          background: black;
          height: 19px;
          width: 19px;
          left: 5px;
          top: 5px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      label {
        cursor: pointer;

        &::before {
          content: '';
          display: inline-block;
          background: white;
          border: 2px solid black;
          width: 25px;
          height: 25px;
          position: absolute;
          left: 0;
          top: 0;
          outline: 2px solid transparent;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    // for themes etc
    @content;
  }
}
