@use 'sass:meta';
@use 'sass:map';
@use 'sass:selector';
@use 'sass:list';
@use '../headings';
@use '../../../tools/utilities' as utils;
@use '../../fonts' as fonts;
@use '../../breakpoints' as breakpoints;
@use '../../body' as body;

/*

This mixin returns a list of available heading classes for the theme

*/
@function heading-classes-list($theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Headings called without theme options, using all defaults from config';

    $headings: theme.$headings;
    $body: theme.$body;
    $breakpoints: theme.$breakpoints;
  }

  // start by getting all the headings available in the theme
  $all-headings: utils.get('headings', $theme);
  $headings: ();

  @if map.get($all-headings, 'default') {
    $headings: map.get($all-headings, 'default');
  } @else {
    $first: list.nth(map.keys($all-headings), 1);
    $headings: map.get($all-headings, '#{$first}');
  }

  @return $headings;
}
