{#
/**
 * @file
 * heading
 *
 * See heading.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set color = color|default(false) %}
{% set tag_name = tag_name|default('span') %}
{% set font_size = font_size|default(tag_name) %}
{% set url = url|default(false) %}
{% set is_external = is_external|default(false) %}

{#
  Classes
#}
{% set selector = 'rbg-heading' %}
{% set classes = ([
  selector,
  pattern_configuration('heading', variant, 'size')[font_size],
  color ? 'color' ~ pattern_configuration('token_settings', '', 'colors')[color],
  is_external ? pattern_configuration('heading', '', 'is_external'),
  url ? pattern_configuration('heading', '', 'url'),
]) | sort | join(' ') | trim %}

{% if url %}
{% set tag_name = 'a' %}
{% endif %}
{#
  Template
#}
<{{ tag_name }} {{ attributes.addClass(classes) }} {{ attributes.setAttribute('href', url) }} >
  {{ title_prefix }}
  {{ text }}
  {{ title_suffix }}
</{{ tag_name }}>

