@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/grid' as grid;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // .
    @include fonts.init($t);
    @include font-sizes.init($t);
    @include headings.init($t);
    @include spacing.init($t);
    @include breakpoints.init($t);
    @include grid.init($t);

    // .

    @include breakpoints.screen-gt('tablet') {
      @include grid.apply-layout-grid;

      align-items: baseline;

      > div {
        grid-column-start: span 3;
      }
    }

    &__title {
      h3 {
        @include headings.apply-heading('h3');
      }

      margin-bottom: spacing.calc-size('space-3');
    }

    // for themes etc
    @content;
  }
}
