@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/colors' as colors;
@use 'rbgstyles/tokens/sizes' as sizes;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include colors.init($t);
    @include sizes.init($t);

    // -----------------------------
    // SETTINGS
    // -----------------------------

    // rotation
    $rotation: 0 45 90 135 180 225 270 315 360;

    @each $rotate in $rotation {
      &.rotate-#{$rotate} {
        transform: rotate($rotate + deg);
      }
    }

    // size
    @include sizes.apply(width, true);

    aspect-ratio: 1 / 1;

    // color
    @include colors.apply('color', true);

    fill: currentcolor;

    // background color
    @include colors.apply('background-color', true);

    @content;
  }
}
