// -----------------------------
// Tokens: Grid
// This contains the grid mixins for the main page, and components.
// -----------------------------

// helpers
@use 'sass:map';
@use '../../tools/utilities' as utils;
@use '../breakpoints' as breakpoints;

// module related
@forward 'grid';

// @forward 'default';

@use 'grid';
@use 'mixins/layout-grid';
@use 'mixins/layout-alt-grid';

// @use 'default';
// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: (
  'grid': grid.$grid,
  'breakpoints': breakpoints.$breakpoints,
) !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

@mixin apply-layout-grid($theme: $-tool-config) {
  @include layout-grid.apply($theme);
}

@mixin apply-layout-alt-grid($theme: $-tool-config) {
  @include layout-alt-grid.apply($theme);
}