{#
/**
 * @file
 * news-article-detail
 *
 * See news-article-detail.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-news-article-detail' %}

{#
  Classes
#}

{% set classes = [
  selector
] %}


{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
{% if image|render %}
  <div class="{{selector}}__image">
    {{image}}
  </div>
{% endif %}
{% if published|render %}
  <div class="{{selector}}__published">
    {{published}}
  </div>
{% endif %}

{{article_content}}
</div>
