@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/colors' as colors;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // we use init here so that any other mixins in this tool have access to the same $theme object later on
    @include body.init($t);
    @include headings.init($t);
    @include links.init($t);
    @include breakpoints.init($t);
    @include spacing.init($t);
    @include font-sizes.init($t);
    @include colors.init($t);
    @include headings.apply;
    @include body.apply;
    @include links.apply;

    background-color: utils.get('colors.neutral.100', $t);

    &__inner {
      @include spacing.apply-space('space-5', 'py');
      @include spacing.apply-space('space-8', 'px');

      display: flex;
      flex-flow: column;
    }

    &__sub-title {
      margin-top: spacing.calc-size('space-3');

      @include breakpoints.screen-gt('phone') {
        margin-top: spacing.calc-size('space-2');
      }

      display: block;

      a {
        color: utils.get('colors.neutral.700', $t);
      }
    }

    &__bottom-row {
      display: flex;
      flex-flow: column;
      margin-top: spacing.calc-size('space-4');

      @include breakpoints.screen-gt('phone') {
        flex-flow: row;
        justify-content: space-between;
        margin-top: spacing.calc-size('space-2');
        align-items: center;
      }
    }

    &__tel {
      // margin-top: spacing.calc-size('space-4');

      a {
        @include font-sizes.apply-size('900', false);
      }
    }

    &__logo {
      margin-top: spacing.calc-size('space-1');
      width: 100%;
      max-width: 143px;
      height: auto;
      display: flex;

      @include breakpoints.screen-lt('phone') {
        margin-top: spacing.calc-size('space-2');
      }
    }

    // you want to make a module as configurable as possible at the top level

    // for themes etc
    @content;
  }
}
