@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/accessibility' as accessibility;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/icons' as icons;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include fonts.init($t);
    @include font-sizes.init($t);
    @include links.init($t);
    @include icons.init($t);
    @include breakpoints.init($t);
    @include spacing.init($t);

    // setup from tokens
    $default-font-family: utils.get('tokens.font.family', $cc);
    $default-font-variant: utils.get('tokens.font.variant', $cc);
    $default-font-size: utils.get('tokens.font-size', $cc);
    $font-color: utils.get('tokens.color', $cc);
    $default-font-color: utils.get('colors.#{$font-color}', $t);
    $default-spacing-item: utils.get('tokens.spacing.item', $cc);
    $default-spacing-icon: utils.get('tokens.spacing.icon', $cc);
    $default-links: utils.get('links', $cc);
    $default-divider: utils.get('tokens.divider.icon', $cc);
    $divider-color: utils.get('tokens.divider.color', $cc);
    $default-divider-color: utils.get('colors.#{$divider-color}', $t);

    // apply settings from config
    @include fonts.apply-font($default-font-family, $default-font-variant);
    @include font-sizes.apply-size($default-font-size);

    // apply styles to a {}
    @include links.apply($default-links);

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;
      align-content: center;
      justify-content: flex-start;
      gap: spacing.calc-size('space-1');
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-basis: content;
      gap: spacing.calc-size('space-1');

      a {
        color: $default-font-color;
      }

      // icons

      &:not(:last-of-type) {
        @include icons.apply-icon($default-divider, 'after', false);
      }

      &::after {
        color: $default-divider-color;
      }

      &:last-of-type {
        @include fonts.apply-font('DEFAULT', 'medium');
      }

      &:last-of-type::after {
        background: none;
      }
    }

    @include breakpoints.screen-gt('tablet') {
      flex-direction: row;
    }

    // for themes etc
    @content;
  }
}
