@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: rbg-breadcrumbs;

// defaults for the component go here - can be overwritten by themes
$component-config-default: (
  'tokens': (
    'color': 'neutral.700',
    'font-size': '200',
    'font': (
      'family': 'DEFAULT',
      'variant': 'regular',
    ),
    'spacing': (
      'item': 'space-3',
      'icon': 'space-1',
    ),
    'divider': (
      'icon': 'rbg-chevron-thick-right',
      'color': 'primaryred.DEFAULT',
    ),
  ),
  'links': (
    'default': (
      'color': 'neutral.700',
      'text-decoration': none,
    ),
    'visited': (
      'color': 'neutral.700',
      'text-decoration': none,
    ),
    'hover': (
      'color': 'neutral.700',
      'text-decoration': underline,
    ),
    'active': (
      'color': 'neutral.700',
      'text-decoration': underline,
    ),
    'focus': (
      'color': 'neutral.700',
      'text-decoration': underline,
      'text-decoration-thickness': 3px,
      'background-color': 'focus.DEFAULT',
    ),
  ),
);
