@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    // @TODO theres inconsistencies between the figma and the design now re borders and spacing
    // its easier to consolidate the designs first then determine if we need to go different directions with the styling here
    // we still have a ticket open for border size tokens or we can create a 'styled' version of form fields only when setting styled is set for more flexibility
    // that way forms are kept simpler in the design system when we come to using more of them in the future
    &__search-input {
      flex: 1;
    }

    // for themes etc
    @content;
  }
}
