@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include spacing.init($t);

    display: flex;
    flex-direction: column;

    &__form {
      display: flex;
      flex-flow: column;
      gap: spacing.calc-size('space-3');

      @include spacing.apply-space('space-3', 'py');

      // > * {
      //   flex: 1;
      // }
    }

    &__link {
      margin-left: auto;
      margin-right: auto;
    }

    @include breakpoints.screen-gt('desktop') {
      &__form {
        align-items: flex-end;
        flex-flow: row;

        // > * {
        //   flex: 0;
        // }

        > *:first-child {
          flex: 1;
        }
      }

      &__link {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &--landing {
      .#{$selector}__link {
        padding-bottom: spacing.calc-size('space-3');
      }
    }

    &--listing {
      &__link {
        flex: 1;
      }

      .#{$selector}__form {
        padding-bottom: spacing.calc-size('space-8');
      }
    }

    // for themes etc
    @content;
  }
}
