{#
/**
 * @file
 * cookies-page
 *
 * See cookies-page.wingsuit.yaml for documentation.
 */
#}

{% extends "@templates/page-gcd/page-gcd.twig" %}


{% set breadcrumbs = [{text: 'Home', url: '/'}, {text: 'Cookies'}] %}

{% block content %}
	{{ pattern('page_title', {title: 'Cookies'}) }}
	{{ pattern_preview('cookie_compliance_categories') }}
{% endblock %}
