{#
/**
 * @file
 * page-inline-quote
 *
 * See page-inline-quote.wingsuit.yaml for documentation.
 */
#}


{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-page-blockquote-inset' %}

{#
  Classes
#}

{% set classes = [
  selector
] %}


{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  {{text}}
</div>
