// 1. Use a more-intuitive box-sizing model.
// Makes CSS significantly nicer to work with.
// before: div (100px) + border (2px solid) + padding (5px) = width of 114px
// after: div (100px) + border (2px solid) + padding (5px) = width of 100px
// Applied to all elements, theres no performance hit https://www.paulirish.com/2012/box-sizing-border-box-ftw/

@mixin apply {
  &,
  > * {
    box-sizing: border-box;

    &::before,
    &::after {
      box-sizing: border-box;
    }
  }
}
