// 7. Remove built-in form typography styles
// By default, buttons and inputs don't inherit typographical styles from their parents.
// Instead, they have their own styles. Font face, size, everything.

// nb if a form has a small font size the browser will zoom on mobile - this setting helps
// prevent that by ensuring a larger fontsize (if it still zooms set it to 1rem/16px)

@use 'sass:selector';

@mixin apply {
  input,
  button,
  textarea,
  select {
    @include -resets;
  }

  // this lets us apply the styles if the component its being used on is a form type
  // button.rbg-button
  @at-root #{selector.unify(&, input)} {
    @include -resets;
  }

  @at-root #{selector.unify(&, button)} {
    @include -resets;
  }

  @at-root #{selector.unify(&, textarea)} {
    @include -resets;
  }

  @at-root #{selector.unify(&, select)} {
    @include -resets;
  }
}

@mixin -resets {
  font: inherit;
}
