// -----------------------------
// Tools: reset
// This tool contains mixins relating to resetting the page for each component
// -----------------------------

// helpers
@use 'sass:map';
@use '../utilities' as utils;
@use '../../tokens/body' as body;

// module related
@forward 'box-sizing' as mixin-box-sizing-*;
@forward 'margin' as mixin-margin-*;
@forward 'percentage-heights' as mixin-percentage-heights-*;

// @forward 'line-height' as mixin-line-height-*;
@forward 'text-rendering' as mixin-text-rendering-*;
@forward 'media-defaults' as mixin-media-defaults-*;
@forward 'form-fonts' as mixin-form-fonts-*;
@forward 'word-wrapping' as mixin-word-wrapping-*;
@use 'box-sizing';
@use 'margin';
@use 'percentage-heights';

// @use 'line-height';
@use 'text-rendering';
@use 'media-defaults';

// @use 'form-fonts';
@use 'word-wrapping';

// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: (
  'body': body.$body,
) !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

// $default-line-height: 1.5 !default;
// Use this @include reset.apply in all components to ensure consistent defaults
@mixin apply {
  // applies to parent (and maybe adds some children)
  @include box-sizing.apply;
  @include margin.apply;

  // commenting out since we can use body.apply to do this
  // @include line-height.apply(
  //   utils.get('body.default.line-height', $-tool-config),
  //   utils.get('body.default.base-font-size', $-tool-config)
  // );
  @include text-rendering.apply;

  // adds children
  @include media-defaults.apply;

  // @include form-fonts.apply;
  @include word-wrapping.apply;

  @at-root {
    @include percentage-heights.apply;
  }
}

// Use this to apply defaults globally (as a backup)
// Set to private since we've chosen to go with a strict component workflow,
// but I've included this here in case we ever did want to generate a 'reset.css' (remove the _ to make it work!)

// reset.scss:

// @use 'tools/reset';
// @include reset.apply-global;

@mixin -apply-global {
  * {
    @include box-sizing.apply;
    @include margin.apply;
  }

  body {
    // commenting out since we can use body.apply to do this
    // @include line-height.apply(
    //   utils.get('body.default.line-height', $-tool-config),
    //   utils.get('body.default.base-font-size', $-tool-config)
    // );
    @include text-rendering.apply;
  }

  @include percentage-heights.apply;
  @include media-defaults.apply;

  // @include form-fonts.apply;
  @include word-wrapping.apply;
}
