// 6. Improve media defaults
// Images are considered "inline" elements which gives weird mysterious spacing issues, this stops that.
// This implies that they should be used in the middle of paragraphs, like <em> or <strong>
// except we usually treat them as layout elements or <p>

// setting max-width: 100% stops large images from overflowing,  if they're placed in a container that isn't wide enough to contain them.

@mixin apply {
  img,
  iframe,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
}
