// 3. Allow percentage-based heights in the application
// The height of an element is calculated based on its children.
// Since every element on the page is a child of the html and body elements
// we need to give those heights in order to get height properties on anything we add to work
// NB: If adding in react, next etc its worth adding their root div to this too

@mixin apply {
  html,
  body {
    height: 100%;
  }
}
