// 8. Avoid text overflows
// By default things like urls wont wrap, this neatens things up and helps avoid
// surprises and having to set word-wrap on all the things

@mixin apply {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
}
