/* stylelint-disable no-invalid-position-at-import-rule */
// -----------------------------
// Tokens: Headings
// This contains the mixins for headings
// -----------------------------

// helpers
@use 'sass:map';
@use 'sass:meta';
@use '../../tools/utilities' as utils;

// module related
@forward 'fonts';
@forward 'mixins/fonts' as mixin-fonts-*;
@forward 'mixins/font' as mixin-font-*;
@use 'fonts';
@use 'mixins/fonts' as fonts-mixins;
@use 'mixins/font' as font-mixins;

// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: (
  'fonts': fonts.$fonts,
) !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

@mixin apply-import {
  $fonts: utils.get('fonts', $-tool-config);

  @each $font, $font-info in $fonts {
    $font-source: map.get($font-info, source);

    @at-root {
      // @TODO we should include the font files
      /* stylelint-disable-next-line import-notation */
      @import url('#{$font-source}');
    }
  }
}

@mixin apply(
  $font-family,
  $nested: false,
  $property: 'font-variant',
  $properties: family weight style,
  $theme: $-tool-config
) {
  @include fonts-mixins.apply($font-family, $nested, $property, $properties, $theme);
}

@mixin apply-font(
  $group,
  $variant: regular,
  $properties: family weight style,
  $font-stack: $-tool-config
) {
  @include font-mixins.apply($group, $variant, $properties, $font-stack);
}
