{#
/**
 * @file
 * card-group
 *
 * See card-group.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}


{#
  Classes
#}
{% set selector = 'rbg-card-group' %}
{% set classes = [
  selector
] %}


{#
  Template
#}


<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>

<div class="{{selector}}__title">
  {{ pattern('heading', {'text': title, 'color': 'primaryred'}, 'h2') }}
</div>

{% if cards %}
<div class="{{selector}}__items">
  {{ cards }}
</div>
{% endif %}

{% if cta %}
{{ cta }}
{% endif %}
</div>
