@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use '../../../tools/utilities' as utils;
@use '../colors' as colors;

// @todo put in some validation here for the data format
// expects headings in the same format as found in _config.scss

// This mixin sets the font sizes and options we would set for typography on a component
@mixin apply($property, $nested, $theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Colors default called without theme options, using defaults from config';

    $colors: colors.$colors;
    $body: body.$body;
    $breakpoints: breakpoints.$breakpoints;
  }

  $colors: map.get($theme, colors);

  @if $colors {
    @each $color, $values in $colors {
      @if meta.type-of($values) == 'color' {
        @include apply-colors($property, $color, $values, $nested, $theme);
      } @else if meta.type-of($values) == 'map' {
        @each $subcolor, $value in $values {
          @if meta.type-of($value) == 'color' {
            $name: '#{$color}--#{$subcolor}';

            @include apply-colors($property, $name, $value, $nested, $theme);
          }
        }
      }
    }
  }
}

@mixin apply-colors($property, $name, $color, $nested, $theme) {
  @include selector(
    '.#{$property}--#{$name}',
    $nested
  ) {
    #{$property}: $color;
  }
}

@mixin selector(
  $selector,
  $nested
) {
  @if $nested {
    &#{$selector} {
      @content;
    }
  } @else {
    #{$selector} {
      @content;
    }
  }
}
