{#
/**
 * @file
 * filter-accordion
 *
 * See filter-accordion.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set spacing = spacing|default('') %}
{% set title = title|default('Filters') %}
{% set selector = 'rbg-filter-accordion' %}

{#
  Classes
#}

{% set classes = [
  selector,
  spacing ? selector ~ '--spacing'
] %}


  {# open ? 'open' : 'closed', #}
{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }} 
    x-data="filterAccordionBehavior()" x-bind="bindFilterAccordion"
    >
  <button 
      class="{{selector}}__control"
      x-bind="bindFilterAccordionButton"
      :aria-expanded="filtersOpen"
      aria-controls="filter-accordion-{{title|lower|url_encode|replace({'%20': "-"})}}" id="filter-accordion-control-{{title|lower|url_encode|replace({'%20': "-"})}}">
    <span class="{{selector}}__title">{{title}}</span>
    <span class="{{selector}}__sub-title">{{sub_title}}</span>
  </button>
  <div x-show="filtersOpen" x-collapse class="{{selector}}__content" id="filter-accordion-{{title|lower|url_encode|replace({'%20': "-"})}}" role="region" aria-labelledby="filter-accordion-control-{{title|lower|url_encode|replace({'%20': "-"})}}">{{items}}</div>
</div>

