@use 'sass:map';
@use 'sass:meta';
@use '../../../tools/utilities' as utils;
@use '../accessibility' as accessibility;

@mixin apply($theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Accessibility default called without theme options, using defaults from config';

    $accessibility: accessibility.$accessibility;
  }

  outline: none;
  text-decoration: none;

  // box-shadow: 0 -6px utils.get('accessibility.focus', $theme), 0 1px map.get($theme, 'text-color');
  background-color: utils.get('accessibility.focus', $theme);
  color: utils.get('accessibility.focus-text', $theme);
  border: 2px solid utils.get('accessibility.focus-text', $theme);
}
