{#
/**
 * @file
 * live-well-banner
 *
 * See live-well-banner.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}
{% set content_attributes = content_attributes|default(create_attribute()) %}
{% set content_location = content_location|default('right') %}
{% set content_size = content_size|default('four') %}
{% set content_border = content_border|default(false) %}

{#
  Classes
#}
{% set selector = 'rbg-live-well-banner' %}
{% set classes = [
  selector,
  content_location ? selector ~ '--content-location--' ~ content_location,
  content_size ? selector ~ '--content-size--' ~ content_size,
  content_border ? selector ~ '--content-border'
] %}

{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  <div class="{{selector}}__image">
    {{ background_image }}
     {# {{ pattern('image', {image: background_image}, 'image') }} #}
  </div>
  <div class="{{selector}}__wrapper">
    <div class="{{selector}}__content">
      {{ pattern('live_well_banner_content') }}
    </div>
  </div>
</div>

{#
{{ pattern('hero', {
  attributes: attributes.addClass(classes),
  'content_size': 'four',
  'content_location': 'right',
  'content_border': false,
  'block_content': pattern('live_well_banner_content'),
  background_image: background_image  } ) }}
 #}
