{#
/**
 * @file
 * home-page
 *
 * See home-page.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}


{% extends "@templates/landing/landing.twig" %}


{# no breadcrumbs on this page #}
{% block top %}{% endblock %}


{% block content %}

{{ pattern_preview('homepage_banner', {attributes: create_attribute().addClass('a--full') }) }}
{{ pattern_preview('action_links') }}
{{ pattern_preview('service_links', {}, 'columns') }}

{% set promo_banner_content %}
<p>Working together across Greenwich to create a fairer, more equal borough</p>
{{pattern('button', {icon_type: 'rbg-chevron-thick-right', text: 'View Our Greenwich', url: '#'}, 'filled')}}
{% endset %}
{{ pattern_preview('promotional_banner', {hero_attributes: create_attribute().addClass('a--full'), content: promo_banner_content }) }}

{{ pattern_preview('media_card_group', {}, 'preview_homepage') }}
{{ pattern_preview('media_card_group', {}, 'preview_homepage') }}

{% endblock %}