{#
/**
 * @file
 * search-box-form
 *
 * See search-box-form.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set form_submit_action = form_submit_action|default('/services') %}


{#
  Classes
#}
{% set selector = 'rbg-search-box-form' %}
{% set classes = [
  selector,
  selector ~ '--' ~ variant,
] %}


{% if attributes.hasAttribute('action') is empty %}
  {% set attributes = attributes.setAttribute('action', form_submit_action|default('/services')) %}
{% endif %}

{#
  Template
#}
<form{{ attributes.addClass(classes | sort | join(' ') | trim) }}>

  {{ pattern('heading', {'text': title}, 'h1') }}

  <div class="{{selector}}__form">
    {{children}}

    {% if variant == 'landing' %}
      {{ pattern('menu_horizontal', {attributes: create_attribute().addClass(selector ~ '__link'), items: [{title: 'Browse all', url: '/services'}]}, 'black') }}
    {% endif %}
  </div>


  {% if variant == 'listing' %}
    {{ pattern('menu_horizontal', {attributes: create_attribute().addClass(selector ~ '__link'), items: [{title: 'Clear filters and search', url: '/services'}]}, 'body') }}
  {% endif %}

</form>
