{#
/**
 * @file
 * events-listing-page
 *
 * See events-listing-page.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% extends "@templates/filter/filter.twig" %}


{% set breadcrumbs = [{text: 'Home', url: '/'}, {text: 'Events'}] %}

{% block content %}
{{ pattern_preview('event_listing_group') }}
{{ pattern_preview('pagination', {}, 'first_page') }}
{{ pattern('button', {attributes: create_attribute().addClass('rbg-utils--space-11') ,text: 'Submit event form', url: '#', icon_type: 'rbg-chevron-thick-right'}, 'cta') }}
{% endblock %}



{% block sidebar %}



{% set event_filters %}
{{ pattern('form_element', {
  label: pattern('form_element_label', {text: 'Date range'}),
  children: pattern_preview('form_select')
})}}
{{ pattern('form_element', {
  label: pattern('form_element_label', {text: 'Start date'}),
  children: pattern_preview('form_select')
})}}
{{ pattern('form_element', {
  label: pattern('form_element_label', {text: 'End date'}),
  children: pattern_preview('form_select')
})}}
{% endset %}

{% set filter_content %}
  {{pattern('fieldset', {legend: {title:'Event filters'}, children: event_filters})}}
  {{pattern('button', {text: 'Apply filters', full_width: true}, 'filled')}}
  {{pattern('menu_horizontal', { menu_name: 'Clear filters and search menu', items: [
  {title: 'Clear filters and search', url: '#'},
] }, 'body')}}
{% endset %}

{{ pattern('filter_accordion', {title: 'Filter', items: filter_content, spacing: true}) }}

{% endblock %}
