{#
/**
 * @file
 * list-two-column
 *
 * See list-two-column.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}

{#
  Classes
#}
{% set selector = 'rbg-list-two-column' %}
{% set classes = [
  selector
] %}


{#
  Template
#}
<ul {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  	{% for item in items %}
			<li>
      {% if item.title is defined %}
        {% if item.url is defined %}
          <a class="{% if (item.in_active_trail) %}is-active{% endif %}" href="{{ item.url }}">
        {% endif %}
          {{ item.title }}
        {% if item.url is defined %}
          </a>
        {% endif %}
      {% else %}
        {{item}}
      {% endif %}
			</li>
		{% endfor %}
</ul>
