@use 'sass:map';
@use 'sass:meta';
@use '../../../tools/utilities' as utils;
@use '../../../tokens/body' as body;
@use '../icons' as icons;

$default-properties: repeat position size image !default;

@mixin apply($token, $position, $properties, $theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Icon default called without theme options, using defaults from config';

    $icons: icons.$icons;
    $body: body.$body;
  }

  $icons: utils.get('icons', $theme);
  $this-icon: utils.get('#{$token}', $icons);
  $value: utils.get('value', $this-icon);

  @include psudo-icon($value, $position, $theme);
}

$properties: family weight style;

@mixin psudo-icon($value, $position, $theme) {
  @include body.init($theme);

  &::#{$position} {
    content: $value;
    font-family: rbg-icons, sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    aspect-ratio: 1/1;

    @include body.apply-line-height;
  }
}
