@use 'sass:map';
@use 'sass:meta';
@use '../../../tools/utilities' as utils;
@use '../icons' as default-icon-tokens;
@use 'icon' as icon-mixins;

@mixin apply($nested, $theme) {
  @if meta.type-of($theme) == 'null' {
    @warn 'Icon default called without theme options, using defaults from config';

    $icons: default-icon-tokens.$icons;
  }

  $icons: utils.get('icons', $theme);

  @each $icon-name, $values in $icons {
    $positions: before after;

    @each $position in $positions {
      @include selector(
        'rbg-icon--#{$position}--#{$icon-name}',
        $nested
      ) {
        @include icon-mixins.apply($icon-name, $position, icon-mixins.$default-properties, $theme);
      }
    }
  }
}

@mixin selector(
  $selector,
  $nested
) {
  @if $nested {
    &.#{$selector} {
      @content;
    }
  } @else {
    .#{$selector} {
      @content;
    }
  }
}
