{#
/**
 * @file
 * contact
 *
 * See contact.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}

{#
  Classes
#}
{% set selector = 'rbg-contact' %}
{% set classes = [
  selector
] %}


{#
  Template
#}

{% set name %}
{% if name|render %}
  <strong>{{name}}</strong>
{% endif %}
{% endset %}

{% set title %}
{% if title|render %}
  {{title}}
{% endif %}
{% endset %}

{% set email %}
{% if email|render %}
  {{email}}
{% endif %}
{% endset %}

{% set phone %}
{% if phone|render %}
  {{phone}}
{% endif %}
{% endset %}


{% set fields = [name, title, email, phone]|reduce((carry, field) => field|render and field is not empty ? carry|merge(['<br />', field|render]) : carry, []) | slice(1) %}
<p {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
{% for item in fields %}
  {{item|raw}}
{% endfor %}
</p>
