@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/elements' as elements;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // .
    @include spacing.init($t);
    @include headings.init($t);
    @include body.init($t);
    @include links.init($t);

    // .
    @include spacing.apply-flow('space-3', 'y');

    &__title {
      @include headings.apply-heading('h2');
    }

    &__content {
      p {
        @include body.apply;
        @include links.apply;
        @include elements.apply-strong;
        @include elements.apply-em;
      }

      // margin-top: spacing.calc-size('space-5');
    }

    // set the background color from component config

    // for themes etc
    @content;
  }
}
