@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/accessibility' as accessibility;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/colors' as colors;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/icons' as icons;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include accessibility.init($t);
    @include spacing.init($t);
    @include body.init($t);
    @include links.init($t);
    @include colors.init($t);
    @include fonts.init($t);
    @include icons.init($t);
    @include breakpoints.init($t);
    @include spacing.apply-space('space-4', 'py');

    .visually-hidden {
      @include accessibility.apply-visually-hidden;
    }

    ul,
    ol {
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      padding-inline-start: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 200px;

      // because we add the dots into the <li> element
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }

    // dealing with elipsis
    // make direction list items full width and aligned correctly

    &__previous,
    &__next {
      flex: auto;
      width: 100%;
      flex-basis: 50%;
      align-self: flex-end;
    }

    &__previous {
      order: 1;
    }

    &__next {
      order: 2;
    }

    // hellip when theres more pages before/after
    &__previous + * {
      &::before {
        content: '\002026';
      }
    }

    li:not(.#{$selector}__next):nth-last-child(2) {
      &::after {
        content: '\002026';
      }
    }

    // to not overcomplicate the above selector on the last page
    // when 'next' doesn't exist it still shows elipsis when it shouldn't
    // so we remove it here
    li:not(.#{$selector}__active):nth-last-child(2) {
      &::after {
        content: '';
      }
    }

    @include breakpoints.screen-gt('tablet') {
      ul,
      ol {
        width: 100%;
        max-width: 250px;
        flex-flow: row;
      }

      // make direction list items flex again
      &__previous,
      &__next {
        flex: 0;
        order: unset;
      }
    }

    @include breakpoints.screen-gt('desktop') {
      // make direction list items flex again
      &__previous,
      &__next {
        flex: 0;
        order: unset;
      }

      // elipsis move place depending on screen size because of design
      // hellip when theres more pages before/after
      &__previous {
        &::after {
          content: '\002026';
          padding-left: spacing.calc-size('space-1');
        }
      }

      &__next {
        &::before {
          content: '\002026';
          padding-right: spacing.calc-size('space-1');
        }
      }

      // remove mobile elipsis
      &__previous + *::before,
      li:not(.#{$selector}__next):nth-last-child(2)::after {
        content: '';
      }
    }

    &__number,
    &__direction {
      border-bottom: 3px solid transparent;
    }

    &__number {
      @include spacing.apply-space('space-3', 'px');
      @include spacing.apply-space('space-2', 'py');
      @include links.apply-inline(utils.get('number.links', $cc));

      &:focus {
        border-bottom: 3px solid utils.get('accessibility.focus-text', $t);
      }

      &.active {
        @include links.apply-inline(utils.get('active-number.links', $cc));
      }
    }

    &__direction {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      @include links.apply(utils.get('direction.links', $cc));

      &:focus-within {
        background-color: utils.get('accessibility.focus', $t);
        border-bottom: 3px solid utils.get('accessibility.focus-text', $t);

        &.next::after,
        &.prev::before {
          color: utils.get('accessibility.focus-text', $t);
        }
      }

      &.next {
        @include icons.apply-icon('rbg-chevron-right', after, true);

        &::after {
          color: utils.get(utils.get('direction.icons.default', $cc), $t);
        }
      }

      &.prev {
        @include icons.apply-icon('rbg-chevron-left', before, true);

        &::before {
          color: utils.get(utils.get('direction.icons.default', $cc), $t);
        }
      }
    }

    &__direction--left {
      padding: calc(spacing.calc-size('space-2') - 4px) spacing.calc-size('space-2') spacing.calc-size('space-3') spacing.calc-size('space-1');

      &:hover, &:active {
        &::before {
          background-color: utils.get('colors.skyblue.DEFAULT', $t);
          color: utils.get('colors.primary.DEFAULT', $t);
          border-top: solid 2px utils.get('colors.skyblue.DEFAULT', $t);
          border-bottom: solid 2px utils.get('colors.skyblue.DEFAULT', $t);
          padding-left: spacing.calc-size('space-2');
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 12px;
          height: 20px;
          z-index: -1;

          @include spacing.apply-space('space-2', 'py');
        }
      }

      span:not(.visually-hidden) {
        height: 20px;
        display: flex;
        padding-top: 2px;
      }
    }

    &__direction--right {
      padding: calc(spacing.calc-size('space-2') - 4px) spacing.calc-size('space-1') spacing.calc-size('space-3') spacing.calc-size('space-2');

      &:hover, &:active {
        &::after {
          background-color: utils.get('colors.skyblue.DEFAULT', $t);
          color: utils.get('colors.primary.DEFAULT', $t);
          border-top: solid 2px utils.get('colors.skyblue.DEFAULT', $t);
          border-bottom: solid 2px utils.get('colors.skyblue.DEFAULT', $t);
          padding-right: spacing.calc-size('space-2');
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          width: 12px;
          height: 20px;
          z-index: -1;

          @include spacing.apply-space('space-2', 'py');
        }
      }

      span:not(.visually-hidden) {
        height: 20px;
        display: flex;
        padding-top: 2px;
      }
    }

    // for themes etc
    @content;
  }
}
