@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:color';

// -----------------------------
// CONFIG
// -----------------------------
// bring in the $theme info for current theme (from _index.scss) which in turn has come from the /themes/theme-name/_index.scss file
$theme: () !default;

// ------------
// ----- component config
// ------------

// what themes does this module have styles for in the /themes folder (!== what themes can this module be used on, thats for the documentation)
$supported-themes: website, gcd;

// for our sanity + tricky specificicity stuff
$component-selector: rbg-pagination;
$button-link-styles: (
  'default': (
    'color': 'royalblue.DEFAULT',
    'text-decoration': underline,
    'background-color': 'transparent',
    'font-variant': 'medium',
  ),
  'visited': (
    'color': 'royalblue.DEFAULT',
    'text-decoration': underline,
    'background-color': 'transparent',
    'font-variant': 'medium',
  ),
  'hover': (
    'color': 'royalblue.DEFAULT',
    'text-decoration': underline,
    'background-color': 'skyblue.DEFAULT',
    'font-variant': 'medium',
  ),
  'active': (
    'color': 'midnightblue.DEFAULT',
    'text-decoration': underline,
    'text-decoration-thickness': 3px,
    'background-color': 'skyblue.DEFAULT',
    'font-variant': 'medium',
  ),
  'focus': (
    'color': 'neutral.700',
    'text-decoration': none,
    'background-color': 'focus.DEFAULT',
    'font-variant': 'medium',
  ),
);

// defaults for the component go here - can be overwritten by themes
$component-config-default: (
  'direction': (
    'links': $button-link-styles,
    'icons': (
      'default': 'colors.primaryred.DEFAULT',
      'focus': 'colors.neutral.700',
    ),
  ),
  'number': (
    'links': $button-link-styles,
  ),
  'active-number': (
    'links': (
      'default': (
        'color': 'white',
        'text-decoration': none,
        'background-color': 'midnightblue.DEFAULT',
        'font-variant': 'medium',
      ),
      'visited': (
        'color': 'white',
        'text-decoration': none,
        'background-color': 'midnightblue.DEFAULT',
        'font-variant': 'medium',
      ),
      'hover': (
        'color': 'white',
        'text-decoration': none,
        'background-color': 'midnightblue.DEFAULT',
        'font-variant': 'medium',
      ),
      'active': (
        'color': 'white',
        'text-decoration': none,
        'background-color': 'midnightblue.DEFAULT',
        'font-variant': 'medium',
      ),
      'focus': (
        'color': 'white',
        'text-decoration': none,
        'background-color': 'midnightblue.DEFAULT',
        'font-variant': 'medium',
      ),
    ),
  ),
);
