@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/links' as links;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // -
    @include links.init($t);
    @include headings.init($t);
    @include fonts.init($t);
    @include spacing.init($t);
    @include font-sizes.init($t);

    // -

    @include spacing.apply-flow('space-2', 'y');

    &__title {
      @include headings.apply-heading('h4');
      @include links.apply(utils.get('links', $cc));
    }

    &__date,
    &__cost,
    &__location {
      // default font size, responsive too
      @include font-sizes.apply-size('DEFAULT', true);
    }

    &__date,
    &__cost {
      // set medium font (500 weight)
      @include fonts.apply-font('DEFAULT', 'medium');

      color: utils.get('colors.neutral.600', $t);
    }

    &__location {
      @include fonts.apply-font('DEFAULT', 'regular');

      color: utils.get('colors.neutral.500', $t);
    }

    // for themes etc
    @content;
  }
}
