<div class="rbg-tokens-colors">
<div class="background-color--transparent">transparent</div>
<div class="background-color--white">white</div>
<div class="background-color--black">black</div>
<div class="background-color--primaryred--DEFAULT">primaryred-DEFAULT</div>
<div class="background-color--primaryred--50">primaryred--50</div>
<div class="background-color--primaryred--100">primaryred--100</div>
<div class="background-color--primaryred--200">primaryred--200</div>
<div class="background-color--primaryred--300">primaryred--300</div>
<div class="background-color--primaryred--400">primaryred--400</div>
<div class="background-color--primaryred--500">primaryred--500</div>
<div class="background-color--primaryred--600">primaryred--600</div>
<div class="background-color--primaryred--700">primaryred--700</div>
<div class="background-color--primaryred--800">primaryred--800</div>
<div class="background-color--primaryred--900">primaryred--900</div>
<div class="background-color--primaryred--950">primaryred--950</div>
<div class="background-color--primarypurple--DEFAULT">primarypurple--DEFAULT</div>
<div class="background-color--primarypurple--50">primarypurple--50</div>
<div class="background-color--primarypurple--100">primarypurple--100</div>
<div class="background-color--primarypurple--200">primarypurple--200</div>
<div class="background-color--primarypurple--300">primarypurple--300</div>
<div class="background-color--primarypurple--400">primarypurple--400</div>
<div class="background-color--primarypurple--500">primarypurple--500</div>
<div class="background-color--primarypurple--600">primarypurple--600</div>
<div class="background-color--primarypurple--700">primarypurple--700</div>
<div class="background-color--primarypurple--800">primarypurple--800</div>
<div class="background-color--primarypurple--900">primarypurple--900</div>
<div class="background-color--primarypurple--950">primarypurple--950</div>
<div class="background-color--royalblue--DEFAULT">royalblue--DEFAULT</div>
<div class="background-color--royalblue--50">royalblue--50</div>
<div class="background-color--royalblue--100">royalblue--100</div>
<div class="background-color--royalblue--200">royalblue--200</div>
<div class="background-color--royalblue--300">royalblue--300</div>
<div class="background-color--royalblue--400">royalblue--400</div>
<div class="background-color--royalblue--500">royalblue--500</div>
<div class="background-color--royalblue--600">royalblue--600</div>
<div class="background-color--royalblue--700">royalblue--700</div>
<div class="background-color--royalblue--800">royalblue--800</div>
<div class="background-color--royalblue--900">royalblue--900</div>
<div class="background-color--royalblue--950">royalblue--950</div>
<div class="background-color--midnightblue--DEFAULT">midnightblue--DEFAULT</div>
<div class="background-color--midnightblue--50">midnightblue--50</div>
<div class="background-color--midnightblue--100">midnightblue-100</div>
<div class="background-color--midnightblue--200">midnightblue-200</div>
<div class="background-color--midnightblue--300">midnightblue-300</div>
<div class="background-color--midnightblue--400">midnightblue-400</div>
<div class="background-color--midnightblue--500">midnightblue-500</div>
<div class="background-color--midnightblue--600">midnightblue-600</div>
<div class="background-color--midnightblue--700">midnightblue-700</div>
<div class="background-color--midnightblue--800">midnightblue-800</div>
<div class="background-color--midnightblue--900">midnightblue-900</div>
<div class="background-color--midnightblue--950">midnightblue-950</div>
<div class="background-color--skyblue--DEFAULT">skyblue--DEFAULT</div>
<div class="background-color--skyblue--50">skyblue--50</div>
<div class="background-color--skyblue--100">skyblue--100</div>
<div class="background-color--skyblue--200">skyblue--200</div>
<div class="background-color--skyblue--300">skyblue--300</div>
<div class="background-color--skyblue--400">skyblue--400</div>
<div class="background-color--skyblue--500">skyblue--500</div>
<div class="background-color--skyblue--600">skyblue--600</div>
<div class="background-color--skyblue--700">skyblue--700</div>
<div class="background-color--skyblue--800">skyblue--800</div>
<div class="background-color--skyblue--900">skyblue--900</div>
<div class="background-color--skyblue--950">skyblue--950</div>
<div class="background-color--neutral--100">neutral--100</div>
<div class="background-color--neutral--200">neutral--200</div>
<div class="background-color--neutral--300">neutral--300</div>
<div class="background-color--neutral--400">neutral--400</div>
<div class="background-color--neutral--500">neutral--500</div>
<div class="background-color--neutral--600">neutral--600</div>
<div class="background-color--neutral--700">neutral--700</div>
<div class="background-color--focus--DEFAULT">focus--DEFAULT</div>
<div class="background-color--focus--50">focus--50</div>
<div class="background-color--focus--100">focus--100</div>
<div class="background-color--focus--200">focus--200</div>
<div class="background-color--focus--300">focus--300</div>
<div class="background-color--focus--400">focus--400</div>
<div class="background-color--focus--500">focus--500</div>
<div class="background-color--focus--600">focus--600</div>
<div class="background-color--focus--700">focus--700</div>
<div class="background-color--focus--800">focus--800</div>
<div class="background-color--focus--900">focus--900</div>
<div class="background-color--focus--950">focus--950</div>
<div class="background-color--error--DEFAULT">error--DEFAULT</div>
<div class="background-color--error--50">error--50</div>
<div class="background-color--error--100">error--100</div>
<div class="background-color--error--200">error--200</div>
<div class="background-color--error--300">error--300</div>
<div class="background-color--error--400">error--400</div>
<div class="background-color--error--500">error--500</div>
<div class="background-color--error--600">error--600</div>
<div class="background-color--error--700">error--700</div>
<div class="background-color--error--800">error--800</div>
<div class="background-color--error--900">error--900</div>
<div class="background-color--error--950">error--950</div>
<div class="background-color--success--DEFAULT">success--DEFAULT</div>
<div class="background-color--success--50">success--50</div>
<div class="background-color--success--100">success--100</div>
<div class="background-color--success--200">success--200</div>
<div class="background-color--success--300">success--300</div>
<div class="background-color--success--400">success--400</div>
<div class="background-color--success--500">success--500</div>
<div class="background-color--success--600">success--600</div>
<div class="background-color--success--700">success--700</div>
<div class="background-color--success--800">success--800</div>
<div class="background-color--success--900">success--900</div>
<div class="background-color--success--950">success--950</div>
</div>