@use 'rbgstyles/themes/greenwich-community-directory' as gcd-theme-config;
@use 'rbgstyles/themes/royal-borough-greenwich-website' as website-theme-config;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/colors' as colors;
@use 'rbgstyles/tools/utilities' as utils;

$selector: rbg-tokens-colors;

.#{$selector} {
  [data-theme='website'] & {
    @include body.init(website-theme-config.$theme);
    @include body.apply;
    @include colors.apply('background-color');
    @include colors.apply('color');
    @include colors.apply('border-color');

    > div {
      border-width: 1px;
      border-style: solid;
    }
  }

  [data-theme='gcd'] & {
    @include body.init(gcd-theme-config.$theme);
    @include body.apply;
    @include colors.apply('background-color');
    @include colors.apply('color');
    @include colors.apply('border-color');

    > div {
      border-width: 1px;
      border-style: solid;
    }
  }
}
