@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/headings' as headings;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // .
    @include headings.init($t);
    @include body.init($t);
    @include spacing.init($t);

    // . spacing
    @include spacing.apply-flow(utils.get('spacing', $cc), 'y');

    // .
    // this version means if you change <h2> to <h3> it will use h3 sizes
    // @include headings.apply(false);
    // chosen to use BEM method here so we're setting heading token size to h2 so we can set it up in config
    &__title {
      @include headings.apply-heading(utils.get('title', $cc));
    }

    &__description {
      @include body.apply($t);
    }

    .hidden {
      display: none;
    }

    // for themes etc
    @content;
  }
}
