{#
/**
 * @file
 * example-component
 *
 * See example-component.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set size = size|default('md') %}

{#
  Classes
#}

{% set selector = 'example-component' %}
{% set classes = [
  selector,
  selector ~ '--' ~ size,
] %}


{% set field_1_classes = [
   selector ~ '__field'
] %}

{#
  Template
#}

<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
	<h1 class="{{ selector }}__header">
		{{ field_1 }}
	</h1>

	<div class="{{ selector }}__cta">
		Call to action
		{% include "@atoms/svg-icon/svg-icon.twig" with {
      "icon": "arrow"
    } only %}
	</div>


	<div class="{{ selector }}__no-component-styles">
		This box is shown because we're not sending any styles through to the
																						      component from the theme

		<div{{region_attributes.field_1|default(create_attribute()).addClass(field_1_classes|sort)}}>
			Field variable:
			<code>{{ field_1 }}</code>
		</div>
		<div>Setting variable:
			<code>{{ setting_1 }}</code>
		</div>

	</div>
</div>
