// -----------------------------
// Tokens: Typography
// This contains the mixins for typography
// -----------------------------

// helpers
@use 'sass:map';
@use '../../tools/utilities' as utils;

// module related
@forward 'links';
@forward 'mixins/links' as mixin-links-*;
@forward 'mixins/state' as mixin-state-*;
@forward 'mixins/all-states' as mixin-all-states-*;
@use 'links' as links;
@use '../breakpoints' as breakpoints;
@use '../font-sizes' as font-sizes;
@use 'mixins/links' as links-mixins;
@use 'mixins/state' as links-state-mixins;
@use 'mixins/all-states' as links-all-states-mixins;

// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: (
  'breakpoints': breakpoints.$breakpoints,
  'links': links.$links,
  'font-sizes': font-sizes.$font-sizes,
) !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

@mixin apply($links: map.get($-tool-config, links), $selector: a, $theme: $-tool-config) {
  #{$selector} {
    @include links-mixins.apply($links, $theme);
  }
}

@mixin apply-inline($links: map.get($-tool-config, links), $theme: $-tool-config) {
  @include links-mixins.apply($links, $theme);
}

@mixin apply-state(
  $links: map.get($-tool-config, links),
  $state: default hover active focus,
  $selector: true,
  $theme: $-tool-config
) {
  @include links-state-mixins.apply($links, $state, $selector, $theme);
}

@mixin apply-all-states($theme: $-tool-config) {
  @include links-all-states-mixins.apply($theme) {
    @content;
  }
}
