@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/accessibility' as accessibility;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/colors' as colors;
@use 'rbgstyles/tokens/icons' as icons;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include body.init($t);
    @include body.apply;

    gap: spacing.calc-size('space-3');
    display: flex;
    flex-direction: column;

    &--horizontal {
      gap: spacing.calc-size('space-5');
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }

    &.webform-options-display-side-by-side > div {
      display: flex;
    }

    // for themes etc
    @content;
  }
}
