{#
/**
 * @file
 * information-page
 *
 * See information-page.wingsuit.yaml for documentation.
 */
#}
{% extends "@templates/page/page.twig" %}

{% set breadcrumbs = [{text: 'Home', url: '/'}, {text: 'Support if you\'ve started caring for someone'}] %}

{% block content %}


	{{pattern('page_title', {title: 'Support if you\'ve started caring for someone'})}}


{{ pattern('heading', {text: 'Emergencies'}, 'h2') }}


 {{ pattern('rich_text', {
        text: '
        <p><strong>Please call 999 if someone is in danger.</strong></p>
        <p>Call us on <a href="telephone:02088548888">020 8854 8888</a> to report:</p>
      ' }) }}


{{ pattern('list', {
    icon_type: 'rbg-chevron-right', 
    icon_color: 'primary', 
    items: [
      {title: 'A concern about a child', url: '#'},
      {title: 'A concern about a vulnerable adult', url: '#'},
      {title: 'Urgent problems with council homes', url: '#'}
    ]
    }, 'unordered')
    }}

 {{ pattern('rich_text', {
        text: '
        <p>You can contact us about emergencies 24 hours a day. </p>
      ' }) }}



      {{ pattern('heading', {text: 'Contact us about any of our services'}, 'h2') }}



 {{ pattern('rich_text', {
        text: '
        <p>If you don’t know which service you need to speak to, call our general number: <a href="telephone:02088548888">020 8854 8888</a> to report:</p>
      ' }) }}



{{ pattern('list', {
    icon_type: 'rbg-chevron-right', 
    icon_color: 'primary', 
    items: [
{title: 'Adult social care', url: '#'},
{title: 'Benefits and welfare rights', url: '#'},
{title: 'Business services', url: '#'},
{title: 'Crematorium and cemetery services', url: '#'},
{title: 'Children\'s services', url: '#'},
{title: 'Complaints', url: '#'},
{title: 'Compliments', url: '#'},
{title: 'Council Tax Services', url: '#'},
{title: 'Culture, tourism and heritage', url: '#'},
{title: 'Electoral services', url: '#'},
{title: 'Environmental health', url: '#'},
{title: 'Greenwich Local Labour and Business (GLLab)', url: '#'},
{title: 'Housing services', url: '#'},
{title: 'Licensing', url: '#'},
{title: 'Parking', url: '#'},
{title: 'Parks, open spaces and allotments', url: '#'},
{title: 'Planning', url: '#'},
{title: 'Recycling and waste', url: '#'},
{title: 'Registrar services', url: '#'},
{title: 'Schools and admissions', url: '#'},
{title: 'Street cleaning and caretaking', url: '#'},
{title: 'Transport and highways', url: '#'},
{title: 'Website content', url: '#'}
    ]
    }, 'unordered')
    }}


	{{ pattern('heading', {text: 'Need some assistance when you contact us? '}, 'h2') }}


	{{ pattern('list', {
    icon_type: 'rbg-chevron-right', 
    icon_color: 'primary', 
    items: [
{content: '<a href="#">Contact us via SignVideo</a> if you would like to use sign language'},
{content: '<a href="#">Contact our interpreting service</a> if you would like to speak to us in a different language'},

    ]
    }, 'unordered')
    }}


	{{ pattern_preview('promotional_banner', {hero_attributes: create_attribute().addClass('a--full'),
title: 'Contact us',
content: 
pattern('rich_text', {
        text: '
        <p>Send us a letter:</p>
        <p><strong>
        Customer Services<br />
The Woolwich Centre<br />
Wellington Street<br />
Woolwich<br />
SE18 6HQ
</strong>
</p>
      ' })

 }) }}

	{{ pattern('heading', {text: 'Other ways to contact us '}, 'h2') }}


	{{ pattern('rich_text', {
        text: '
        <p>Send us a letter:</p>
        <p><strong>
        Customer Services<br />
The Woolwich Centre<br />
Wellington Street<br />
Woolwich<br />
SE18 6HQ
</strong>
</p>
        <p>Visit us:</p>
      ' }) }}


	{{ pattern('list', {
    icon_type: 'rbg-chevron-right', 
    icon_color: 'primary', 
    items: [
{title: 'the Woolwich Centre', url: '#'},
{title: 'the Eltham Centre', url: '#'},
    ]
    }, 'unordered')
    }}


	{{ pattern('rich_text', {
        text: '
        <p>Take advantage if a--popout to make quotes \'popout\'</p>
      ' }) }}

	{{ pattern_preview('page_blockquote', {attributes: create_attribute().addClass('a--popout') })}}


	{{ pattern('rich_text', {
        text: '
        <p>If you care for a family member, partner of friend who has a disability, mental health condition or addiction, you may be a carer.</p>
        <p>As a carer, you may be able to get support that helps you maintain your own mental and physical wellbeing as well as the wellbeing of the person you care for.</p>
        <p>Support may include:</p>
        <ul>
          <li>financial support like benefits</li>
          <li>breaks, support groups and activities to take time to look after your own wellbeing</li>
          <li>equipment, adaptations and help at home for the person you care for</li>
        </ul> 
      ' }) }}
	{{ pattern('heading', {'text': 'Where to start'}, 'h2') }}
	{{ pattern_preview('video', {attributes: create_attribute().addClass('a--popout')}) }}


{% endblock %}
