// -----------------------------
// Tokens: Layout
// This contains the mixins for layout things
// -----------------------------

// helpers
@use 'sass:map';
@use 'sass:list';
@use '../../tools/utilities' as utils;
@use 'elements' as elements;
@use 'mixins/strong' as strong-mixins;
@use 'mixins/em' as em-mixins;
@use 'mixins/blockquote' as blockquote-mixins;
@use 'mixins/blockquote-inset' as blockquote-inset-mixins;

// module related
@forward 'elements';
@forward 'mixins/strong' as mixin-strong-*;
@forward 'mixins/em' as mixin-em-*;
@forward 'mixins/blockquote' as mixin-blockquote-*;
@forward 'mixins/blockquote-inset' as mixin-blockquote-inset-*;

// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: () !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

// all elements
$all: strong em blockquote blockquote-inset;

@mixin apply($include: $all, $theme: $-tool-config) {
  @if list.index($include, 'strong') {
    @include apply-strong;
  }

  @if list.index($include, 'em') {
    @include apply-em;
  }

  @if list.index($include, 'blockquote') {
    @include apply-blockquote;
  }

  @if list.index($include, 'blockquote-inset') {
    @include apply-blockquote-inset;
  }
}

@mixin apply-strong(
  $font-family: utils.get('elements.strong.font-family', $-tool-config),
  $font-variant: utils.get('elements.strong.font-variant', $-tool-config),
  $theme: $-tool-config
) {
  @include strong-mixins.apply($font-family, $font-variant, $theme);
}

@mixin apply-em(
  $font-family: utils.get('elements.em.font-family', $-tool-config),
  $font-variant: utils.get('elements.em.font-variant', $-tool-config),
  $theme: $-tool-config
) {
  @include em-mixins.apply($font-family, $font-variant, $theme);
}

@mixin apply-blockquote(
  $blockquote: utils.get('elements.blockquote', $-tool-config),
  $selector: true,
  $theme: $-tool-config
) {
  @include blockquote-mixins.apply($blockquote, $selector, $theme);
}

@mixin apply-blockquote-inset(
  $blockquote-inset: utils.get('elements.blockquote-inset', $-tool-config),
  $selector: true,
  $theme: $-tool-config
) {
  @include blockquote-inset-mixins.apply($blockquote-inset, $selector, $theme);
}
