@use 'sass:meta';
@use 'sass:map';
@use './../utils' as breakpoint-utils;

// when we're looping breakpoints we don't want the first one contained since thats the non @media style
@mixin apply($breakpoint, $breakpoints) {
  @if map.has-key($breakpoints, $breakpoint) {
    $breakpoint-position: breakpoint-utils.find-breakpoint-position($breakpoint, $breakpoints);
    $media: 'only screen and (min-width: #{meta.inspect(map.get($breakpoints, $breakpoint))})';

    @if $breakpoint-position >= 1 {
      @media #{$media} {
        @content;
      }
    } @else {
      @content;
    }
  } @else {
    @warn "`#{$breakpoint}` not found." + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
