@use 'sass:meta';
@use 'sass:map';

@mixin apply($breakpoint, $breakpoints) {
  @if map.has-key($breakpoints, $breakpoint) {
    $media: 'only screen and (max-width: #{meta.inspect(map.get($breakpoints, $breakpoint))})';

    @media #{$media} {
      @content;
    }
  } @else {
    @warn "`#{$breakpoint}` not found." + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
