@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'sass:meta';

@mixin styles($selector, $cc, $t) {
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;

    // height: 230px;
    // overflow: hidden;

    // > img,
    // > iframe,
    // > picture,
    // > video,
    // > canvas,
    // > svg {
    //   display: block;
    //   max-width: 100%;
    // }

    // for themes etc
    @content;
  }
}
