// -----------------------------
// Tokens: Layout
// This contains the mixins for layout things
// -----------------------------

@use 'sizes';

// helpers
@use 'sass:map';
@use '../../tools/utilities' as utils;

// module related
@forward 'sizes';
@forward 'mixins/sizes' as mixin-sizes-*;
@use 'mixins/sizes' as sizes-mixins;

// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: (
  'sizes': sizes.$sizes,
) !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

@mixin apply($property: 'width', $nested: false, $theme: $-tool-config) {
  @include sizes-mixins.apply($property, $nested, $theme);
}
