// -----------------------------
// Tokens: Layout
// This contains the mixins for the breakpoint-helper
// this allows us to share the current themes breakpoints with the javascript
// -----------------------------

// helpers
@use 'sass:map';
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tools/utilities' as utils;
@import './node_modules/breakpoint-helper/src/breakpoint-helper';

// this is everything this module needs to run - but in reality we're passing the $theme-config object
$-tool-config-default: (
  'breakpoints': breakpoints.$breakpoints,
) !default;
$-tool-config: $-tool-config-default !default;

@mixin init($init-config: null) {
  @if $init-config {
    $-tool-config: map.deep-merge($-tool-config-default, $init-config) !global;
  }
}

@mixin apply($theme: $-tool-config) {
  $breakpoints: utils.get('breakpoints', $theme);

  @include breakpoint-helper($breakpoints);
}
