{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{% extends '@greenwich_base/templates/forms/defaults/form.html.twig' %}
{% block before_form %}
	{{ pattern("skip_to_content", {'link_text':'Skip to list of results', 'link_url':'#results'}) }}
{% endblock %}
