{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Overrides the submit button for the form on the services page.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% extends '@greenwich_base/templates/forms/defaults/input--submit.html.twig' %}
{% set attributes = attributes.setAttribute('value', 'Search') %}
{% set full_width = true %}
