<div class="rbg-tokens-fonts">
<p class="font-variant--thin">Font variant: thin</p>
<p class="font-variant--thin-italic">Font variant: thin-italic</p>
<p class="font-variant--extralight">Font variant: extralight</p>
<p class="font-variant--extralight-italic">Font variant: extralight-italic</p>
<p class="font-variant--light">Font variant: light</p>
<p class="font-variant--light-italic">Font variant: light-italic</p>
<p class="font-variant--regular">Font variant: regular</p>
<p class="font-variant--regular-italic">Font variant: regular-italic</p>
<p class="font-variant--medium">Font variant: medium</p>
<p class="font-variant--medium-italic">Font variant: medium-italic</p>
<p class="font-variant--semibold">Font variant: semibold</p>
<p class="font-variant--semibold-italic">Font variant: semibold-italic</p>
<p class="font-variant--bold">Font variant: bold</p>
<p class="font-variant--bold-italic">Font variant: bold-italic</p>
</div>