@use 'rbgstyles/themes/greenwich-community-directory' as gcd-theme-config;
@use 'rbgstyles/themes/royal-borough-greenwich-website' as website-theme-config;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tools/utilities' as utils;

$selector: rbg-tokens-fonts;

.#{$selector} {
  [data-theme='website'] & {
    @include fonts.init(website-theme-config.$theme);
    @include body.init(website-theme-config.$theme);
    @include body.apply;
    @include fonts.apply('DEFAULT');

    .#{$selector}__custom-variant {
      @include fonts.apply-font('DEFAULT', 'bold');
    }
  }

  [data-theme='gcd'] & {
    @include fonts.init(gcd-theme-config.$theme);
    @include body.init(gcd-theme-config.$theme);
    @include body.apply;
    @include fonts.apply('DEFAULT');

    .#{$selector}__custom-variant {
      @include fonts.apply-font('DEFAULT', 'bold');
    }
  }
}
