{#
/**
 * @file
 * suggest-an-edit
 *
 * See suggest-an-edit.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}

{% set selector = 'rbg-no-results-message' %}
{#
  Classes
#}

{% set classes = [
  selector,
] %}

{#
  Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  <h2>{{no_results_found}}{% if search_string %} for "{{search_string}}"{% endif %}</h2>
  <p>You could:</p>
  <ul>
    <li>check your spelling</li>
    <li>try different words</li>
    <li>use full words (not acronyms)</li>
    <li>use one of our categories or filters</li>
  </ul>
  {{additional_text}}
</div>
