{#
/**
 * @file
 * alert
 * here we have different types of alert with different colors for every situation.
 * See _alert.wingsuit.yaml for documentation.
 */
#}

{% set selector = 'rbg-alert' %}

{# VARIANTS #}
{% set classes = ([
  selector,
  selector ~ '--' ~ variant,
] | sort | join(' ') | trim )%}

{% set attributes = attributes|default(create_attribute()).addClass(classes) %}

{# TEMPLATE #}

<div {{ attributes }}>
	{% if header %}
		<div class="{{ selector }}__header">
			{% block header %}
				{{ header }}
			{% endblock %}
		</div>
	{% endif %}
	<div class="{{ selector }}__content">
		{% block content %}
			{{ content }}
		{% endblock %}
	</div>
</div>
