@use 'sass:map';
@use 'rbgstyles/tools/utilities' as utils;
@use 'rbgstyles/tools/reset' as reset;
@use 'rbgstyles/tokens/breakpoints' as breakpoints;
@use 'rbgstyles/tokens/spacing' as spacing;
@use 'rbgstyles/tokens/body' as body;
@use 'rbgstyles/tokens/font-sizes' as font-sizes;
@use 'rbgstyles/tokens/fonts' as fonts;
@use 'rbgstyles/tokens/colors' as colors;

@mixin styles($selector, $cc, $t) {
  // can also group together with local mixins if needed too depends on the complexity of the component
  // $background-color: utils.get('background.color', $cc);
  .#{$selector} {
    // include this to ensure standard env if we're including it in other libraries eg lgd.
    @include reset.init($t);
    @include reset.apply;
    @include body.init($t);
    @include body.apply;
    @include font-sizes.init($t);
    @include font-sizes.apply-size('100');
    @include spacing.init($t);
    @include spacing.apply-space('space-1', 'pxy');

    background-color: utils.get('variants.default.background-color', $cc);
    color: utils.get('variants.default.color', $cc);

    @each $variant, $values in map.get($cc, variants) {
      &--#{$variant} {
        background-color: utils.get('variants.#{$variant}.background-color', $cc);
        color: utils.get('variants.#{$variant}.color', $cc);
      }
    }

    // for themes etc
    @content;
  }
}
