{#
/**
 * @file
 * site-container
 *
 * See site-container.wingsuit.yaml for documentation.
 */
#}
{# Include this template inside the page.html.twig in drupal. #}



{# Defaults #}
{% set attributes = attributes|default(create_attribute()) %}
{% set site_layout = site_layout|default('1-col') %}
{% set selector = 'rbg-site-container' %}
{% set no_spacing = no_spacing|default(false) %}

{# Classes #}

{% set classes = [
  selector,
  no_spacing ? selector ~ '--no-spacing',
] %}


{# Template #}
<div{{ attributes.addClass(classes | sort | join(' ') | trim) }}>

  {% if header|render|trim %}
    <div class="{{selector}}__header">
      {{ header }}
    </div>
  {% endif %}


  {% if top|render|trim %}
    <div class="{{selector}}__top">
      {{ top }}
    </div>
  {% endif %}

  {{ pattern('layouts', { is_main: true, content: content, sidebar: sidebar }, site_layout) }}

  {% if bottom|render|trim %}
    <div class="{{selector}}__bottom">
      {{ bottom }}
    </div>
  {% endif %}

  {% if footer|render|trim %}
    <div class="{{selector}}__footer">
    {{ footer }}
    </div>
  {% endif %}
</div>
