@use 'sass:meta';
@use 'sass:map';
@use '../../../tools/utilities' as utils;
@use '../lists';
@use '../../fonts' as fonts;
@use '../../font-sizes' as font-sizes;
@use '../../spacing' as spacing;

@mixin apply($lists, $theme) {
  @include spacing.init($theme);

  @each $list-variants, $values in $lists {
    $selector: map.get($values, 'selector');
    $list-type: map.get($values, 'list-type');
    $indent-spacing: map.get($values, 'indent-spacing');
    $item-flow: map.get($values, 'item-flow');

    #{$selector} {
      margin: 0;
      padding: 0;
      padding-left: spacing.calc-size($indent-spacing);
      list-style-position: map.get($values, 'list-style-position');

      li {
        list-style-type: $list-type;
        margin-top: spacing.calc-size($item-flow);
      }
    }
  }
}
