{#
/**
 * @file
 * logo-gcd
 *
 * See logo-gcd.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set elementTag = elementTag|default('div') %}

{#
  Classes
#}
{% set selector = 'rbg-logo-gcd' %}
{% set classes = [
  selector,
] %}


{% if url %}
{% set elementTag = 'a' %}
{% set attributes = attributes.setAttribute('href', url) %}
{% endif %}


{#
  Template
#}
<{{elementTag}} {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  <span>Royal Greenwich</span> Community Directory
</{{elementTag}}>
