{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-form' %}

{#
  Classes
#}

{% set classes = [
  selector
] %}

{#
  Template
#}
<form{{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  {{ children }}
</form>

