{#
/**
 * @file
 * header-drawer-item
 *
 * See header-drawer-item.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}
{% set target = target|default(false) %}
{% set title = title|default(false) %}
{% set show_back = show_back is defined ? show_back : true %}

{#
  Classes
#}

{% set selector = 'rbg-header-drawer-item' %}
{% set classes = [
  selector
] %}

{% set item_classes = [
  selector ~ '__item',
] %}
{% set back_button_classes = [
  selector ~ '__button--back',
] %}

{#
  Template
#}


{% set attributes = attributes.setAttribute('x-show', 'activeAccordion===\'' ~ target ~ '\'') %}
{# {% set attributes = attributes.setAttribute('x-collapse', '') %} #}
{# {% set attributes = attributes.setAttribute('x-cloak', '') %} #}
{% set attributes = attributes.addClass(classes | sort | join(' ') | trim) %}

{% for item in items %}

{% set back_button_attributes = create_attribute().addClass(back_button_classes | sort | join(' ') | trim) %}
{% if item.in_active_trail == true %}
  {% set back_button_attributes = back_button_attributes.addClass('is-active') %}
{% endif %}

  {% if target %}

  {# link stuff #}

  {% set back_button_attributes = back_button_attributes.setAttribute('x-bind', 'bindSetActiveAccordion') %}

    <div {{ attributes }} aria-labelledby="{{ target }}-id" role="region" x-cloak>
      {% if show_back %}
        <button {{ back_button_attributes }}><span>Back</span></button>
      {% endif %}
      <h4>{{title}}</h4>
      {{ item }}
    </div>
  {% else %}
    {{ item }}
  {% endif %}
{% endfor %}
