{#
/**
 * @file
 * search-box-banner
 *
 * See search-box-banner.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set selector = 'rbg-search-box-banner' %}
{% set form_submit_action = form_submit_action|default('/services') %}

{#
  Classes
#}

{% set classes = [
  selector,
  selector ~ '--' ~ variant
] %}


{#
  Template
#}

<div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
  <div class="{{selector}}__image">
    {% if variant is same as('landing') %}
      {% if background_image is not empty %}
        {{ background_image }}
      {% else %}
        {{ pattern('image', {url: 'ws-assets://images/default-search-box-banner.png'}, 'image') }}
      {% endif %}
    {% endif %}
  </div>
  <div class="{{selector}}__wrapper">
    <div class="{{selector}}__content">
      {{ pattern('search_box_form', {children: children, 'title': title, form_submit_action: form_submit_action}, variant) }}
    </div>
  </div>
</div>

